{% extends '../../common/admin_cards_container.html' %}

{% block top_left_nav %}
    {{ admin_macros.admin_title(_('Timers'), 'screens-timers') }}
    {{ macros.refresh_listener(
        hx_get=url_for('admin-event-timers-tab', event_uniq_id=admin_event.uniq_id),
    ) }}
{% endblock %}

{% block top_right_nav %}
    <span {{ macros.tooltip_attributes('info', _('Add a timer to the event.'), 'top') }}>
        <button
            class="btn btn-primary text-nowrap"
            hx-get="{{ url_for('admin-timer-create-modal', event_uniq_id=admin_event.uniq_id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-plus-square pe-1"></i>
            {{ _('Create a timer') }}
        </button>
    </span>
{% endblock %}

{% block cards_container_cards %}
    <div>
        <div class="d-flex gap-4 mt-3">
            <div class="flex-grow-1">
                <h4>
                    {{ _('Default timer configuration') }}
                </h4>
            </div>
            <div {{ macros.tooltip_attributes('info', _('Edit the properties of the timer.'), 'top') }}>
                <button
                    class="btn btn-sm btn-outline-primary"
                    hx-get="{{ url_for('admin-default-timers-modal', event_uniq_id=admin_event.uniq_id) }}"
                    hx-target="body"
                    hx-indicator="#please-wait"
                    preload
                    data-bs-toggle="modal"
                    data-bs-target="#modal-wrapper"
                >
                    <i class="bi-pencil-fill pe-1"></i>
                    {{ _('Edit') }}
                </button>
            </div>
        </div>
        <div class="d-flex flex-column gap-1">
            <div class="d-flex gap-2 align-items-center"><div style="background-color: {{ admin_event.timer_colors[1] }}; width: 1rem; height: 1rem;"></div><div>{{ _('%(minutes)d minutes before', minutes=admin_event.timer_delays[1]) }}</div></div>
            <div class="d-flex gap-2 align-items-center"><div style="background-color: {{ admin_event.timer_colors[2] }}; width: 1rem; height: 1rem;"></div><div>{{ _('%(minutes)d minutes before', minutes=admin_event.timer_delays[2]) }}</div></div>
            <div class="d-flex gap-2 align-items-center"><div style="background-color: {{ admin_event.timer_colors[3] }}; width: 1rem; height: 1rem;"></div><div>{{ _('%(minutes)d minutes after', minutes=admin_event.timer_delays[3]) }}</div></div>
        </div>
    </div>

    <h4 class="mt-5">{{ _('Timers') }}</h4>
    <div class="row">
        {% if admin_event.timers_by_uniq_id %}
            {% for timer in admin_event.timers_by_uniq_id.values() %}
                {% include 'timer_card.html' %}
            {% endfor %}
        {% else %}
            <div class="mx-auto" style="max-width: 500px;">
                <h5 class="mt-2 my-5 text-center">
                    {{ _('No timers') }}
                </h5>
                <p>
                    {{ _('Timers can be placed on any screen, family or rotator to display a count down to the next round or other important event.') }}
                </p>
                <p>
                    {{ _('Once created, you can select the timer to display in the settings of each screen, family or rotator.') }}
                </p>
                <p>
                    {{ _('Create a timer now to get started.') }}
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
