{% extends '../../common/admin_cards_container.html' %}

{% set collection = get_admin_collection_spec('timers') %}
{% set collection_view_mode = get_admin_collection_view_mode('timers') %}
{% set collection_show_details = get_admin_collection_show_details('timers') %}
{% set collection_url = url_for('admin-event-timers-tab', event_uniq_id=admin_event.uniq_id) %}

{% block top_left_nav %}
    {{ admin_macros.admin_title(_('Timers'), 'screens-timers') }}
    <script>
        preparePrintModal()
    </script>
{% endblock %}

{% block top_right_nav %}
    {% include '/admin/common/collection_controls.html' %}
    <span {{ macros.tooltip_attributes('info', _('Default timer settings'), 'bottom') }}
        <button
            class="btn btn-outline-primary text-nowrap"
            hx-get="{{ url_for(
                'admin-default-timers-modal',
                event_uniq_id=admin_event.uniq_id,
            ) }}"
            hx-trigger="click"
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
            hx-target="body"
            hx-indicator="#please-wait"

        >
            <i class="bi-gear-fill"></i>
        </button>
    </span>
    <span {{ macros.tooltip_attributes('info', _('Add a timer to the event.'), 'top') }}>
        <button
            class="btn btn-primary text-nowrap"
            hx-trigger="click, SC_Plus from:body"
            hx-get="{{ url_for('admin-timer-create-modal', event_uniq_id=admin_event.uniq_id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-plus-square pe-1"></i>
            {{ _('Create a timer') }}
        </button>
    </span>
{% endblock %}

{% block cards_container_cards %}
    {% with
        items=admin_event.timers_by_name.values(),
        empty_message=_('No timers'),
        sortable=false,
        show_details=collection_show_details
    %}
        {% include '/admin/common/collection.html' %}
    {% endwith %}
    {% if not admin_event.timers_by_name %}
        <div class="mx-auto" style="max-width: 500px;">
            <p>
                {{ _('Timers can be placed on any screen, multi-screen or rotator to display a count down to the next round or other important event.') }}
            </p>
            <p>
                {{ _('Once created, you can select the timer to display in the settings of each screen, multi-screen or rotator.') }}
            </p>
            <p>{{ _('Create a timer now to get started.') }}</p>
        </div>
    {% endif %}
{% endblock %}
