{% extends '../common/card.html' %}

{% block card_header %}
    {{ timer.name }}
{% endblock %}

{% block card_title %}
{% endblock %}

{% block card_text %}
    <div class="d-flex flex-column gap-1">
        <div class="d-flex gap-2 align-items-center"><div style="background-color: {{ timer.colors[1] }}; width: 1rem; height: 1rem;"></div><div>{{ _('%(minutes)d minutes before', minutes=timer.delays[1]) }}</div></div>
        <div class="d-flex gap-2 align-items-center"><div style="background-color: {{ timer.colors[2] }}; width: 1rem; height: 1rem;"></div><div>{{ _('%(minutes)d minutes before', minutes=timer.delays[2]) }}</div></div>
        <div class="d-flex gap-2 align-items-center"><div style="background-color: {{ timer.colors[3] }}; width: 1rem; height: 1rem;"></div><div>{{ _('%(minutes)d minutes after', minutes=timer.delays[3]) }}</div></div>
        <hr/>
        {% if not timer.timer_hours %}
            <div class=" mb-2 text-danger">
                <i class="bi-exclamation-triangle-fill pe-1"></i>
                {{ _('No hours.') }}
            </div>
        {% endif %}
        {% for iso_date, timer_hours in timer.timer_hours_by_iso_date.items() %}
            {% if timer_hours|length == 1 %}
                <div>
                    <b>{{ timer_hours[0].triggered_at_str }} </b>
                    {{ timer_hours[0].name }}
                </div>
            {% else %}
                <b>{{ format_iso_date(iso_date) }}</b>
                {% for timer_hour in timer_hours %}
                    <div class="d-flex gap-3 ms-2">
                        <b class="text-end" style="min-width: 50px">
                            {{ timer_hour.time_str }}
                        </b>
                        <span>{{ timer_hour.name }}</span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block card_buttons_left %}
    <span {{ macros.tooltip_attributes('info', _('Edit the hours of the timer'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-primary"
            hx-get="{{ url_for('admin-timer-hours-modal', action='update', event_uniq_id=admin_event.uniq_id, timer_id=timer.id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-collection-fill pe-1"></i>
            {{ _('Hours') }}
        </button>
    </span>
{% endblock %}

{% block card_buttons_right %}
    <span {{ macros.tooltip_attributes('info', _('Edit the properties of the timer.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-primary"
            hx-get="{{ url_for('admin-timer-update-modal', event_uniq_id=admin_event.uniq_id, timer_id=timer.id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-pencil-fill"></i>
        </button>
    </span>
    <span {{ macros.tooltip_attributes('info', _('Duplicate the timer.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-primary"
            hx-get="{{ url_for('admin-timer-clone-modal', event_uniq_id=admin_event.uniq_id, timer_id=timer.id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-copy"></i>
        </button>
    </span>
    <span {{ macros.tooltip_attributes('info', _('Delete the timer.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-danger"
            hx-get="{{ url_for('admin-timer-delete-modal', event_uniq_id=admin_event.uniq_id, timer_id=timer.id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-trash-fill"></i>
        </button>
    </span>
{% endblock %}
