<div class="modal-dialog modal-dialog-centered admin-timer-edit-modal d-block">
    <form
            {% if action == 'create' %}
                hx-post="{{ url_for('admin-timer-' ~ action, event_uniq_id=admin_event.uniq_id) }}"
            {% elif action == 'clone' %}
                hx-post="{{ url_for('admin-timer-' ~ action, event_uniq_id=admin_event.uniq_id, timer_id=admin_timer.id) }}"
            {% elif action == 'update' %}
                hx-patch="{{ url_for('admin-timer-' ~ action, event_uniq_id=admin_event.uniq_id, timer_id=admin_timer.id) }}"
            {% elif action == 'delete' %}
                hx-delete="{{ url_for('admin-timer-' ~ action, event_uniq_id=admin_event.uniq_id, timer_id=admin_timer.id) }}"
            {% else %}
                hx-get="{{ url_for('unknown-action-' ~ action) }}"
            {% endif %}
            hx-target="body"
            hx-indicator="#please-wait">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    {% if action in ['create', 'clone', ] %}
                        {{ _('Timer creation') }}
                    {% elif action == 'update' %}
                        {{ _('Edition of timer [%(timer_uniq_id)s]', timer_uniq_id=admin_timer.uniq_id) }}
                    {% elif action == 'delete' %}
                        {{ _('Deletion of timer [%(timer_uniq_id)s]', timer_uniq_id=admin_timer.uniq_id) }}
                    {% else %}
                        ?
                    {% endif %}
                </h2>
            </div>
            <div class="modal-body">
                {% if action == 'delete' %}
                    <h3 class="text-danger">
                        {{ _('Warning: the deletion of a timer is permanent!') }}
                    </h3>
                {% else %}
                    <h3>
                        {{ _('Properties') }}
                    </h3>
                    <div class="row">
                        <div class="col">
                            {{ text_input(
                                name='uniq_id',
                                label=_('ID (unique):'),
                                placeholder=_('E.g.: timer'),
                                help_text=_('The Unique ID, used to reference the timer.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>
                    <h3>
                        {{ _('Colors and delays') }}
                    </h3>
                    <div class="row">
                        {% for num in [1, 2, 3] %}
                            <div class="col-4">
                                {{ color_input(
                                    name='color_'~num,
                                    label=_('Colour #%(num)d:', num=num),
                                    help_text=timer_color_texts[num],
                                    default_checkbox=true,
                                    default_color=admin_event.timer_colors[num],
                                    data=data, errors=errors
                                ) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {% for num in [1, 2, 3] %}
                            {% with id='delay-'~num, name='delay_'~num %}
                            <div class="col-4">
                                {{ number_input(
                                    name='delay_'~num,
                                    label=_('Delay #%(num)d:', num=num),
                                    placeholder=_('By default: %(minutes)d minutes', minutes=admin_event.timer_delays[num]),
                                    help_text='',
                                    data=data, errors=errors
                                ) }}
                            </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer d-block">
                <div class="row">
                    <div class="col col-6 text-start">
                        <button
                                type="submit"
                                class="text-nowrap white btn {% if action == 'delete' %}btn-danger{% else %}btn-primary{% endif %}"
                        >
                            <i class="bi-floppy-fill"></i>
                            {% if action in ['create', 'clone', ] %}
                                {{ _('Create') }}
                            {% elif action == 'update' %}
                                {{ _('Update') }}
                            {% elif action == 'delete' %}
                                {{ _('Delete') }}
                            {% else %}
                                ?
                            {% endif %}
                        </button>
                    </div>
                    <div class="col col-6 text-end">
                        <button
                                class="btn btn-secondary text-nowrap"
                                hx-get="{{ url_for('admin-event-tab', event_uniq_id=admin_event.uniq_id, admin_event_tab='timers') }}"
                                preload
                                hx-target="body"
                                hx-trigger="click, keyup[key=='Escape'] from:body"
                                hx-indicator="#please-wait"
                        >
                            <i class="bi-x-circle-fill"></i>
                                {{ _('Cancel') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    (new bootstrap.Modal(document.getElementById('modal-wrapper'))).show();
</script>
