<div class="modal-dialog modal-dialog-scrollable admin-event-edit-modal">
    <div class="modal-content">
        <div class="modal-header">
            {% if action == 'update' and client.can_update_event %}
                {% include 'event_update_modal_header.html' %}
            {% else %}
                <h2 class="modal-title">
                    {% if not client.can_update_event %}
                        {{ admin_event.name }}
                    {% else %}
                        {{ _('Create event') }}<span style="font-size: 70%">{{ macros.doc_icon('events-create', 'ms-2') }}</span>
                    {% endif %}
                </h2>
            {% endif %}
        </div>
        <div class="modal-body">
            <form
                id="modal-form"
                {% if action == 'create' %}
                    hx-post="{{ url_for('admin-tab-create-event', admin_tab=admin_tab) }}"
                    hx-push-url="true"
                {% elif action == 'clone' %}
                    hx-post="{{ url_for('admin-event-clone', event_uniq_id=admin_event.uniq_id or '') }}"
                {% elif action == 'update' %}
                    hx-patch="{{ url_for('admin-event-update', admin_tab=admin_tab or '', event_uniq_id=admin_event.uniq_id or '') }}"
                {% endif %}
                hx-target="body"
                hx-indicator="#please-wait"
            >
                <h4>
                    {{ _('Properties') }}
                </h4>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.switch_input(
                            name='public',
                            label='',
                            placeholder=_('Public event'),
                            tooltip_text=_('Only allowed users can see private events.'),
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.date_range_input(
                            name='date_range',
                            label=_('%(string)s:', string=_('Dates')),
                            placeholder=format_date(),
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.select_input(
                            name='federation',
                            label=_('Federation:'),
                            tooltip_text=_(
                                'Sharly Chess may provide functionality specific '
                                'to the federation chosen for each event.'
                            ),
                            select_options=federation_options,
                            disabled=not client.can_update_event or federation_plugin_used,
                            input_tooltip=(
                                _('A plugin specific to this federation is used, it can no longer be modified.')
                                if federation_plugin_used else ''
                            ),
                            data=data, errors=errors
                        ) }}
                        {% if federation_plugin_used %}
                            <input type="hidden" name="federation" value="{{ data['federation'] }}">
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.text_input(
                            name='name',
                            label=_('Name:'),
                            placeholder=_('E.g.: World championship'),
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>

                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.select_input(
                            name='player_rating_type',
                            label=_('Player ratings to use by default:'),
                            tooltip_text=_(
                                'May be overridden on a per-tournament basis.',
                            ),
                            select_options=player_rating_type_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.text_input(
                            name='location',
                            label=_('%(string)s:', string=_('Location')),
                            placeholder=_('E.g.: Paris'),
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                <button
                    type="button"
                    class="collapse-button {% if not force_categories_open %}collapsed{% endif %} row mt-3"
                    data-bs-toggle="collapse"
                    data-bs-target="#categories-section"
                    aria-expanded="false"
                >
                    <h4 class="form-check-label d-inline-flex align-items-center gap-2">
                        <i class="bi-chevron-down text-body"></i>
                        {{ _('Age categories') }}
                    </h4>
                </button>
                <div id="categories-section" class="{% if not force_categories_open %}collapse{% endif %}">
                    {% include 'event_age_categories_form.html' %}
                    <div class="row gy-2 gx-3 mt-2">
                        <div class="col-12 col-md-6">
                            {{ admin_macros.date_input(
                                name='age_category_base_date',
                                label=_('%(string)s:', string=_('Base date')),
                                placeholder=sharly_chess_config.date_formatter.name,
                                tooltip_text=_(
                                    'This value is by default based on each tournament\'s '
                                    'start and stop dates. Defining it here allows you to '
                                    'keep the same age categories across all the tournaments, '
                                    'as it was on january 1st of that year.'
                                ),
                                disabled=not client.can_update_event,
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-12 col-md-6">
                            {{ admin_macros.select_input(
                                name='age_category_change_month',
                                label=_('%(string)s:', string=_('Change month')),
                                tooltip_text=_('Month at which players change categories.'),
                                select_options=months_options,
                                disabled=not client.can_update_event,
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>
                </div>

                <button
                    type="button"
                    class="collapse-button {% if not force_organiser_open %}collapsed{% endif %} mt-3"
                    data-bs-toggle="collapse"
                    data-bs-target="#organiser-section"
                    aria-expanded="false"
                >
                    <h4 class="form-check-label d-inline-flex align-items-center gap-2">
                        <i class="bi-chevron-down text-body"></i>
                        {{ _('Organiser') }}
                    </h4>
                </button>

                <div id="organiser-section" class="{% if not force_organiser_open %}collapse{% endif %}">
                    <div class="row gy-2 gx-3">
                        <div class="col-12">
                            {{ admin_macros.text_input(
                                name='organiser_name',
                                label=_('Organiser:'),
                                placeholder=_('E.g.: Sharly Chess Club'),
                                disabled=not client.can_update_event,
                                data=data, errors=errors,
                            ) }}
                        </div>
                        <div class="col-12">
                            {{ admin_macros.text_input(
                                name='organiser_home_page',
                                label=_('Home page:'),
                                disabled=not client.can_update_event,
                                data=data, errors=errors,
                            ) }}
                        </div>
                        <div class="col-12">
                            {{ admin_macros.text_input(
                                name='organiser_director',
                                label=_('Director:'),
                                tooltip_text=_('The director is the person in charge of the event.'),
                                disabled=not client.can_update_event,
                                data=data, errors=errors,
                            ) }}
                        </div>
                        <div class="col-12">
                            {{ admin_macros.text_input(
                                name='organiser_email',
                                label=_('Contact email:'),
                                disabled=not client.can_update_event,
                                data=data, errors=errors,
                            ) }}
                        </div>
                    </div>
                </div>

                <span id="plugins-container">
                    <h4 class="mt-4">
                        {{ _('Plugins') }}
                        <span class="ps-1" style="font-size:1.1rem">
                            {{ macros.doc_icon('plugins') }}
                        </span>
                    </h4>
                    <div class="d-flex flex-column gap-3">
                        {% for plugin in plugins %}
                            <div
                                class="plugin-container
                                    {% if plugin.federation %}
                                        federation-plugin federation-plugin-{{ plugin.federation }}
                                    {% endif %}"
                            >
                                {% set used_by_tournaments_count = plugin.used_by_tournaments_count(admin_event) if admin_event else 0 %}
                                <span class="fw-bold">
                                    {{ admin_macros.plugin_switch_input(
                                        plugin,
                                        data,
                                        used_message=ngettext(
                                            'Used by %(num)d tournament.',
                                            'Used by %(num)d tournaments.',
                                            used_by_tournaments_count,
                                        ) if used_by_tournaments_count else '',
                                        disabled=not client.can_update_event,
                                        default_state=plugin.default_event_is_enabled
                                    ) }}
                                </span>
                                {% if plugin.event_form_fields_template %}
                                    <div id="{{ plugin.form_key }}-fields-container" class="mt-2 form-fields-container">
                                        {% include plugin.event_form_fields_template %}
                                    </div>
                                    <script>
                                        $('#{{ plugin.form_key }}').change(function () {
                                            $('#{{ plugin.form_key }}-fields-container').toggle(this.checked);
                                        });
                                    </script>
                                {% endif %}

                            </div>
                        {% endfor %}
                    </div>
                    <script>
                        $('.plugin-switch-input').trigger('change', [false]);
                        $('#federation').change(function () {
                            const federation = $(this).val();
                            const pluginsToHide = $('.federation-plugin:not(.federation-plugin-' + federation + ')');
                            pluginsToHide.hide();
                            const pluginSwitch = pluginsToHide.find('.plugin-switch-input');
                            pluginSwitch.prop('checked', false);
                            pluginSwitch.trigger('change', [false]);
                            $('.federation-plugin-' + federation).show();
                            $('#plugins-container').show();
                            $('#plugins-container').toggle($('.plugin-container:visible').length > 0);
                        });
                        $('#federation').trigger('change');
                    </script>
                </span>
            </form>
        </div>

        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill"></i>
                {{ _('Cancel') if client.can_update_event else _('Close') }}
            </button>
            {% if client.can_update_event %}
                {% if action == 'clone' %}
                    {{ admin_macros.split_submit_buttons(
                        options={
                            'duplicate': _('Duplicate without players'),
                            'with_players': _('Duplicate with players'),
                        },
                        active_option='duplicate'
                    ) }}
                {% else %}
                    <button
                        type="submit"
                        data-testid="event-form-submit-button"
                        form="modal-form"
                        class="text-nowrap white btn btn-primary"
                    >
                        <i class="bi-floppy-fill pe-1"></i>
                        {{ _('Save') if action == 'update' else _('Create') }}
                    </button>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<script>requestRefresh()</script>
