<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered admin-event-edit-modal">
    <div class="modal-content">
        <div class="modal-header">
            {% if action == 'update' and client.can_update_event %}
                {% include 'event_update_modal_header.html' %}
            {% else %}
                <h2 class="modal-title">
                    {% if not client.can_update_event %}
                        {{ admin_event.name }}
                    {% else %}
                        {{ _('Create event') }}<span style="font-size: 70%">{{ macros.doc_icon('events-create', 'ms-2') }}</span>
                    {% endif %}
                </h2>
            {% endif %}
        </div>
        <div class="modal-body">
            <form
                id="modal-form"
                {% if action == 'create' %}
                    hx-post="{{ url_for('admin-tab-create-event', admin_tab=admin_tab) }}"
                    hx-push-url="true"
                {% elif action == 'clone' %}
                    hx-post="{{ url_for('admin-event-clone', event_uniq_id=admin_event.uniq_id or '') }}"
                {% elif action == 'update' %}
                    hx-patch="{{ url_for('admin-event-update', admin_tab=admin_tab or '', event_uniq_id=admin_event.uniq_id or '') }}"
                {% endif %}
                hx-target="body"
                hx-indicator="#please-wait"
            >
                <h4>
                    {{ _('Properties') }}
                </h4>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.switch_input(
                            name='public',
                            label=_('Visibility:'),
                            placeholder=_('Public event'),
                            help_text=_('Only allowed users can see private events.'),
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        <span
                            {% if federation_plugin_used %}
                                {{ macros.tooltip_attributes(
                                    'warning',
                                    _('A plugin specific to this federation is used, it can no longer be modified.'),
                                    'top'
                                ) }}
                            {% endif %}
                        >
                            {{ admin_macros.select_input(
                                name='federation',
                                label=_('Federation:'),
                                help_text=_(
                                    'Sharly Chess may provide functionality specific '
                                    'to the federation chosen for each event.'
                                ),
                                select_options=federation_options,
                                disabled=not client.can_update_event or federation_plugin_used,
                                data=data, errors=errors
                            ) }}
                            {% if federation_plugin_used %}
                                <input type="hidden" name="federation" value="{{ data['federation'] }}">
                            {% endif %}
                        </span>

                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.text_input(
                            name='name',
                            label=_('Name:'),
                            placeholder=_('E.g.: World championship'),
                            help_text='',
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.datetime_input(
                            name='start',
                            label=_('Start:'),
                            help_text='',
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.datetime_input(
                            name='stop',
                            label=_('End:'),
                            help_text='',
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        <span id="player-rating-type-container">
                            {{ admin_macros.select_input(
                                name='player_rating_type',
                                label=_('Player ratings to use by default:'),
                                help_text=_(
                                    'May be overridden on a per-tournament basis.',
                                ),
                                select_options=player_rating_type_options,
                                data=data, errors=errors
                            ) }}
                        </span>
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.text_input(
                            name='location',
                            label=_('%(string)s:', string=_('Location')),
                            placeholder=_('E.g.: Paris'),
                            help_text='',
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.text_input(
                            name='prize_currency',
                            label=_('%(string)s:', string=_('Prize currency')),
                            placeholder=_('E.g.: %(string)s', string=_("'EUR' or '€'")),
                            help_text=_('The currency used to represent monetary prizes (defaults to the currency of the event federation).'),
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                <span id="plugins-container">
                    <h4 class="mt-4">
                        {{ _('Plugins') }}
                        <span class="ps-1" style="font-size:1.1rem">
                            {{ macros.doc_icon('plugins') }}
                        </span>
                    </h4>
                    <div class="d-flex flex-column gap-3">
                        {% for plugin in plugins %}
                            <span
                                class="plugin-container
                                    {% if plugin.federation %}
                                        federation-plugin federation-plugin-{{ plugin.federation }}
                                    {% endif %}"
                            >
                                {% set used_by_tournaments_count = plugin.used_by_tournaments_count(admin_event) if admin_event else 0 %}
                                <span class="fw-bold">
                                    {{ admin_macros.plugin_switch_input(
                                        plugin,
                                        data,
                                        used_message=ngettext(
                                            'Used by %(num)d tournament.',
                                            'Used by %(num)d tournaments.',
                                            used_by_tournaments_count,
                                        ) if used_by_tournaments_count else '',
                                        disabled=not client.can_update_event,
                                        default_state=plugin.default_event_is_enabled
                                    ) }}
                                </span>
                                {% if plugin.event_form_fields_template %}
                                    <div id="{{ plugin.form_key }}-fields-container" class="mt-2">
                                        {% include plugin.event_form_fields_template %}
                                    </div>
                                    <script>
                                        $('#{{ plugin.form_key }}').change(function () {
                                            $('#{{ plugin.form_key }}-fields-container').toggle(this.checked);
                                        });
                                    </script>
                                {% endif %}

                            </span>
                        {% endfor %}
                    </div>
                    <script>
                        $('.plugin-switch-input').trigger('change', [false]);
                        $('#federation').change(function () {
                            const federation = $(this).val();
                            const pluginsToHide = $('.federation-plugin:not(.federation-plugin-' + federation + ')');
                            pluginsToHide.hide();
                            const pluginSwitch = pluginsToHide.find('.plugin-switch-input');
                            pluginSwitch.prop('checked', false);
                            pluginSwitch.trigger('change', [false]);
                            $('.federation-plugin-' + federation).show();
                            $('#plugins-container').show();
                            $('#plugins-container').toggle($('.plugin-container:visible').length > 0);
                        });
                        $('#federation').trigger('change');
                    </script>
                </span>

                <h4>
                    {{ _('Unrated players') }}
                </h4>
                <div class="row gy-2 gx-3">
                    {{ admin_macros.switch_input(
                        name='override_unrated_rapid_blitz',
                        label='',
                        placeholder=_('In rapid/blitz tournaments, use the standard rating for unrated players'),
                        doc_icon='standard-rating',
                        help_text=_('Default handling of players without a FIDE rapid/blitz rating. For rating calculation, FIDE considers such players rated with their standard rating. If checked, this rating will also be used for seeding and pairings. If unchecked, they will be treated as unrated and require an estimated rating.'),
                        disabled=not client.can_update_event,
                        data=data, errors=errors
                    ) }}
                </div>

                <h4>
                    {{ _('Points') }}
                </h4>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.select_input(
                            name='pab_value',
                            label=_('Value of the pairing allocated bye:'),
                            help_text=_(
                                'May be overridden on a per-tournament basis.',
                            ),
                            select_options=three_points_for_a_win_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.switch_input(
                            name='three_points_for_a_win',
                            label=_('%(string)s:', string=_('Point counting')),
                            placeholder=_('Three points for a win'),
                            help_text=_('Use the 3/1/0 points system instead of the standard 1/0.5/0 system. May be overridden on a per-tournament basis.'),
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>

                <h4>
                    {{ _('Rules') }}
                </h4>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.text_input(
                            name='rules',
                            label=_('Rules file location:'),
                            placeholder=_('E.g.: c:\\chess\\tournaments\\my_tournament\\rules.pdf'),
                            help_text=_('A URL, or the path to the rules file on the server, in PDF format.'),
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.number_input(
                            name='record_illegal_moves',
                            label=_('Illegal moves recording:'),
                            placeholder=sharly_chess_config.default_record_illegal_moves_number,
                            min=0,
                            max=3,
                            help_text=_(
                                'The maximum number of illegal moves that '
                                'can be recorded per round for a player.',
                            ),
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill"></i>
                {{ _('Cancel') if client.can_update_event else _('Close') }}
            </button>
            {% if client.can_update_event %}
                {% if action == 'clone' %}
                    {{ admin_macros.split_submit_buttons(
                        options={
                            'duplicate': _('Duplicate without players'),
                            'with_players': _('Duplicate with players'),
                        },
                        active_option='duplicate'
                    ) }}
                {% else %}
                    <button
                        type="submit"
                        form="modal-form"
                        class="text-nowrap white btn btn-primary"
                    >
                        <i class="bi-floppy-fill pe-1"></i>
                        {{ _('Save') if action == 'update' else _('Create') }}
                    </button>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<script>requestRefresh()</script>
