<div class="modal-dialog modal-dialog-centered admin-event-edit-modal d-block w-90 mw-100">
    <form
            {% if action == 'create' %}
                hx-post="{{ url_for('admin-tab-' ~ action ~ '-event', admin_tab=admin_tab) }}"
            {% elif action == 'clone' %}
                hx-post="{{ url_for('admin-event-' ~ action, event_uniq_id=admin_event.uniq_id) }}"
            {% elif action == 'delete' %}
                hx-delete="{{ url_for('admin-event-' ~ action, event_uniq_id=admin_event.uniq_id) }}"
            {% elif action == 'update' %}
                hx-patch="{{ url_for('admin-event-' ~ action, event_uniq_id=admin_event.uniq_id) }}"
            {% else %}
                hx-get="{{ url_for('unknown-action-' ~ action) }}"
            {% endif %}
            hx-target="body"
            hx-indicator="#please-wait">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    {% if action in ['create', 'clone', ] %}
                        {{ _('Event creation') }}
                    {% elif action == 'update' %}
                        {{ _('Edition of event [%(event_uniq_id)s]', event_uniq_id=admin_event.uniq_id) }}
                    {% else %}
                        {{ _('Deletion of event [%(event_uniq_id)s]', event_uniq_id=admin_event.uniq_id) }}
                    {% endif %}
                </h2>
            </div>
            <div class="modal-body">
                {% if action == 'delete' %}
                    <h3 class="text-danger">
                        {{ _('Warning: the deletion of an event is permanent!') }}
                    </h3>
                    {{ text_input(
                        name='uniq_id',
                        label=_('Enter the event ID to confirm its deletion:'),
                        placeholder=_('Enter here the event ID'),
                        help_text=_('Recovering deleted events is not possible from the web interface (however the events are archived and can be recovered from the filesystem.'),
                        data=data, errors=errors
                    ) }}
                {% else %}
                    <h3>
                       {{ _('Properties') }}
                    </h3>
                    <div class="row">
                        <div class="col-4">
                            {{ text_input(
                                name='uniq_id',
                                label=_('ID (unique):'),
                                placeholder=_('E.g.: world-championship'),
                                help_text=_('The Unique ID, used for data storage and export.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-4">
                            {{ text_input(
                                name='name',
                                label=_('Name:'),
                                placeholder=_('E.g.: World championship'),
                                help_text=_('The name of the event, used for display and reports.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-4">
                            {{ switch_input(
                                name='public',
                                label=_('Visibility:'),
                                placeholder=_('Public event'),
                                help_text=_('Only arbiters can see private events.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            {{ datatime_input(
                                name='start',
                                label=_('Start:'),
                                help_text=_('The start date and time of the event.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-3">
                            {{ datatime_input(
                                name='stop',
                                label=_('End:'),
                                help_text=_('The end date and time of the event.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-6">
                            {{ text_input(
                                name='path',
                                label=_('Default directory of the Papi files:'),
                                placeholder=_('E.g.: c:\chess\tournaments'),
                                help_text=_('The default directory of the Papi files for the tournaments (absolute or relative path, by default %(dir)s).', dir=papi_web_config.default_papi_path),
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>
                    <h3>
                        {{ _('Results entry') }}
                    </h3>
                    <div class="row">
                        <div class="col-6">
                            {{ password_input(
                                name='update_password',
                                label=_('Password to enter results:'),
                                placeholder=_('E.g.: my_password'),
                                help_text=_('The password required on input screens to enter results (optional).'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-6">
                            {{ select_input(
                                name='record_illegal_moves',
                                label=_('Illegal moves recording:'),
                                help_text=_(
                                    'The maximum number of illegal moves that can be recorded per round for a player (from 0 to 3, by default %(default)d). This value can be modified for each tournament.',
                                    default=papi_web_config.default_record_illegal_moves_number
                                ),
                                select_options=record_illegal_moves_options,
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>
                    <h3>
                        {{ _('Rules') }}
                    </h3>
                    <div class="row">
                        <div class="col-6">
                            {{ text_input(
                                name='rules',
                                label=_('Rules file location:'),
                                placeholder=_('E.g.: c:\\chess\\tournaments\\my_tournament\\rules.pdf'),
                                help_text=_('A URL, or the path to the rules file on the server, in PDF format (optional).'),
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>
                    <h3>
                        {{ _('Display') }}
                    </h3>
                    <div class="row">
                        <div class="col-6">
                            {{ text_input(
                                name='background_image',
                                label=_('Background image:'),
                                placeholder=_('E.g.: Please keep quiet until the end of the round!'),
                                help_text=_('The URL or the path of the image to display (by default the Papi-web logo).'),
                                default_checkbox=true,
                                default_checkbox_text=_('no background image'),
                                data=data, errors=errors
                            ) }}
                            <script>
                                $('#background-image-checkbox').click(function() {
                                    if ($(this).is(':checked')) {
                                        $('#background-image-picker-wrapper').css('display', 'none');
                                        $('#background-image-test').css('background-image', '');
                                    } else {
                                        $('#background-image-picker-wrapper').css('display', 'block');
                                    }
                                });
                            </script>
                            {{ color_input(
                                name='background_color',
                                label=_('Background colour:'),
                                help_text=_('The background colour is used when the image does not fill the whole screen.'),
                                default_checkbox=true,
                                default_color=papi_web_config.default_background_color,
                                data=data, errors=errors
                            ) }}
                            <script>
                                $('#background-color-checkbox').click(function() {
                                    if ($(this).is(':checked')) {
                                        $('#background-image-test').css('background-color', '{{ papi_web_config.default_background_color }}');
                                    } else {
                                    }
                                });
                                $('#background-color').change(function() {
                                    $('#background-image-test').css('background-color', $(this).val());
                                });
                            </script>
                            <div id="background-image-test" style="
                                    width: 320px;
                                    height: 180px;
                                    background-image: url('{{ admin_event.background_url if admin_event else papi_web_config.default_background_image }}');
                                    background-color: {{ admin_event.background_color if admin_event else papi_web_config.default_background_color }};
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-position: center center;"
                            >
                            </div>
                        </div>
                        <div class="col-6">
                            <div
                                    id="background-image-picker-wrapper"
                                    style="display: {% if data['background_image_checkbox'] == 'on' %}none{% else %}block{% endif %}"
                            >
                                <label class="form-label">{{ _('Choose a custom image:') }}</label>
                                <div
                                        id="background-image-picker"
                                >
                                </div>
                            </div>
                            <script>
                                $('#background-image-picker')
                                .jstree(
                                    {
                                        'core' : {
                                            'multiple': false,
                                            'data' : {{ background_images_jstree_data | tojson }}
                                        }
                                    }
                                );
                                $('#background-image-picker').on("changed.jstree", function (e, data) {
                                });
                            </script>
                        </div>
                    </div>
                    <h3>
                        {{ _('Timers') }}
                    </h3>
                    <div class="row">
                        {% for num in [1, 2, 3] %}
                            <div class="col-4">
                                {{ color_input(
                                    name='color_'~num,
                                    label=_('Colour #%(num)d:', num=num),
                                    help_text=timer_color_texts[num],
                                    default_checkbox=true,
                                    default_color=papi_web_config.default_timer_colors[num],
                                    data=data, errors=errors
                                ) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {% for num in [1, 2, 3] %}
                            {% with id='delay-'~num, name='delay_'~num %}
                            <div class="col-4">
                                {{ number_input(
                                    name='delay_'~num,
                                    label=_('Delay #%(num)d:', num=num),
                                    placeholder=_('By default: %(minutes)d minutes', minutes=papi_web_config.default_timer_delays[num]),
                                    help_text='',
                                    data=data, errors=errors
                                ) }}
                            </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                    <h3>
                        {{ _('Alert message') }}
                    </h3>
                    <div class="row">
                        <div class="col-3">
                            {{ color_input(
                                name='message_background_color',
                                label=_('Background colour:'),
                                help_text=_('The background colour of the alert messages.'),
                                default_checkbox=true,
                                default_color=papi_web_config.default_message_background_color,
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-3">
                            {{ color_input(
                                name='message_color',
                                label=_('Text colour:'),
                                help_text=_('The text colour of the alert messages.'),
                                default_checkbox=true,
                                default_color=papi_web_config.default_message_color,
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-6">
                            {% with
                                message_help_text=_('When defined, the alert message is displayed in a scrolling banner at the bottom of the screens. The alert message defined at event-level can be overridden at rotator, screen family or screen-level.')
                            %}
                                {% include '../common/modal/alert_message.html' %}
                            {% endwith %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer d-block">
                <div class="row">
                    <div class="col col-6 text-start">
                        <button
                                type="submit"
                                class="text-nowrap white btn {% if action == 'delete' %}btn-danger{% else %}btn-primary{% endif %}"
                        >
                            <i class="bi-floppy-fill"></i>
                            {% if action in ['create', 'clone', ] %}
                                {{ _('Create') }}
                            {% elif action == 'update' %}
                                {{ _('Update') }}
                            {% elif action == 'delete' %}
                                {{ _('Delete') }}
                            {% else %}
                                ?
                            {% endif %}
                        </button>
                    </div>
                    <div class="col col-6 text-end">
                        <button
                                class="btn btn-secondary text-nowrap"
                                {% if admin_event %}
                                    hx-get="{{ url_for('admin-event', event_uniq_id=admin_event.uniq_id) }}"
                                {% else %}
                                    hx-get="{{ url_for('admin-tab', admin_tab=admin_tab) }}"
                                {% endif %}
                                preload
                                hx-target="body"
                                hx-trigger="click, keyup[key=='Escape'] from:body"
                                hx-indicator="#please-wait">
                            <i class="bi-x-circle-fill"></i>
                            {{ _('Cancel') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    (new bootstrap.Modal(document.getElementById('modal-wrapper'))).show();
</script>
