<div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
    style="--bs-modal-width: min(90vw, 400px);"
>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {{ _('Print') }}<span style="font-size: 70%">{{ macros.doc_icon('printing', 'ms-2') }}</span>
            </h2>
        </div>
        <div class="modal-body">
            <form
                id="modal-form"
                hx-target="body"
                hx-post="{{ url_for('admin-event-print', event_uniq_id=admin_event.uniq_id) }}"
                hx-indicator="#please-wait"
            >
                <div class="row">
                    <div class="col-12 mb-3">
                        {{ admin_macros.select_input(
                            name='tournament_id',
                            label=_('Tournament:'),
                            help_text=_('The tournament to print.'),
                            select_options=tournament_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        {{ admin_macros.select_input(
                            name='document',
                            label=_('Document:'),
                            help_text=_('The type of document to print.'),
                            select_options=document_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                {% for option in print_options %}
                    <div
                        class="row"
                        id="{{ option.container_id }}"
                        {% if option.id not in current_document_option_ids %}
                            style="display:none"
                        {% endif %}
                    >
                        {% include option.template_name %}
                    </div>
                {% endfor %}
                <script>
                    $('#document').change(function() {
                        const document_containers = {{ containers_by_document|tojson }}[$(this).val()];
                        let container_id = '';
                        {% for option in print_options %}
                            container_id = '{{ option.container_id }}';
                            $('#' + container_id).css(
                                'display', document_containers.includes(container_id) ? 'block' : 'none'
                            );
                        {% endfor %}
                    });
                </script>
            </form>
        </div>

        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            <button
                type="submit"
                form="modal-form"
                class="text-nowrap white btn btn-primary"
            >
                <i class="bi bi-printer-fill pe-1"></i>
                {{ _('Print') }}
            </button>
        </div>
    </div>
</div>
