<div id="top-nav-wrapper">
    <div id="top-nav-content">
        {{ admin_macros.admin_title(_('Configuration'), 'events') }}
        <div class="d-flex flex-grow-1 gap-1 ms-auto justify-content-end">
            <button
                class="btn btn-outline-primary text-nowrap ms-1"
                hx-get="{{ url_for('admin-event-modal', action='update', event_uniq_id=admin_event.uniq_id) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                preload
                data-bs-toggle="modal"
                data-bs-target="#modal-wrapper"
            >
                <i class="bi-pencil-fill pe-1"></i>
                {{ _('Edit') }}
            </button>
            <button
                class="btn btn-outline-primary text-nowrap ms-1"
                hx-get="{{ url_for('admin-event-modal', action='clone', event_uniq_id=admin_event.uniq_id) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                preload
                data-bs-toggle="modal"
                data-bs-target="#modal-wrapper"
            >
                <i class="bi-copy pe-1"></i>
                {{ _('Duplicate') }}
            </button>
            <button
                class="btn btn-outline-danger text-nowrap ms-1"
                hx-get="{{ url_for('admin-event-modal', action='delete', event_uniq_id=admin_event.uniq_id) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                preload
                data-bs-toggle="modal"
                data-bs-target="#modal-wrapper"
            >
                <i class="bi bi-archive-fill pe-1"></i>
                {{ _('Archive') }}
            </button>
        </div>
    </div>
</div>

<div class="p-3">
    <table class="table w-auto bg-light mx-auto justify-content-center">
        <thead class="position-sticky top-0 z-2">
            <tr>
                <th scope="col" class="text-nowrap" colspan="2">{{ _('Customization') }}</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="text-nowrap">
                    {{ _('Unique ID') }}
                    <i
                        class="ps-1 bi-info-circle fs-6"
                        {{ macros.tooltip_attributes(
                            'info',
                            _('The representation of the event for URLs and file exports.'),
                            'top'
                        ) }}
                    ></i>
                </th>
                <td class="text-nowrap">
                    <span id="uniq-id-field">
                        {{ admin_event.uniq_id }}
                        <span
                            {{ macros.tooltip_attributes(
                                'info',
                                _('Changing the unique ID will cause an error on any opened screen of the event.'),
                                'right'
                            ) }}
                        >
                            <button
                                id="uniq-id-update-button"
                                data-testid="uniq-id-update-button"
                                type="button"
                                class="btn btn-sm text-primary text-nowrap"
                            >
                                <i class="bi-pencil"></i>
                            </button>
                        </span>
                    </span>
                    <div
                        id="uniq-id-update-form-container"
                        style="display: none"
                    >
                        {{ admin_macros.inline_text_form(
                            'uniq-id-update',
                            name='uniq_id',
                            placeholder=_('E.g.: %(string)s', string=_('my-event')),
                            value=admin_event.uniq_id,
                            patch_url=url_for('admin-event-uniq-id-update', event_uniq_id=admin_event.uniq_id),
                        ) }}
                    </div>
                    <script>
                        {% set id = 'uniq-id-update' %}
                        $('#{{ id }}-input').on('input', function() {
                            let disabled = true;
                            let error = "";
                            const value = $(this).val();
                            if (value === '') {
                                error = "{{ _('A value is expected.') }}";
                            } else if (value != "{{ admin_event.uniq_id }}" && {{ event_uniq_ids|tojson }}.includes(value)) {
                                error = "{{ _('An event with this unique ID already exists.') }}";
                            } else if (!value.match(/^[0-9a-zA-Z_\-]+$/)) {
                                error = "{{ _('Accepted characters are letters, numbers, underscore (_) and minus (-).') }}";
                            } else {
                                disabled = false;
                                error = "{{ _('Validate') }}";
                            }

                            $('#{{ id }}-submit-button').prop('disabled', disabled);
                            const tooltipElement = document.getElementById('{{ id }}-submit-button-container');
                            const tooltip = bootstrap.Tooltip.getInstance(tooltipElement);
                            tooltip.setContent({ '.tooltip-inner': error || "{{ _('Validate') }}" });
                            tooltip.update();
                        });
                        $('#{{ id }}-button').click(() => {
                            $('#{{ id }}-form-container').css('display', '');
                            $('#uniq-id-field').css('display', 'none');
                        });
                        $('#{{ id }}-cancel-button').click(() => {
                            $('#{{ id }}-form-container').css('display', 'none');
                            $('#uniq-id-field').css('display', '');
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-nowrap">{{ _('Date') }}</th>
                <td class="">{{ admin_event.formatted_start_date_time }} - {{ admin_event.formatted_stop_date_time }}</td>
            </tr>
            <tr>
                <th scope="row" class="text-nowrap">{{ _('Federation') }}</th>
                <td class="">
                    <span>
                        <img
                            class="player-federation-flag ms-1 ps-1 pe-1"
                            src="{{ macros.federation_flag_url(admin_event.federation) }}"
                        />
                        {{ admin_event.federation }}
                        -
                        {{ sharly_chess_config.federations[admin_event.federation] }}
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-nowrap">{{ _('Visibility') }}</th>
                <td class="">
                    {{ macros.event_visibility_icon(admin_event, 'pe-1') }}
                    {{ _('Public event') if admin_event.public else _('Private event') }}
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-nowrap">{{ _('Prize currency') }}</th>
                <td>
                    {{ admin_event.prize_currency }}
                    {% if not admin_event.stored_event.prize_currency %}
                        <span class="fst-italic">
                            {{ _('(by default)') }}
                        </span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-nowrap">{{ _('Location') }}</th>
                <td>
                    {% if admin_event.location %}
                        {{ admin_event.location }}
                    {% else %}
                        <span class="fst-italic">
                            {{ _('Undefined') }}
                        </span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-nowrap">{{ _('Background image and colour') }}</th>
                <td class="text-nowrap">
                    <div style="width: 160px; height: 90px; background-image: url('{{ admin_event.background_url }}'); background-color: {{ admin_event.background_color }}; background-repeat: no-repeat; background-size: contain; background-position: center center;">
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-nowrap">{{ _('Password to enter results') }}</th>
                <td class="text-nowrap">
                    {% if admin_event.update_password %}
                        ********
                    {% else %}
                        <span class="fst-italic">
                            {{ _('No password required') }}
                        </span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-nowrap">{{ _('Maximum number of illegal moves') }}</th>
                <td class="text-nowrap">
                    {% if admin_event.record_illegal_moves %}
                        {{ admin_event.record_illegal_moves }}
                    {% else %}
                            {{ _('No recording') }}
                    {% endif %}
                    {% if admin_event.stored_event.record_illegal_moves is none %}
                        <span class="fst-italic">
                            {{ _('(by default)') }}
                        </span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-nowrap">{{ _('Rules') }}</th>
                <td class="text-nowrap">
                    {% if admin_event.rules %}
                        {{ admin_event.rules }}
                    {% else %}
                        <span class="fst-italic">
                            {{ _('No rules file set') }}
                        </span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-nowrap">{{ _('Alert message') }}</th>
                <td class="">
                    {% if admin_event.message_text %}
                        {{ admin_event.message_text }}
                    {% else %}
                        <span class="fst-italic">
                            {{ _('No alert message') }}
                        </span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-nowrap">{{ _('Last update') }}</th>
                <td class="text-nowrap">{{ admin_event.last_update_str }}</td>
            </tr>

            {% for row in plugin_event_info_rows %}
                {% include row %}
            {% endfor %}
        </tbody>
    </table>
</div>
