<div class="admin-screen-sets-modal-screen-set-div {% if not admin_screen_set and admin_screen.screen_sets_sorted_by_order|length > 1 %}cursor-grab{% endif %}">
    <input type='hidden' name='item' value='{{ screen_set.id }}'/>
    {% if admin_screen_set.id == screen_set.id %}
        <form
                hx-patch="{{ url_for('admin-screen-set-update', event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id, screen_set_id=admin_screen_set.id) }}"
                hx-target="body"
                hx-trigger="end"
                hx-indicator="#please-wait">
            <div class="admin-screen-set-div edit border border-secondary px-1 mb-1">
                <h3>
                    {{ _('Properties') }}
                </h3>
                <div class="row">
                    <div class="col-5">
                        {% with id='tournament-id', name='tournament_id' %}
                            <label for="{{ id }}" class="form-label">{{ _('Tournament:') }}</label>
                            <select
                                    name="{{ name }}"
                                    id="{{ id }}"
                                    class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error" >
                                {% for value, text in tournament_options.items() %}
                                    <option value="{{ value }}" {% if value == data[name] %}selected{%endif %}>
                                        {{ text }}
                                    </option>
                                {% endfor %}
                            </select>
                            <div id="{{ id }}-help" class="form-text">
                                {{ _('The tournament of which you want to show the pairings, mandatory.') }}
                            </div>
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-5">
                        {% with id='name', name='name' %}
                            <label for="{{ id }}" class="form-label">{{ _('Name:') }}</label>
                            <input
                                    name="{{ name }}"
                                    type="text" id="{{ id }}"
                                    class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error"
                                    placeholder="{{ _('E.g.: Boards %%f to %%l') if admin_screen.type in ['boards', 'input'] else _('E.g.: Players %%f to %%l') }}"
                                    value="{{ data[name] }}" />
                            <div id="{{ id }}-help" class="form-text">
                                {{ _('The name of the screen set (the name of the first set of a screen is by default the name of the screen).') }}
                            </div>
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-2 text-end">
                        <button
                                class="btn btn-sm btn-primary text-nowrap mb-1"
                                hx-patch="{{ url_for('admin-screen-set-update', event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id, screen_set_id=admin_screen_set.id) }}"
                                hx-target="body"
                                hx-indicator="#please-wait">
                            <i class="bi-floppy-fill"></i>
                            {{ _('Update') }}
                        </button>
                        <button
                                class="btn btn-sm btn-secondary text-nowrap mb-1"
                                hx-get="{{ url_for('admin-screen-sets-modal', event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id) }}"
                                preload
                                hx-target="body"
                                hx-trigger="click, keyup[key=='Escape'] from:body"
                                hx-indicator="#please-wait">
                            <i class="bi-x-circle-fill"></i>
                            {{ _('Cancel') }}
                        </button>
                    </div>
                </div>
                {% if admin_screen.type in ['boards', 'input', 'players'] %}
                    <h3>
                        {% if admin_screen.type in ['boards', 'input'] %}
                            {{ _('Board selection (by number)') }}
                        {% else %}
                            {{ _('Player selection (by alphabetical order)') }}
                        {% endif %}
                    </h3>
                    <div class="row">
                        <div class="{% if admin_screen.type in ['boards', 'input'] %}col-4{% else %}col-6{% endif %}">
                            {% with id='first', name='first' %}
                                <label for="{{ id }}" class="form-label">
                                    {% if admin_screen.type in ['boards', 'input'] %}
                                        {{ _('First board:') }}
                                    {% else %}
                                        {{ _('First player:') }}
                                    {% endif %}
                                </label>
                                <input
                                        name="{{ name }}"
                                        type="number" id="{{ id }}" min="1"
                                        class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                        aria-describedby="{{ id }}-help {{ id }}-error"
                                        placeholder="{{ _('E.g.: %(num)d', num=15) }}"
                                        value="{{ data[name] }}" />
                                <div id="{{ id }}-help" class="form-text">
                                    {% if admin_screen.type in ['boards', 'input'] %}
                                        {{ _('The number of the first board to select, optional (the first board by default).') }}
                                    {% else %}
                                        {{ _('The number of the first player to select, optional (the first player by alphabetical order by default).') }}
                                    {% endif %}
                                </div>
                                {% if name in errors %}
                                    <div id="{{ id }}-error" class="form-text invalid-feedback">
                                        {{ errors[name] }}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="{% if admin_screen.type in ['boards', 'input'] %}col-4{% else %}col-6{% endif %}">
                            {% with id='last', name='last' %}
                                <label for="{{ id }}" class="form-label">
                                    {% if admin_screen.type in ['boards', 'input'] %}
                                        {{ _('Last board:') }}
                                    {% else %}
                                        {{ _('Last player:') }}
                                    {% endif %}
                                </label>
                                <input
                                        name="{{ name }}"
                                        type="number" id="{{ id }}" min="1"
                                        class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                        aria-describedby="{{ id }}-help {{ id }}-error"
                                        placeholder="{{ _('E.g.: %(num)d', num=40) }}"
                                        value="{{ data[name] }}" />
                                <div id="{{ id }}-help" class="form-text">
                                    {% if admin_screen.type in ['boards', 'input'] %}
                                        {{ _('The number of the last board to select, optional (the last board by default).') }}
                                    {% else %}
                                        {{ _('The number of the last player to select, optional (the last player by alphabetical order by default).') }}
                                    {% endif %}
                                </div>
                                {% if name in errors %}
                                    <div id="{{ id }}-error" class="form-text invalid-feedback">
                                        {{ errors[name] }}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        {% if admin_screen.type in ['boards', 'input'] %}
                            <div class="col-4">
                                {% with id='fixed-boards-str', name='fixed_boards_str' %}
                                    <label for="{{ id }}" class="form-label">{{ _('Fixed boards:') }}</label>
                                    <input
                                            name="{{ name }}"
                                            type="text" id="{{ id }}"
                                            class="form-control {% if name in errors %}is-invalid{% else %}is-valid{% endif %}"
                                            aria-describedby="{{ id }}-help {{ id }}-error"
                                            placeholder="{{ _('E.g.: %(string)s', string='501, 502') }}"
                                            value="{{ data[name] }}" />
                                    <div id="{{ id }}-help" class="form-text">
                                        {{ _('Comma-separated board numbers ; if this field is set, other fields are omitted.') }}
                                    </div>
                                    {% if name in errors %}
                                        <div id="{{ id }}-error" class="form-text invalid-feedback">
                                            {{ errors[name] }}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </form>
    {% else %}
        <div class="admin-screen-set-div border border-secondary p-1 mb-1">
            <div class="row">
                <div class="col-10">
                    <div>
                        <b>

                            {% if screen_set.tournament %}
                                {{ _('Tournament: %(tournament_name)s', tournament_name=screen_set.tournament.name) }}
                            {% else %}
                                <span class="text-danger">
                                    {{ _('Tournament: not set') }}
                                </span>
                            {% endif %}
                        </b>
                    </div>
                    <div>
                        {{ _('Selection: %(selection)s', selection=screen_set.numbers_str) }}
                    </div>
                    <div>
                        {% if screen_set.name %}
                            {{ _('Name: %(screen_set_name)s', name=screen_set.name) }}
                        {% else %}
                            <span class="fst-italic">
                                {{ _('Name: by default') }}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-2 text-nowrap text-end">
                    {% if not admin_screen_set %}
                        {% if admin_screen.screen_sets_sorted_by_order|length > 1 %}
                            <i class="bi-arrows-move"></i>
                        {% endif %}
                        <button
                                class="btn btn-sm btn-primary text-nowrap"
                                hx-get="{{ url_for('admin-screen-sets-set-modal', event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id, screen_set_id=screen_set.id) }}"
                                preload
                                hx-target="body"
                                hx-indicator="#please-wait">
                            <i class="bi-pencil-fill"></i>
                        </button>
                        <button
                                class="btn btn-sm btn-primary text-nowrap"
                                hx-post="{{ url_for('admin-screen-set-clone', event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id, screen_set_id=screen_set.id) }}"
                                hx-target="body"
                                hx-indicator="#please-wait">
                            <i class="bi-copy"></i>
                        </button>
                        <button
                                class="btn btn-sm btn-danger text-nowrap"
                                hx-delete="{{ url_for('admin-screen-set-delete', event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id, screen_set_id=screen_set.id) }}"
                                hx-target="body"
                                hx-indicator="#please-wait"
                                {% if admin_screen.screen_sets_sorted_by_order|length <= 1 %}
                                    disabled
                                {% endif %}
                        >
                            <i class="bi-trash-fill"></i>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
