<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered admin-screen-edit-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {% if action in ['create', 'clone', ] %}
                    {% if screen_type == 'input' %}
                        {{ _('Input screen creation') }}
                    {% elif screen_type == 'boards' %}
                        {{ _('Boards screen creation') }}
                    {% elif screen_type == 'players' %}
                        {{ _('Players screen creation') }}
                    {% elif screen_type == 'results' %}
                        {{ _('Results screen creation') }}
                    {% elif screen_type == 'ranking' %}
                        {{ _('Ranking screen creation') }}
                    {% elif screen_type == 'image' %}
                        {{ _('Image screen creation') }}
                    {% else %}
                        ?
                    {% endif %}
                {% elif action == 'update' %}
                    {{ _('Edition of screen [%(screen_uniq_id)s]', screen_uniq_id=admin_screen.uniq_id) }}
                {% elif action == 'delete' %}
                    {{ _('Deletion of screen [%(screen_uniq_id)s]', screen_uniq_id=admin_screen.uniq_id) }}
                {% else %}
                    ?
                {% endif %}
            </h2>
        </div>
        <div class="modal-body">
            <form
                id="modal-form"
                {% if action == 'create' %}
                    hx-post="{{ url_for('admin-screen-' ~ action, event_uniq_id=admin_event.uniq_id, screen_type=screen_type) }}"
                {% elif action == 'clone' %}
                    hx-post="{{ url_for('admin-screen-' ~ action, event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id) }}"
                {% elif action == 'update' %}
                    hx-patch="{{ url_for('admin-screen-' ~ action, event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id) }}"
                {% elif action == 'delete' %}
                    hx-delete="{{ url_for('admin-screen-' ~ action, event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id) }}"
                {% else %}
                    hx-get="{{ url_for('unknown-action-' ~ action) }}"
                {% endif %}
                hx-target="body"
                hx-indicator="#please-wait"
            >
                {% if action == 'delete' %}
                    <h4 class="text-danger">
                        {{ _('Warning: the deletion of a screen is permanent!') }}
                    </h4>
                {% else %}
                    <h4>
                        {% if screen_type == 'input' %}
                            {{ _('Properties (results entry)') }}
                        {% elif screen_type == 'boards' %}
                            {{ _('Properties (pairings by board)') }}
                        {% elif screen_type == 'players' %}
                            {{ _('Properties (pairings by player)') }}
                        {% elif screen_type == 'results' %}
                            {{ _('Properties (last results)') }}
                        {% elif screen_type == 'ranking' %}
                            {{ _('Properties (ranking)') }}
                        {% elif screen_type == 'image' %}
                            {{ _('Properties (image)') }}
                        {% else %}
                            ?
                        {% endif %}
                    </h4>

                    {% set col = 6 if action == 'create' and screen_type in ['input', 'boards', 'players', 'ranking', ] else 4 %}
                    <div class="row">
                        <div class="col-12 col-xl-{{col}} mb-3">
                            {{ admin_macros.switch_input(
                                name='public',
                                label=_('Visibility:'),
                                placeholder=_('Public screen'),
                                help_text=_('Only arbiters can see private screens.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-12 col-md-6 col-xl-{{col}} mb-3">
                            {{ admin_macros.text_input(
                                name='uniq_id',
                                label=_('ID (unique):'),
                                placeholder=_('E.g.: %(screen_type)s-screen', screen_type=screen_type),
                                help_text=_('The Unique ID, used to reference the screen.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-12 col-md-6 col-xl-{{col}} mb-3">
                            {{ admin_macros.text_input(
                                name='name',
                                label=_('Name:'),
                                placeholder=_('E.g.: My screen'),
                                help_text=_('The name of the screen, displayed on event screens.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        {% if action == 'create' and screen_type in ['input', 'boards', 'players', 'ranking', ] %}
                            <div class="col-12 col-xl-{{col}} mb-3">
                                {{ admin_macros.select_input(
                                    name='init_set_tournament_id',
                                    label=_('Tournament:'),
                                    help_text=_('The first tournament of the screen, mandatory (it is possible to add other tournaments later).'),
                                    select_options=tournament_options,
                                    data=data, errors=errors
                                ) }}
                            </div>
                        {% endif %}
                        {% if screen_type == 'ranking' %}
                            <div class="col-12 col-md-6 mb-3">
                                {% include '../common/modal/ranking_crosstable.html' %}
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                {% include '../common/modal/ranking_round.html' %}
                            </div>
                        {% endif %}
                        {% if screen_type == 'image' %}
                            <div class="col-12 col-md-6 mb-3">
                                {{ admin_macros.text_input(
                                    name='background_image',
                                    label=_('Background image:'),
                                    placeholder=_('E.g.: https://my.club.us/tournament.jpg'),
                                    help_text=_('The URL of the image to display.'),
                                    default_checkbox=true,
                                    default_checkbox_text=_('no background image'),
                                    data=data, errors=errors
                                ) }}
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                {{ admin_macros.color_input(
                                    name='background_color',
                                    label=_('Background colour:'),
                                    help_text=_('The background colour is used when the image does not fill the whole screen.'),
                                    default_checkbox=true,
                                    default_color=admin_event.background_color,
                                    data=data, errors=errors
                                ) }}
                            </div>
                        {% endif %}
                    </div>

                    {% if screen_type in ['players', 'ranking', 'results', ] %}
                        <h4>
                            {{ _('Selection') }}
                        </h4>
                        <div class="row">
                            {% if screen_type == 'players' %}
                                <div class="col-12 col-md-6 mb-3">
                                    {% include '../common/modal/show_unpaired.html' %}
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    {% include '../common/modal/alert_message.html' %}
                                </div>
                            {% endif %}
                            {% if screen_type == 'ranking' %}
                                <div class="col-12 col-md-6 mb-3">
                                    {% include '../common/modal/ranking_min_points.html' %}
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    {% include '../common/modal/ranking_max_points.html' %}
                                </div>
                            {% endif %}
                            {% if screen_type == 'results' %}
                                <div class="col-12 col-md-6 mb-3">
                                    {{ admin_macros.number_input(
                                        name='results_limit',
                                        label=_('Maximum number of results displayed:'),
                                        placeholder=_('E.g.: %(num)d', num=30),
                                        help_text=_('The maximum number of results displayed on the screen, optional (if left empty, all the results are displayed).'),
                                        data=data, errors=errors
                                    ) }}
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    {{ admin_macros.number_input(
                                        name='results_max_age',
                                        label=_('Maximum age of the results:'),
                                        placeholder=_('E.g.: %(minutes)d (minutes)', minutes=45),
                                        help_text=_('The maximum age of the results, in minutes (by default %(minutes)d minutes).', minutes=papi_web_config.default_results_screen_max_age),
                                        data=data, errors=errors
                                    ) }}
                                </div>
                                <div class="col-12 mb-3">
                                    <label class="form-label">{{ _('Tournaments displayed:') }}</label>
                                    <div class="d-flex flex-wrap gap-3">
                                        {% for tournament in admin_event.tournaments_by_uniq_id.values() %}
                                            {% with id='results-tournament-' ~ tournament.id, name='results_tournament_' ~ tournament.id %}
                                                <span class="text-nowrap">
                                                    <input
                                                        name="{{ name }}"
                                                        type="checkbox" id="{{ id }}"
                                                        class=""
                                                        {% if data[name] == 'on' %}checked{% endif %} />
                                                    <label for="{{ id }}" class="form-label ms-1">
                                                        {{ tournament.name }}
                                                    </label>
                                                </span>
                                            {% endwith %}
                                        {% endfor %}
                                    </div>
                                    <div id="" class="form-text">
                                        {{ _('When not tournament is selected, the results of all the tournaments are displayed.') }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if screen_type in ['input', 'boards', 'players', 'results', 'ranking', ] %}
                        <h4>
                            {{ _('Layout') }}
                        </h4>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                {{ admin_macros.select_input(
                                    name='timer_id',
                                    label=_('Timer:'),
                                    help_text=_('The timer displayed on the screen.'),
                                    select_options=timer_options,
                                    data=data, errors=errors
                                ) }}
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                {{ admin_macros.number_input(
                                    name='columns',
                                    label=_('Columns:'),
                                    placeholder=_('E.g.: %(num)d', num=2),
                                    help_text=_('The number of columns used to display data.'),
                                    data=data, errors=errors
                                ) }}
                            </div>
                            {% if screen_type == 'input' %}
                                <div class="col-12 col-md-6 mb-3">
                                    {% include '../common/modal/exit_button.html' %}
                                </div>
                            {% endif %}
                            <div class="col-12 col-md-6 mb-3">
                                {% with
                                    message_help_text=_('When not defined at screen-level, the alert message defined at rotator or event-level is used (if no alert message is set, the scrolling banner at the bottom of the screen is not displayed).')
                                %}
                                    {% include '../common/modal/alert_message.html' %}
                                {% endwith %}
                            </div>
                        </div>

                        <h4>
                            {{ _('Menus') }}
                        </h4>
                        <div class="row">
                            <div class="col-12 col-xl-5 mb-3">
                                {{ admin_macros.text_input(
                                    name='menu',
                                    label=_('Links displayed on the screen menu:'),
                                    placeholder=_('E.g.: @boards, @family, another-screen'),
                                    help_text=_('This field allows you to specify the screens whose links will be displayed on the screen menu. Screen identifiers must be separated by commas, the keywords @boards (all boards screens), @input (all input screens), @players (all players screens), @ranking (all ranking screens) as well as the wildcard * can be used. If this field is left empty, no menu will be displayed on the screen.'),
                                    data=data, errors=errors
                                ) }}
                            </div>
                            <div class="col-12 col-md-6 col-xl-3 mb-3">
                                {{ admin_macros.switch_input(
                                    name='menu_link',
                                    label=_('Links to this screen:'),
                                    placeholder=_('Allow'),
                                    help_text=_('Check the box to allow other screens to display a link to this screen.'),
                                    data=data, errors=errors
                                ) }}
                            </div>
                            <div class="col-12 col-md-6 col-xl-4 mb-3">
                                {{ admin_macros.text_input(
                                    name='menu_text',
                                    label=_('Menu link label:'),
                                    placeholder=_('E.g.: Link to my screen'),
                                    help_text=_('This label will be used for the link to other screens to this screen. If left empty, a default label will be used.'),
                                    data=data, errors=errors
                                ) }}
                            </div>
                            <script>
                                $('#menu-text').prop('disabled', $('#menu-link').val() != 'on');
                                $('#menu-link').click(function() {
                                    if ($(this).is(':checked')) {
                                        $('#menu-text').prop('disabled', false);
                                    } else {
                                        $('#menu-text').prop('disabled', true);
                                    }
                                });
                            </script>
                        </div>
                    {% endif %}
                {% endif %}
            </form>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                data-bs-dismiss="modal"
                class="btn btn-secondary text-nowrap"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            <button
                type="submit"
                form="modal-form"
                class="text-nowrap white btn {% if action == 'delete' %}btn-danger{% else %}btn-primary{% endif %}"
            >
                <i class="bi-floppy-fill pe-1"></i>
                {% if action in ['create', 'clone', ] %}
                    {{ _('Create') }}
                {% elif action == 'update' %}
                    {{ _('Update') }}
                {% elif action == 'delete' %}
                    {{ _('Delete') }}
                {% else %}
                    ?
                {% endif %}
            </button>
        </div>
    </div>
</div>
