<div
    id="admin-screen-sets-modal"
    class="modal-dialog modal-dialog-scrollable admin-screen-sets-modal"
>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {% set _first_set = admin_screen.sorted_screen_sets | first %}
                {% if admin_screen.type in ['boards', 'input'] %}
                    {% if _first_set and _first_set.shows_team_matches %}
                        {{ _('Match sets of screen %(screen_name)s', screen_name=admin_screen.name) }}
                    {% else %}
                        {{ _('Board sets of screen %(screen_name)s', screen_name=admin_screen.name) }}
                    {% endif %}
                {% elif admin_event.is_team_event %}
                    {{ _('Team sets of screen %(screen_name)s', screen_name=admin_screen.name) }}
                {% else %}
                    {{ _('Player sets of screen %(screen_name)s', screen_name=admin_screen.name) }}
                {% endif %}
            </h2>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="{{ _('Close') }}"
            ></button>
        </div>
        <div class="modal-body">
            <div class="d-flex justify-content-end mb-3">
                <button
                    class="btn btn-primary text-nowrap"
                    hx-get="{{ url_for('admin-screen-set-create-modal', event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id) }}"
                    hx-target="body"
                    hx-indicator="#please-wait"
                    data-bs-target="#modal-wrapper"
                >
                    <i class="bi-plus-square-fill pe-1"></i>
                    {{ _('Add a set') }}
                </button>
            </div>
            <p>
                {% if admin_screen.screen_sets_by_id|length > 1 %}
                    {{ _('Drag the sets to order them.') }}
                {% endif %}
            </p>
            {% if admin_screen.sorted_screen_sets|length > 1 %}
                <form
                    class="sortable"
                    hx-patch="{{ url_for('admin-screen-reorder-sets', event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id) }}"
                    hx-target="body"
                    hx-trigger="end"
                    hx-indicator="#please-wait"
                >
            {% endif %}
                {% for screen_set in admin_screen.sorted_screen_sets %}
                    {% include 'screen_sets_modal_set_div.html' %}
                {% endfor %}
            {% if admin_screen.sorted_screen_sets|length > 1 %}
                </form>
            {% endif %}
        </div>
    </div>
</div>

<script>requestRefresh()</script>
