{% extends '../common/card.html' %}

{% block card_header %}
    {% if client.can_manage_screens %}
        {{ macros.screen_visibility_icon(screen, 'pe-1') }}
    {% endif %}
    {{ screen.name }}
{% endblock %}

{% block card_title %}
    <span class="pe-1">{{ macros.screen_type_icon(screen.type, true) }}</span>{{ screen.type_str }}
{% endblock %}

{% block card_text %}
    <div class="d-flex flex-column gap-1">
        {% if show_details and client.can_manage_screens %}
            {% if screen.type in ['input', 'boards', 'players', 'results', 'ranking', 'check-in'] %}
                <div>
                    <span class="pe-1">{{ macros.screen_type_icon(screen.type, true) }}</span>
                    {{ _('Type: %(screen_type)s', screen_type=screen.type_str) }}
                </div>
            {% endif %}
        {% endif %}
        {% if show_details and client.can_view_public_screens %}
            {% if screen.type == 'ranking' %}
                <div class="{% if not screen.ranking_round %}text-secondary{% endif %}">
                    {% if screen.ranking_round %}
                        {{ _('Round: %(round)d', round=screen.ranking_round) }}
                    {% else %}
                        {{ _('Round: the last finished round') }}
                    {% endif %}
                </div>
                {% if screen.ranking_min_points or screen.ranking_max_points %}
                    <div>
                        {% if screen.ranking_min_points and screen.ranking_max_points %}
                            {{ _('Points: %(min)s to %(max)s', min='%0.2f' % screen.ranking_min_points, max='%0.2f' % screen.ranking_max_points) }}
                        {% elif screen.ranking_min_points %}
                            {{ _('Points: %(min)s or more', min='%0.2f' % screen.ranking_min_points) }}
                        {% else %}
                            {{ _('Points: up to %(max)s', max='%0.2f' % screen.ranking_max_points) }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
            {% if screen.type == 'players' %}
                {% with entity=screen, tournament=screen.sorted_screen_sets[0].tournament %}
                    {% include '../common/card_players_screen_display.html' %}
                {% endwith %}
            {% endif %}
            {% if screen.type == 'results' %}
                <div>
                    {% if screen.results_limit %}
                        {{ _('Max number: %(num)d', num=screen.results_limit) }}
                    {% else %}
                        {{ _('Max number: unlimited') }}
                    {% endif %}
                </div>
                <div>
                    {% if screen.results_max_age %}
                        {{ ngettext('Max age: %(num)d minute', 'Max age: %(num)d minutes', screen.results_max_age) }}
                    {% else %}
                        {{ _('Max age: unlimited') }}
                    {% endif %}
                    {% if not screen.stored_screen.results_max_age %}
                        <span class="fst-italic">
                            {{ _('(by default)') }}
                        </span>
                    {% endif %}
                </div>
            {% endif %}
            {% if screen.type == 'image' %}
                <i class="bi-image pe-1"></i>
                <div>
                    {% if screen.stored_screen.background_image %}
                        {{ _('Image: %(image)s', image=screen.stored_screen.background_image) }}
                    {% endif %}
                </div>
                <div>
                    {{ _('Background colour: %(color)s', color=screen.background_color) }}
                    {% if not screen.stored_screen.background_color %}
                        <span class="fst-italic">
                            {{ _('(by default)') }}
                        </span>
                    {% endif %}
                </div>
            {% endif %}
            {% if screen.message_text %}
                <div
                        class="px-2 alert-message screen-alert-message"
                        style="background-color: {{ admin_event.message_background_color }}; color: {{ admin_event.message_color }}"
                >
                    {{ screen.message_text }}
                    {% if screen.message_default %}
                        <span class="fst-italic">
                            {{ _('(by default)') }}
                        </span>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
        {% if screen.type in ['input', 'boards', 'players', 'results', 'ranking', 'check-in'] %}
            <div>
                {{ _('Columns:') }} {% for i in range(screen.columns) %}<i class="bi-square-fill"></i> {% endfor %}
            </div>
            <div>
                <i class="bi-hand-index pe-1"></i>
                {{ _('Menu label: %(menu_label)s', menu_label=screen.menu_entry_label) }}
            </div>
            <div class="{% if not screen.timer %}text-secondary{% endif %}">
                <i class="bi-clock-fill pe-1"></i>
                {% if screen.timer %}{{ _('Timer: %(timer_uniq_id)s', timer_uniq_id=screen.timer.name) }}{% else %}<span class="fst-italic">{{ _('Timer: none') }}</span>{% endif %}
            </div>
        {% endif %}
        {% if show_details and client.can_manage_screens %}
            {% if screen.type in ('input', 'check-in') %}
                <div>
                    <i class="bi-x-circle pe-1"></i>
                    {{ _('Exit button:') }}
                    {% if screen.input_exit_button %}
                        {{ _('yes') }}
                    {% else %}
                        {{ _('no') }}
                    {% endif %}
                </div>
            {% endif %}
            <div class="fst-italic">
                {{ _('No alert message') }}
                {% if screen.message_default %}{{ _('(by default)') }}{% endif %}
            </div>
            <hr/>
        {% endif %}

        {% if screen.type in ['boards', 'input', 'players', 'ranking', 'check-in'] %}
            {% for screen_set in screen.sorted_screen_sets %}
                <div>
                    {{ screen_set.tournament.name }}
                    ({{ screen_set.numbers_str }})
                </div>
            {% endfor %}
        {% endif %}
        {% if screen.type == 'results' %}
            {% if screen.results_tournament_ids %}
                {{ screen.results_tournament_names }}
            {% else %}
                {{ _('All the tournaments') }}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block card_buttons_left %}
    {% if client.can_manage_screens %}
        {% if not screen.family and screen.type in ['boards', 'input', 'players', 'ranking', 'check-in'] %}
            <span
                {{ macros.tooltip_attributes(
                    'info',
                    (
                        _('Edit the sets of matches displayed on the screen.')
                        if screen.type in ['boards', 'input'] else
                        _('Edit the sets of teams displayed on the screen.')
                    )
                    if admin_event.is_team_event else (
                        _('Edit the sets of boards displayed on the screen.')
                        if screen.type in ['boards', 'input'] else
                        _('Edit the sets of players displayed on the screen.')
                    ),
                    'top')
                }}
            >
                <button
                    class="btn btn-sm btn-outline-primary"
                    hx-get="{{ url_for('admin-screen-sets-modal', event_uniq_id=admin_event.uniq_id, screen_id=screen.id) }}"
                    hx-target="body"
                    hx-indicator="#please-wait"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-wrapper"
                >
                    <i class="bi-collection-fill pe-1"></i>
                    {% set _first_set = screen.sorted_screen_sets | first %}
                    {% if screen.type in ['boards', 'input'] %}
                        {{ _('Matches') if _first_set and _first_set.shows_team_matches else _('Boards') }}
                    {% elif admin_event.is_team_event %}
                        {{ _('Teams') }}
                    {% else %}
                        {{ _('Players') }}
                    {% endif %}
                </button>
            </span>
        {% endif %}
        <span {{ macros.tooltip_attributes('info', _('Go to the screen.'), 'top') }}>
            <a
                class="btn btn-sm btn-outline-primary"
                href="{{ url_for(
                    'user-screen',
                    event_uniq_id=admin_event.uniq_id,
                    screen_uniq_id=screen.uniq_id
                ) }}"
                target="_blank"
            >
                <i class="bi bi-eye"></i>
            </a>
        </span>
        {% if not screen.family %}
            {{ admin_macros.display_controller_assign_dropdown(
                admin_event.sorted_display_controllers, 'screen', screen.uniq_id
            ) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block card_buttons_right %}
    {% if client.can_manage_screens %}
        {% if not screen.family  %}
            <span
                {{ macros.tooltip_attributes('info', _('Edit the properties of the screen.'), 'top') }}
            >
                <button
                    class="btn btn-sm btn-outline-primary"
                    hx-get="{{ url_for('admin-screen-modal', action='update', event_uniq_id=admin_event.uniq_id, screen_id=screen.id) }}"
                    hx-target="body"
                    hx-indicator="#please-wait"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-wrapper"
                >
                    <i class="bi-pencil-fill"></i>
                </button>
            </span>
            <span {{ macros.tooltip_attributes('info', _('Duplicate the screen.'), 'top') }}>
                <button
                    class="btn btn-sm btn-outline-primary"
                    hx-get="{{ url_for('admin-screen-modal', action='clone', event_uniq_id=admin_event.uniq_id, screen_id=screen.id) }}"
                    hx-target="body"
                    hx-indicator="#please-wait"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-wrapper"
                >
                    <i class="bi-copy"></i>
                </button>
            </span>
            <span {{ macros.tooltip_attributes('info', _('Delete the screen.'), 'top') }}>
                <button
                    class="btn btn-sm btn-outline-danger"
                    hx-get="{{ url_for('admin-screen-modal', action='delete', event_uniq_id=admin_event.uniq_id, screen_id=screen.id) }}"
                    hx-target="body"
                    hx-indicator="#please-wait"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-wrapper"
                >
                    <i class="bi-trash-fill"></i>
                </button>
            </span>
        {% endif %}
    {% endif %}
{% endblock %}
