<div class="admin-screen-sets-modal-screen-set-div {% if not admin_screen_set and admin_screen.screen_sets_sorted_by_order|length > 1 %}cursor-grab{% endif %}">
    <input type='hidden' name='item' value='{{ screen_set.id }}'/>
    {% if admin_screen_set.id == screen_set.id %}
        <form>
            <div class="admin-screen-set-div edit border border-secondary p-2 mb-1">
                <h4>
                    {{ _('Properties') }}
                </h4>
                <div class="row">
                    <div class="col-12 col-md-6 mb-2">
                        {{ admin_macros.select_input(
                            name='tournament_id',
                            label=_('Tournament:'),
                            help_text=_('The tournament of which you want to show the pairings, mandatory.'),
                            select_options=tournament_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6 mb-2">
                        {{ admin_macros.text_input(
                            name='name',
                            label=_('Name:'),
                            placeholder=_('E.g.: Boards %%f to %%l') if admin_screen.type in ['boards', 'input'] else _('E.g.: Players %%f to %%l'),
                            help_text=_('The name of the screen set (the name of the first set of a screen is by default the name of the screen).'),
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                {% if admin_screen.type in ['boards', 'input', 'players', 'ranking', ] %}
                    <h4 class="mt-4">
                        {% if admin_screen.type in ['boards', 'input'] %}
                            {{ _('Board selection (by number)') }}
                        {% elif admin_screen.type == 'players' %}
                            {{ _('Player selection (by alphabetical order)') }}
                        {% else %}
                            {{ _('Player selection (by rank)') }}
                        {% endif %}
                    </h4>
                    <div class="row">
                        <div class="{% if admin_screen.type in ['boards', 'input'] %}col-4{% else %}col-6{% endif %}">
                            {% if admin_screen.type in ['boards', 'input'] %}
                                {% set help_text=_('The number of the first board to select, optional (the first board by default).') %}
                            {% elif admin_screen.type == 'players' %}
                                {% set help_text=_('The number of the first player to select, optional (the first player by alphabetical order by default).') %}
                            {% else %}
                                {% set help_text=_('The rank of the first player to select, optional (1 by default).') %}
                            {% endif %}
                            {{ admin_macros.number_input(
                                name='first',
                                label=_('First board:') if admin_screen.type in ['boards', 'input'] else _('First player:'),
                                placeholder=_('E.g.: %(num)d', num=15),
                                help_text=
                                    _('The number of the first board to select, optional (the first board by default).')
                                    if admin_screen.type in ['boards', 'input'] else
                                    _('The number of the first player to select, optional (the first player by alphabetical order by default).'),
                                data=data, errors=errors,
                                number_min=1
                            ) }}
                        </div>
                        <div class="{% if admin_screen.type in ['boards', 'input'] %}col-4{% else %}col-6{% endif %}">
                            {% if admin_screen.type in ['boards', 'input'] %}
                                {% set help_text=_('The number of the last board to select, optional (the last board by default).') %}
                            {% elif admin_screen.type == 'players' %}
                                {% set help_text=_('The number of the last player to select, optional (the last player by alphabetical order by default).') %}
                            {% else %}
                                {% set help_text=_('The rank of the last player to select, optional (the rank of the last rank player by default).') %}
                            {% endif %}
                            {{ admin_macros.number_input(
                                name='last',
                                label=_('Last board:') if admin_screen.type in ['boards', 'input'] else _('Last player:'),
                                placeholder=_('E.g.: %(num)d', num=40),
                                help_text=
                                    _('The number of the last board to select, optional (the last board by default).')
                                    if admin_screen.type in ['boards', 'input'] else
                                    _('The number of the last player to select, optional (the last player by alphabetical order by default).'),
                                data=data, errors=errors,
                                number_min=1
                            ) }}
                        </div>
                        {% if admin_screen.type in ['boards', 'input'] %}
                            <div class="col-4">
                                {{ admin_macros.text_input(
                                    name='fixed_boards_str',
                                    label=_('Fixed boards:'),
                                    placeholder=_('E.g.: %(string)s', string='501, 502'),
                                    help_text=_('Comma-separated board numbers ; if this field is set, other fields are omitted.'),
                                    data=data, errors=errors
                                ) }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="mt-4 col-12 text-end">
                    <button
                        type="button"
                        class="btn btn-sm btn-primary text-nowrap mb-1"
                        hx-patch="{{ url_for('admin-screen-set-update', event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id, screen_set_id=admin_screen_set.id) }}"
                        hx-indicator="#please-wait"
                    >
                        <i class="bi-floppy-fill pe-1"></i>
                        {{ _('Update') }}
                    </button>
                    <button
                        type="button"
                        class="btn btn-sm btn-secondary text-nowrap mb-1"
                        hx-get="{{ url_for('admin-screen-sets-modal', event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id) }}"
                        hx-indicator="#please-wait"
                        hx-trigger="click, keyup[key=='Escape'] from:body"
                    >
                        <i class="bi-x-circle-fill pe-1"></i>
                        {{ _('Cancel') }}
                    </button>
                </div>
            </div>
        </form>
    {% else %}
        <div class="admin-screen-set-div border border-secondary p-1 mb-1">
            <div class="d-flex gap-4 px-2">
                <div class="flex-grow-1">
                    <div>
                        <b>
                            {% if screen_set.tournament %}
                                {{ _('Tournament: %(tournament_name)s', tournament_name=screen_set.tournament.name) }}
                            {% else %}
                                <span class="text-danger">
                                    {{ _('Tournament: not set') }}
                                </span>
                            {% endif %}
                        </b>
                    </div>
                    <div>
                        {{ _('Selection: %(selection)s', selection=screen_set.numbers_str) }}
                    </div>
                    <div>
                        {% if screen_set.name %}
                            {{ _('Name: %(screen_set_name)s', name=screen_set.name) }}
                        {% else %}
                            <span class="fst-italic">
                                {{ _('Name: by default') }}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="d-flex gap-2 align-items-center">
                    {% if not admin_screen_set %}
                        {% if admin_screen.screen_sets_sorted_by_order|length > 1 %}
                            <i class="bi-arrows-move"></i>
                        {% endif %}
                        <button
                            class="btn btn-sm btn-primary text-nowrap"
                            hx-get="{{ url_for('admin-screen-sets-set-modal', event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id, screen_set_id=screen_set.id) }}"
                            hx-target="#modal-wrapper"
                            hx-indicator="#please-wait"
                            preload
                            data-bs-toggle="modal"
                            data-bs-target="#modal-wrapper"
                        >
                            <i class="bi-pencil-fill"></i>
                        </button>
                        <button
                            class="btn btn-sm btn-primary text-nowrap"
                            hx-post="{{ url_for('admin-screen-set-clone', event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id, screen_set_id=screen_set.id) }}"
                            hx-target="body"
                            hx-indicator="#please-wait"
                            preload
                        >
                            <i class="bi-copy"></i>
                        </button>
                        <button
                            class="btn btn-sm btn-danger text-nowrap"
                            hx-delete="{{ url_for('admin-screen-set-delete', event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id, screen_set_id=screen_set.id) }}"
                            hx-target="body"
                            hx-indicator="#please-wait"
                            preload
                            {% if admin_screen.screen_sets_sorted_by_order|length <= 1 %}
                                disabled
                            {% endif %}
                        >
                            <i class="bi-trash-fill"></i>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
