<div
    id="admin-screen-sets-modal"
    class="modal-dialog modal-dialog-scrollable admin-screen-sets-modal"
>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {% set _first_set = admin_screen.sorted_screen_sets | first %}
                {% if admin_screen.type in ['boards', 'input'] %}
                    {% if _first_set and _first_set.shows_team_matches %}
                        {{ _('Match sets of screen [%(screen_uniq_id)s]', screen_uniq_id=admin_screen.uniq_id) }}
                    {% else %}
                        {{ _('Board sets of screen [%(screen_uniq_id)s]', screen_uniq_id=admin_screen.uniq_id) }}
                    {% endif %}
                {% elif admin_event.is_team_event %}
                    {{ _('Team sets of screen [%(screen_uniq_id)s]', screen_uniq_id=admin_screen.uniq_id) }}
                {% else %}
                    {{ _('Player sets of screen [%(screen_uniq_id)s]', screen_uniq_id=admin_screen.uniq_id) }}
                {% endif %}
            </h2>
        </div>
        <div class="modal-body">
            <p>
                {% if admin_screen_set %}
                    {{ _('Save the set or cancel.') }}
                {% elif admin_screen.screen_sets_by_id|length > 1 %}
                    {{ _('Drag the sets to order them.') }}
                {% endif %}
            </p>
            {% if not admin_screen_set and admin_screen.sorted_screen_sets|length > 1 %}
                <form
                    class="sortable"
                    hx-patch="{{ url_for('admin-screen-reorder-sets', event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id) }}"
                    hx-target="body"
                    hx-trigger="end"
                    hx-indicator="#please-wait"
                >
            {% endif %}
                {% for screen_set in admin_screen.sorted_screen_sets %}
                    {% include 'screen_sets_modal_set_div.html' %}
                {% endfor %}
            {% if not admin_screen_set and admin_screen.sorted_screen_sets|length > 1 %}
                </form>
            {% endif %}
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                {% if admin_screen_set %}
                    disabled
                {% else %}
                    data-bs-dismiss="modal"
                {% endif %}
            >
                <i class="bi-x-circle-fill"></i>
                {{ _('Close') }}
            </button>
            <button
                class="btn btn-primary text-nowrap"
                {% if admin_screen_set %}
                    disabled
                {% else %}
                    hx-post="{{ url_for('admin-screen-set-add', event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id) }}"
                    hx-target="body"
                    hx-indicator="#please-wait"
                {% endif %}
            >
                <i class="bi-plus-square-fill pe-1"></i>
                {{ _('Add a set') }}
            </button>
        </div>
    </div>
</div>

<script>requestRefresh()</script>
