<div
    class="modal-dialog modal-dialog-scrollable admin-screen-edit-modal"
    {% if action == 'delete' %}
        style="--bs-modal-width: fit-content;"
    {% endif %}
>
    <div class="modal-content">
        <div class="modal-header">
            {% if action == 'update' %}
                {% include 'screen_update_modal_header.html' %}
            {% elif action in ['create', 'clone', ] %}
                <div class="vstack">
                    <h2 class="modal-title">
                        {{ _('Create screen') }}
                    </h2>
                    <div class="form-text pt-0 mt-0">
                        {{ _('%(string)s: %(value)s', string=_('Screen type'), value=screen_type.name) }}
                    </div>
                </div>
            {% elif action == 'delete' %}
                 <h2 class="modal-title">
                   {{ _('Delete screen') }}
                </h2>
            {% endif %}
        </div>
        <div class="modal-body">
            <form
                id="modal-form"
                hx-trigger="submit, enterKeypressFromModal"
                {% if action == 'create' %}
                    hx-post="{{ url_for('admin-screen-' ~ action, event_uniq_id=admin_event.uniq_id, screen_type=screen_type.value) }}"
                {% elif action == 'clone' %}
                    hx-post="{{ url_for('admin-screen-' ~ action, event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id) }}"
                {% elif action == 'update' %}
                    hx-patch="{{ url_for('admin-screen-' ~ action, event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id) }}"
                {% elif action == 'delete' %}
                    hx-delete="{{ url_for('admin-screen-' ~ action, event_uniq_id=admin_event.uniq_id, screen_id=admin_screen.id) }}"
                {% else %}
                    hx-get="{{ url_for('unknown-action-' ~ action) }}"
                {% endif %}
                hx-target="body"
                hx-indicator="#please-wait"
            >
                {% if action == 'delete' %}
                    <h4>
                        {{ _('%(string)s: %(value)s', string=_('Screen'), value=admin_screen.uniq_id) }}
                    </h4>
                    <h4 class="text-danger">
                        {{ _('Warning: the deletion is permanent!') }}
                    </h4>
                {% else %}
                    <h4>{{ _('Properties') }}</h4>
                    <div class="row gy-2 gx-3">
                        <div class="col-12">
                            {{ admin_macros.switch_input(
                                name='public',
                                label='',
                                placeholder=_('Public screen'),
                                tooltip_text=_('Only allowed users can see private screens.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-12 col-md-6">
                            {{ admin_macros.text_input(
                                name='name',
                                label=_('Name:'),
                                placeholder=_('E.g.: My screen'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        {% if screen_type.value != 'image' %}
                            <div class="col-12 col-md-6">
                                {{ admin_macros.text_input(
                                    name='menu_text',
                                    label=_('Menu label:'),
                                    placeholder=_('E.g.: My screen'),
                                    tooltip_text=_('The label used for this screen in menus. If left empty, a default label will be used.'),
                                    data=data, errors=errors
                                ) }}
                            </div>
                        {% endif %}
                        {% if action == 'create' and screen_type.value in ['input', 'boards', 'players', 'ranking', 'check-in'] %}
                            <div class="col-12 col-md-6">
                                {{ admin_macros.select_input(
                                    name='init_set_tournament_id',
                                    label=_('Tournament:'),
                                    tooltip_text=_('The first tournament of the screen.'),
                                    select_options=tournament_options,
                                    data=data, errors=errors
                                ) }}
                            </div>
                        {% endif %}
                        {% if screen_type.value == 'ranking' %}
                            <div class="col-12 col-md-6">
                                {% include '../common/modal/ranking_crosstable.html' %}
                            </div>
                            <div class="col-12 col-md-6">
                                {% include '../common/modal/ranking_round.html' %}
                            </div>
                        {% endif %}
                        {% if screen_type.value == 'image' %}
                            <div class="col-12 col-md-6">
                                {{ admin_macros.text_input(
                                    name='background_image',
                                    label=_('Background image:'),
                                    placeholder=_('E.g.: https://my.club.us/tournament.jpg'),
                                    tooltip_text=_('The URL of the image to display.'),
                                    data=data, errors=errors
                                ) }}
                            </div>
                            <div class="col-12 col-md-6">
                                {{ admin_macros.color_input(
                                    name='background_color',
                                    label=_('Background colour:'),
                                    default_checkbox=true,
                                    default_color=admin_event.background_color,
                                    data=data, errors=errors
                                ) }}
                            </div>
                        {% endif %}
                    </div>

                    {% if screen_type.value in ['players', 'ranking', 'results', ] %}
                        <h4>
                            {{ _('Selection') }}
                        </h4>
                        <div class="row gy-2 gx-3">
                            {% if screen_type.value == 'players' %}
                                <div class="col-12 col-md-6">
                                    {% include '../common/modal/players_show_unpaired.html' %}
                                </div>
                            {% endif %}
                            {% if screen_type.value == 'ranking' %}
                                <div class="col-12 col-md-6">
                                    {% include '../common/modal/ranking_min_points.html' %}
                                </div>
                                <div class="col-12 col-md-6">
                                    {% include '../common/modal/ranking_max_points.html' %}
                                </div>
                            {% endif %}
                            {% if screen_type.value == 'results' %}
                                <div class="col-12 col-md-6">
                                    {{ admin_macros.number_input(
                                        name='results_limit',
                                        label=_('Maximum number of results displayed:'),
                                        placeholder=_('E.g.: %(num)d', num=30),
                                        tooltip_text=_('The maximum number of results displayed on the screen, optional (if left empty, all the results are displayed).'),
                                        data=data, errors=errors
                                    ) }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ admin_macros.number_input(
                                        name='results_max_age',
                                        label=_('Maximum age of the results:'),
                                        placeholder=_('E.g.: %(minutes)d (minutes)', minutes=45),
                                        tooltip_text=_('The maximum age of the results, in minutes (by default %(minutes)d minutes).', minutes=sharly_chess_config.default_results_screen_max_age),
                                        data=data, errors=errors
                                    ) }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ admin_macros.select_input(
                                        name='results_tournament_ids',
                                        label=_('Tournaments displayed:'),
                                        placeholder=_('All the tournaments'),
                                        multiple_select=true,
                                        select_options=tournament_options,
                                        data=data, errors=errors
                                    ) }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if screen_type.value in ['input', 'boards', 'players', 'results', 'ranking', 'check-in'] %}
                        <h4>
                            {{ _('Layout') }}
                        </h4>
                        <div class="row gy-2 gx-3">
                            {% if admin_event.timers_by_id %}
                                <div class="col-12 col-md-6">
                                    {{ admin_macros.select_input(
                                        name='timer_id',
                                        label=_('Timer:'),
                                        tooltip_text=_('The timer displayed on the screen.'),
                                        select_options=timer_options,
                                        data=data, errors=errors
                                    ) }}
                                </div>
                            {% endif %}
                            <div class="col-12 col-md-6">
                                {{ admin_macros.number_input(
                                    name='columns',
                                    label=_('Columns:'),
                                    placeholder=_('E.g.: %(num)d', num=2),
                                    tooltip_text=_('The number of columns used to display data.'),
                                    data=data, errors=errors
                                ) }}
                            </div>
                            <div class="col-12 col-md-6">
                                {{ admin_macros.number_input(
                                    name='font_size',
                                    label=_('Font size adjustment (%%):'),
                                    placeholder=100,
                                    data=data, errors=errors
                                ) }}
                            </div>
                            {% if screen_type.value in ('input', 'check-in') %}
                                <div class="col-12 col-md-6">
                                    {% include '../common/modal/exit_button.html' %}
                                </div>
                            {% endif %}
                            {% if screen_type.value == 'players' %}
                                <div class="col-12 col-md-6">
                                    {% include '../common/modal/players_player_format.html' %}
                                </div>
                                <div class="col-12 col-md-6">
                                    {% include '../common/modal/players_board_format.html' %}
                                </div>
                                <div class="col-12 col-md-6">
                                    {% include '../common/modal/players_opponent_format.html' %}
                                </div>
                            {% endif %}
                            <div class="col-12">
                                {% include '../common/modal/alert_message.html' %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </form>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                data-bs-dismiss="modal"
                class="btn btn-secondary text-nowrap"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            <button
                type="submit"
                form="modal-form"
                class="text-nowrap white btn {% if action == 'delete' %}btn-danger{% else %}btn-primary{% endif %}"
            >
                {% if action in ['create', 'clone', ] %}
                    <i class="bi-floppy-fill pe-1"></i>
                    {{ _('Create') }}
                {% elif action == 'update' %}
                    <i class="bi-floppy-fill pe-1"></i>
                    {{ _('Save') }}
                {% elif action == 'delete' %}
                    <i class="bi-trash pe-1"></i>
                    {{ _('Delete') }}
                {% else %}
                    ?
                {% endif %}
            </button>
        </div>
    </div>
</div>
