{% extends '../../common/cards_container.html' %}

{% block cards_container_title %}
    {{ macros.event_visibility_icon(admin_event, 'pe-1') }}
    {{ admin_event.name }} - {{ _('Screens') }}
{% endblock %}

{% block cards_container_right_buttons %}
    {% with id='admin-screens-show-family-screens', name='admin_screens_show_family_screens', show=admin_screens_show_family_screens %}
        <div
            class="form-check form-switch d-inline-block pe-2"
            {{ macros.tooltip_attributes('info', _('Show/hide the screens created from screen families.'), 'top') }}
        >
            <input
                hx-get="{{ url_for('admin-event-screens-tab', event_uniq_id=admin_event.uniq_id) }}"
                hx-vals='{"{{ name }}": "{% if show %}false{% else %}true{% endif %}"}'
                hx-target="body"
                hx-indicator="#please-wait"
                class="form-check-input"
                type="checkbox"
                id="{{ id }}"
                {% if show %}checked{% endif %}
            />
            <label for="{{ id }}" class="form-check-label"> {{ _('Families') }}</label>
        </div>
    {% endwith %}
    {% with id='admin-screens-show-details', name='admin_screens_show_details', show=admin_screens_show_details %}
        <div
            class="form-check form-switch d-inline-block pe-2"
            {{ macros.tooltip_attributes('info', _('Enable/disable the details of the screens on the cards below.'), 'top') }}
        >
            <input
                hx-get="{{ url_for('admin-event-screens-tab', event_uniq_id=admin_event.uniq_id) }}"
                hx-vals='{"{{ name }}": "{% if show %}false{% else %}true{% endif %}"}'
                hx-target="body"
                hx-indicator="#please-wait"
                class="form-check-input"
                type="checkbox"
                id="{{ id }}"
                {% if show %}checked{% endif %}
            />
            <label for="{{ id }}" class="form-check-label"> {{ _('Details') }}</label>
        </div>
    {% endwith %}
    <span {{ macros.tooltip_attributes('info', _('Refresh this page.'), 'top') }}>
        <button
            class="btn btn-outline-primary text-nowrap"
            hx-get="{{ url_for('admin-event-screens-tab', event_uniq_id=admin_event.uniq_id) }}"
            preload
            hx-target="body"
            hx-indicator="#please-wait"
        >
            <i class="bi-arrow-clockwise"></i>
        </button>
    </span>
    <span
        class="dropdown-end"
        {% if not admin_event.tournaments_by_id %}
            {{ macros.tooltip_attributes(
                'info',
                _('You must create a tournament before creating screens.'),
                'left'
            ) }}
        {% endif %}
    >
        <button
            class="btn btn-primary dropdown-toggle mx-auto"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            {% if not admin_event.tournaments_by_id %}
                disabled
            {% endif %}
        >
            <i class="bi-plus-square pe-1"></i>
            {{ _('Create a screen') }}
        </button>
        <ul class="dropdown-menu">
            {% for screen_type, screen_data in {
                'input': { 'title': _('Results entry'), 'icon_class': 'bi-pencil','tooltip_text': _('Add a screen to enter the results.'),  },
                'boards': { 'title': _('Pairings by board'), 'icon_class': 'bi-card-list', 'tooltip_text': _('Add a screen to display the pairings by board.'), },
                'players': { 'title': _('Pairings by player'), 'icon_class': 'bi-people', 'tooltip_text': _('Add a screen to display the pairings by alphabetical order.'), },
                'results': { 'title': _('Last results'), 'icon_class': 'bi-1-square', 'tooltip_text': _('Add a screen to display the last results.'), },
                'ranking': { 'title': _('Ranking'), 'icon_class': 'bi-trophy', 'tooltip_text': _('Add a screen to display the ranking.'), },
                'image': { 'title': _('Image'), 'icon_class': 'bi-image', 'tooltip_text': _('Add a screen to display an image.'), },
            }.items() %}
                <li
                    class="dropdown-item text-start cursor-pointer"
                    hx-get="{{ url_for('admin-screen-create-modal', event_uniq_id=admin_event.uniq_id, screen_type=screen_type) }}"
                    hx-target="#modal-wrapper"
                    hx-indicator="#please-wait"
                    preload
                    data-bs-toggle="modal"
                    data-bs-target="#modal-wrapper"
                    hx-trigger="click, keyup[key=='Enter']"
                    tabindex="0
                    {{ macros.tooltip_attributes('info', screen_data.tooltip_text, 'left') }}
                >
                    <i class="{{ screen_data['icon_class'] }}"></i>
                    {{ screen_data['title'] }}
                </li>
            {% endfor %}
        </ul>
    </span>
{% endblock %}

{% block cards_container_cards %}
    {% with screens=admin_event.screens_sorted_by_uniq_id if admin_screens_show_family_screens else admin_event.basic_screens_by_uniq_id.values() %}
        {% for screen_type, screen_data in {
            'input': {
                'title': _('Results entry'),
                'checkbox_tooltip_text': _('Show/hide the input screens.'),
                'icon_class': 'bi-pencil',
            },
            'boards': {
                'title': _('Pairings by board'),
                'checkbox_tooltip_text': _('Show/hide the boards screens.'),
                'icon_class': 'bi-card',
            },
            'players': {
                'title': _('Pairings by player'),
                'checkbox_tooltip_text': _('Show/hide the players screens.'),
                'icon_class': 'bi-people',
            },
            'results': {
                'title': _('Last results'),
                'checkbox_tooltip_text': _('Show/hide the results screens.'),
                'icon_class': 'bi-1-square',
            },
            'ranking': {
                'title': _('Ranking'),
                'checkbox_tooltip_text': _('Show/hide the ranking screens.'),
                'icon_class': 'bi-trophy',
            },
            'image': {
                'title': _('Image'),
                'checkbox_tooltip_text': _('Show/hide the image screens.'),
                'icon_class': 'bi-image',
            },
        }.items() %}
            <div class="row">
                <div class="col-12 fs-5 text-nowrap d-inline-flex align-items-center gap-4 mb-2 {% if not screen_type in admin_screens_screen_types %}text-secondary{% endif %}">
                    {% with id='admin-screens-show-'~screen_type, name='admin_screens_show_'~screen_type %}
                        <button
                            type="button"
                            class="collapse-button {% if not screen_type in admin_screens_screen_types %}collapsed{% endif %}"
                            data-bs-toggle="collapse"
                            data-bs-target="#{{ id }}"
                            aria-expanded="{{ 'true' if screen_type in admin_screens_screen_types else 'false' }}"
                            hx-get="{{ url_for('admin-event-screens-tab', event_uniq_id=admin_event.uniq_id) }}"
                            hx-vals='js:{ {{name}}: !$(event.target).closest("button").hasClass("collapsed")}'
                            hx-swap="none"
                        >
                            <span
                                class="form-check-label d-inline-flex align-items-center gap-2"
                                {{ macros.tooltip_attributes('info', screen_data.checkbox_tooltip_text, 'top') }}
                            >
                                <i class="bi bi-chevron-down"></i>
                                {{ macros.screen_type_icon(screen_type, false) }}
                                {{ screen_data.title }}
                            </span>
                        </button>
                    {% endwith %}
                </div>
            </div>

            <div class="collapse {% if screen_type in admin_screens_screen_types %}show{% endif %}" id="admin-screens-show-{{ screen_type }}">
                {% set ns = namespace(screen_found=false) %}
                <div class="row mb-5">
                    {% for screen in screens %}
                        {% if screen.type == screen_type %}
                            {% set ns.screen_found=true %}
                            {% with
                                card_class='' if not screen.family else 'bg-secondary-subtle text-secondary'
                            %}
                                {% include 'screen_card.html' %}
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                    {% if not ns.screen_found %}
                        <div class="col-12 my-3">
                            {{ _('No such screens.') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endwith %}
{% endblock %}
