{% macro ffe_licence(ffe_licence, class) %}
    <!-- ffe_licence() -->
    <span class="player-ffe-lic ffe-lic-{{ ffe_licence.short_name }} ps-1 pe-1 {{ class }}"
    >{{ ffe_licence.short_name }}</span>
    <!-- end ffe_licence() -->
{% endmacro %}
