<div class="modal-dialog modal-dialog-centered admin-chessevent-edit-modal d-block">
    <form
            {% if action in ['create', 'clone', ] %}
                hx-post="{{ url_for('admin-chessevent-create', event_uniq_id=admin_event.uniq_id) }}"
            {% elif action == 'update' %}
                hx-patch="{{ url_for('admin-chessevent-' ~ action, event_uniq_id=admin_event.uniq_id, chessevent_id=admin_chessevent.id) }}"
            {% elif action == 'delete' %}
                hx-delete="{{ url_for('admin-chessevent-' ~ action, event_uniq_id=admin_event.uniq_id, chessevent_id=admin_chessevent.id) }}"
            {% else %}
                hx-get="{{ url_for('unknown-action-' ~ action) }}"
            {% endif %}
            hx-target="body"
            hx-indicator="#please-wait">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    {% if action in ['create', 'clone', ] %}
                        {{ _('ChessEvent connection creation') }}
                    {% elif action == 'update' %}
                        {{ _('Edition of ChessEvent connection [%(chessevent_uniq_id)s]', chessevent_uniq_id=admin_chessevent.uniq_id) }}
                    {% elif action == 'delete' %}
                        {{ _('Deletion of ChessEvent connection [%(chessevent_uniq_id)s]', chessevent_uniq_id=admin_chessevent.uniq_id) }}
                    {% else %}
                        ?
                    {% endif %}
                </h2>
            </div>
            <div class="modal-body">
                {% if action == 'delete' %}
                    <h3 class="text-danger">
                        {{ _('Warning: the deletion of a ChessEvent connection is permanent!') }}
                    </h3>
                    {% if admin_chessevent.dependent_tournaments %}
                        <p>{{ _('The following tournaments will not be connected to ChessEvent anymore:') }}</p>
                        <ul>
                            {% for tournament in admin_chessevent.dependent_tournaments %}
                                <li>{{ tournament.name }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% else %}
                    <h3>
                        {{ _('Properties') }}
                    </h3>
                    <div class="row">
                        <div class="col-4">
                            {{ text_input(
                                name='uniq_id',
                                label=_('ID (unique):'),
                                placeholder=_('E.g.: chessevent'),
                                help_text=_('The Unique ID, used to reference the ChessEvent connection.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>
                    <h3>
                        {{ _('Connection to the ChessEvent platform') }}
                    </h3>
                    <div class="row">
                        <div class="col-4">
                            {{ text_input(
                                name='user_id',
                                label=_('Chessevent ID:'),
                                placeholder=_('E.g.: %(string)s', string='Z00000'),
                                help_text=_('the ID used to connect to the ChessEvent platform.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-4">
                            {{ password_input(
                                name='password',
                                label=_('Password:'),
                                placeholder=_('E.g.: my_password'),
                                help_text=_('The password used to connect to the ChessEvent platform.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-4">
                            {{ text_input(
                                name='event_id',
                                label=_('ChessEvent event:'),
                                placeholder=_('E.g.: %(string)s', string='BRE_35_domloupfide36'),
                                help_text=_('The name of the event on the ChessEvent password.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer d-block">
                <div class="row">
                    <div class="col col-6 text-start">
                        <button
                                type="submit"
                                class="text-nowrap white btn {% if action == 'delete' %}btn-danger{% else %}btn-primary{% endif %} text-nowrap"
                        >
                            <i class="bi-floppy-fill"></i>
                            {% if action in ['create', 'clone', ] %}
                                {{ _('Create') }}
                            {% elif action == 'update' %}
                                {{ _('Update') }}
                            {% elif action == 'delete' %}
                                {{ _('Delete') }}
                            {% else %}
                                ?
                            {% endif %}
                        </button>
                    </div>
                    <div class="col col-6 text-end">
                        <button
                                class="btn btn-secondary text-nowrap"
                                hx-get="{{ url_for('admin-event-tab', event_uniq_id=admin_event.uniq_id, admin_event_tab='chessevents') }}"
                                preload
                                hx-target="body"
                                hx-trigger="click, keyup[key=='Escape'] from:body"
                                hx-indicator="#please-wait"
                                data-bs-dismiss="modal">
                            <i class="bi-x-circle-fill"></i>
                            {{ _('Cancel') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    (new bootstrap.Modal(document.getElementById('modal-wrapper'))).show();
</script>
