{% extends '../common/card.html' %}

{% block card_header %}
    {{ chessevent.uniq_id }}
{% endblock %}

{% block card_title %}
    {{ chessevent.uniq_id }}
{% endblock %}

{% block card_text %}
    <div>
        {{ _('Chessevent ID: %(chessevent_user_id)s', chessevent_user_id=chessevent.user_id) }}
    </div>
    <div>
        {{ _('ChessEvent password: %(chessevent_password)s', chessevent_password=chessevent.shadowed_password) }}
    </div>
    <div>
        {{ _('ChessEvent event: %(chessevent_event)s', chessevent_event=chessevent.event_id) }}
    </div>
{% endblock %}

{% block card_buttons_left %}
    <span {{ tooltip_attributes('info', _('Edit the properties of the ChessEvent connection.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-primary"
            hx-get="{{ url_for('admin-chessevent-modal', action='update', event_uniq_id=admin_event.uniq_id, chessevent_id=chessevent.id) }}"
            preload
            hx-target="body"
            hx-indicator="#please-wait"
        >
            <i class="bi-pencil-fill"></i>
            {{ _('Edit') }}
        </button>
    </span>
{% endblock %}

{% block card_buttons_right %}
    <span {{ tooltip_attributes('info', _('Clone the ChessEvent connection.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-primary"
            hx-get="{{ url_for('admin-chessevent-modal', action='clone', event_uniq_id=admin_event.uniq_id, chessevent_id=chessevent.id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
        >
            <i class="bi-copy"></i>
        </button>
    </span>
    <span {{ tooltip_attributes('info', _('Delete the ChessEvent connection.'), 'top') }}>
        <button
            class="btn btn-sm btn-danger"
            hx-get="{{ url_for('admin-chessevent-modal', action='delete', event_uniq_id=admin_event.uniq_id, chessevent_id=chessevent.id) }}"
            preload
            hx-target="body"
            hx-indicator="#please-wait"
        >
            <i class="bi-trash-fill"></i>
        </button>
    </span>
{% endblock %}

