/.idea/
/venv/
/papi/
/events/
/logs/
/fees/
/custom/
/docs/images/src/
/papi-web.ini
papi-web.ini.*
tmp/
db/
__pycache__/

/build/
/dist/
/export/
/test/
/export-test/
/scripts/i18n/models
/bin/
/tools/bbpPairings/*/*

*.egg-info/

# Vim scratch files
*.swp
*.swo

# Access database tmp files
*.ldb

# Generated database files
*.db
*.db-shm
*.db-wal
.scc
.scc-wal
.scc-shm

# MacOS files
.DS_Store

# Messages binaries
/locale/*/LC_MESSAGES/messages.mo
/locale/messages.pot

# log and mprof files
*.log
/mprofile_*.dat

# database credentials
.credentials

# virtual environments
/.venv-dev
/.venv-export

# PyInstaller spec files
/*.spec
/src/web/static/lib/bootstrap
/src/web/static/lib/bootstrap-icons
/src/web/static/lib/jquery
/src/web/static/lib/htmx/htmx-*
/src/web/static/lib/htmx/preload-*
/src/web/static/lib/htmx/multi-swap-*
/src/web/static/lib/htmx/remove-me-*
