<div
    class="modal-dialog modal-dialog-scrollable"
    style="--bs-modal-width: fit-content; min-width: min(90vw, 450px);"
>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {{ _('Menu content') }}
            </h2>
        </div>
        <div class="modal-body">
            {% if success_message %}
                {% with type='success', message=success_message %}
                    {% include '/common/alert.html' %}
                {% endwith %}
            {% endif %}
            {% macro back_button() %}
                <button type="button" class="btn btn-sm btn-link menu-item-back px-0 mb-1">
                    <i class="bi-arrow-left pe-1"></i>{{ _('Back') }}
                </button>
            {% endmacro %}
            <div id="screen-types-form-container" style="display: none">
                {{ back_button() }}
                {{ admin_macros.inline_multi_select_form(
                    'screen-types',
                    'screen_type',
                    placeholder=_('Choose screen types to add'),
                    options=screen_type_options,
                    post_url=url_for(
                        'admin-menu-items-create-screen-type',
                        event_uniq_id=admin_event.uniq_id,
                        menu_id=admin_menu.id
                    ),
                    hx_target='#menu-item-list-container',
                    tooltip_select=true
                ) }}
            </div>
            <div id="screens-form-container" style="display: none">
                {{ back_button() }}
                {{ admin_macros.inline_multi_select_form(
                    'screens',
                    'screen_id',
                    placeholder=_('Choose screens to add'),
                    options=screen_options,
                    post_url=url_for(
                        'admin-menu-items-create-screen',
                        event_uniq_id=admin_event.uniq_id,
                        menu_id=admin_menu.id
                    ),
                    hx_target='#menu-item-list-container',
                    tooltip_select=true
                ) }}
            </div>
            <div id="families-form-container" style="display: none">
                {{ back_button() }}
                {{ admin_macros.inline_multi_select_form(
                    'families',
                    'family_id',
                    placeholder=_('Choose multi-screens to add'),
                    options=family_options,
                    post_url=url_for(
                        'admin-menu-items-create-family',
                        event_uniq_id=admin_event.uniq_id,
                        menu_id=admin_menu.id
                    ),
                    hx_target='#menu-item-list-container',
                    tooltip_select=true
                ) }}
            </div>
            <div class="d-flex justify-content-end gap-2 mb-3">
                <button
                    id="screen-types-add-button"
                    data-testid="screen-types-add-button"
                    class="btn btn-primary text-nowrap menu-item-button"
                >
                    <i class="bi-plus-square pe-1"></i>
                    {{ _('Add screen types') }}
                </button>
                <span
                    {% if not screen_options %}
                       {{ macros.tooltip_attributes('info', _('No screens in this event yet.'), 'top') }}
                    {% endif %}
                >
                    <button
                        id="screens-add-button"
                        data-testid="screens-add-button"
                        class="btn btn-primary text-nowrap menu-item-button"
                        {% if not screen_options %}disabled{% endif %}
                    >
                        <i class="bi-plus-square pe-1"></i>
                        {{ _('Add screens') }}
                    </button>
                </span>
                <span
                    {% if not family_options %}
                       {{ macros.tooltip_attributes('info', _('No multi-screens in this event yet.'), 'top') }}
                    {% endif %}
                >
                    <button
                        id="families-add-button"
                        data-testid="families-add-button"
                        class="btn btn-primary text-nowrap menu-item-button"
                        {% if not family_options %}disabled{% endif %}
                    >
                        <i class="bi-plus-square pe-1"></i>
                        {{ _('Add multi-screens') }}
                    </button>
                </span>
            </div>
            <script>
                $('.menu-item-back, .inline-form-cancel-button').click(() => {
                    $('#screen-types-form-container, #screens-form-container, #families-form-container')
                        .css('display', 'none');
                    $('.menu-item-button').css('display', '');
                });
                $('#screen-types-add-button').click(() => {
                    $('#screen-types-form-container').css('display', '');
                    $('.menu-item-button').css('display', 'none');
                });
                $('#screens-add-button').click(() => {
                    $('#screens-form-container').css('display', '');
                    $('.menu-item-button').css('display', 'none');
                });
                $('#families-add-button').click(() => {
                    $('#families-form-container').css('display', '');
                    $('.menu-item-button').css('display', 'none');
                });
            </script>

            {% include 'menu_items_form.html' %}
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Close') }}
            </button>
        </div>
    </div>
</div>

<script>requestRefresh()</script>
