<div
    class="modal-dialog modal-dialog-scrollable"
    style="--bs-modal-width: fit-content; min-width: min(90vw, 450px);"
>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {{ _('Screens list') }}
            </h2>
        </div>
        <div class="modal-body">
            {% if success_message %}
                {% with type='success', message=success_message %}
                    {% include '/common/alert.html' %}
                {% endwith %}
            {% endif %}
            <div
                id="screens-form-container"
                data-testid="screens-form-container"
                style="display: none"
            >
                {{ admin_macros.inline_multi_select_form(
                    'screens',
                    'screen_id',
                    placeholder=_('Choose screens to add'),
                    options=screen_options,
                    post_url=url_for(
                        'admin-rotating-screens-create-screen',
                        event_uniq_id=admin_event.uniq_id,
                        rotator_id=admin_rotator.id
                    ),
                    hx_target='#screen-list-container'
                ) }}
            </div>
            <div
                id="families-form-container"
                style="display: none"
            >
                {{ admin_macros.inline_multi_select_form(
                    'families',
                    'family_id',
                    placeholder=_('Choose multi-screens to add'),
                    options=family_options,
                    post_url=url_for(
                        'admin-rotating-screens-create-family',
                        event_uniq_id=admin_event.uniq_id,
                        rotator_id=admin_rotator.id
                    ),
                    hx_target='#screen-list-container'
                ) }}
            </div>
            <div class="d-flex justify-content-end gap-2 mb-3">
                <span
                    {% if not screen_options %}
                       {{ macros.tooltip_attributes(
                            'info', _('No screens to add.'), 'top'
                        ) }}
                    {% endif %}
                >
                    <button
                        id="screens-add-button"
                        data-testid="screens-add-button"
                        class="btn btn-primary text-nowrap rotating-screen-button"
                        {% if not screen_options %}disabled{% endif %}
                    >
                        <i class="bi-plus-square pe-1"></i>
                        {{ _('Add screens') }}
                    </button>
                </span>
                <span
                    {% if not family_options %}
                       {{ macros.tooltip_attributes(
                            'info', _('No multi-screens to add.'), 'top'
                        ) }}
                    {% endif %}
                >
                    <button
                        id="families-add-button"
                        data-testid="families-add-button"
                        class="btn btn-primary text-nowrap rotating-screen-button"
                        {% if not family_options %}disabled{% endif %}
                    >
                        <i class="bi-plus-square pe-1"></i>
                        {{ _('Add multi-screens') }}
                    </button>
                </span>
            </div>
            <script>
                $('#screens-add-button').click(() => {
                    $('#screens-form-container').css('display', '');
                    $('.rotating-screen-button').css('display', 'none');
                });
                $('#screens-cancel-button').click(() => {
                    $('#screens-form-container').css('display', 'none');
                    $('.rotating-screen-button').css('display', '');
                });
                $('#families-add-button').click(() => {
                    $('#families-form-container').css('display', '');
                    $('.rotating-screen-button').css('display', 'none');
                });
                $('#families-cancel-button').click(() => {
                    $('#families-form-container').css('display', 'none');
                    $('.rotating-screen-button').css('display', '');
                });
            </script>

            {% include 'rotator_screens_form.html' %}
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Close') }}
            </button>
        </div>
    </div>
</div>

<script>requestRefresh()</script>
