<div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered admin-rotator-edit-modal"
    style="--bs-modal-width: min(90vw, 500px);"
>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {% if action == 'update' %}
                    {{ _('Edit rotator') }}
                {% else %}
                    {{ _('Create rotator') }}
                {% endif %}
            </h2>
        </div>
        <div class="modal-body">
            <form
                id="modal-form"
                {% if action == 'create' %}
                    hx-post="{{ url_for('admin-rotator-create', event_uniq_id=admin_event.uniq_id) }}"
                {% elif action == 'clone' %}
                    hx-post="{{ url_for(
                        'admin-rotator-clone',
                        event_uniq_id=admin_event.uniq_id,
                        rotator_id=admin_rotator.id
                    ) }}"
                {% else %}
                    hx-patch="{{ url_for(
                        'admin-rotator-update',
                        event_uniq_id=admin_event.uniq_id,
                        rotator_id=admin_rotator.id
                    ) }}"
                {% endif %}
                hx-target="body"
                hx-indicator="#please-wait"
            >
                <div class="d-flex">
                    {{ admin_macros.switch_input(
                        name='public',
                        label='',
                        placeholder=_('Define as public'),
                        help_text='',
                        data=data, errors=errors
                    ) }}
                    <i class="bi bi-info-circle-fill"
                        {{ macros.tooltip_attributes(
                            'info', _('Only allowed users can view private rotators.'), 'top'
                        ) }}
                    ></i>
                </div>
                <div class="col-12">
                    {{ admin_macros.text_input(
                        name='name',
                        label=_('%(string)s:', string=_('Name')),
                        placeholder=_('E.g.: %(string)s', string=_('My rotator')),
                        help_text='',
                        data=data, errors=errors
                    ) }}
                </div>

                <div class="col-12">
                    {{ admin_macros.number_input(
                        name='delay',
                        label=_('Delay (seconds):'),
                        placeholder=sharly_chess_config.default_rotator_delay,
                        help_text=_('The rotating delay between two screens.'),
                        data=data, errors=errors,
                        min=1
                    ) }}
                </div>
                <div class="row gy-2 gx-3">
                    <div class="col-12">
                        {% include '../common/modal/alert_message.html' %}
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                data-bs-dismiss="modal"
                class="btn btn-secondary text-nowrap"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            <button
                type="submit"
                form="modal-form"
                class="text-nowrap white btn btn-primary"
            >
                <i class="bi-floppy-fill pe-1"></i>
                {{ _('Save') if action == 'update' else _('Create') }}
            </button>
        </div>
    </div>
</div>
