<div class="modal-dialog modal-dialog-centered admin-rotator-edit-modal d-block">
    <form
            {% if action in ['create', 'clone', ] %}
                hx-post="{{ url_for('admin-rotator-create', event_uniq_id=admin_event.uniq_id) }}"
            {% elif action == 'update' %}
                hx-patch="{{ url_for('admin-rotator-' ~ action, event_uniq_id=admin_event.uniq_id, rotator_id=admin_rotator.id) }}"
            {% elif action == 'delete' %}
                hx-delete="{{ url_for('admin-rotator-' ~ action, event_uniq_id=admin_event.uniq_id, rotator_id=admin_rotator.id) }}"
            {% else %}
                hx-get="{{ url_for('unknown-action-' ~ action) }}"
            {% endif %}
            hx-target="body"
            hx-indicator="#please-wait">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    {% if action in ['create', 'clone', ] %}
                        {{ _('Rotator creation') }}
                    {% elif action == 'update' %}
                        {{ _('Edition of rotator [%(rotator_uniq_id)s]', rotator_uniq_id=admin_rotator.uniq_id) }}
                    {% elif action == 'delete' %}
                        {{ _('Deletion of rotator [%(rotator_uniq_id)s]', rotator_uniq_id=admin_rotator.uniq_id) }}
                    {% else %}
                        ?
                    {% endif %}
                </h2>
            </div>
            <div class="modal-body">
                {% if action == 'delete' %}
                    <h3 class="text-danger">
                        {{ _('Warning: the deletion of a rotator is permanent!') }}
                    </h3>
                {% else %}
                    <h3>
                        {{ _('Properties') }}
                    </h3>
                    <div class="row">
                        <div class="col-3">
                            {{ switch_input(
                                name='public',
                                label=_('Visibility:'),
                                placeholder=_('Public rotator'),
                                help_text=_('Only arbiters can view private rotators.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-3">
                            {{ text_input(
                                name='uniq_id',
                                label=_('ID (unique):'),
                                placeholder=_('E.g.: my-rotator'),
                                help_text=_('The Unique ID, used to reference the rotator.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>
                    <h3>
                        {{ _('Parameters') }}
                    </h3>
                    <div class="row">
                        <div class="col-2">
                            {{ number_input(
                                name='delay',
                                label=_('Delay:'),
                                placeholder=_('E.g.: %(seconds)d (seconds)', seconds=papi_web_config.default_rotator_delay),
                                help_text=_('The rotating delay between two screens (by default %(default)d seconds).', default=papi_web_config.default_rotator_delay),
                                data=data, errors=errors,
                                number_min=1
                            ) }}
                        </div>
                    </div>
                    <h3>
                        {{ _('Selection') }}
                        (<i class="bi-pencil-fill"></i>&nbsp;{{ _('results entry') }},
                        <i class="bi-card-list"></i>&nbsp;{{ _('pairings by board') }},
                        <i class="bi-people-fill"></i>&nbsp;{{ _('pairings by player') }},
                        <i class="bi-trophy-fill"></i>&nbsp;{{ _('last results') }},
                        <i class="bi-image"></i>&nbsp;{{ _('image') }})
                    </h3>
                    <div class="row">
                        <div class="col-6">
                            <label class="form-check-label">{{ _('Screens:') }}</label>
                            <div>
                                {% if admin_event.basic_screens_by_id %}
                                    {% for first in [true, false] %}
                                        {% with class='border-black text-black' if first else 'border-secondary-subtle text-secondary-subtle' %}
                                            {% for screen in admin_event.basic_screens_by_id.values() %}
                                                {% with is_first=(screen.type != 'input') %}
                                                    {% if first == is_first %}
                                                        {% with id='screen-' ~ screen.id, name='screen_' ~ screen.id %}
                                                            <span class="text-nowrap border {{ class }} p-1 m-1">
                                                                <input
                                                                        name="{{ name }}"
                                                                        type="checkbox" id="{{ id }}"
                                                                        class=""
                                                                        {% if data[name] == 'on' %}checked{% endif %} />
                                                                <label for="{{ id }}" class="form-label {% if not first %}fst-italic{%endif %}">
                                                                    <i class="{{ screen.icon_str }}"></i>
                                                                    {{ screen.name }}
                                                                </label>
                                                            </span>
                                                        {% endwith %}
                                                    {% endif %}
                                                {% endwith %}
                                            {% endfor %}
                                        {% endwith %}
                                    {% endfor %}
                                {% else %}
                                    {{ _('No screens.') }}
                                {% endif %}
                            </div>
                            <div class="form-text">
                                {{ _('The screens to rotate (the input screens are emphasised because they should not appear on rotators).') }}
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="form-check-label">{{ _('Screen families:') }}</label>
                            <div>
                                {% if admin_event.families_by_id %}
                                    {% for first in [true, false] %}
                                        {% with class='border-black text-black' if first else 'border-secondary-subtle text-secondary-subtle' %}
                                            {% for family in admin_event.families_by_id.values() %}
                                                {% with is_first=family.type != 'input' %}
                                                    {% if first == is_first %}
                                                        {% with id='family-' ~ family.id, name='family_' ~ family.id %}
                                                            <span class="text-nowrap border {{ class }} p-1 m-1">
                                                                <input
                                                                        name="{{ name }}"
                                                                        type="checkbox" id="{{ id }}"
                                                                        class=""
                                                                        {% if data[name] == "on" %}checked{% endif %} />
                                                                <label for="{{ id }}" class="form-label {% if not first %}fst-italic{%endif %}">
                                                                    <i class="{{ family.icon_str }}"></i>
                                                                    {{ family.name }}
                                                                </label>
                                                            </span>
                                                        {% endwith %}
                                                    {% endif %}
                                                {% endwith %}
                                            {% endfor %}
                                        {% endwith %}
                                    {% endfor %}
                                {% else %}
                                    {{ _('No screen families.') }}
                                {% endif %}
                            </div>
                            <div id="" class="form-text">
                                {{ _('The screen families to rotate (the input screen families are emphasised because they should not appear on rotators).') }}
                            </div>
                        </div>
                    </div>
                    <h3>
                        {{ _('Display') }}
                    </h3>
                    {% with
                        message_help_text=_('When not defined at rotator-level, the alert message defined at event-level is used (if no alert message is set, the scrolling banner at the bottom of the screen is not displayed). The alert message defined at rotator-level can be overridden at screen or family-level.')
                    %}
                        <div class="row">
                            <div class="col-6">
                                {% include '../common/modal/alert_message.html' %}
                            </div>
                        </div>
                    {% endwith %}
                {% endif %}
            </div>
            <div class="modal-footer d-block">
                <div class="row">
                    <div class="col col-6 text-start">
                        <button
                                type="submit"
                                class="text-nowrap white btn {% if action == 'delete' %}btn-danger{% else %}btn-primary{% endif %}"
                        >
                            <i class="bi-floppy-fill"></i>
                           {% if action in ['create', 'clone', ] %}
                                {{ _('Create') }}
                            {% elif action == 'update' %}
                                {{ _('Update') }}
                            {% elif action == 'delete' %}
                                {{ _('Delete') }}
                            {% else %}
                                ?
                            {% endif %}
                         </button>
                    </div>
                    <div class="col col-6 text-end">
                        <button
                                class="btn btn-secondary text-nowrap"
                                hx-get="{{ url_for('admin-event-tab', event_uniq_id=admin_event.uniq_id, admin_event_tab='rotators') }}"
                                preload
                                hx-target="body"
                                hx-indicator="#please-wait"
                        >
                            <i class="bi-x-circle-fill"></i>
                            {{ _('Cancel') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    (new bootstrap.Modal(document.getElementById('modal-wrapper'))).show();
</script>
