<div id="top-nav-wrapper">
    <div id="top-nav-content">
        <div class="d-flex gap-2 me-auto align-items-center">
            <div>
                {{ admin_macros.admin_title(nav_tab.page_title) }}
            </div>
        </div>
        <div class="flex-grow-1"></div>
        <div class="d-flex gap-2 ms-auto align-items-center">
            {% with is_dropdown = true %}
                {% include 'create_event_button.html' %}
            {% endwith %}
        </div>
    </div>
</div>

<div class="d-flex mb-2 align-items-center flex-wrap gap-1">
</div>

<table class="mt-5 table prominent table-striped w-auto bg-light mx-auto justify-content-center">
    <thead class="table-dark position-sticky top-0 z-2">
        <tr>
            <th scope="col" class="text-nowrap">{{ _('Archived event') }}</th>
            <th scope="col">{{ _('Deletion date') }}</th>
            <th>{# buttons #}</th>
        </tr>
    </thead>
    <tbody>
        {% if nav_tab.archives %}
            {% for archive in nav_tab.archives %}
                <tr>
                    <th scope="row gy-2 gx-3" class="text-nowrap">{{ archive.name }}</th>
                    <td>{{ archive.date_str }}</td>
                    <td>
                        <button
                            class="btn btn-sm btn-outline-primary"
                            hx-post="{{ url_for('admin-restore-archive', archive_name=archive.url_name) }}"
                            hx-target="body"
                            hx-indicator="#please-wait"
                            {{ macros.tooltip_attributes('info', _('Restore'), 'top') }}
                        >
                            <i class="bi-arrow-counterclockwise"></i>
                        </button>
                        <button
                            class="btn btn-sm btn-outline-danger"
                            hx-delete="{{ url_for('admin-delete-archive', archive_name=archive.url_name) }}"
                            hx-target="body"
                            hx-indicator="#please-wait"
                            {{ macros.tooltip_attributes('info', _('Delete'), 'top') }}
                        >
                            <i class="bi-trash-fill"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th scope="row gy-2 gx-3" class="text-nowrap" colspan="2">{{ nav_tab.empty_str }}</th>
                <td></td>
            </tr>
        {% endif %}
    </tbody>
</table>
