<div id="top-nav-wrapper">
    <div id="top-nav-content">
        <div class="flex-grow-1"></div>
        <div class="d-flex gap-2 ms-auto align-items-center">
            {% include 'create_event_button.html' %}
        </div>
    </div>
</div>

<div class="d-flex mb-2 align-items-center flex-wrap gap-1">
</div>

<table class="mt-5 px-4 table table-striped table-sm table-hover border-black w-auto bg-light mx-auto justify-content-center">
    <thead class="table-dark position-sticky top-0 z-2">
        <tr>
            <th scope="col" class="text-nowrap">{{ _('Archived event') }}</th>
            <th scope="col" class="">{{ _('Deletion date') }}</th>
        </tr>
    </thead>
    <tbody>
        {% if nav_tab.archives %}
            {% for archive in nav_tab.archives %}
                <tr>
                    <th scope="row" class="text-nowrap">{{ archive.name }}</th>
                    <td>{{ archive.date_str }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th scope="row" class="text-nowrap" colspan="2">{{ nav_tab.empty_str }}</th>
            </tr>
        {% endif %}
    </tbody>
</table>
