<div id="top-nav-wrapper">
    <div id="top-nav-content">
        {{ admin_macros.admin_title(nav_tab.page_title) }}
        <div class="flex-grow-1"></div>
        <button
            class="btn btn-primary text-nowrap"
            hx-get="{{ url_for('admin-championship-create-modal') }}"
            hx-target="body"
            hx-indicator="#please-wait"
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-plus-circle-fill pe-1"></i>{{ _('Create a championship') }}
        </button>
    </div>
</div>

<table class="mt-5 table prominent table-striped w-auto bg-light mx-auto justify-content-center">
    <thead class="table-dark position-sticky top-0 z-2">
        <tr>
            <th scope="col" class="text-nowrap">{{ _('Archived championship') }}</th>
            <th scope="col">{{ _('Deletion date') }}</th>
            <th>{# Actions #}</th>
        </tr>
    </thead>
    <tbody>
        {% for archive in nav_tab.championship_archives %}
            <tr>
                <th scope="row" class="text-nowrap">{{ archive.display_name }}</th>
                <td>{{ archive.date_str }}</td>
                <td class="text-nowrap">
                    <button
                        class="btn btn-sm btn-outline-primary"
                        hx-post="{{ url_for('admin-championship-archive-restore', archive_name=archive.url_name) }}"
                        hx-target="body"
                        hx-indicator="#please-wait"
                        aria-label="{{ _('Restore') }}"
                        {{ macros.tooltip_attributes('', _('Restore'), 'top') }}
                    ><i class="bi-arrow-counterclockwise"></i></button>
                    <button
                        class="btn btn-sm btn-outline-danger"
                        hx-delete="{{ url_for('admin-championship-archive-delete', archive_name=archive.url_name) }}"
                        hx-target="body"
                        hx-indicator="#please-wait"
                        aria-label="{{ _('Delete') }}"
                        {{ macros.tooltip_attributes('warning', _('Delete permanently'), 'top') }}
                    ><i class="bi-trash-fill"></i></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center text-muted p-3">{{ nav_tab.empty_str }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
