<div
    class="d-flex mb-2 align-items-center flex-wrap gap-1 z-3"
    style="max-width: calc(var(--vw, 100vw) - 2rem); position: sticky; left: 1.5rem;"
>
    {% call() macros.section_title() %}
        <i class="bi-gear pe-1"></i>
        {{ _('Papi-web settings') }}
    {% endcall %}
    <div class="flex-grow-1"></div>
    <div class="d-flex gap-2 ms-auto align-items-center">
        <span {{ macros.tooltip_attributes('info', _('Edit the Papi-web settings.'), 'top') }}>
            <button
                id="admin-config-edit-button"
                class="btn btn-outline-primary text-nowrap ms-1"
                hx-get="{{ url_for('admin-config-modal') }}"
                hx-trigger="click{% if admin_auth and papi_web_config.force_edit %}, load{% endif %}"
                hx-target="body"
                hx-indicator="#please-wait"
                preload
                data-bs-toggle="modal"
                data-bs-target="#modal-wrapper"
            >
                <i class="bi-pencil-fill pe-1"></i>
                {{ _('Edit') }}
            </button>
        </span>
        <span {{ macros.tooltip_attributes('info', _('Add an event.'), 'top') }}>
            <button
                class="btn btn-primary text-nowrap"
                hx-get="{{ url_for('admin-tab-event-create-modal', admin_tab=admin_tab) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                preload
                data-bs-toggle="modal"
                data-bs-target="#modal-wrapper"
            >
                <i class="bi-plus-square-fill pe-1"></i>
                {{ _('Create an event') }}
            </button>
        </span>
    </div>
</div>

<table class="table table-sm table-hover w-auto bg-light mx-auto justify-content-center">
    <thead
        class="table-dark"
    >
        <tr>
            <th scope="col" class="text-nowrap">{{ _('Configuration') }}</th>
            <th scope="col" class=""></th>
        </tr>
    </thead>
    <tbody>
        <tr class="{{ row_cycler(True) }}">
            <th scope="row" class="text-nowrap">{{ _('Port') }}</th>
            <td>{{ papi_web_config.web_port }}</td>
        </tr>
        <tr class="{{ row_cycler() }}">
            <th scope="row" class="text-nowrap">{{ _('Access from the Papi-web server') }}</th>
            <td><a href="{{ papi_web_config.local_url }}" target="_blank">{{ papi_web_config.local_url }}</a></td>
        </tr>
        <tr class="{{ row_cycler() }}">
            <th scope="row" class="text-nowrap">{{ _('Access from the local network (LAN/WAN)') }}</th>
            <td>{% if papi_web_config.lan_url %}<a href="{{ papi_web_config.lan_url }}" target="_blank">{{ papi_web_config.lan_url }}</a>{% else %}<span class="fst-italic">-</span>{% endif %}</td>
        </tr>
        <tr class="{{ row_cycler() }}">
            <th scope="row" class="text-nowrap">{{ _('Default language') }}</th>
            <td>
                {% set l_info = locale_infos[papi_web_config.locale] %}
                <img
                    src="{{l_info.flag_url}}"
                    alt="{{l_info.name}}"
                    class="locale-flag"
                />
                {{ l_info.name }}
                {% if l_info.experimental %}<i class="bi-exclamation-triangle-fill"></i>{% endif %}
                {% if not papi_web_config.stored_config.locale %}
                    <span class="fst-italic">
                        {{ _('(by default)') }}
                    </span>
                {% endif %}
            </td>
        </tr>
        <tr class="{{ row_cycler() }}">
            <th scope="row" class="text-nowrap">{{ _('Default federation:') }}</th>
            <td>
                <img
                    class="player-federation-flag pe-1"
                    src="{{ url_for('static', file_path='/images/federations/' ~ papi_web_config.federation ~ '.svg') }}"
                />
                {{ papi_web_config.federation.name }} - {{ papi_web_config.federations[papi_web_config.federation.name] }}
                {% if not papi_web_config.stored_config.federation %}
                    <span class="fst-italic">
                        {{ _('(by default)') }}
                    </span>
                {% endif %}
            </td>
        </tr>
        <tr class="{{ row_cycler() }}">
            <th scope="row" class="text-nowrap">{{ _('Launching the browser on server startup') }}</th>
            <td>
                {% if papi_web_config.launch_browser %}{{ _('Yes') }}{% else %}{{ _('No') }}{% endif %}
                {% if papi_web_config.stored_config.launch_browser is none %}
                    <span class="fst-italic">
                        {{ _('(by default)') }}
                    </span>
                {% endif %}
            </td>
        </tr>
        <tr class="{{ row_cycler() }}">
            <th scope="row" class="text-nowrap">{{ _('Log level') }}</th>
            <td>
                {{ papi_web_config.log_levels[papi_web_config.log_level] }}
                {% if not papi_web_config.stored_config.log_level %}
                    <span class="fst-italic">
                        {{ _('(by default)') }}
                    </span>
                {% endif %}
            </td>
        </tr>
        <tr class="{{ row_cycler() }}">
            <th scope="row" class="text-nowrap">{{ _('%(lib)s version', lib='Papi-web') }}</th>
            <td>{{ papi_web_config['version'] }}</td>
        </tr>

        <tr>
            <th scope="row" class="padded-header text-nowrap">{{ _('Plugins') }}</th>
            <th scope="row" class="padded-header"></th>
        </tr>
        {% for plugin in plugins %}
            <tr class="{{ row_cycler(loop.index == 0) }}">
                <th scope="row" class="text-nowrap">{{ plugin.name }}</th>
                <td>
                    {% if plugin.is_enabled %}
                        {{ _('On') }}
                    {% else %}
                        {{ _('Off') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        {% if DEVEL_ENV %}
            <tr>
                <th scope="row" class="padded-header text-nowrap">{{ _('Libraries') }}</th>
                <th scope="row" class="padded-header"></th>
            </tr>
            <tr class="{{ row_cycler(True) }}">
                <th scope="row" class="text-nowrap">{{ _('%(lib)s version', lib='Uvicorn') }}</th>
                <td>{{ papi_web_config.uvicorn_version }}</td>
            </tr>
            <tr class="{{ row_cycler() }}">
                <th scope="row" class="text-nowrap">{{ _('%(lib)s version', lib='LiteStar') }}</th>
                <td>{{ papi_web_config.litestar_version }}</td>
            </tr>
            <tr class="{{ row_cycler() }}">
                <th scope="row" class="text-nowrap">{{ _('%(lib)s version', lib='Jinja2') }}</th>
                <td>{{ papi_web_config.jinja2_version }}</td>
            </tr>
            <tr class="{{ row_cycler() }}">
                <th scope="row" class="text-nowrap">{{ _('%(lib)s version', lib='HTMX') }}</th>
                <td id="htmx-version"></td>
            </tr>
            <tr class="{{ row_cycler() }}">
                <th scope="row" class="text-nowrap">{{ _('%(lib)s version', lib='jQuery') }}</th>
                <td id="jquery-version"></td>
            </tr>
            <tr class="{{ row_cycler() }}">
                <th scope="row" class="text-nowrap">{{ _('%(lib)s version', lib='Bootstrap') }}</th>
                <td id="bootstrap-version"></td>
            </tr>
            <tr class="{{ row_cycler() }}">
                <th scope="row" class="text-nowrap">{{ _('%(lib)s version', lib='SortableJS') }}</th>
                <td>{{ papi_web_config.sortable_version }}</td>
            </tr>
            <tr class="{{ row_cycler() }}">
                <th scope="row" class="text-nowrap">{{ _('%(lib)s version', lib='jsTree') }}</th>
                <td>{{ papi_web_config.jstree_version }}</td>
            </tr>
            <tr class="{{ row_cycler() }}">
                <th scope="row" class="text-nowrap">{{ _('%(lib)s version', lib='PyODBC') }}</th>
                <td>{{ papi_web_config.pyodbc_version }}</td>
            </tr>
            <tr class="{{ row_cycler() }}">
                <th scope="row" class="text-nowrap">{{
                    _('Access driver (found)')
                    if access_driver in odbc_drivers else
                    _('Access driver (not found)') }}
                </th>
                <td>{{ access_driver }}</td>
            </tr>
            <tr class="{{ row_cycler() }}">
                <th scope="row" class="text-nowrap">
                    {{ _('Other ODBC drivers found on the server') }}
                </th>
                <td>
                    {% for odbc_driver in odbc_drivers %}
                        {% if odbc_driver != access_driver %}
                            <div class="{% if odbc_driver == access_driver %}access-driver{% endif %}">
                                {{ odbc_driver }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
<script>
    $(document).ready(function(){
        $('#htmx-version').html(htmx.version);
        $('#jquery-version').html(jQuery().jquery);
        $('#bootstrap-version').html(bootstrap.Tooltip.VERSION);
    });
</script>
