<div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
    style="--bs-modal-width: min(90vw, 500px);"
>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {% if sharly_chess_config.stored_config.locale %}
                    {{ _('Sharly Chess settings') }}
                {% else %}
                    {{ _('Choose your language') }}
                {% endif %}
            </h2>
        </div>
        <div class="modal-body">
            <form
                id="modal-form"
                hx-patch="{{ url_for('admin-config-update') }}"
                hx-target="body"
                hx-indicator="#please-wait"
            >
                {% if sharly_chess_config.force_edit %}
                    <h4 class="text-warning">
                        {{ _('Please validate the global configuration of the application.') }}
                    </h4>
                {% endif %}
                <div class="d-flex flex-column gap-2">
                    {{ admin_macros.select_input(
                        name='locale',
                        label=_('Language:'),
                        help_text='',
                        select_options=locale_options,
                        data=data, errors=errors
                    ) }}
                    {{ admin_macros.select_input(
                        name='federation',
                        label=_('Federation:'),
                        help_text=_('The default federation for your events.'),
                        select_options=federation_options,
                        data=data, errors=errors
                    ) }}
                    {{ admin_macros.switch_input(
                        name='launch_browser',
                        label='',
                        placeholder=_('Launch a browser on startup'),
                        help_text='',
                        info='',
                        data=data, errors=errors
                    ) }}
                    {% if sharly_chess_config.experimental_features %}
                        {% set ns = namespace(
                            experimental_features_help=_(
                                'Experimental features in version %(version)s are:',
                                version=sharly_chess_config.version
                            )
                        ) %}
                        {% for feature in sharly_chess_config.experimental_features %}
                            {% set ns.experimental_features_help=ns.experimental_features_help ~ (' ' if loop.first else ', ') ~ feature %}
                        {% endfor %}
                        {{ admin_macros.switch_input(
                            name='experimental',
                            label='',
                            placeholder=_('Experimental features'),
                            help_text=ns.experimental_features_help,
                            info=_('Benefit from the very last (experimental) features (USE AT YOUR OWN RISKS!).'),
                            data=data, errors=errors
                        ) }}
                    {% endif %}
                </div>
                <button
                    type="button"
                    class="btn-toggle collapse-button collapsed mt-3"
                    data-bs-toggle="collapse"
                    data-bs-target="#plugin-section"
                    aria-expanded="false"
                >
                    <h4>
                        <i class="bi-chevron-down text-body"></i>
                        {{ _('Plugins') }}
                        <span class="ps-1" style="font-size:1.2rem">
                            {{ macros.doc_icon('plugins') }}
                        </span>
                    </h4>
                </button>

                <div id="plugin-section" class="collapse">
                    <div class="row gx-3 d-fex flex-column gap-2">
                        {% for plugin in global_plugins %}
                            {% set used_by_events_count = plugin.used_by_events_count(events_metadata) %}
                            {{ admin_macros.plugin_switch_input(
                                plugin,
                                data,
                                used_message=ngettext(
                                    'Used by %(num)d event.',
                                    'Used by %(num)d events.',
                                    used_by_events_count,
                                ) if used_by_events_count else '',
                                uncheck_on_dependencies_disabled=not plugin.default_is_enabled
                            ) }}
                        {% endfor %}
                    </div>

                    {% if federation_plugins %}
                        <h5 class="mt-3">
                            <span class="text-primary">
                                {{ _('Federation plugins') }}
                            </span>
                            <i
                                class="bi-info-circle-fill ps-1"
                                style="font-size: 1rem"
                                {{ macros.tooltip_attributes(
                                    '', _('These plugins can only be activated on events of their federation.'), 'top'
                                ) }}
                            ></i>
                        </h5>
                    {% endif %}
                    {% for federation, plugins in federation_plugins.items() %}
                        <div class="ms-4">
                            <div class="text-body-secondary fw-bold text-uppercase pb-1">
                                {{ federation }} ({{ plugins[0].federation }})
                            </div>
                            <div class="row gx-3 d-fex flex-column gap-2">
                                {% for plugin in plugins %}
                                    {% set used_by_events_count = plugin.used_by_events_count(events_metadata) %}
                                    {{ admin_macros.plugin_switch_input(
                                        plugin,
                                        data,
                                        used_message=ngettext(
                                            'Used by %(num)d event.',
                                            'Used by %(num)d events.',
                                            used_by_events_count,
                                        ) if used_by_events_count else '',
                                        uncheck_on_dependencies_disabled=not plugin.default_is_enabled
                                    ) }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <script>
                        $('.plugin-switch-input').trigger('change');
                    </script>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            {% if not sharly_chess_config.force_edit %}
                <button
                    type="button"
                    class="btn btn-secondary text-nowrap"
                    data-bs-dismiss="modal"
                >
                    <i class="bi-x-circle-fill"></i>
                    {{ _('Cancel') }}
                </button>
            {% endif %}
            <button
                type="submit"
                form="modal-form"
                class="text-nowrap white btn btn-primary"
            >
                <i class="bi-floppy-fill pe-1"></i>
                {{ _('Save') }}
            </button>
        </div>
    </div>
</div>

<script>requestRefresh()</script>
