<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered admin-event-edit-modal d-block">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {{ _('Edition of papi-web settings') }}
            </h2>
        </div>
        <div class="modal-body">
            <form
                id="modal-form"
                hx-patch="{{ url_for('admin-config-update') }}"
                hx-target="body"
                hx-indicator="#please-wait"
            >
                {% if papi_web_config.force_edit %}
                    <h4>
                        {{ _('Please validate the global configuration of the application.') }}
                    </h4>
                {% endif %}
                <h4>
                    {{ _('Application') }}
                </h4>
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        {{ admin_macros.select_input(
                            name='launch_browser',
                            label=_('Launch browser:'),
                            help_text=_('Papi-web can automatically launch a web browser when starting the web server.'),
                            select_options=launch_browser_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        {{ admin_macros.select_input(
                            name='log_level',
                            label=_('Log level:'),
                            help_text=_('The log level allows you to trace the behaviour of the application.'),
                            select_options=log_level_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                <h4>
                    {{ _('Internationalization') }}
                </h4>
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        {{ admin_macros.select_input(
                            name='federation',
                            label=_('Federation:'),
                            help_text=_('The default federation for your events.'),
                            select_options=federation_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        {{ admin_macros.select_input(
                            name='locale',
                            label=_('Language:'),
                            help_text=_('The default language used.'),
                            select_options=locale_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                <h4>
                    {{ _('Plugins') }}
                </h4>
                {% for plugin in plugins %}
                    <div class="row">
                        {{ admin_macros.switch_input(
                            name=plugin.form_key,
                            label='',
                            placeholder=plugin.name,
                            disabled=not plugin.is_state_editable,
                            help_text=plugin.description,
                            data=data, errors=errors
                        ) }}
                    </div>
                {% endfor %}
            </form>
        </div>

        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill"></i>
                {{ _('Cancel') }}
            </button>
            <button
                type="submit"
                form="modal-form"
                class="text-nowrap white btn btn-primary"
            >
                <i class="bi-floppy-fill pe-1"></i>
                {{ _('Update') }}
            </button>
        </div>
    </div>
</div>
