{% set btn_class = (
    ('dropdown-item' if is_dropdown else 'btn btn-primary') +
    (' dropdown-item-lg' if is_large else '')
) %}
{% if is_dropdown %}
    <div class="btn-group dropdown">
        <button
            class="btn btn-primary text-nowrap"
            hx-get="{{ url_for('admin-event-modal', admin_tab=admin_tab, action='create') }}"
            hx-target="body"
            hx-indicator="#please-wait"
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            {{ _('Create an event') }}
        </button>
        <button
            type="button"
            class="btn btn-primary dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
        </button>
        <div class="dropdown-menu dropdown-menu-end">
            {% set btn_class = 'dropdown-item' %}
            <button
                id="import-button"
                class="{{ btn_class }}"
            >
                {{ _('Import a SCE file') }}
            </button>
            {% for template in plugin_event_create_button_templates %}
                {% include template %}
            {% endfor %}
        </div>
    </div>
{% else %}
    {% set btn_class = 'btn btn-primary text-nowrap btn-lg' %}
    <div class="d-flex flex-column gap-3 my-3 mx-auto" style="width: 350px">
        <button
            class="{{ btn_class }}"
            hx-get="{{ url_for('admin-event-modal', admin_tab=admin_tab, action='create') }}"
            hx-target="body"
            hx-indicator="#please-wait"
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            {{ _('Create an event') }}
        </button>
        <button id="import-button" class="{{ btn_class }}">
            {{ _('Import a SCE file') }}
        </button>
        {% for template in plugin_event_create_button_templates %}
            {% include template %}
        {% endfor %}
    </div>

{% endif %}
<form
    style="display: none"
    hx-post="{{ url_for('event-import', admin_tab=admin_tab) }}"
    enctype="multipart/form-data"
    hx-target="body"
    hx-indicator="#please-wait"
>
    <input
        id="import-file-input"
        type="file"
        name="file"
        accept=".{{ sharly_chess_config.event_database_ext }}"
    />
    <button id="import-form-submit-button" type="submit"></button>
    <script>
        $('#import-button').click(function () {
            $('#import-file-input').click();
        });
        $('#import-file-input').on('input', function () {
            $('#import-form-submit-button').click();
        });
    </script>
</form>
