{% extends '../common/card.html' %}

{% block card_header %}
    {{ event.name }}
{% endblock %}

{% block card_title %}
    {{ macros.event_visibility_icon(event, 'pe-1') }}
    {% if event.formatted_start_date == event.formatted_stop_date %}
        <span class="fw-bold">{{ event.formatted_start_date }}</span> {{ event.formatted_start_time }}-{{ event.formatted_stop_time }}
    {% else %}
        <span class="fw-bold">{{ event.formatted_start_date }} - {{ event.formatted_stop_date }}</span>
    {% endif %}
{% endblock %}

{% block card_text %}
    <div class="d-flex flex-column gap-1">
        <div>
            <i class="bi-question-circle pe-1" ></i>
            {{ _(
                'Unique ID: %(uniq_id)s',
                uniq_id=event.uniq_id
            ) }}
        </div>
        <div class="{% if not event.tournaments_by_id %}text-secondary{% endif %}">
            <i class="bi-people pe-1" ></i>
            {% if event.tournaments_by_id %}
                {{ _(
                    'Tournaments: %(num)d',
                    num=event.tournaments_by_id|length
                ) }}
            {% else %}
                {{ _('No tournaments') }}
            {% endif %}
        </div>

        {% for block in event_card_blocks %}
            {% include block %}
        {% endfor %}

        {% if admin_events_show_details %}
            <div class="{% if not event.timers_by_id %}text-secondary{% endif %}">
                <i class="bi-clock pe-1" ></i>
                {% if event.timers_by_id %}
                    {{ _(
                        'Timers: %(num)d',
                        num=event.timers_by_id|length
                    ) }}
                {% else %}
                    {{ _('No timers') }}
                {% endif %}
            </div>
            <div class="{% if not event.basic_screens_by_id %}text-secondary{% endif %}">
                <i class="bi-fullscreen pe-1" ></i>
                {% if event.basic_screens_by_id %}
                    {{ _(
                        'Screens: %(num)d',
                        num=event.basic_screens_by_id|length
                    ) }}
                {% else %}
                    {{ _('No screens') }}
                {% endif %}
            </div>
            <div class="{% if not event.families_by_id %}text-secondary{% endif %}">
                <i class="bi-arrows-fullscreen pe-1" ></i>
                {% if event.families_by_id %}
                    {{ _(
                        'Screen families: %(num)d',
                        num=event.families_by_id|length
                    ) }}
                {% else %}
                    {{ _('No screen families') }}
                {% endif %}
            </div>
            <div class="{% if not event.rotators_by_id %}text-secondary{% endif %}">
                <i class="bi-repeat pe-1" ></i>
                {% if event.rotators_by_id %}
                    {{ _(
                        'Rotators: %(num)d',
                        num=event.rotators_by_id|length
                    ) }}
                {% else %}
                    {{ _('No rotators') }}
                {% endif %}
            </div>
            <div class="{% if not event.errors and not event.criticals %}text-secondary{% endif %}">
                <i class="bi-bug pe-1" ></i>
                {% if event.errors or event.criticals %}
                    {{ _(
                        'Errors: %(num)d',
                        num=event.errors|length + event.criticals|length
                    ) }}
                {% else %}
                    {{ _('No errors') }}
                {% endif %}
            </div>
            <div class="{% if not event.warnings %}text-secondary{% endif %}">
                <i class="bi-repeat pe-1" ></i>
                {% if event.warnings %}
                    {{ _(
                        'Warnings: %(num)d',
                        num=event.warnings|length
                    ) }}
                {% else %}
                    {{ _('No warnings') }}
                {% endif %}
            </div>
            <div class="{% if not event.infos %}text-secondary{% endif %}">
                <i class="bi-repeat pe-1" ></i>
                {% if event.infos %}
                    {{ _(
                        'Informations: %(num)d',
                        num=event.infos|length
                    ) }}
                {% else %}
                    {{ _('No informations') }}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block card_buttons_left %}
{% endblock %}

{% block card_buttons_right %}
{% endblock %}
