{% extends '../../common/cards_container.html' %}

{% block cards_container_title %}
    <i class="{{ nav_tab.icon_class }}"></i> {{ nav_tab.title }}
{% endblock %}

{% block cards_container_right_buttons %}
    {% with id='admin-events-show-details', name='admin_events_show_details', show=admin_events_show_details %}
        <div
            class="form-check form-switch d-inline-block pe-3 mt-2"
            {{ macros.tooltip_attributes('info', _('Enable/disable the details of events on the cards below.'), 'top') }}
        >
            <input
                hx-get="{{ url_for('admin-tab', admin_tab=admin_tab) }}"
                hx-vals='{"{{ name }}": "{% if show %}false{% else %}true{% endif %}"}'
                hx-target="body"
                hx-indicator="#please-wait"
                class="form-check-input"
                type="checkbox"
                id="{{ id }}"
                {% if show %}checked{% endif %} /><label for="{{ id }}" class="form-check-label"> {{ _('Details') }}</label>
        </div>
    {% endwith %}
    <span {{ macros.tooltip_attributes('info', _('Add an event.'), 'top') }}>
        <button
            class="btn btn-primary text-nowrap"
            hx-get="{{ url_for('admin-tab-event-create-modal', admin_tab=admin_tab) }}"
            hx-target="#modal-wrapper"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-plus-square-fill pe-1"></i>
            {{ _('Create an event') }}
        </button>
    </span>
{% endblock %}

{% block cards_container_cards %}
    <div class="row">
        {% if nav_tab.events %}
            {% for event in nav_tab.events %}
                {% with
                    card_url=url_for('admin-event', event_uniq_id=event.uniq_id),
                    card_class='border-danger' if not event.public and admin_auth else ''
                %}
                    {% include 'event_card.html' %}
                {% endwith %}
            {% endfor %}
        {% else %}
            <div class="col-12 mb-3">
                {{ nav_tab.empty_str }}
            </div>
        {% endif %}
    </div>
{% endblock %}

