{% extends '../common/card.html' %}

{% block card_header %}
    {{ event.name }}
{% endblock %}

{% block card_title %}
    {% if not hide_public_status %}
        {{ macros.event_visibility_icon(event, 'pe-1') }}
    {% endif %}
    {% if event.tournament_count %}
        <span class="fw-bold">
            {{ format_date_range(event.start_date, event.stop_date) }}
        </span>
    {% else %}
        <span class="fst-italic text-secondary">
            {{ format_date_range(event.start_date, event.stop_date) }}
            ({{ _('default') }})
        </span>
    {% endif %}
    {% if not event.are_all_plugins_enabled %}
        <i
            class="bi-exclamation-triangle-fill text-danger ps-1"
            {{ macros.tooltip_attributes(
                '', _(
                    'One or more of the plugins required to use '
                    'this event are disabled, making it inaccessible. '
                    'You can enable plugins in the application settings.'
                ), 'top') }}
        ></i>
    {% endif %}
{% endblock %}

{% block card_text %}
    <div class="d-flex flex-column gap-1">
        <div>
            <i class="bi-question-circle-fill pe-1" ></i>
            {{ _(
                'Unique ID: %(uniq_id)s',
                uniq_id=event.uniq_id
            ) }}
        </div>
        <div class="{% if not event.tournament_count %}text-secondary{% endif %}">
            <i class="bi-diagram-3-fill pe-1" ></i>
            {% if event.tournament_count %}
                {{ _('Tournaments: %(num)d', num=event.tournament_count) }}
            {% else %}
                {{ _('No tournaments') }}
            {% endif %}
        </div>
        {% if event.is_team_event %}
            <div class="{% if not event.team_count %}text-secondary{% endif %}">
                <i class="bi-flag-fill pe-1" ></i>
                {% if event.team_count %}
                    {{ _('Teams: %(num)d', num=event.team_count) }}
                {% else %}
                    {{ _('No teams') }}
                {% endif %}
            </div>
        {% endif %}
        <div class="{% if not event.player_count %}text-secondary{% endif %}">
            <i class="bi-people-fill pe-1" ></i>
            {% if event.player_count %}
                {{ _('Players: %(num)d', num=event.player_count) }}
            {% else %}
                {{ _('No players') }}
            {% endif %}
        </div>
        {% if client.can_manage_events and event.enabled_plugins %}
            <div>
                <i class="bi-plugin pe-1"></i>
                {{ _('%(string)s:', string=_('Plugins')) }}
                {{ event.enabled_plugins|length }}
                <i
                    class="{% if event.are_all_plugins_enabled %}bi-info-circle-fill{% else %}bi-exclamation-triangle-fill text-danger{% endif %} ps-1"
                    style="font-size: 90%"
                    {{ macros.tooltip_attributes('', event.plugins_tooltip_message, 'right') }}
                ></i>
            </div>
        {% endif %}
        {% if show_details %}
            <div class="{% if not event.organiser_name %}text-secondary{% endif %}">
                <i class="bi-building-fill pe-1" ></i>
                {% if event.organiser_name %}
                    {{ _('Organiser:') }} {{ event.organiser_name }}
                {% else %}
                    {{ _('No organiser') }}
                {% endif %}
            </div>
            <div class="{% if not event.organiser_home_page %}text-secondary{% endif %}">
                <i class="bi-box-arrow-up-right pe-1" ></i>
                {% if event.organiser_home_page %}
                    <a href="{{ event.organiser_home_page }}" target="_blank">{{ event.organiser_home_page }}</a>
                {% else %}
                    {{ _('No home page') }}
                {% endif %}
            </div>
            <div class="{% if not event.organiser_director %}text-secondary{% endif %}">
                <i class="bi-person-bounding-box pe-1" ></i>
                {% if event.organiser_director %}
                    {{ event.organiser_director }}
                {% else %}
                    {{ _('No director') }}
                {% endif %}
            </div>
            <div class="{% if not event.organiser_email %}text-secondary{% endif %}">
                <i class="bi-envelope-fill pe-1" ></i>
                {% if event.organiser_email %}
                    <a href="mailto:{{ event.organiser_email }}" target="_blank">{{ event.organiser_email }}</a>
                {% else %}
                    {{ _('No email') }}
                {% endif %}
            </div>
            <div class="{% if not event.timer_count %}text-secondary{% endif %}">
                <i class="bi-clock-fill pe-1" ></i>
                {% if event.timer_count %}
                    {{ _(
                        'Timers: %(num)d',
                        num=event.timer_count
                    ) }}
                {% else %}
                    {{ _('No timers') }}
                {% endif %}
            </div>
            <div class="{% if not event.screen_count %}text-secondary{% endif %}">
                <i class="bi-fullscreen pe-1" ></i>
                {% if event.screen_count %}
                    {{ _(
                        'Screens: %(num)d',
                        num=event.screen_count
                    ) }}
                {% else %}
                    {{ _('No screens') }}
                {% endif %}
            </div>
            <div class="{% if not event.family_count %}text-secondary{% endif %}">
                <i class="bi-arrows-fullscreen pe-1" ></i>
                {% if event.family_count %}
                    {{ _(
                        'Multi-screens: %(num)d',
                        num=event.family_count
                    ) }}
                {% else %}
                    {{ _('No multi-screens') }}
                {% endif %}
            </div>
            <div class="{% if not event.rotator_count %}text-secondary{% endif %}">
                <i class="bi-repeat pe-1" ></i>
                {% if event.rotator_count %}
                    {{ _(
                        'Rotators: %(num)d',
                        num=event.rotator_count
                    ) }}
                {% else %}
                    {{ _('No rotators') }}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block card_buttons_left %}
    {% if client.can_manage_events and event.are_all_plugins_enabled %}
        <div
            {{ macros.tooltip_attributes('info', _('Export event in SCE format')) }}
        >
            <button
                class="btn btn-sm btn-outline-primary"
                hx-get="{{ url_for('event-export-modal', event_uniq_id=event.uniq_id) }}"
                hx-push-url="false"
                hx-target="body"
                hx-indicator="#please-wait"
                data-bs-toggle="modal"
                data-bs-target="#modal-wrapper"
                onclick="event.stopPropagation();"
            >
                <i class="bi bi-box-arrow-right pe-1"></i>
                {{ _('Export') }}
            </button>
        </div>
    {% endif %}
{% endblock %}

{% block card_buttons_right %}
    {% if client.can_manage_events and event.are_all_plugins_enabled %}
        <span
        {{ macros.tooltip_attributes('info', _('Edit the properties of the event.'), 'top') }}
        >
            <button
                class="btn btn-sm btn-outline-primary"
                onclick="event.stopPropagation();"
                hx-push-url="false"
                hx-get="{{ url_for(
                    'admin-event-modal',
                    admin_tab=admin_tab,
                    event_uniq_id=event.uniq_id,
                    action='update',
                ) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                data-bs-toggle="modal"
                data-bs-target="#modal-wrapper"
            >
                <i class="bi-pencil-fill"></i>
            </button>
        </span>
        <span
           {{ macros.tooltip_attributes('info', _('Duplicate the event.'), 'top') }}
        >
            <button
                class="btn btn-sm btn-outline-primary"
                onclick="event.stopPropagation();"
                hx-push-url="false"
                hx-get="{{ url_for(
                    'admin-event-modal',
                    admin_tab=admin_tab,
                    event_uniq_id=event.uniq_id,
                    action='clone',
                ) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                data-bs-toggle="modal"
                data-bs-target="#modal-wrapper"
            >
                <i class="bi-copy"></i>
            </button>
        </span>
        <span
            {{ macros.tooltip_attributes('info', _('Archive the event.'), 'top') }}
        >
            <button
                class="btn btn-sm btn-outline-danger"
                onclick="event.stopPropagation();"
                hx-push-url="false"
                hx-get="{{ url_for(
                    'admin-event-delete-modal',
                    admin_tab=admin_tab,
                    event_uniq_id=event.uniq_id,
                ) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                data-bs-toggle="modal"
                data-bs-target="#modal-wrapper"
            >
                <i class="bi bi-archive-fill"></i>
            </button>
        </span>
    {% endif %}
{% endblock %}
