{% extends '../common/card.html' %}

{% block card_header %}
    {{ event.name }}
{% endblock %}

{% block card_title %}
    {{ macros.event_visibility_icon(event, 'pe-1') }}
    {% with start_date=format_timestamp_date(event.start), stop_date=format_timestamp_date(event.stop) %}
        {% if start_date == stop_date %}
        <span class="fw-bold">
            {{ start_date }}
        </span> {{ format_timestamp_time(event.start) }}-{{ format_timestamp_time(event.start) }}
        {% else %}
            <span class="fw-bold">{{ start_date }} - {{ stop_date }}</span>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block card_text %}
    <div class="d-flex flex-column gap-1">
        <div>
            <i class="bi-question-circle pe-1" ></i>
            {{ _(
                'Unique ID: %(uniq_id)s',
                uniq_id=event.uniq_id
            ) }}
        </div>
        <div class="{% if not event.tournament_count %}text-secondary{% endif %}">
            <i class="bi-diagram-3 pe-1" ></i>
            {% if event.tournament_count %}
                {{ _('Tournaments: %(num)d', num=event.tournament_count) }}
            {% else %}
                {{ _('No tournaments') }}
            {% endif %}
        </div>
        <div class="{% if not event.player_count %}text-secondary{% endif %}">
            <i class="bi-people pe-1" ></i>
            {% if event.player_count %}
                {{ _('Players: %(num)d', num=event.player_count) }}
            {% else %}
                {{ _('No players') }}
            {% endif %}
        </div>

        {% for block in event_card_blocks %}
            {% include block %}
        {% endfor %}

        {% if admin_events_show_details %}
            <div class="{% if not event.timer_count %}text-secondary{% endif %}">
                <i class="bi-clock pe-1" ></i>
                {% if event.timer_count %}
                    {{ _(
                        'Timers: %(num)d',
                        num=event.timer_count
                    ) }}
                {% else %}
                    {{ _('No timers') }}
                {% endif %}
            </div>
            <div class="{% if not event.screen_count %}text-secondary{% endif %}">
                <i class="bi-fullscreen pe-1" ></i>
                {% if event.screen_count %}
                    {{ _(
                        'Screens: %(num)d',
                        num=event.screen_count
                    ) }}
                {% else %}
                    {{ _('No screens') }}
                {% endif %}
            </div>
            <div class="{% if not event.family_count %}text-secondary{% endif %}">
                <i class="bi-arrows-fullscreen pe-1" ></i>
                {% if event.family_count %}
                    {{ _(
                        'Screen families: %(num)d',
                        num=event.family_count
                    ) }}
                {% else %}
                    {{ _('No screen families') }}
                {% endif %}
            </div>
            <div class="{% if not event.rotator_count %}text-secondary{% endif %}">
                <i class="bi-repeat pe-1" ></i>
                {% if event.rotator_count %}
                    {{ _(
                        'Rotators: %(num)d',
                        num=event.rotator_count
                    ) }}
                {% else %}
                    {{ _('No rotators') }}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block card_buttons_left %}
{% endblock %}

{% block card_buttons_right %}
{% endblock %}
