{% extends '../../common/cards_container.html' %}

{% block cards_container_title %}
    <i class="{{ nav_tab.icon_class }}"></i> {{ nav_tab.title }}
{% endblock %}

{% block cards_container_right_buttons %}
    <span {{ tooltip_attributes('info', _('Refresh this page.'), 'top') }}>
        <button
                class="btn btn-outline-primary text-nowrap"
                hx-get="{{ url_for('admin-tab', admin_tab=admin_tab) }}"
                hx-target="body"
                preload
                hx-indicator="#please-wait"
        >
            <i class="bi-arrow-clockwise"></i>
        </button>
    </span>
    <span {{ tooltip_attributes('info', _('Add an event.'), 'top') }}>
        <button
            class="btn btn-primary text-nowrap"
            hx-get="{{ url_for('admin-tab-event-create-modal', admin_tab=admin_tab) }}"
            hx-target="body"
            preload
            hx-indicator="#please-wait"
        >
            <i class="bi-plus-square-fill"></i>
            {{ _('Create an event') }}
        </button>
    </span>
{% endblock %}

{% block cards_container_cards %}
    <div class="row">
        {% if nav_tab.events %}
            {% for event in nav_tab.events %}
                {% with
                    card_url=url_for('admin-event', event_uniq_id=event.uniq_id),
                    card_class='bg-danger-subtle' if not event.public and admin_auth else ''
                %}
                    {% include 'event_card.html' %}
                {% endwith %}
            {% endfor %}
        {% else %}
            <div class="col-12 mb-3">
                {{ nav_tab.empty_str }}
            </div>
        {% endif %}
    </div>
{% endblock %}

