{% import '/common/macros.j2' as macros with context %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;" charset=UTF-8">
        <title>{{ document.name }}{% if tournament %} - <span translate="no">{{ tournament.name }}</span>>{% endif %}</title>
        <style type="text/css">
            {% include 'print.css' %}
            {{ extra_css }}
            {% block css %}{% endblock %}
        </style>
        <script>
            {% block js %}{% endblock %}
        </script>
    </head>
    <body class="{{ document.id }}">
        <div class="center-wrapper">
            <div>
                {% if document.title %}
                    <div class="page-title">{{ document.title }}</div>
                {% endif %}
                {% if subtitle %}
                    <div class="page-subtitle">{{ subtitle }}</div>
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
