{% extends '/admin/print/base.html' %}

{% block css %}
    {% include 'boards.css' %}
{% endblock %}

{% block content %}
    <table class="board-table">
        <thead>
            <tr class="board-header">
                {% for column in board_columns %}
                    <th class="{{ column.header_classes }}">
                        {{ macros.column_header(column) }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for board in boards %}
                <tr
                    id="board-{{board.id}}"
                    class="board-row {% if loop.index is even %}even{% else %}odd{% endif %}"
                >
                    {% for column in board_columns %}
                        <td class="{{ column.get_cell_classes(board) }}">
                            {% if column.cell_template %}
                                {% include column.cell_template %}
                            {% else %}
                                {{ macros.column_cell(column, board) }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
