{% extends '/admin/print/base.html' %}

{% block css %}
    {% include 'players.css' %}
{% endblock %}

{% block content %}
    {% for split_by, tournament_players in ordered_split_players.items() %}
        <div class="section-title">
            {{ split_by }}
        </div>
        <table class="player-table">
            <thead>
                <tr class="player-header">
                    {% for column in player_columns %}
                        <th class="{{ column.header_classes }}">
                            {{ macros.column_header(column) }}
                        </th>
                    {% endfor %}
                    <th></th>
                    {% for column in opponent_columns %}
                        <th class="{{ column.header_classes }}">
                            {{ macros.column_header(column) }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for tournament_player in tournament_players %}
                    <tr id="player-{{ tournament_player.id }}" class="player-row {{ 'even' if loop.index is even else 'odd' }}">
                        {% for column in player_columns %}
                            <td class="{{ column.get_cell_classes(tournament_player) }}">
                                {% if column.cell_template %}
                                    {% include column.cell_template %}
                                {% else %}
                                    {{ macros.column_cell(column, tournament_player) }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        {% set pairing = tournament_player.pairings_by_round[pairings_round] %}
                        {% set opponent = pairing.opponent %}
                        {% if opponent %}
                            <td class="board">
                                {{ _('Board #%(board_number)d with %(color)s', board_number=tournament_player.board_number, color=tournament_player.color_str) }}
                            </td>
                            {% for column in opponent_columns %}
                                <td class="{{ column.get_cell_classes(opponent) }}">
                                {% if column.cell_template %}
                                    {% include column.cell_template %}
                                {% else %}
                                    {{ macros.column_cell(column, opponent) }}
                                {% endif %}
                                </td>
                            {% endfor %}
                        {% else %}
                            <td colspan="{{ 1 + opponent_columns | length }}" class="plays">
                                {{ tournament_player.exempt_str if pairing.exempt else tournament_player.not_paired_str }}
                            <td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
