{% import '../../common/macros.j2' as macros %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;" charset="iso-8859-1">
        <title>{{ tournament.name }}</title>
        <style type="text/css">
            .odd {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #000000; background-color: #FFFFFF;}
            .even {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #000000; background-color: #E0E0E0;}
            .column-heading {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000; background-color: #FFFFFF;}
            .title {font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #000000; margin: 16px 0 12px; border: thin none; background-color: #FFFFFF;}
            .title_big {font-family: Arial, Helvetica, sans-serif; font-size: 24pt; font-weight: bold;}
            .title_medium {font-family: Arial, Helvetica, sans-serif; font-size: 16pt; font-weight: bold;}
            .small {font-size: 10px;}
            .left {white-space: nowrap; border-style: solid; border-color: black; border-width:0px; text-align:left;}
            .right {white-space: nowrap; border-style: solid; border-color: black; border-width:0px; text-align:right;}
            .center {white-space: nowrap; border-style: solid; border-color: black; border-width:0px; text-align:center;}
            .border_l {white-space: nowrap; border-style: solid; border-color: black; border-width:1px; text-align:left;}
            .border_r {white-space: nowrap; border-style: solid; border-color: black; border-width:1px; text-align:right;}
            .border_c {white-space: nowrap; border-style: solid; border-color: black; border-width:1px; text-align:center;}
        </style>
    </head>
    <body topmargin="4" leftmargin="4">
        <div align="center">
            <div class="title_big">{{ tournament.name }}</div>
            <div class="title_medium">{{ title }}</div>
            
            {% set n = [1] %}
            {% set extra_classes = "" %}
            {% if tournament_summary %}{% set extra_classes = "small" %}{% endif %}
            {% set rank_players = document.is_ranking or document.is_crosstable %}
            {% if players %}
                {% for splitBy in players.keys() %}
                    <div class="title">
                        {{ splitBy }}
                    </div>

                    <table width="750" cellpadding="2" cellspacing="0" style="border-collapse:collapse;">
                        <thead>
                            <tr class="column-heading">
                                {% set i = 0 %}
                                {{ macros.extra_column_header(i, extra_classes, extra_columns)}}{% set i = i + 1 %}
                                <th class="right" {{ extra_classes}}>
                                    {% if rank_players %}
                                        {{ _('Rk. *** RANK FOR PRINT VIEW') }}
                                    {% else %}
                                        {{ _('Nb. *** NB FOR PRINT VIEW') }}
                                    {% endif %}
                                </th>
                                {{ macros.extra_column_header(i, extra_classes, extra_columns)}}{% set i = i + 1 %}
                                <th class="right {{ extra_classes}}">&nbsp;</th>
                                {{ macros.extra_column_header(i, extra_classes, extra_columns)}}{% set i = i + 1 %}
                                <th class="left {{ extra_classes}}">{{ _('Name *** NAME FOR PRINT VIEW') }}</th>
                                {{ macros.extra_column_header(i, extra_classes, extra_columns)}}{% set i = i + 1 %}
                                <th class="center {{ extra_classes}}">
                                    {% if tournament.rating == 1 %}
                                        {{ _('Elo *** STD ELO FOR PRINT VIEW') }}
                                    {% elif tournament.rating == 2 %}
                                        {{ _('Rapid *** RAPID ELO FOR PRINT VIEW') }}
                                    {% elif tournament.rating == 3 %}
                                        {{ _('Blitz *** BLITZ ELO FOR PRINT VIEW') }}
                                    {% endif %}
                                </th>
                                {{ macros.extra_column_header(i, extra_classes, extra_columns)}}{% set i = i + 1 %}
                                <th class="center {{ extra_classes}}">{{ _('Fed *** FEDERATION FOR PRINT VIEW') }}</th>
                                {{ macros.extra_column_header(i, extra_classes, extra_columns)}}{% set i = i + 1 %}
                                {% if document.is_crosstable %}
                                    {% for round in range(1, max_round + 1) %}
                                        <th class="right">{{ _('R %(round)d *** ROUND FOR PRINT VIEW', round=round) }}</th>
                                    {% endfor %}
                                {% else %}
                                    <th class="left {{ extra_classes}}">{{ _('Club *** CLUB FOR PRINT VIEW') }}</th>
                                {% endif %}
                                {% if rank_players %}
                                    <th class="right {{ extra_classes}}">
                                        <strong>{{ _('Pts *** POINTS FOR PRINT VIEW') }}</strong>
                                    </th>
                                    {% for tie_break in admin_tournament.tie_breaks %}
                                        <th class="right">{{ tie_break.acronym }}</th>
                                    {% endfor %}
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for player in players[splitBy] %}
                                <tr id="player-{{ player.id }}" class="{% if loop.index is even %}odd{% else %}even{% endif %}">
                                    {% set i = 0 %}
                                    {{ macros.extra_column_data(i, player, extra_classes, extra_columns)}}{% set i = i + 1 %}
                                    <td class="right {{ extra_classes}}">
                                        {% if rank_players %} {{ player.rank }} {% else %} {{ n|length }} {% endif %}
                                    </td>
                                    {{ macros.extra_column_data(i, player, extra_classes, extra_columns)}}{% set i = i + 1 %}
                                    <td class="right {{ extra_classes}}">{{ player.title.short_name }}</td>
                                    {{ macros.extra_column_data(i, player, extra_classes, extra_columns)}}{% set i = i + 1 %}
                                    <td class="left {{ extra_classes}}"><b>{{ player.last_name }} {{ player.first_name }}</b></td>
                                    {{ macros.extra_column_data(i, player, extra_classes, extra_columns)}}{% set i = i + 1 %}
                                    <td class="right {{ extra_classes}}">{{ player.rating }}&nbsp;{{ player.rating_type }}</td>
                                    {{ macros.extra_column_data(i, player, extra_classes, extra_columns)}}{% set i = i + 1 %}
                                    <td class="center {{ extra_classes}}">{{ player.federation }}</td>
                                    {{ macros.extra_column_data(i, player, extra_classes, extra_columns)}}{% set i = i + 1 %}
                                    {% if document.is_crosstable %}
                                        {% for crosstable_string in (player.crosstable_strings)[:max_round] %}
                                            <td class="right {{ extra_classes}}">{{ crosstable_string }}</td>
                                        {% endfor %}
                                    {% else %}
                                        <td class="left {{ extra_classes}}">{{ player.club }}</td>
                                    {% endif %}
                                    {% if rank_players %}
                                        <td class="right {{ extra_classes}}"><strong>{{ player.points_str }}</strong></td>
                                        {% for tie_break_string in player.tie_break_values_as_strings %}
                                            <td class="center {{ extra_classes}}">{{ tie_break_string }}</td>
                                        {% endfor %}
                                    {% endif %}
                                </tr>

                                {% set __ = n.append(1) %} 
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>