{# ========== BORDERS ========== #}
.player-table { border-collapse:collapse; }
{# ========== WIDTH, MARGINS, PADDING ==========#}
.player-table { padding: 2px; border-spacing: 0; }
{# ========== FONT SIZE ========== #}
.crosstable .player-header *,
.crosstable .player-row * { font-size: 10px; }
@media print {
    .player-header *,
    .player-row * { font-size: 10px; }
}
{# ========== FONT WEIGHT ========== #}
.player-header * { font-weight: bold; }
@media not print {
    .player-row .name,
    .player-row .points { font-weight: bold; }
}
@media print {
    .player-table .board,
    .player-table .color { font-weight: bold; }
}
{# ========== PLAYER NAME POPOVER ========== #}
.player-name {
    position: relative;
}

.player-name .player-history table {
    display: none;
    border-collapse: collapse;
    position: absolute;
    left: 40px;
    top: 10px;
    padding: 5px;
    border: 1px solid grey;
    background-color: #FFFFFF !important;
    z-index: 999;
}

.player-name:hover .player-history table {
    display: block;
}

.player-history table tr:nth-child(even) * {
    background-color: #FFFFFF !important;
}

.player-history table tr:nth-child(odd) * {
    background-color: #E0E0E0 !important;
}
