{% extends '/admin/print/base.html' %}

{% block css %}
    {% include 'players.css' %}
{% endblock %}

{% block content %}
    {% set n = [1] %}
    {% for split_by in players.keys() %}
        <div class="split-by-title">
            {{ split_by }}
        </div>
        <table class="player-table">
            <thead>
                {% include '/common/print/player_header.html' %}
            </thead>
            <tbody>
                {% for player in players[split_by] %}
                    {% with row_class='even' if loop.index is even else 'odd' %}
                        {% include '/common/print/player_row.html' %}
                    {% endwith %}
                    {% set __ = n.append(1) %}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
