* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    background-color: #FFFFFF;
}
{# ========== COLORS ========== #}
tr.even td { background-color: #FFFFFF; }
tr.odd td { background-color: #E0E0E0; }
{# ========== WIDTH, MARGINS, PADDING ==========#}
body { margin: 4px; }
tr td, tr th {
    padding: 2px 4px;
}
.section-title { margin: 16px 0 12px; }
.section-sub-title {margin: 0 0 8px;}
.separator { width: 50vw; height: 1px; margin: 30pt 0 30pt; border-top: 1px solid #CCCCCC; }
.short-separator { width: 10vw; height: 1px; margin: 30pt 0 30pt; border-top: 1px solid #CCCCCC; }

{# ========== FONT SIZE ========== #}
.page-title { font-size: 24pt; padding-top: 10pt; }
.page-subtitle { font-size: 16pt; }
.tournament-title { font-size: 20pt; margin-top: 30pt; }
.section-title { font-size: 18px; }
.section-sub-title { font-size: 15px; }
{# ========== FONT WEIGHT ========== #}
.page-title,
.page-subtitle,
.section-title,
.section-sub-title,
.important-cell { font-weight: bold; }
{# ========== CELLS ========== #}
.checkin {
    font-size: 18px;
    padding: 0 6px 2px;
    position: relative;
}
