{% extends '/admin/print/base.html' %}

{% block content %}
    {% for tournament in tournaments %}
            {% if not loop.first %}
                <div class="separator"></div>
            {% endif %}
            <div class="{% if not loop.first %}no-page-break{% endif %}">
            <div class="tournament-title">{{ tournament.name }}</div>
            {% for prize_group in tournament.sorted_prize_groups %}
                {% if not loop.first %}
                    <div class="short-separator"></div>
                {% endif %}
                {% for prize_category in prize_group.sorted_categories %}
                    <div class="no-page-break">
                        <div class="section-title">
                            {{ prize_category.name }}
                            {% if prize_category.total_prize_value %}
                                ({{ _('total: %(total)s', total=prize_category.format_total_prize_value(prize_currency)) }})
                            {% endif %}
                        </div>
                        <div class="section-sub-title">
                            {{ prize_category.format_shared_prizes(prize_currency) }}
                        </div>
                        <table style="margin: auto;">
                            <tbody>
                                {% for prize in prize_category.sorted_prizes %}
                                    <tr>
                                        <td class="important-cell">
                                            {{ ordinal_integer(loop.index)|safe }}
                                        </td>
                                        <td>{{ prize.name }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
