{% extends '/admin/print/base.html' %}

{% block content %}
    {% for prize_group in document.tournament.sorted_prize_groups %}
        {% for prize_category in prize_group.sorted_categories %}
            <div class="section-title">
                {{ prize_category.name }}
            </div>
            {% if prize_category.prize_sharing.id != no_sharing_id %}
                <div class="section-sub-title">
                    {{ _('Shared prizes (%(prize_sharing)s)', prize_sharing=prize_category.prize_sharing.name) }}
                </div>
            {% endif %}
            <table>
                <tbody>
                    {% for prize in prize_category.sorted_prizes %}
                        <tr>
                            <td class="important-cell">
                                {{ ordinal_integer(loop.index) }}
                            </td>
                            <td>
                                {% if prize.is_monetary %}
                                    {{ prize.format_value() }}
                                {% else %}
                                    {{ prize.description }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% endfor %}
{% endblock %}
