{% extends '/admin/print/base.html' %}

{% block css %}
    {% include 'players.css' %}
{% endblock %}

{% block content %}
    <table class="player-table">
        <thead>
            <tr class="player-header">
                <th class="rank">
                    {{ pgettext('rank column header', 'Rk.') }}
                </th>
                <th class="title">&nbsp;</th>
                <th class="name">{{ pgettext('name column header', 'Name') }}</th>
                <th class="rating">
                    {{ tournament.rating.print_view_header }}
                </th>
                <th class="result">{{ pgettext('result column header', 'Res.') }}</th>
                <th class="title">&nbsp;</th>
                <th class="name text-start">{{ pgettext('name column header', 'Name') }}</th>
                <th class="rating">
                    {{ tournament.rating.print_view_header }}
                </th>
                <th class="perf">
                    {{ pgettext('performance indicator column header', 'Score') }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for (tournament_player, opponent, result, score) in scores %}
                {% with row_class='even' if loop.index is even else 'odd' %}
                    <tr id="player-{{ tournament_player.id }}" class="player-row {{ row_class }}">
                        <td class="rank">
                            {{ loop.index }}
                        </td>
                        <td class="title">{{ tournament_player.display_title }}</td>
                        <td class="name">{{ tournament_player.full_name }}</td>
                        <td class="rating">{{ tournament_player.rating_str_in_round(ranking_round) }}</td>
                        <td class="result">{{ result }}</td>
                        <td class="title">{{ opponent.display_title }}</td>
                        <td class="name">{{ opponent.full_name }}</td>
                        <td class="rating">{{ opponent.rating_str_in_round(ranking_round) }}</td>
                        <td class="perf">{{ "%+.2f" % score }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
