{% extends '/admin/print/base.html' %}

{% block css %}
    .rr-schedule {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 16pt;
    }
    .rr-schedule td {
        padding: 4pt 8pt;
        vertical-align: middle;
    }
    .rr-schedule td.team-left { text-align: left; width: 45%; }
    .rr-schedule td.score {
        text-align: right;
        white-space: nowrap;
        width: 10%;
        font-weight: bold;
    }
    .rr-schedule td.team-right { text-align: left; width: 45%; padding-left: 6pt; }
    .rr-schedule tr.exempt td { font-style: italic; color: #555; }
{% endblock %}

{% block content %}
    {% if not rounds_data %}
        <div class="error">{{ _('No rounds in this tournament.') }}</div>
    {% else %}
        {% for round in rounds_data %}
            <section>
                <div class="section-title">{{ _('Round #%(round)d', round=round.number) }}</div>
                <table class="rr-schedule">
                    <tbody>
                        {% for match in round.matches %}
                            <tr class="{% if loop.index is even %}even{% else %}odd{% endif %}">
                                <td class="team-left">{{ match.left }}</td>
                                <td class="score">
                                    {%- if match.left_score is not none -%}
                                        {{ match.left_score }} - {{ match.right_score }}
                                    {%- endif -%}
                                </td>
                                <td class="team-right">{{ match.right }}</td>
                            </tr>
                        {% endfor %}
                        {% if round.exempt %}
                            <tr class="exempt {% if (round.matches|length + 1) is even %}even{% else %}odd{% endif %}">
                                <td class="team-left">{{ round.exempt }}</td>
                                <td class="score">{{ _('Bye') }}</td>
                                <td class="team-right"></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </section>
        {% endfor %}
    {% endif %}
{% endblock %}
