{% extends 'common/base.html' %}

{% block admin_header_back_button %}
    {% set target_tab = 'current_events' %}
    {% if client.can_view_passed_coming_events %}
        {% if admin_event.coming(now) %}
            {% set target_tab = 'coming_events' %}
        {% elif admin_event.passed(now) %}
            {% set target_tab = 'passed_events' %}
        {% endif %}
    {% endif %}
    <div class="d-flex px-3 pb-2 w-100 justify-content-between align-items-center border-bottom">
        <button
            class="btn px-0 py-0 d-flex align-items-center gap-2"
            hx-get="{{ url_for('admin-tab', admin_tab=target_tab) }}"
            preload
            hx-target="body"
            hx-push-url="true"
            hx-indicator="#please-wait"
        >
            <i class="back-icon bi-arrow-left-circle-fill"></i>
            <span class="expanded-only">
                {{ _('All Events') }}
            </span>
        </button>
        {{ macros.experimental_warning(EXPERIMENTAL_FEATURES) }}
    </div>
{% endblock admin_header_back_button %}

{% block admin_nav %}
    <h4 class="w-100 px-2 fs-5 mt-2 text-center">{{ admin_event.name }}</h4>
    {% for nav_id, nav_tab in nav_tabs.items() %}
        {% if 'submenu' in nav_tab %}
            {# Dropdown for compact mode #}
            {% with active=(admin_event_tab in nav_tab.submenu.keys()) %}
                <div class="dropend compact-only w-100">
                    <span class="sidebar-tooltip" {{ macros.tooltip_attributes('info', nav_tab.title, 'right') }}>
                        <button
                            class="nav-link text-start {{ nav_tab.class }} {% if nav_tab.disabled %}link-secondary{% endif %} {% if active %}active{% endif %}"
                            type="button"
                            data-bs-toggle="dropdown"
                            {% if nav_tab.disabled %}
                                disabled
                            {% endif %}
                            aria-expanded="false"
                        >
                            <div class="d-flex align-items-center">
                                {% if nav_tab.icon_class %}
                                   <i class="{{ nav_tab.icon_class }}"></i>
                                {% endif %}
                                <i class="bi bi-chevron-compact-right px-0"></i>
                            </div>
                        </button>
                        <ul class="dropdown-menu">
                            {% for sub_nav_id, sub_nav_tab in nav_tab.submenu.items() %}
                                {% if sub_nav_tab.separator %}
                                    <li class="dropdown-divider"></li>
                                {% endif %}
                                <li>
                                    <button
                                        class="dropdown-item {% if sub_nav_id == admin_event_tab %}active{% endif %}"
                                        hx-get="{{ url_for(sub_nav_id, event_uniq_id=admin_event.uniq_id) }}"
                                        preload
                                        hx-target="body"
                                        hx-push-url="true"
                                        type="button"
                                        hx-indicator="#please-wait"
                                        {% if sub_nav_tab.disabled %}
                                            disabled
                                        {% endif %}
                                    >
                                        {% if nav_tab.icon_class %}
                                            <i class="{{ sub_nav_tab.icon_class }} pe-1"></i>
                                        {% endif %}
                                        {{ sub_nav_tab.title }}
                                    </button>
                                </li>
                            {% endfor %}
                        </ul>
                    </span>
                </div>
            {% endwith %}

            {# Expanding menu for expanded mode #}
            {% with active=(admin_event_tab == nav_id) %}
                <button
                    class="expanded-only btn-toggle nav-link text-start {{ nav_tab.class }} {% if nav_tab.disabled %}link-secondary{% endif %}"
                    id="nav-{{ nav_id }}-tab"
                    data-testid="nav-{{ nav_id }}-tab"
                    data-bs-toggle="collapse"
                    data-bs-target="#{{ nav_id }}-collapse"
                >
                    {% if nav_tab.icon_class %}
                        <i class="{{ nav_tab.icon_class }}"></i>
                    {% endif %}
                    <span class="expanded-only">{{ nav_tab.title }}</span>
                    <i class="dropdown-arrow bi bi-chevron-right"></i>
                </button>
                <div class="collapse w-100 expanded-only" id="{{ nav_id }}-collapse">
                    {% for sub_nav_id, sub_nav in nav_tab.submenu.items() %}
                        {% if sub_nav.separator %}
                            <div class="sidebar-divider"></div>
                        {% endif %}
                        <button
                            class="nav-link text-start {{ nav_tab.class }} {% if nav_tab.disabled %}link-secondary{% endif %} {%if active %}active{% endif %}"
                            id="nav-{{ sub_nav_id }}-tab"
                            data-testid="nav-{{ sub_nav_id }}-tab"
                            hx-get="{{ url_for(sub_nav_id, event_uniq_id=admin_event.uniq_id) }}"
                            preload
                            hx-target="body"
                            hx-push-url="true"
                            type="button"
                            hx-indicator="#please-wait"
                            {% if sub_nav.disabled %}
                                disabled
                            {% endif %}
                        >
                            {% if nav_tab.icon_class %}
                                <i class="indented {{ sub_nav.icon_class }}"></i>
                            {% endif %}
                            {{ sub_nav.title }}
                        </button>
                    {% endfor %}
                </div>
            {% endwith %}
        {% else %}
            {% with active=(admin_event_tab == nav_id) %}
                <span class="sidebar-tooltip" {{ macros.tooltip_attributes('info', nav_tab.title, 'right') }}>
                    <button
                        class="nav-link text-start {{ nav_tab.class }} {% if nav_tab.disabled %}link-secondary{% endif %} {%if active %}active{% endif %}"
                        id="nav-{{ nav_id }}-tab"
                        data-testid="nav-{{ nav_id }}-tab"
                        hx-get="{{ url_for(nav_id, event_uniq_id=admin_event.uniq_id) }}"
                        preload
                        hx-target="body"
                        hx-push-url="true"
                        data-bs-toggle="tab"
                        data-bs-target="#nav-{{ nav_tab.name }}"
                        type="button"
                        role="tab"
                        aria-controls="nav-{{ nav_id }}"
                        aria-selected="true"
                        hx-indicator="#please-wait"
                        {% if nav_tab.disabled %}
                            disabled
                        {% endif %}
                    >
                        {% if nav_tab.icon_class %}
                            <i class="{{ nav_tab.icon_class }}"></i>
                        {% endif %}
                        <span id="nav-{{ nav_id }}-tab-title" class=" expanded-only">{{ nav_tab.title }}</span>
                    </button>
                </span>
            {% endwith %}
        {% endif %}
    {% endfor %}

    {{ admin_macros.extra_admin_nav_item("print", extra_admin_nav_items)}}
    {% if client.can_print %}
        <span class="sidebar-tooltip" {{ macros.tooltip_attributes('info', _('Print'), 'right') }}>
            <button
                class="btn nav-link text-start"
                hx-get="{{ url_for('admin-print-modal', event_uniq_id=admin_event.uniq_id) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                preload
                data-bs-toggle="modal"
                data-bs-target="#modal-wrapper"
            >
                <i class="bi bi-printer-fill"></i>
                <span class="expanded-only">{{ _('Print') }}</span>
            </button>
        </span>
    {% endif %}
    {{ admin_macros.extra_admin_nav_item("database", extra_admin_nav_items)}}
    {% include '/admin/common/database/database_button.html' %}
    {% include '/common/profile/profile_button.html' %}
{% endblock admin_nav %}

{% block admin_content %}
    {% for nav_id, nav_tab in nav_tabs.items() %}
        {% if 'submenu' in nav_tab %}
            {% for nav_id, nav_tab in nav_tab.submenu.items() %}
                {% with active=(admin_event_tab == nav_id) %}
                    <div
                        class="tab-pane fade {% if active %}show active{% endif %}"
                        id="nav-{{ nav_id }}"
                        role="tabpanel"
                        aria-labelledby="nav-{{ nav_id }}-tab"
                    >
                        {% if active %}
                            {% include nav_tab.template %}
                        {% endif %}
                    </div>
                {% endwith %}
            {% endfor %}
        {% else %}
            {% with active=(admin_event_tab == nav_id) %}
                <div
                    class="tab-pane fade {% if active %}show active{% endif %}"
                    id="nav-{{ nav_id }}"
                    role="tabpanel"
                    aria-labelledby="nav-{{ nav_id }}-tab"
                >
                    {% if active %}
                        {% include nav_tab.template %}
                    {% endif %}
                </div>
            {% endwith %}
        {% endif %}
    {% endfor %}
    {# Add a listener here to refresh the page when after login when no tab #}
    {% if not nav_tabs %}
        {{ macros.refresh_listener(
            hx_get=url_for('admin-event', event_uniq_id=admin_event.uniq_id),
        ) }}
    {% endif %}
{% endblock admin_content %}
