{% extends 'common/base.html' %}

{% block admin_header_back_button %}
    <div class="d-flex px-3 pb-2 w-100 justify-content-between align-items-center border-bottom">
        <button
            class="btn px-0 py-0 d-flex align-items-center gap-2"
            hx-get="{{ url_for('index') }}"
            preload
            hx-target="body"
            hx-push-url="true"
            hx-indicator="#please-wait"
            hx-swap="transition:true"
        >
            <i class="bi-arrow-left-circle-fill"></i>
            <span class="expanded-only">{{ _('Home page') }}</span>
        </button>
        {{ macros.experimental_warning(EXPERIMENTAL_FEATURES) }}
    </div>
{% endblock admin_header_back_button %}

{% block admin_nav %}
    {% for nav_id, nav_tab in nav_tabs.items() %}
        {% if nav_tab.divider %}
            <div class="sidebar-divider my-3"></div>
        {% endif %}
        {% if nav_tab.section_title %}
            <h4 class="ps-3 mb-2 fs-5 mt-3">{{ nav_tab.section_title }}</h4>
        {% endif %}
        {% with active=(admin_tab == nav_id) %}
             <span class="sidebar-tooltip" {{ macros.tooltip_attributes('info', nav_tab.title, 'right') }}>
                <button
                    class="nav-link text-start {{ nav_tab.class }} {% if nav_tab.disabled %}link-secondary{% endif %} {%if active %}active{% endif %}"
                    id="nav-{{ nav_id }}-tab"
                    hx-get="{{ url_for('admin-tab', admin_tab=nav_id) }}"
                    preload
                    hx-target="body"
                    hx-push-url="true"
                    type="button"
                    role="tab"
                    hx-indicator="#please-wait"
                    {% if nav_tab.disabled %}
                        disabled
                    {% endif %}
                >
                    {% if nav_tab.icon_class %}
                         <i class="{{ nav_tab.icon_class }} pe-1"></i>
                    {% endif %}
                    <span class="expanded-only">{{ nav_tab.title }}</span>
                </button>
            </span>
        {% endwith %}
    {% endfor %}
    {% include '/admin/common/database/database_button.html' %}
{% endblock admin_nav %}

{% block admin_content %}
    {% for nav_id, nav_tab in nav_tabs.items() %}
        {% with active=(admin_tab == nav_id) %}
            <div
                class="tab-pane fade {% if active %}show active{% endif %}"
                id="nav-{{ nav_id }}"
                role="tabpanel"
            >
                {% if active %}
                    {% include nav_tab.template %}
                {% endif %}
            </div>
        {% endwith %}
    {% endfor %}
{% endblock admin_content %}
