{% import '/common/macros.j2' as macros with context %}
{% import '/admin/common/macros.j2' as admin_macros with context %}

{% if modal == 'config' %}
    {% include 'index/config_modal.html' %}
{% elif modal == 'event' %}
    {% include 'event/event_modal.html' %}
{% elif modal == 'event-delete' %}
    {% include 'event/event_delete_modal.html' %}
{% elif modal == 'print' %}
    {% include 'event/print_modal.html' %}
{% elif modal == 'tournament' %}
    {% include 'tournaments/tournament_modal.html' %}
{% elif modal == 'tournament-import' %}
    {% include 'tournaments/tournament_import_modal.html' %}
{% elif modal == 'player' %}
    {% include 'players/player_modal.html' %}
{% elif modal == 'record' %}
    {% include 'players/record_modal.html' %}
{% elif modal == 'close_check_in' %}
    {% include 'players/close_check_in_modal.html' %}
{% elif modal == 'players_diff' %}
    {% include 'players/players_diff_modal.html' %}
{% elif modal == 'unpaired-player' %}
    {% include 'pairings/unpaired_player_modal.html' %}
{% elif modal == 'safety-mode' %}
    {% include 'pairings/safety_mode_modal.html' %}
{% elif modal == 'pairing' %}
    {% include 'pairings/pairing_modal.html' %}
{% elif modal == 'unfinished-round' %}
    {% include 'pairings/unfinished_round_modal.html' %}
{% elif modal == 'pairing-settings' %}
    {% include 'pairings/settings/modal.html' %}
{% elif modal == 'pairing_info' %}
    {% include 'pairings/pairing_info_modal.html' %}
{% elif modal == 'screen' %}
    {% include 'screens/screen_modal.html' %}
{% elif modal == 'screen_sets' %}
    {% include 'screens/screen_sets_modal.html' %}
{% elif modal == 'family' %}
    {% include 'families/family_modal.html' %}
{% elif modal == 'rotator' %}
    {% include 'rotators/rotator_modal.html' %}
{% elif modal == 'default-timers' %}
    {% include 'timers/default_timers_modal.html' %}
{% elif modal == 'timer' %}
    {% include 'timers/timer_modal.html' %}
{% elif modal == 'timer_hours' %}
    {% include 'timers/timer_hours_modal.html' %}
{% elif modal == 'display_controller' %}
    {% include 'display_controllers/display_controller_modal.html' %}
{% elif modal == 'database' %}
    {% include 'common/database/database_modal.html' %}
{% elif modal == 'prize_groups' %}
    {% include 'prizes/prize_groups_modal.html' %}
{% elif modal == 'prize_group_delete' %}
    {% include 'prizes/prize_group_delete_modal.html' %}
{% elif modal == 'prize_category' %}
    {% include 'prizes/prize_category_modal.html' %}
{% elif modal == 'prize_criteria' %}
    {% include 'prizes/prize_criteria_modal.html' %}
{% elif modal == 'prize_criterion_form' %}
    {% include 'prizes/prize_criterion_form_modal.html' %}
{% elif modal == 'prizes' %}
    {% include 'prizes/prizes_modal.html' %}
{% elif modal == 'prize_form' %}
    {% include 'prizes/prize_form_modal.html' %}
{% elif modal == 'prize_players' %}
    {% include 'prizes/prize_players_modal.html' %}
{% elif modal %}
    {% include modal ~ '_modal_not_found.html' %}
{% endif %}
