<span>
    {% set full_name = tournament_player.last_name ~ ' ' ~ tournament_player.first_name if last_name_first else tournament_player.full_name %}
    {% if client.can_update_players_history(tournament_player.tournament.id)%}
        <a
            translate="no"
            class="player-link"
            hx-get="{{ url_for('admin-record-modal', event_uniq_id=admin_event.uniq_id, player_id=tournament_player.id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >{{ full_name }}{% if display_rating %} ({{ tournament_player.rating_str }}){% endif %}</a>
    {% else %}
        <span translate="no">{{ full_name }}{% if display_rating %} ({{ tournament_player.rating_str }}){% endif %}</span>
    {% endif %}
</span>
