{% import '/common/macros.j2' as macros with context %}
{% import '/admin/common/macros.j2' as admin_macros with context %}

<div class="modal-dialog modal-dialog-scrollable" style="--bs-modal-width: min(90vw, 500px);">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">{{ _('Set the coefficient') }}</h2>
        </div>
        <div class="modal-body">
            <p class="text-body-secondary">
                {{ _('The coefficient can be used to weight this tournament’s points and tie-break values in the championship ranking.') }}
            </p>
            <form
                id="modal-form"
                hx-trigger="submit, enterKeypressFromModal"
                hx-post="{{ url_for('admin-championship-source-coefficient', championship_uniq_id=championship.uniq_id, source_id=source.id) }}"
                hx-target="body"
                hx-indicator="#please-wait"
            >
                <div class="row gy-3">
                    <div class="col-12">
                        {{ admin_macros.number_input(
                            name='coefficient',
                            label=_('Coefficient:'),
                            placeholder=_('E.g.: 1.5'),
                            min='0',
                            step='0.1',
                            data=data,
                            errors=errors,
                        ) }}
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary text-nowrap" data-bs-dismiss="modal">
                <i class="bi-x-circle-fill pe-1"></i>{{ _('Cancel') }}
            </button>
            <button type="submit" form="modal-form" class="btn btn-primary text-nowrap">
                <i class="bi-check-circle-fill pe-1"></i>{{ _('Save') }}
            </button>
        </div>
    </div>
</div>

<script>requestRefresh()</script>
