{% extends 'common/base.html' %}

{% block user_header_back_button %}
    {% if user_event.start > now %}
        {% set target_tab = 'coming_events' %}
    {% elif user_event.stop < now %}
        {% set target_tab = 'passed_events' %}
    {% else %}
        {% set target_tab = 'current_events' %}
    {% endif %}
    <button
        class="btn btn-link link-dark fs-3 fw-bold px-1 py-0"
        hx-get="{{ url_for('user-tab', user_tab=target_tab) }}"
        preload
        hx-target="body"
        hx-push-url="true"
        hx-indicator="#please-wait"
        hx-trigger="click, keyup[key=='Escape'] from:body"
        hx-indicator="#please-wait"
        {{ macros.tooltip_attributes('info', _('Go back to the events page.'), 'top') }}
    >
        <i class="bi-arrow-left-circle-fill"></i>
    </button>
{% endblock user_header_back_button %}

{% block user_header_refresher %}
    <div
        class="refresher user-event-refresher"
        hx-headers='{"If-Modified-Since": "{{ now_http_date }}"}'
        hx-get="{{ url_for('user-event-tab', event_uniq_id=user_event.uniq_id, user_event_tab=user_event_tab) }}"
        hx-target="body"
        hx-trigger="every {{ sharly_chess_config.user_index_update_delay }}s queue:none"
        hx-indicator="#please-wait"
    ></div>
{% endblock user_header_refresher %}

{% block user_header_nav %}
    {% for nav_id, nav_tab in nav_tabs.items() %}
        <button
            class="user-event-nav-link nav-link {% if nav_tab.disabled %}link-secondary{% endif %} {%if user_event_tab == nav_id %}active{% endif %} py-0"
            id="nav-{{ nav_id }}-tab"
            hx-get="{{ url_for('user-event-tab', event_uniq_id=user_event.uniq_id, user_event_tab=nav_id) }}"
            preload
            hx-target="body"
            hx-push-url="true"
            type="button"
            role="tab"
            hx-indicator="#please-wait"
            {% if nav_tab.disabled %}
                disabled
            {% endif %}
        >
            <div class="d-flex align-items-center">
                <div class="pe-2">
                    {% if nav_id == 'rotators' %}
                        {{ macros.rotator_icon() }}
                    {% elif nav_id == 'display_controllers' %}
                        {{ macros.display_controller_icon() }}
                    {% else %}
                        {{ macros.screen_type_icon(nav_id, true) }}
                    {% endif %}
                </div>
                {{ nav_tab.title }}
            </div>
        </button>
    {% endfor %}
{% endblock user_header_nav %}

{% block user_content %}
    {% for nav_id, nav_tab in nav_tabs.items() %}
        {% with
            active=(user_event_tab == nav_id)
        %}
            <div
                class="tab-pane fade {% if active %}show active{% endif %}"
                id="nav-{{ nav_id }}"
                role="tabpanel"
                aria-labelledby="nav-{{ nav_id }}-tab"
            >
                {% if active %}
                    <section class="pb-1">
                        <div
                            class="d-flex mb-2 align-items-center flex-wrap gap-1 z-3"
                            style="max-width: calc(var(--vw, 100vw) - 2rem); position: sticky; left: 1.5rem;"
                        >
                            {% call() macros.section_title() %}
                                {% if user_event_tab == 'rotators' %}
                                    {{ macros.rotator_icon() }} {{ user_event.name }} - {{ nav_tab.title }}
                                {% elif user_event_tab == 'display_controllers' %}
                                    {{ macros.display_controller_icon() }} {{ user_event.name }} - {{ nav_tab.title }}
                                {% else %}
                                    {{ macros.screen_type_icon(nav_id, true) }} {{ user_event.name }} - {{ nav_tab.title }}
                                {% endif %}
                            {% endcall %}
                        </div>
                        <div class="container-fluid" style="--bs-gutter-x: 0;">
                            <div class="row">
                                {% if user_event_tab == 'rotators' %}
                                    {% if nav_tab.rotators %}
                                        {% for rotator in nav_tab.rotators %}
                                            {% with
                                                card_url=url_for('user-rotator', event_uniq_id=user_event.uniq_id, rotator_id=rotator.id, rotator_screen_index=0),
                                                card_class=('bg-light' if rotator.public else 'border-danger') if admin_auth else 'bg-light',
                                                card_background_url=rotator.event.background_url,
                                                card_background_color=rotator.event.background_color
                                            %}
                                                {% include 'event/rotator_card.html' %}
                                            {% endwith %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="col-12 mb-3">
                                            {{ _('No rotators.') }}
                                        </div>
                                    {% endif %}
                                {% elif user_event_tab == 'display_controllers' %}
                                    {% if nav_tab.display_controllers %}
                                        {% for display_controller in nav_tab.display_controllers %}
                                            {% with
                                                card_url=url_for('user-display-controller', event_uniq_id=user_event.uniq_id, display_controller_id=display_controller.id),
                                                card_class=('bg-light' if display_controller.public else 'border-danger') if admin_auth else 'bg-light',
                                                card_background_url=display_controller.event.background_url,
                                                card_background_color=display_controller.event.background_color
                                            %}
                                                {% include 'event/display_controller_card.html' %}
                                            {% endwith %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="col-12 mb-3">
                                            {{ _('No display controllers.') }}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    {% if nav_tab.screens %}
                                        {% for screen in nav_tab.screens %}
                                            {% with
                                                card_url=url_for('user-screen', event_uniq_id=user_event.uniq_id, screen_uniq_id=screen.uniq_id),
                                                card_class=('bg-light' if screen.public else 'border-danger') if admin_auth else 'bg-light',
                                                card_background_url=screen.background_url,
                                                card_background_color=screen.background_color
                                            %}
                                                {% include 'event/screen_card.html' %}
                                            {% endwith %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="col-12 mb-3">
                                            {{ _('No such screens.') }}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </section>
                {% endif %}
            </div>
        {% endwith %}
    {% endfor %}
{% endblock user_content %}
