<div class="sidebar-divider my-3"></div>
{% with nav_title=_('Profile') %}
    <span class="sidebar-tooltip" {{ macros.tooltip_attributes('info', nav_title, 'right') }}>
        <button
            data-testid="profile-button"
            class="nav-link text-start me-1 position-relative align-items-center"
            hx-get="{{ url_for('profile-modal', event_uniq_id=admin_event.uniq_id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <div class="d-block">
                <i class="bi bi-person-circle"></i>
                {% if client.account.anonymous %}
                    <span class="pe-2 expanded-only">
                        {{ _('Profile') }} (<i>{{ _('Anonymous') }}</i>)
                    </span>
                {% else %}
                    <span class="pe-2 expanded-only fw-bold">
                        {{ client.account.full_name }}
                    </span>
                {% endif %}
            </div>
        </button>
    </span>
{% endwith %}
