/*
###########################################################
# EVENT
###########################################################
*/

.dropdown-menu.players-set-tournament-check-ins,
.dropdown-menu.players-set-player-tournament,
.dropdown-menu.players-player-actions,
.dropdown-menu.players-download-players,
.dropdown-menu.players-filter-columns,
.dropdown-menu.players-filter-gender,
.dropdown-menu.players-filter-licence,
.dropdown-menu.players-filter-check-in,
.dropdown-menu.players-filter-tournament,
.dropdown-menu.players-filter-federation,
.dropdown-menu.players-filter-league,
.dropdown-menu.players-filter-club {
    min-width: 0;
}
.admin-players-filter-name, .admin-players-filter-origin {
    width: 5em;
}
.fide-id-none {
    opacity: 0.3;
}
.database-badge {
    bottom: 1px;
    display: flex;
    right: -3px;
    font-size: 10px;
    width: 14px;
    height: 14px;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.pairing-modal .result-button {
    border: 3px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

.pairing-modal .admin-result-button {
    border: 3px var(--bs-danger-border-subtle) solid;
}

.pairing-modal .admin-result-button:hover {
    border-color: var(--bs-danger);
}

.pairing-modal .result-button.white,
.pairing-modal .admin-result-button.white {
    background-color: white;
    color: black;
}

.pairing-modal .result-button.black,
.pairing-modal .admin-result-button.black {
    background-color: black;
    color: white;
}

.pairing-modal .result-button.draw,
.pairing-modal .admin-result-button.draw {
    background-color: gray;
}

.pairing-modal .result-button:hover,
.pairing-modal .admin-result-button:hover {
    background-color: var(--bs-primary);
    color: var(--pw-contrast-text);
}

.pairing-modal .admin-result-button.danger {
    border: 3px var(--bs-danger-border-subtle) solid;
    background-color: var(--bs-danger-border-subtle);
}

.pairing-modal .admin-result-button.danger:hover {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
    color: white;
}

[data-bs-theme=dark] table.prominent td.forfeit {
    color: var(--bs-secondary-color);
}
