* {
	font-family: Arial;
}
body {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-attachment: fixed;
	overflow: auto !important;
}
.please-wait {
    pointer-events: none;
    height: 80px;
    width: 80px;
    background-color: transparent;
    background-image: url("/static/images/papi-web.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    z-index: 2000;
}
#messages {
    z-index: 1;
}
.cursor-grab {
    cursor: grab;
}
.cursor-pointer {
    cursor: pointer;
}
.papi-web-tooltip-info, .papi-web-tooltip-warning, .papi-web-tooltip-error {
  --bs-tooltip-bg: #d0d000;
  --bs-tooltip-color: black;
}
.papi-web-tooltip-info {
  --bs-tooltip-color: #600090;
}
.papi-web-tooltip-warning {
  --bs-tooltip-color: #900000;
}
.papi-web-tooltip-error {
  --bs-tooltip-color: #900000;
}
.image-screen, .card-body {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
.index-locale-flag {
    height: 1em;
}
.dropdown-menu {
    overflow: hidden;
}
.dropdown-menu.locale,
.dropdown-menu.columns-number {
    min-width: 0;
}
.dropdown-menu.locale .locale-flag {
    height: 1em;
}
.player-ffe-lic {
    color: #ffffff;
    display: inline-block;
    width: 1.2em;
}
.player-ffe-lic.ffe-lic-A {
    background-color: #001da3;
}
.player-ffe-lic.ffe-lic-B {
    background-color: #6480ff;
}
.player-ffe-lic.ffe-lic-N {
    background-color: #767676;
}
.player-ffe-lic.ffe-lic-- {
    background-color: #FF7CAE;
}
.player-federation-flag {
    height: 1em;
}

.modal {
    --bs-modal-width: min(90vw, 1000px);
}
.modal * + h4 {
    margin-top: 1.5rem
}

/* Dynamic select overrides */
.dynamic-select-wrapper {
    width: 100%;
}

.modal-content .dynamic-select .dynamic-select-header {
    width: 100%;
    height: 2.375rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.modal-content .dynamic-select .dynamic-select-options {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: 0;
}

.modal-content .dynamic-select .dynamic-select-options .dynamic-select-option {
    height: 2rem;
    color: var(--bs-body-color);
    border-radius: 0;
    padding: 5px 12px;
}

.modal-content .dynamic-select .dynamic-select-options .dynamic-select-option:active,
.modal-content .dynamic-select .dynamic-select-options .dynamic-select-option:hover {
    background-color: var(--bs-body-color);
    color: var(--bs-body-bg);
}

[data-bs-theme=dark] {
    --bs-primary: #d7c9aa;
    --bs-primary-rgb: 215, 201, 170;
    --pw-dark-text: #212529;

    /* Copy/pasted from the BS docs for easier editing */
    color-scheme: dark;
    --bs-body-color: #dee2e6;
    --bs-body-color-rgb: 222, 226, 230;
    --bs-body-bg: #212529;
    --bs-body-bg-rgb: 33, 37, 41;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(222, 226, 230, 0.75);
    --bs-secondary-color-rgb: 222, 226, 230;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(222, 226, 230, 0.5);
    --bs-tertiary-color-rgb: 222, 226, 230;
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #e5dbc6;
    --bs-link-hover-color: #e9e1cf;
    --bs-link-color-rgb: 229, 219, 198;
    --bs-link-hover-color-rgb: 233, 225, 207;
    --bs-code-color: #e685b5;
    --bs-highlight-color: #dee2e6;
    --bs-highlight-bg: #664d03;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
}

[data-bs-theme=dark] .btn-primary {
    --bs-btn-color: var(--pw-dark-text);
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: #d7c9aa;
    --bs-btn-hover-color: var(--pw-dark-text);
    --bs-btn-hover-bg: var(--bs-link-hover-color);
    --bs-btn-hover-border-color: var(--bs-link-hover-color);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--pw-dark-text);;
    --bs-btn-active-bg: var(--bs-link-hover-color);
    --bs-btn-active-border-color: var(--bs-link-hover-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--pw-dark-text);
    --bs-btn-disabled-bg: #9d9e98;
    --bs-btn-disabled-border-color: #9d9e98;
}

[data-bs-theme=dark] .btn-outline-primary {
    --bs-btn-color: var(--bs-link-color);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: var(--pw-dark-text);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: var(--pw-dark-text);;
    --bs-btn-active-bg: var(--bs-link-hover-color);
    --bs-btn-active-border-color: var(--bs-link-hover-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #9d9e98;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #9d9e98;
    --bs-gradient: none;
}

[data-bs-theme=dark] .card {
    --bs-card-bg: #313334;
}

[data-bs-theme=dark] .card.btn:hover {
    --bs-btn-hover-bg: #36393d;
}

[data-bs-theme=dark] .dropdown-menu {
    --bs-dropdown-bg: #515b5c;
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: var(--pw-dark-text);
    --bs-dropdown-link-hover-bg: var(--bs-primary);
    --bs-dropdown-link-active-color: var(--pw-dark-text);
    --bs-dropdown-link-active-bg: var(--bs-primary);
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
}

[data-bs-theme=dark] .papi-web-tooltip-info {
    --bs-tooltip-bg: #9d9e9e;
    --bs-tooltip-color: black;
    --bs-tooltip-opacity: 1;
}

[data-bs-theme=dark] .modal {
    --bs-modal-bg: #313334;
}

[data-bs-theme=dark] .modal-dialog h4 {
    color: var(--bs-primary);
}

[data-bs-theme=dark] .form-check-input:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

[data-bs-theme=dark] table.prominent {
    border-collapse: separate;
    border-spacing: 0;
}

[data-bs-theme=dark] table.prominent thead th {
    background-color: var(--bs-primary);
    color: var(--pw-dark-text);
    padding: 5px;
    border-bottom: 7px solid var(--bs-body-bg);
    vertical-align: middle;
}


[data-bs-theme=dark] table.prominent thead td {
    padding: 5px;
}