<div
    class="modal-dialog modal-dialog-scrollable admin-account-edit-modal"
>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {% if action == 'update' %}
                    {{ _('Edit account') }}
                {% else %}
                    {{ _('Create account') }}
                {% endif %}
            </h2>
        </div>
        <div class="modal-body">
            <form
                id="modal-form"
                {% if action == 'update' %}
                    hx-patch="{{ url_for('admin-account-update', event_uniq_id=admin_event.uniq_id, account_id=admin_account.id) }}"
                {% elif action == 'clone' %}
                    hx-post="{{ url_for('admin-account-clone', event_uniq_id=admin_event.uniq_id, account_id=admin_account.id) }}"
                {% else %}
                    hx-post="{{ url_for('admin-account-create', event_uniq_id=admin_event.uniq_id) }}"
                {% endif %}
                hx-target="body"
                hx-indicator="#please-wait"
            >
                <h4>
                    {{ _('Connection parameters') }}
                </h4>
                {# These inputs are a trick to avoid autocomplete #}
                <input type="text" style="display:none">
                <input type="password" style="display:none">

                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.switch_input(
                            name='active',
                            label='',
                            placeholder=_('Enable this account'),
                            tooltip_text=_(
                                'You can temporarily invalidate accounts by turning this switch off.'
                            ),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        <input type="password" name="fake_password" style="display:none" autocomplete="current-password">
                        {{ admin_macros.password_input(
                            name='password',
                            label=_('Password:'),
                            autocomplete='new-password',
                            tooltip_text=(
                                _('New password. Leave blank for no change.')
                                if action == 'update' else _('Only required for users that need to connect to the server.')
                            ),
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>

                {% include 'account_information_form_section.html' %}

                <h4>
                    {{ _('Staff member roles') }}
                </h4>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.select_input(
                            name='chief_tournament_ids',
                            label=_('%(string)s:', string=_('Chief arbiter')),
                            tooltip_text=_('The tournaments for which the staff member is the chief arbiter.'),
                            select_all=true,
                            select_options=tournament_options,
                            multiple_select=true,
                            placeholder=_('Choose one, many or no tournaments.'),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.select_input(
                            name='deputy_tournament_ids',
                            label=_('%(string)s:', string=_('Deputy arbiter')),
                            tooltip_text=_('The tournaments for which the staff member is a deputy arbiter.'),
                            select_all=true,
                            select_options=tournament_options,
                            multiple_select=true,
                            placeholder=_('Choose one, many or no tournaments.'),
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                data-bs-dismiss="modal"
                class="btn btn-secondary text-nowrap"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            <button
                type="submit"
                form="modal-form"
                class="text-nowrap white btn btn-primary"
            >
                <i class="bi-floppy-fill pe-1"></i>
                {% if action == 'update' %}
                    {{ _('Save') }}
                {% else %}
                    {{ _('Create') }}
                {% endif %}
            </button>
        </div>
    </div>
</div>
