<div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
    style="--bs-modal-width: min(90vw, 500px);"
>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {{ _('Staff member roles') }}
            </h2>
        </div>
        <div class="modal-body">
            <h4 class="mb-3">
                {{ _('%(string)s:', string=_('Account')) }}
                {{ admin_account.full_name }}
            </h4>
            <form
                id="modal-form"
                hx-target="body"
                hx-indicator="#please-wait"
                hx-patch="{{ url_for(
                    'admin-account-roles-update',
                    event_uniq_id=admin_event.uniq_id,
                    account_id=admin_account.id,
                ) }}"
            >
                <div class="row gy-2 gx-3">
                    <div class="col-12">
                        {{ admin_macros.select_input(
                            name='chief_tournament_ids',
                            label=_('%(string)s:', string=_('Chief arbiter')),
                            help_text=_('The tournaments for which the staff member is the chief arbiter.'),
                            select_all=true,
                            select_options=tournament_options,
                            multiple_select=true,
                            placeholder=_('Choose one, many or no tournaments.'),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12">
                        {{ admin_macros.select_input(
                            name='deputy_tournament_ids',
                            label=_('%(string)s:', string=_('Deputy arbiter')),
                            help_text=_('The tournaments for which the staff member is a deputy arbiter.'),
                            select_all=true,
                            select_options=tournament_options,
                            multiple_select=true,
                            placeholder=_('Choose one, many or no tournaments.'),
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-arrow-left-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>

            <button
                type="submit"
                form="modal-form"
                class="text-nowrap white btn btn-primary"
            >
                <i class="bi bi-floppy-fill pe-1"></i>
                {{ _('Save') }}
            </button>
        </div>
    </div>
</div>

<script>requestRefresh()</script>
