{% extends '../../common/admin_cards_container.html' %}

{% set collection = get_admin_collection_spec('accounts') %}
{% set collection_view_mode = get_admin_collection_view_mode('accounts') %}
{% set collection_show_details = get_admin_collection_show_details('accounts') %}
{% set collection_url = url_for('admin-event-accounts-tab', event_uniq_id=admin_event.uniq_id) %}

{% block top_left_nav %}
    {{ admin_macros.admin_title(_('Staff'), 'staff') }}
    <script>preparePrintModal()</script>
{% endblock %}

{% block top_right_nav %}
    {% if admin_event.predefined_accounts %}
        <button
            class="btn btn-primary text-nowrap ms-1"
            hx-post="{{ url_for(
                'admin-account-create-defaults',
                event_uniq_id=admin_event.uniq_id
            ) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-play-fill"></i>
            {{ _('Get started') }}
        </button>
    {% else %}
        {% include '/admin/common/collection_controls.html' %}
        <span
            {{ macros.tooltip_attributes('info', _('Add an account to the event.'), 'top') }}
        >
            <button
                class="btn btn-primary text-nowrap ms-1"
                hx-trigger="click, SC_Plus from:body"
                hx-get="{{ url_for('admin-account-create-modal', event_uniq_id=admin_event.uniq_id) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                data-bs-toggle="modal"
                data-bs-target="#modal-wrapper"
            >
                <i class="bi-plus-square-fill pe-1"></i>
                {{ _('Create an account') }}
            </button>
        </span>
    {% endif %}
{% endblock %}

{% block cards_container_cards %}
    {% if admin_event.predefined_accounts %}
        <div class="mx-auto" style="max-width: 550px;">
            <h5 class="mt-2 my-5 text-center">
                {{ _('Staff default configuration') }}
            </h5>
            <p>
                {{ _(
                    'Sharly Chess reaches its full potential when used as a '
                    'server, with other devices connected to the same network.'
                ) }}
            </p>
            <p>
                {{ _(
                    'By default, other devices can only interact with public screens. '
                    'This tab allows you to configure this behavior.'
                ) }}
            </p>
            <p>
                {{ _(
                    'You can create password-protected accounts to delegate tasks '
                    'to other members of the staff (arbiters and organizers).'
                ) }}
            </p>
            <p>
                {{ _('Before configuring accounts, you have to be aware of a few security warnings:') }}
                <ul>
                    <li class="mb-1">{{ _(
                        'Some accounts can have very high access levels, making '
                        'them dangerous in the hands of an unaware or malicious users.'
                    ) }}</li>
                    <li class="mb-1">{{ _(
                        'Sharly Chess using the local network, all the traffic is public. '
                        'This means anyone connected to the same network could easily gain '
                        'access to an account without needing to type in the password.'
                    ) }}</li>
                    <li>{{ _(
                        'If you can\'t control who has access to the network you '
                        'are connected to, it is highly recommended to not create any account.'
                    ) }}</li>
                </ul>
            </p>
            <p>{{ _(
                'To learn how to control your network, consult '
                '<a href="%(link)s" target="_blank">our documentation</a>.',
                link=macros.doc_url('security')
            ) }}</p>
        </div>
    {% else %}
        {% with
            items=admin_event.sorted_accounts,
            empty_message=_('No accounts'),
            sortable=false,
            show_details=collection_show_details
        %}
            {% include '/admin/common/collection.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}
