<td class="{% if not account.active %}text-secondary{% endif %}">
    {{ access_level.name }}
</td>
<td class="{% if not account.active %}text-secondary{% endif %}">
    {% if access_level.has_tournament_scope %}
        {% set permission=account.permissions_by_access_level[access_level] %}
        {% if permission.tournament_ids %}
            {{ client.permission_tournament_names(permission) }}
        {% else %}
            {{ _('All the tournaments') }}
        {% endif %}
    {% else %}
        {{ access_level.scope.name }}
    {% endif %}
</td>
