<div class="modal-dialog modal-dialog-centered admin-family-edit-modal d-block">
    <form
            {% if action == 'create' %}
                hx-post="{{ url_for('admin-family-' ~ action, event_uniq_id=admin_event.uniq_id, family_type=family_type) }}"
            {% elif action == 'clone' %}
                hx-post="{{ url_for('admin-family-' ~ action, event_uniq_id=admin_event.uniq_id, family_id=admin_family.id) }}"
            {% elif action == 'update' %}
                hx-patch="{{ url_for('admin-family-' ~ action, event_uniq_id=admin_event.uniq_id, family_id=admin_family.id) }}"
            {% elif action == 'delete' %}
                hx-delete="{{ url_for('admin-family-' ~ action, event_uniq_id=admin_event.uniq_id, family_id=admin_family.id) }}"
            {% else %}
                hx-get="{{ url_for('unknown-action-' ~ action) }}"
            {% endif %}
            hx-target="body"
            hx-indicator="#please-wait">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    {% if action in ['create', 'clone', ] %}
                        {% if family_type == 'input' %}
                            {{ _('Input screen family creation') }}
                        {% elif family_type == 'boards' %}
                            {{ _('Boards screen family creation') }}
                        {% elif family_type == 'players' %}
                            {{ _('Players screen family creation') }}
                        {% else %}
                            ?
                        {% endif %}
                    {% elif action == 'clone' %}
                        {{ _('Cloning of screen family [%(family_uniq_id)s]', family_uniq_id=admin_family.uniq_id) }}
                    {% elif action == 'update' %}
                        {{ _('Edition of screen family [%(family_uniq_id)s]', family_uniq_id=admin_family.uniq_id) }}
                    {% elif action == 'delete' %}
                        {{ _('Deletion of screen family [%(family_uniq_id)s]', family_uniq_id=admin_family.uniq_id) }}
                    {% else %}
                        ?
                    {% endif %}
                </h2>
            </div>
            <div class="modal-body">
                {% if action == 'delete' %}
                    <h4 class="text-danger">
                        {{ _('Warning: the deletion of a screen family is permanent!') }}
                    </h4>
                {% else %}
                    <h4>
                        {% if family_type == 'input' %}
                            {{ _('Properties (results entry)') }}
                        {% elif family_type == 'boards' %}
                            {{ _('Properties (pairings by board)') }}
                        {% elif family_type == 'players' %}
                            {{ _('Properties (pairings by player)') }}
                        {% else %}
                            ?
                        {% endif %}
                    </h4>
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            {{ admin_macros.switch_input(
                                name='public',
                                label=_('Visibility:'),
                                placeholder=_('Public family'),
                                help_text=_('Only arbiters can see private screen families.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            {{ admin_macros.text_input(
                                name='uniq_id',
                                label=_('ID (unique):'),
                                placeholder=_('E.g.: %(family_type)s-family', family_type=family_type),
                                help_text=_('The Unique ID, used to reference the screen family.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            {{ admin_macros.text_input(
                                name='name',
                                label=_('Name:'),
                                placeholder=_('E.g.: My screen family'),
                                help_text=_('The name of the screen family, optional. The following tokens are automatically replaced by the board numbers or players\' names):  %%f=first, %%l=last, %%t=tournament.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            {{ admin_macros.select_input(
                                name='tournament_id',
                                label=_('Tournament:'),
                                help_text=_('The tournament of the screens of the family, mandatory (unlike basic screens, only one tournament can be displayed on family screens).'),
                                select_options=tournament_options,
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>

                    <h4 class="mt-4">
                        {% if family_type in ['boards', 'input'] %}
                            {{ _('Board selection (by number)') }}
                        {% else %} {# family_type == 'players' #}
                            {{ _('Player selection (by alphabetical order)') }}
                        {% endif %}
                    </h4>
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            {{ admin_macros.number_input(
                                name='first',
                                label=_('First board:') if family_type in ['boards', 'input'] else _('First player:'),
                                placeholder=_('E.g.: %(num)d', num=15),
                                help_text=
                                    _('The number of the first board to select, optional (the first board by default).')
                                    if family_type in ['boards', 'input'] else
                                    _('The number of the first player to select, optional (the first player by alphabetical order by default).'),
                                data=data, errors=errors,
                                number_min=1
                            ) }}
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            {{ admin_macros.number_input(
                                name='last',
                                label=_('Last board:') if family_type in ['boards', 'input'] else _('Last player:'),
                                placeholder=_('E.g.: %(num)d', num=40),
                                help_text=
                                    _('The number of the last board to select, optional (the last board by default).')
                                    if family_type in ['boards', 'input'] else
                                    _('The number of the last player to select, optional (the last player by alphabetical order by default).'),
                                data=data, errors=errors,
                                number_min=1
                            ) }}
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            {{ admin_macros.number_input(
                                name='parts',
                                label=_('On a given number of screens:'),
                                placeholder=
                                    _('E.g.: 4 (split the boards on 4 screens)')
                                    if family_type in ['boards', 'input'] else
                                    _('E.g.: 4 (split the players on 4 screens)'),
                                help_text=
                                    _('The number of screens on which the boards will be distributed, optional (the number of screens is always the same and the number of boards per screen adapts to the number of boards).')
                                    if family_type in ['boards', 'input'] else
                                    _('The number of screens on which the players will be distributed, optional (the number of screens is always the same and the number of players per screen adapts to the number of players.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            {{ admin_macros.number_input(
                                name='number',
                                label=_('On fixed size screens:'),
                                placeholder=
                                    _('E.g.: 20 (place 20 boards on each screen)')
                                    if family_type in ['boards', 'input'] else
                                    _('E.g.: 20 (place 20 players on each screen)'),
                                help_text=
                                    _('The number of boards per screen, optional (the number of screens adapts to the number of boards).')
                                    if family_type in ['boards', 'input'] else
                                    _('The number of players per screen, optional (the number of screens adapts to the number of players).'),
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>

                    <h4 class="mt-4">
                        {{ _('Layout') }}
                    </h4>
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            {{ admin_macros.select_input(
                                name='timer_id',
                                label=_('Timer:'),
                                help_text=_('The timer displayed on the screens of the family.'),
                                select_options=timer_options,
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            {{ admin_macros.number_input(
                                name='columns',
                                label=_('Columns:'),
                                placeholder=_('E.g.: %(num)d', num=2),
                                help_text=_('The number of columns used to display data.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>

                    <h4 class="mt-4">
                        {{ _('Menus') }}
                    </h4>
                    <div class="row">
                        <div class="col-12 col-xl-5 mb-3">
                            {{ admin_macros.text_input(
                                name='menu',
                                label=_('Links displayed on the screen menu:'),
                                placeholder=_('E.g.: @boards, @family, another-screen'),
                                help_text=_('This field allows you to specify the screens whose links will be displayed on the menu of the screens of the family. Screen identifiers must be separated by commas, the keywords @family (all screens of the family), @boards (all boards screens), @input (all input screens), @players (all players screens) as well as the wildcard * can be used. If this field is left empty, no menu will be displayed on the screens.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-12 col-md-6 col-xl-3 mb-3">
                            {{ admin_macros.switch_input(
                                name='menu_link',
                                label=_('Links to this screen:'),
                                placeholder=_('Allow'),
                                help_text=_('Check the box to allow other screens to display a link to the screen of this family.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-12 col-md-6 col-xl-4 mb-3">
                            {{ admin_macros.text_input(
                                name='menu_text',
                                label=_('Menu link label:'),
                                placeholder=_('E.g.: Boards %%f-%%l') if family_type in ['input', 'boards', ] else _('E.g.: Players %%f-%%l'),
                                help_text=_('This label will be used for the link to other screens to the screens of the family. If left empty, a default label will be used.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <script>
                            $('#menu-text').prop('disabled', $('#menu-link').val() != 'on');
                            $('#menu-link').click(function() {
                                if ($(this).is(':checked')) {
                                    $('#menu-text').prop('disabled', false);
                                } else {
                                    $('#menu-text').prop('disabled', true);
                                }
                            });
                        </script>
                    </div>

                    <h4>
                        {{ _('Display') }}
                    </h4>
                    {% with
                        message_help_text=_('When not defined at family-level, the alert message defined at rotator or event-level is used (if no alert message is set, the scrolling banner at the bottom of the screens of the family is not displayed).')
                    %}
                        {% if family_type == 'input' %}
                            <div class="row">
                                <div class="col-12 col-md-6 mb-3">
                                    {% include '../common/modal/exit_button.html' %}
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    {% include '../common/modal/alert_message.html' %}
                                </div>
                            </div>
                        {% endif %}
                        {% if family_type == 'boards' %}
                            <div class="row">
                                <div class="col-12 mb-3">
                                    {% include '../common/modal/alert_message.html' %}
                                </div>
                            </div>
                        {% endif %}
                        {% if family_type == 'players' %}
                            <div class="row">
                                <div class="col-12 col-md-6 mb-3">
                                    {% include '../common/modal/show_unpaired.html' %}
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    {% include '../common/modal/alert_message.html' %}
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endif %}
            </div>
            <div class="modal-footer d-block">
                <div class="row">
                    <div class="col col-6 text-start">
                        <button
                                type="submit"
                                class="text-nowrap white btn {% if action == 'delete' %}btn-danger{% else %}btn-primary{% endif %}"
                        >
                            <i class="bi-floppy-fill pe-1"></i>
                            {% if action in ['create', 'clone', ] %}
                                {{ _('Create') }}
                            {% elif action == 'update' %}
                                {{ _('Update') }}
                            {% elif action == 'delete' %}
                                {{ _('Delete') }}
                            {% else %}
                                ?
                            {% endif %}
                        </button>
                    </div>
                    <div class="col col-6 text-end">
                        <button
                                class="btn btn-secondary text-nowrap"
                                hx-get="{{ url_for('admin-event-tab', event_uniq_id=admin_event.uniq_id, admin_event_tab='families') }}"
                                preload
                                hx-target="body"
                                hx-trigger="click, keyup[key=='Escape'] from:body"
                                hx-indicator="#please-wait"
                        >
                            <i class="bi-x-circle-fill pe-1"></i>
                            {{ _('Cancel') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    (new bootstrap.Modal(document.getElementById('modal-wrapper'))).show();
</script>
