{% extends '../common/card.html' %}

{% block card_header %}
    {{ admin_macros.family_visibility_icon(family, 'pe-1') }}{{ family.display_name }}
{% endblock %}

{% block card_title %}
    <span class="pe-1">{{ macros.screen_type_icon(family.type, true) }}</span>{{ family.type_str }}
{% endblock %}

{% block card_text %}
    <div class="d-flex flex-column gap-1">
        {% if show_details %}
            <div>
                <span class="pe-1">{{ macros.screen_type_icon(family.type, true) }}</span>
                {{ _('Type: %(family_type)s', family_type=family.type_str) }}
            </div>
            <div>
                {{ _('Tournament: %(tournament_name)s', tournament_name=family.tournament.name) }}
            </div>
            <div>
                {{ _('Selection: %(selection)s', selection=family.numbers_str) }}
            </div>
            <div>
                {{ _('Columns:') }} {% for i in range(family.columns) %}<i class="bi-square-fill"></i> {% endfor %}
            </div>
            {% if family.type in ('input', 'check-in') %}
                <div>
                    <i class="bi-x-circle pe-1"></i>
                    {{ _('Exit button:') }}
                    {% if family.input_exit_button %}
                        {{ _('yes') }}
                    {% else %}
                        {{ _('no') }}
                    {% endif %}
                </div>
            {% endif %}
            {% if family.type == 'players' %}
                {% with entity=family, tournament=family.tournament %}
                    {% include '../common/card_players_screen_display.html' %}
                {% endwith %}
            {% endif %}
            {% if family.type == 'ranking' %}
                <div class="{% if family.ranking_round %}text-secondary{% endif %}">
                    {% if family.ranking_round %}
                        {# _('Round: %(round)d', round=family.ranking_round) #}
                    {% else %}
                        {{ _('Round: the last finished round') }}
                    {% endif %}
                </div>
                {% if family.ranking_min_points or family.ranking_max_points %}
                    <div>
                        {% if family.ranking_min_points and family.ranking_max_points %}
                            {{ _('Points: %(min)s to %(max)s', min='%0.2f' % family.ranking_min_points, max='%0.2f' % family.ranking_max_points) }}
                        {% elif family.ranking_min_points %}
                            {{ _('Points: %(min)s or more', min='%0.2f' % family.ranking_min_points) }}
                        {% else %}
                            {{ _('Points: up to %(max)s', max='%0.2f' % family.ranking_max_points) }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
            <div>
                <i class="bi-hand-index pe-1"></i>
                {{ _('Menu label: %(menu_label)s', menu_label=family.menu_label) }}
                {% if not family.menu_text %}
                    <span class="fst-italic">
                        {{ _('(by default)') }}
                    </span>
                {% endif %}
            </div>
            <div class="{% if not family.timer %}text-secondary{% endif %}">
                <i class="bi-clock-fill pe-1"></i>
                {% if family.timer %}{{ _('Timer: %(timer_uniq_id)s', timer_uniq_id=family.timer.name) }}{% else %}<span class="fst-italic">{{ _('Timer: none') }}</span>{% endif %}
            </div>
            {% if family.message_text %}
                <div
                        class="px-2 alert-message screen-alert-message"
                        style="background-color: {{ admin_event.message_background_color }}; color: {{ admin_event.message_color }}"
                >
                    {{ family.message_text }}
                    {% if family.message_default %}
                        <span class="fst-italic">
                            {{ _('(by default)') }}
                        </span>
                    {% endif %}
                </div>
            {% else %}
                <div class="fst-italic">
                    {{ _('No alert message') }}
                    {% if family.message_default %}{{ _('(by default)') }}{% endif %}
                </div>
            {% endif %}
            <hr/>
        {% endif %}

        {% if family.screens_by_uniq_id|length > 0 %}
            {% for screen in family.screens_by_uniq_id.values() %}
                {% set screen_set=screen.sorted_screen_sets[0] %}
                {% set tournament=family.tournament %}
                <div>
                    {{ loop.index }}.
                    {% if admin_event.is_team_event %}
                        {% if tournament.current_round and family.type in ['boards', 'input'] and family.shows_team_matches %}
                            {% if screen_set.first_team_match %}
                                {{ _('Matches from #%(first)d to #%(last)d', first=screen_set.first_team_match.display_number, last=screen_set.last_team_match.display_number) }}
                            {% else %}
                                {{ _('Teams (none now)') }}
                            {% endif %}
                        {% elif tournament.current_round and family.type in ['boards', 'input'] %}
                            {{ _(
                                'Boards from #%(first)d to #%(last)d',
                                first=screen_set.first_board.id + tournament.first_board_number - 1,
                                last=screen_set.last_board.id + tournament.first_board_number - 1
                            ) }}
                        {% elif family.type in ['boards', 'input', 'players', 'check-in'] %}
                            {% if screen_set.first_team_by_name %}
                                {{ _('Teams from %(first)s to %(last)s', first=screen_set.first_team_by_name.name[:12], last=screen_set.last_team_by_name.name[:12]) }}
                            {% else %}
                                {{ _('Teams (none now)') }}
                            {% endif %}
                        {% else %} {# family.type == 'ranking' #}
                            {% if screen_set.first_team_standing %}
                                {{ _('Teams from #%(first)d to #%(last)d', first=screen_set.first_team_standing['rank'], last=screen_set.last_team_standing['rank']) }}
                            {% else %}
                                {{ _('Teams (none now)') }}
                            {% endif %}
                        {% endif %}
                    {% elif tournament.current_round and family.type in ['boards', 'input'] %}
                        {{ _(
                            'Boards from #%(first)d to #%(last)d',
                            first=screen_set.first_board.id + tournament.first_board_number - 1,
                            last=screen_set.last_board.id + tournament.first_board_number - 1
                        ) }}
                    {% elif family.type in ['boards', 'input', 'players', 'check-in'] %}
                        {% if screen_set.first_tournament_player_by_name %}
                            {{ _('Players from %(first)s to %(last)s', first=screen_set.first_tournament_player_by_name.last_name[:8], last=screen_set.last_tournament_player_by_name.last_name[:8]) }}
                        {% else %}
                            {{ _('Players (none now)') }}
                        {% endif %}
                    {% else %} {# family.type == 'ranking' #}
                        {% if screen_set.first_tournament_player_by_rank %}
                            {{ _('Players from #%(first)d to #%(last)d', first=screen_set.first_tournament_player_by_rank.rank, last=screen_set.last_tournament_player_by_rank.rank) }}
                        {% else %}
                            {{ _('Players (none now)') }}
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="text-danger">
                {{ _('No screens') }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block card_buttons_left %}
    {% if family.calculated_first_screen_id %}
        <span {{ macros.tooltip_attributes('info', _('Go to the first screen.'), 'top') }}>
            <a
                class="btn btn-sm btn-outline-primary"
                href="{{ url_for('user-screen', event_uniq_id=admin_event.uniq_id, screen_uniq_id=family.calculated_first_screen_id) }}"
                target="_blank"
            >
                <i class="bi bi-eye"></i>
            </a>
        </span>
    {% endif %}
{% endblock %}

{% block card_buttons_right %}
    <span {{ macros.tooltip_attributes('info', _('Edit the properties of the multi-screen.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-primary"
            hx-get="{{ url_for('admin-family-modal', action='update', event_uniq_id=admin_event.uniq_id, family_id=family.id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-pencil-fill"></i>
        </button>
    </span>
    <span {{ macros.tooltip_attributes('info', _('Duplicate the multi-screen.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-primary"
            hx-get="{{ url_for('admin-family-modal', action='clone', event_uniq_id=admin_event.uniq_id, family_id=family.id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-copy"></i>
        </button>
    </span>
    <span {{ macros.tooltip_attributes('info', _('Delete the multi-screen.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-danger"
            hx-get="{{ url_for('admin-family-modal', action='delete', event_uniq_id=admin_event.uniq_id, family_id=family.id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-trash-fill"></i>
        </button>
    </span>
{% endblock %}
