{% extends '../../common/cards_container.html' %}

{% block cards_container_title %}
    {{ macros.event_visibility_icon(admin_event, 'pe-1') }}
    {{ admin_event.name }} - {{ _('Screen families') }}
{% endblock %}

{% block cards_container_right_buttons %}
    {% with id='admin-families-show-details', name='admin_families_show_details', show=admin_families_show_details %}
        <div
                class="form-check form-switch d-inline-block pe-3 mt-2"
                {{ macros.tooltip_attributes('info', _('Enable/disable the details of the screen families on the cards below.'), 'top') }}
        >
            <input
                hx-get="{{ url_for('admin-event-tab', event_uniq_id=admin_event.uniq_id, admin_event_tab='families') }}"
                hx-vals='{"{{ name }}": "{% if show %}false{% else %}true{% endif %}"}'
                hx-target="body"
                hx-indicator="#please-wait"
                class="form-check-input"
                type="checkbox"
                id="{{ id }}"
                {% if show %}checked{% endif %} /><label for="{{ id }}" class="form-check-label"> {{ _('Details') }}</label>
        </div>
    {% endwith %}
    <span class="pe-3" {{ macros.tooltip_attributes('info', 'Refresh this page.', 'top') }}>
        <button
            class="btn btn-outline-primary text-nowrap"
            hx-get="{{ url_for('admin-event-tab', event_uniq_id=admin_event.uniq_id, admin_event_tab='families') }}"
            preload
            hx-target="body"
            hx-indicator="#please-wait"
        >
            <i class="bi-arrow-clockwise"></i>
        </button>
    </span>
    <span
            class="dropdown-end pe-0"
            {% if not admin_event.tournaments_by_id %}
                {{ macros.tooltip_attributes(
                    'info',
                    _('You must create a tournament before creating a screen family.'),
                    'left'
                ) }}
            {% endif %}
    >
        <button
                class="btn btn-primary dropdown-toggle mx-auto"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                {% if not admin_event.tournaments_by_id %}
                    disabled
                {% endif %}
        >
            <i class="bi-plus-square pe-1"></i>
            {{ _('Create a screen family') }}
        </button>
        <ul class="dropdown-menu">
            {% for family_type, family_data in {
                'input': { 'title': _('Results entry'), 'icon_class': 'bi-pencil-fill', 'tooltip_text': _('Add a family of screens to enter the results.'), },
                'boards': { 'title': _('Pairings by board'), 'icon_class': 'bi-card-list', 'tooltip_text': _('Add a family of screens to display the pairings by board.'), },
                'players': { 'title': _('Pairings by player'), 'icon_class': 'bi-people-fill', 'tooltip_text': _('Add a family of screens to display the pairings by alphabetical order.'), },
            }.items() %}
                <li
                    class="dropdown-item text-start cursor-pointer"
                    hx-get="{{ url_for('admin-family-create-modal', event_uniq_id=admin_event.uniq_id, family_type=family_type) }}"
                    hx-target="#modal-wrapper"
                    hx-indicator="#please-wait"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-wrapper"
                    {{ macros.tooltip_attributes('info', family_data.tooltip_text, 'left') }}
                >
                    <i class="{{ family_data['icon_class'] }}"></i>
                    {{ family_data['title'] }}
                </li>
            {% endfor %}
        </ul>
    </span>
{% endblock %}

{% block cards_container_cards %}
    <div class="row">
        {% if admin_event.families_by_id %}
            {% for family in admin_event.families_by_id.values() %}
                {% include 'family_card.html' %}
            {% endfor %}
        {% else %}
            <div class="col-12 mb-3">
                {{ _('No screen families.') }}
            </div>
        {% endif %}
    </div>
{% endblock %}
