<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered admin-computer-edit-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {% if action in ['create', 'clone', ] %}
                    {{ _('Computer creation') }}
                {% elif action == 'update' %}
                    {% if admin_computer.unknown %}
                        {{ _('Editing of unknown computers\' access') }}
                    {% else %}
                        {{ _('Editing of computer [%(ip)s]', ip=admin_computer.ip) }}
                    {% endif %}
                {% elif action == 'delete' %}
                    {{ _('Deletion of computer [%(ip)s]', username=admin_computer.username) }}
                {% else %}
                    ?
                {% endif %}
            </h2>
        </div>
        <div class="modal-body">
            <form
                id="modal-form"
                {% if action in ['create', 'clone', ] %}
                    hx-post="{{ url_for('admin-computer-create', event_uniq_id=admin_event.uniq_id) }}"
                {% elif action == 'update' %}
                    hx-patch="{{ url_for('admin-computer-' ~ action, event_uniq_id=admin_event.uniq_id, computer_id=admin_computer.id) }}"
                {% elif action == 'delete' %}
                    hx-delete="{{ url_for('admin-computer-' ~ action, event_uniq_id=admin_event.uniq_id, computer_id=admin_computer.id) }}"
                {% else %}
                    hx-get="{{ url_for('unknown-action-' ~ action) }}"
                {% endif %}
                hx-target="body"
                hx-indicator="#please-wait"
            >
                {% if action == 'delete' %}
                    <h4 class="text-danger">
                        {{ _('Warning: the deletion of an computer is permanent!') }}
                    </h4>
                {% else %}
                    {% if action in ['create', 'clone', ] or (admin_computer.edit_properties and client.can_manage_computer_by_computer_id[admin_computer.id]) %}
                        <h4>
                            {{ _('Identification') }}
                        </h4>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                {{ admin_macros.text_input(
                                    name='ip',
                                    label=_('IP address:'),
                                    placeholder=_('E.g.: 192.168.1.43'),
                                    help_text=_('The IP address, used tu identify the computer.'),
                                    data=data, errors=errors
                                ) }}
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                {{ admin_macros.switch_input(
                                    name='active',
                                    label='',
                                    help_text='',
                                    placeholder=_('Enable this computer'),
                                    info=_(
                                        'You can temporarily invalidate computers by turning this switch off.'
                                    ),
                                    data=data, errors=errors
                                ) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if action in ['create', 'clone', ] or ( admin_computer.edit_permissions and client.can_manage_computer_by_computer_id[admin_computer.id]) %}
                        {% with table_id='computer-table' %}
                            {% include '../common/modal/access_permissions_table.html' %}
                        {% endwith %}
                    {% endif %}
                {% endif %}
            </form>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                data-bs-dismiss="modal"
                class="btn btn-secondary text-nowrap"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            <button
                type="submit"
                form="modal-form"
                class="text-nowrap white btn {% if action == 'delete' %}btn-danger{% else %}btn-primary{% endif %}"
            >
                <i class="bi-floppy-fill pe-1"></i>
                {% if action == 'update' %}
                    {{ _('Save') }}
                {% elif action == 'delete' %}
                    {{ _('Delete') }}
                {% endif %}
            </button>
        </div>
    </div>
</div>

<script>
    // We need to reload the page when the modal is hidden, because the profile may have changed.
    $(document).one('hide.bs.modal', function(e) {
        e.preventDefault();
        document.body.dispatchEvent(new CustomEvent('request_refresh'));
    });
</script>
