<div id="top-nav-wrapper">
    <div id="top-nav-content">
        <div>
            {{ macros.doc_icon('computers', 'fs-4') }}
        </div>
        <div class="flex-grow-1"></div>
        <div class="d-flex gap-2 ms-auto align-items-center">
            <span
                {{ macros.tooltip_attributes('info', _('Add a computer to the event.'), 'top') }}
            >
                <button
                    class="btn btn-primary text-nowrap ms-1"
                    hx-get="{{ url_for('admin-computer-create-modal', event_uniq_id=admin_event.uniq_id) }}"
                    hx-target="body"
                    hx-indicator="#please-wait"
                    preload
                    data-bs-toggle="modal"
                    data-bs-target="#modal-wrapper"
                >
                    <i class="bi-plus-square-fill pe-1"></i>
                    {{ _('Create a computer') }}
                </button>
            </span>
        </div>
    </div>
</div>

<table class="table table-hover w-auto mx-auto justify-content-center mb-4">
    <thead
        class="table-dark"
    >
        <tr>
            <th scope="col" class="text-nowrap">{{ _('IP address') }}</th>
            <th scope="col" class="text-nowrap">{{ _('Status') }}</th>
            <th scope="col" class="">{{ _('Permissions') }}</th>
            <th scope="col" class="">{{ _('Scope') }}</th>
            <th scope="col" class="text-nowrap"></th>
        </tr>
    </thead>
    <tbody>
        {% for computer in admin_event.computers_sorted_by_ip %}
            {% set roles=computer.permissions_by_role.keys() | list %}
            <tr class="">
                <th scope="row" class="text-nowrap {% if not computer.active %}text-secondary{% endif %}" rowspan="{{ [1, roles | length, ] | max }}">
                    <span class="{% if computer.localhost or computer.unknown %}fst-italic{% endif %}">
                        {{ computer.ip }}
                    </span>
                </th>
                <td class="text-nowrap {% if not computer.active %}text-secondary{% endif %}" rowspan="{{ [1, roles | length, ] | max }}">
                    <span class="{% if computer.unknown or computer.server %}fst-italic{% endif %}">
                        {% if computer.active %}
                            {{ _('Enabled') }}
                        {% else %}
                            {{ _('Disabled') }}
                        {% endif %}
                    </span>
                </td>
                {% if roles %}
                    {% for role in roles[:1] %}
                        {% with entity=computer %}
                            {% include '../common/access/tab_role_permission_cells.html' %}
                        {% endwith %}
                    {% endfor %}
                {% else %}
                    <td class="{% if not computer.active %}text-secondary{% endif %}">
                        <span class="fst-italic">{{ _('No permissions') }}</span>
                    </td>
                    <td class="{% if not computer.active %}text-secondary{% endif %}">
                        <span class="fst-italic">-</span>
                    </td>
                {% endif %}
                <td class="text-nowrap {% if not computer.active %}text-secondary{% endif %}" rowspan="{{ [1, roles | length, ] | max }}">
                    <span
                            {% if computer.edit_properties or computer.edit_permissions %}
                                {{ macros.tooltip_attributes('info', _('Edit the properties and the permissions of the computer.'), 'top') }}
                            {% else %}
                                {{ macros.tooltip_attributes('warning', _('The properties and the permissions of this computer can not be changed.'), 'top') }}
                            {% endif %}
                    >
                        <button
                            {% if not computer.edit_properties and not computer.edit_permissions %}
                                disabled
                            {% else %}
                                class="btn btn-sm btn-outline-primary"
                                hx-get="{{ url_for('admin-computer-modal', action='update', event_uniq_id=admin_event.uniq_id, computer_id=computer.id) }}"
                                hx-target="body"
                                hx-indicator="#please-wait"
                                preload
                                data-bs-toggle="modal"
                                data-bs-target="#modal-wrapper"
                            {% endif %}
                        >
                            <i class="bi-pencil-fill"></i>
                        </button>
                    </span>
                    <span
                            {% if computer.edit_properties %}
                                {{ macros.tooltip_attributes('info', _('Duplicate the computer.'), 'top') }}
                            {% else %}
                                {{ macros.tooltip_attributes('warning', _('This computer can not be duplicated.'), 'top') }}
                            {% endif %}
                    >
                        <button
                            {% if not computer.edit_properties %}
                                disabled
                            {% else %}
                                class="btn btn-sm btn-outline-primary"
                                hx-get="{{ url_for('admin-computer-modal', action='clone', event_uniq_id=admin_event.uniq_id, computer_id=computer.id) }}"
                                hx-target="body"
                                hx-indicator="#please-wait"
                                preload
                                data-bs-toggle="modal"
                                data-bs-target="#modal-wrapper"
                            {% endif %}
                        >
                            <i class="bi-copy"></i>
                        </button>
                    </span>
                    <span
                            {% if computer.edit_properties %}
                                {{ macros.tooltip_attributes('info', _('Delete the computer.'), 'top') }}
                            {% else %}
                                {{ macros.tooltip_attributes('warning', _('This computer can not be deleted.'), 'top') }}
                            {% endif %}
                    >
                        <button
                            {% if not computer.edit_properties %}
                                disabled
                            {% else %}
                                class="btn btn-sm btn-outline-danger"
                                hx-get="{{ url_for('admin-computer-modal', action='delete', event_uniq_id=admin_event.uniq_id, computer_id=computer.id) }}"
                                hx-target="body"
                                hx-indicator="#please-wait"
                                preload
                                data-bs-toggle="modal"
                                data-bs-target="#modal-wrapper"
                            {% endif %}
                        >
                            <i class="bi-trash-fill"></i>
                        </button>
                    </span>
                </td>
            </tr>
            {% if roles | length > 1 %}
                {% for role in roles[1:] %}
                    <tr class="">
                        {% for role in roles[1:] %}
                            {% with entity=computer %}
                                {% include '../common/access/tab_role_permission_cells.html' %}
                            {% endwith %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>

<div class="text-center mt-4">
    <i class="bi-exclamation-triangle-fill text-danger fs-4"></i>
    <br/>
    {{ _('Warning: by default, only people on your Sharly Chess server can access the application.') }}
    <br/>
    {{ _('Creating computers allows you to grant permissions to people on other clients,') }}
    <br/>
    {{ _('BE CAREFUL TO GIVE SENSITIVE ROLES ONLY TO TRUSTED COMPUTERS!') }}
</div>
