<div id="top-nav-wrapper">
    <div id="top-nav-content">
        <div>
            {{ admin_macros.admin_title(_('Computers'), 'computers') }}
        </div>
        <div class="flex-grow-1"></div>
        <div class="d-flex gap-2 ms-auto align-items-center">
            {% if client.can_manage_computers %}
                <span
                    {% if not admin_event.mode.custom %}
                        {{ macros.tooltip_attributes('warning', _('Permissions can not be customized in the current execution mode.'), 'top') }}
                    {% else %}
                        {{ macros.tooltip_attributes('info', _('Add a computer to the event.'), 'top') }}
                    {% endif %}
                >
                    <button
                        class="btn btn-primary text-nowrap ms-1"
                        {% if admin_event.mode.custom %}
                            hx-get="{{ url_for('admin-computer-create-modal', event_uniq_id=admin_event.uniq_id) }}"
                            hx-target="body"
                            hx-indicator="#please-wait"
                            preload
                            data-bs-toggle="modal"
                            data-bs-target="#modal-wrapper"
                        {% else %}
                            disabled
                        {% endif %}
                    >
                        <i class="bi-plus-square-fill pe-1"></i>
                        {{ _('Create a computer') }}
                    </button>
                </span>
            {% endif %}
        </div>
    </div>
</div>

{% if client.can_manage_computers %}
    <table class="table table-hover w-auto mx-auto justify-content-center mb-4">
        <thead
            class="table-dark"
        >
            <tr>
                <th scope="col" class="text-nowrap">{{ _('IP address') }}</th>
                <th scope="col" class="text-nowrap">{{ _('Status') }}</th>
                <th scope="col" class="">{{ _('Permissions') }}</th>
                <th scope="col" class="">{{ _('Scope') }}</th>
                <th scope="col" class="text-nowrap"></th>
            </tr>
        </thead>
        <tbody>
            {% for computer in admin_event.computers_sorted_by_ip %}
                {% set roles=computer.permissions_by_role.keys() | list %}
                <tr class="">
                    <th scope="row" class="text-nowrap {% if not computer.active %}text-secondary{% endif %}" rowspan="{{ [1, roles | length, ] | max }}">
                        <span class="{% if computer.localhost or computer.unknown %}fst-italic{% endif %}">
                            {{ computer.ip }}
                        </span>
                    </th>
                    <td class="text-nowrap {% if not computer.active %}text-secondary{% endif %}" rowspan="{{ [1, roles | length, ] | max }}">
                        <span class="{% if computer.unknown or computer.server %}fst-italic{% endif %}">
                            {% if computer.active %}
                                {{ _('Enabled') }}
                            {% else %}
                                {{ _('Disabled') }}
                            {% endif %}
                        </span>
                    </td>
                    {% if roles %}
                        {% for role in roles[:1] %}
                            {% with entity=computer %}
                                {% include '../common/access/tab_role_permission_cells.html' %}
                            {% endwith %}
                        {% endfor %}
                    {% else %}
                        <td class="{% if not computer.active %}text-secondary{% endif %}">
                            <span class="fst-italic">-</span>
                        </td>
                        <td class="{% if not computer.active %}text-secondary{% endif %}">
                            <span class="fst-italic">-</span>
                        </td>
                    {% endif %}
                    <td class="text-nowrap {% if not computer.active %}text-secondary{% endif %}" rowspan="{{ [1, roles | length, ] | max }}">
                        {% set client_can_manage_computer=client.can_manage_computer_by_computer_id[computer.id] %}
                        {% set computer_can_be_updated=computer.edit_properties or computer.edit_permissions %}
                        <span
                            {% if not admin_event.mode.custom %}
                                {{ macros.tooltip_attributes('warning', _('Permissions can not be customized in the current execution mode.'), 'top') }}
                            {% elif not computer_can_be_updated %}
                                {{ macros.tooltip_attributes('warning', _('This computer can not be updated.'), 'top') }}
                            {% elif not client_can_manage_computer %}
                                {{ macros.tooltip_attributes('warning', _('You are not allowed to update this computer.'), 'top') }}
                            {% else %}
                                {{ macros.tooltip_attributes('info', _('Edit the properties and the permissions of the computer.'), 'top') }}
                            {% endif %}
                        >
                            <button
                                {% if admin_event.mode.custom and computer_can_be_updated and client_can_manage_computer %}
                                    class="btn btn-sm btn-outline-primary"
                                    hx-get="{{ url_for('admin-computer-modal', action='update', event_uniq_id=admin_event.uniq_id, computer_id=computer.id) }}"
                                    hx-target="body"
                                    hx-indicator="#please-wait"
                                    preload
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal-wrapper"
                                {% else %}
                                    disabled
                                {% endif %}
                            >
                                <i class="bi-pencil-fill"></i>
                            </button>
                        </span>
                        {% set computer_can_be_cloned=computer.edit_properties %}
                        <span
                            {% if not admin_event.mode.custom %}
                                {{ macros.tooltip_attributes('warning', _('Permissions can not be customized in the current execution mode.'), 'top') }}
                            {% elif not computer_can_be_cloned %}
                                {{ macros.tooltip_attributes('warning', _('This computer can not be duplicated.'), 'top') }}
                            {% elif not client_can_manage_computer %}
                                {{ macros.tooltip_attributes('warning', _('You are not allowed to duplicate this computer.'), 'top') }}
                            {% else %}
                                {{ macros.tooltip_attributes('info', _('Duplicate the computer.'), 'top') }}
                            {% endif %}
                        >
                            <button
                                {% if admin_event.mode.custom and computer_can_be_cloned and client_can_manage_computer %}
                                    class="btn btn-sm btn-outline-primary"
                                    hx-get="{{ url_for('admin-computer-modal', action='clone', event_uniq_id=admin_event.uniq_id, computer_id=computer.id) }}"
                                    hx-target="body"
                                    hx-indicator="#please-wait"
                                    preload
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal-wrapper"
                                {% else %}
                                    disabled
                                {% endif %}
                            >
                                <i class="bi-copy"></i>
                            </button>
                        </span>
                        {% set computer_can_be_deleted=computer.edit_properties %}
                        <span
                            {% if not admin_event.mode.custom %}
                                {{ macros.tooltip_attributes('warning', _('Permissions can not be customized in the current execution mode.'), 'top') }}
                            {% elif not computer_can_be_deleted %}
                                {{ macros.tooltip_attributes('warning', _('This computer can not be deleted.'), 'top') }}
                            {% elif not client_can_manage_computer %}
                                {{ macros.tooltip_attributes('warning', _('You are not allowed to delete this computer.'), 'top') }}
                            {% else %}
                                {{ macros.tooltip_attributes('info', _('Delete the Computer.'), 'top') }}
                            {% endif %}
                        >
                            <button
                                {% if admin_event.mode.custom and computer_can_be_deleted and client_can_manage_computer %}
                                    class="btn btn-sm btn-outline-danger"
                                    hx-get="{{ url_for('admin-computer-modal', action='delete', event_uniq_id=admin_event.uniq_id, computer_id=computer.id) }}"
                                    hx-target="body"
                                    hx-indicator="#please-wait"
                                    preload
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal-wrapper"
                                {% else %}
                                    disabled
                                {% endif %}
                            >
                                <i class="bi-trash-fill"></i>
                            </button>
                        </span>
                    </td>
                </tr>
                {% if roles | length > 1 %}
                    {% for role in roles[1:] %}
                        <tr class="">
                            {% for role in roles[1:] %}
                                {% with entity=computer %}
                                    {% include '../common/access/tab_role_permission_cells.html' %}
                                {% endwith %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center mt-4">
        <i class="bi-exclamation-triangle-fill text-danger fs-4"></i>
        <br/>
        {{ _('Warning: by default, only people on your Sharly Chess server can access the application.') }}
        <br/>
        {{ _('Creating computers allows you to grant permissions to people on other clients,') }}
        <br/>
        {{ _('BE CAREFUL TO GIVE SENSITIVE ROLES ONLY TO TRUSTED COMPUTERS!') }}
    </div>
{% endif %}
