<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered admin-create-papi-modal d-block">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {{ _('Missing Papi file') }}
            </h2>
        </div>
        <div class="modal-body">
            <form
                id="modal-form"
                hx-post="{{ url_for('admin-tournament-papi-create', event_uniq_id=admin_event.uniq_id, tournament_id=admin_tournament.id) }}"
                hx-target="body"
                hx-indicator="#please-wait"
            >
                <h5 class="text-danger">
                    {{ _('Warning: Papi file [%(path)s] not found, many features are disabled.', path=admin_tournament.file) }}
                </h5>
                <h5>{{ _('Do you want Papi-web to create the file?') }}</h5>
            </form>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                hx-get="{{ url_for('admin-event-tournaments-tab', event_uniq_id=admin_event.uniq_id) }}"
                preload
                hx-target="body"
                hx-indicator="#please-wait"
                class="btn btn-secondary text-nowrap"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('No, I will do it later') }}
            </button>
            <button
                type="submit"
                form="modal-form"
                class="text-nowrap white btn btn-primary"
            >
                <i class="bi-plus-circle-fill pe-1"></i>
                {{ _('Yes, create the file') }}
            </button>
        </div>
    </div>
</div>
