<div class="modal-dialog modal-dialog-centered admin-tournament-edit-modal d-block w-90 mw-100">
    <form
            {% if action in ['create', 'clone', ] %}
                hx-post="{{ url_for('admin-tournament-create', event_uniq_id=admin_event.uniq_id) }}"
            {% elif action == 'update' %}
                hx-patch="{{ url_for('admin-tournament-' ~ action, event_uniq_id=admin_event.uniq_id, tournament_id=admin_tournament.id) }}"
            {% elif action == 'delete' %}
                hx-delete="{{ url_for('admin-tournament-' ~ action, event_uniq_id=admin_event.uniq_id, tournament_id=admin_tournament.id) }}"
            {% else %}
                hx-get="{{ url_for('unknown-action-' ~ action) }}"
            {% endif %}
            hx-target="body"
            hx-indicator="#please-wait">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    {% if action in ['create', 'clone', ] %}
                        {{ _('Tournament creation') }}
                    {% elif action == 'update' %}
                        {{ _('Edition of tournament [%(tournament_uniq_id)s]', tournament_uniq_id=admin_tournament.uniq_id) }}
                    {% elif action == 'delete' %}
                        {{ _('Deletion of tournament [%(tournament_uniq_id)s]', tournament_uniq_id=admin_tournament.uniq_id) }}
                    {% else %}
                        ?
                    {% endif %}
                </h2>
            </div>
            <div class="modal-body">
                {% if action == 'delete' %}
                    <h3 class="text-danger">
                        {{ _('Warning: the deletion of a tournament is permanent!') }}
                    </h3>
                    {% if admin_tournament.dependent_screens %}
                        <p>{{ _('The following screens will also be deleted:') }}</p>
                        <ul>
                            {% for screen in admin_tournament.dependent_screens %}
                                <li>{{ screen.name }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if admin_tournament.dependent_families %}
                        <p>{{ _('The following screen families will also be deleted:') }}</p>
                        <ul>
                            {% for family in admin_tournament.dependent_families %}
                                <li>{{ family.name }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ text_input(
                        name='uniq_id',
                        label=_('Enter the tournament ID to confirm its deletion:'),
                        placeholder=_('Enter here the tournament ID'),
                        help_text=_('The Papi-web tournament are deleted but the Papi file is still available on the filesystem.'),
                        data=data, errors=errors
                    ) }}
                {% else %}
                    <h3>
                        {{ _('Properties') }}
                    </h3>
                    <div class="row">
                        <div class="col-3">
                            {{ text_input(
                                name='uniq_id',
                                label=_('ID (unique):'),
                                placeholder=_('E.g.: main'),
                                help_text=_('The Unique ID, used to reference the tournament.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-3">
                            {{ text_input(
                                name='name',
                                label=_('Name:'),
                                placeholder=_('E.g.: Main tournament'),
                                help_text=_('The name of the tournament, used for display.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-3">
                            {{ text_input(
                                name='path',
                                label=_('Directory of the Papi file:'),
                                placeholder=_('E.g.: c:\\chess\\tournaments\\papi'),
                                help_text=_('The directory of the Papi file, by default %(dir)s.', dir=admin_event.path),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-3">
                            {{ text_input(
                                name='filename',
                                label=_('Name of the Papi file (with no extension):'),
                                placeholder=_('E.g.: main'),
                                help_text=_('The name of the Papi file, without the .papi extension (by default the FFE qualification number of the tournament, then The Unique ID of the tournament).'),
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>
                    <h3>
                        {{ _('Connections (FFE and ChessEvent)') }}
                    </h3>
                    <div class="row">
                        <div class="col-3">
                            {{ number_input(
                                name='ffe_id',
                                label=_('FFE qualification number (optional):'),
                                placeholder=_('E.g.: %(num)d', num=68991),
                                help_text=_('The qualification number given by the French Federation is an integer, it is used to connect to the FFE website.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-3">
                            {{ password_input(
                                name='ffe_password',
                                label=_('FFE password:'),
                                placeholder=_('E.g.: %(string)s', string='KYNPRTZMHX'),
                                help_text=_('The password is made of 10 uppercase letters, it is used to connect to the FFE website.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        {% if admin_event.chessevents_by_id %}
                            <div class="col-3">
                                {{ select_input(
                                    name='chessevent_id',
                                    label=_('ChessEvent connection:'),
                                    help_text=_('The ChessEvent connection allows the retrieval of registrations from the ChessEvent platform.'),
                                    select_options=chessevent_options,
                                    data=data, errors=errors
                                ) }}
                            </div>
                            <div class="col-3">
                                {{ text_input(
                                    name='chessevent_tournament_name',
                                    label=_('Name of the ChessEvent tournament:'),
                                    placeholder=_('E.g.: main'),
                                    help_text=_('The name of the tournament on the ChessEvent platform.'),
                                    data=data, errors=errors
                                ) }}
                            </div>
                    {% else %}
                        <div class="col-6">
                            {{ _('No ChessEvent connections.') }}
                        </div>
                    {% endif %}
                    <h3>
                        {{ _('Time control') }}
                    </h3>
                    <div class="row">
                        <div class="col-3">
                            {{ number_input(
                                name='time_control_initial_time',
                                label=_('FFE qualification number (optional):'),
                                placeholder=_('E.g.: %(seconds)d (%(minutes)d minutes)', seconds=300, minutes=5),
                                help_text=_('The initial time in seconds (may be empty if an increment is set).'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-3">
                            {{ number_input(
                                name='time_control_increment',
                                label=_('Increment (optional):'),
                                placeholder=_('E.g.: %(seconds)d (%(minutes)d minutes)', seconds=300, minutes=5),
                                help_text=_('The number of seconds added to the players\' clock at each move.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-2">
                            {{ number_input(
                                name='time_control_handicap_penalty_value',
                                label=_('Penalty (handicap):'),
                                placeholder=_('E.g.: %(seconds)d (seconds)', seconds=30),
                                help_text=_('The time subtracted from the highest ranked player, in seconds (this time is multiplied by the number of difference steps between the two players).'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-2">
                            {{ number_input(
                                name='time_control_handicap_penalty_step',
                                label=_('Elo step (handicap):'),
                                placeholder=_('E.g.: 50 (Elo)'),
                                help_text=_('The number of points difference between the ranking of the players used to calculate the number of penalties applied to the highest ranked player.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-2">
                            {{ number_input(
                                name='time_control_handicap_min_time',
                                label=_('Minimal time (handicap):'),
                                placeholder=_('E.g.: %(seconds)d (seconds)', seconds=60),
                                help_text=_('The minimum time, whatever the ranking difference between the two players.'),
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>
                    <h3>
                        {{ _('Rules') }}
                    </h3>
                    <div class="row">
                        <div class="col-6">
                            {{ text_input(
                                name='rules',
                                label=_('Rules file location:'),
                                placeholder=_('E.g.: c:\\chess\\tournaments\\main\\rules.pdf'),
                                help_text=_('A URL, or the path to the rules file on the server, in PDF format (optional, by default the rules files of the event).'),
                                data=data, errors=errors
                            ) }}
                        </div>
                        <div class="col-6">
                            {{ select_input(
                                name='record_illegal_moves',
                                label=_('Illegal moves recording:'),
                                help_text=_(
                                    'The maximum number of illegal moves that can be recorded per round for a player (from 0 to 3, by default %(default)d).',
                                    default=admin_event.record_illegal_moves
                                ),
                                select_options=record_illegal_moves_options,
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer d-block">
                <div class="row">
                    <div class="col col-6 text-start">
                        <button
                                type="submit"
                                class="text-nowrap white btn {% if action == 'delete' %}btn-danger{% else %}btn-primary{% endif %}"
                                data-bs-dismiss="modal"
                        >
                            <i class="bi-floppy-fill"></i>
                            {% if action in ['create', 'clone', ] %}
                                {{ _('Create') }}
                            {% elif action == 'update' %}
                                {{ _('Update') }}
                            {% elif action == 'delete' %}
                                {{ _('Delete') }}
                            {% else %}
                                ?
                            {% endif %}
                        </button>
                        {% if action in ['create', 'clone', ] %}
                            <button
                                    type="submit"
                                    name="add_screens"
                                    class="text-nowrap white btn {% if action == 'delete' %}btn-danger{% else %}btn-primary{% endif %}"
                                    data-bs-dismiss="modal"
                            >
                                <i class="bi-floppy-fill"></i>
                                <i class="bi-plus-square-fill"></i>
                                {{ _('Create and add default screens') }}
                            </button>
                        {% endif %}
                    </div>
                    <div class="col col-6 text-end">
                        <button
                                class="btn btn-secondary text-nowrap"
                                hx-get="{{ url_for('admin-event-tab', event_uniq_id=admin_event.uniq_id, admin_event_tab='tournaments') }}"
                                preload
                                hx-target="body"
                                hx-trigger="click, keyup[key=='Escape'] from:body"
                                hx-indicator="#please-wait"
                        >
                            <i class="bi-x-circle-fill"></i>
                            {{ _('Cancel') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    (new bootstrap.Modal(document.getElementById('modal-wrapper'))).show();
</script>
