<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered admin-event-edit-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {{ _('Tournament defaults') }}
            </h2>
        </div>
        <div class="modal-body">
            <form
                id="modal-form"
                hx-patch="{{ url_for('admin-tournament-update-config', event_uniq_id=admin_event.uniq_id or '') }}"
                hx-target="body"
                hx-indicator="#please-wait"
            >
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.select_input(
                            name='player_rating_type',
                            label=_('Player ratings to use by default:'),
                            select_options=player_rating_type_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.text_input(
                            name='location',
                            label=_('%(string)s:', string=_('Location')),
                            placeholder=_('E.g.: Paris'),
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>

                <h4>
                    {{ _('Unrated players') }}
                </h4>
                <div class="row gy-2 gx-3">
                    {{ admin_macros.switch_input(
                        name='override_unrated_rapid_blitz',
                        label='',
                        placeholder=_('In rapid/blitz tournaments, use the standard rating for unrated players'),
                        doc_icon='standard-rating',
                        help_text=_('Default handling of players without a FIDE rapid/blitz rating. For rating calculation, FIDE considers such players rated with their standard rating. If checked, this rating will also be used for seeding and pairings. If unchecked, they will be treated as unrated and require an estimated rating.'),
                        disabled=not client.can_update_event,
                        data=data, errors=errors
                    ) }}
                </div>

                <h4>
                    {{ _('Age categories') }}
                </h4>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.switch_input(
                            name='use_age_category_base_date',
                            label='',
                            placeholder=_('Specify a base date for the age categories'),
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.date_input(
                            name='age_category_base_date',
                            label=_('Base date:'),
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="form-text">
                        {{ _('Age categories are based on the start date of the tournament. You may choose to use another date instead, which can be useful if you want to keep the same age categories for a championship runs over a long period.') }}
                    </div>
                </div>

                <script>
                    $('#use-age-category-base-date').change(function() {
                        console.log($(this).val());
                        if ($(this).is(':checked')) {
                            $('#age-category-base-date-wrapper').show();
                        } else {
                            console.log('off');
                            $('#age-category-base-date-wrapper').hide();
                        }
                    });
                    if ("{{ data.use_age_category_base_date }}" === "off") {
                        $('#age-category-base-date-wrapper').hide();
                    }
                </script>

                <h4>
                    {{ _('Rules') }}
                </h4>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.switch_input(
                            name='three_points_for_a_win',
                            label='',
                            placeholder=_('Three points for a win'),
                            tooltip_text=_('Use the 3/1/0 points system instead of the standard 1/0.5/0 system.'),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.select_input(
                            name='pab_value',
                            label=_('Value of the pairing allocated bye:'),
                            select_options=three_points_for_a_win_options,
                            data=data, errors=errors
                        ) }}
                    </div>

                    <div class="col-12 col-md-6">
                        {{ admin_macros.text_input(
                            name='rules',
                            label=_('Rules file location:'),
                            placeholder=_('E.g.: c:\\chess\\tournaments\\my_tournament\\rules.pdf'),
                            tooltip_text=_('A URL, or the path to the rules file on the server, in PDF format.'),
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.number_input(
                            name='record_illegal_moves',
                            label=_('Illegal moves recording:'),
                            placeholder=sharly_chess_config.default_record_illegal_moves_number,
                            min=0,
                            max=3,
                            tooltip_text=_(
                                'The maximum number of illegal moves that '
                                'can be recorded per round for a player.',
                            ),
                            disabled=not client.can_update_event,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
            </form>
            {% for template in plugin_templates %}
                {% include template %}
            {% endfor %}
        </div>

        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill"></i>
                {{ _('Cancel') if client.can_update_event else _('Close') }}
            </button>
            {% if client.can_update_event %}
                <button
                    type="submit"
                    form="modal-form"
                    class="text-nowrap white btn btn-primary"
                >
                    <i class="bi-floppy-fill pe-1"></i>
                    {{ _('Save') }}
                </button>
            {% endif %}
        </div>
    </div>
</div>

<script>requestRefresh()</script>
