{% extends '../common/card.html' %}

{% block card_header %}
    {{ admin_macros.tournament_status_icon(tournament) }} {{ tournament.name }}
{% endblock %}

{% block card_title %}
    <div class="d-flex gap-2 align-items-center justify-content-center">
        <div
            class="text-nowrap {% if not tournament.rounds %}text-secondary{% endif %}"
            {% if tournament.rounds %}
                {{ macros.tooltip_attributes('info', _('Number of players : %(num)d', num=tournament.players_by_id|length), 'top') }}
            {% endif %}
        >
            <i class="bi-people-fill pe-1"></i>
            {% if tournament.rounds %}
                {{ tournament.players_by_id|length }}
            {% else %}
                <i class="bi-question text-secondary"></i>
            {% endif %}
        </div>
        <div
            class="text-nowrap {% if not tournament.rounds %}text-secondary{% endif %}"
        >
            {{ admin_macros.tournament_status_icon(tournament) }}
            {% if tournament.rounds %}
                {{ tournament.current_round }}/{{ tournament.rounds }}
            {% else %}
                <i class="bi-question"></i>
            {% endif %}
        </div>
        {% if not tournament.record_illegal_moves %}
            {% set text=_('Illegal moves are not recorded.') %}
        {% else %}
            {% set text=ngettext('At most %(num)d illegal move is recorded.', 'At most %(num)d illegal moves are recorded.', tournament.record_illegal_moves) %}
        {% endif %}
        <div
            class="text-nowrap"
            {{ macros.tooltip_attributes(type, text, 'top') }}
        >
            {% if not tournament.record_illegal_moves %}
                <i class="bi-flag text-secondary"></i>
            {% else %}
                {% for i in range(tournament.record_illegal_moves) %}
                    <i class="bi-flag-fill"></i>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block card_text %}
    {% if admin_tournaments_show_details %}
        {% for block in tournament_card_blocks %}
            <div class="pb-3 mb-3 border-bottom border-secondary">
                {% include block %}
            </div>
        {% endfor %}
    {% endif %}

    <div class="d-flex flex-column gap-1">
        <div class="text-start {% if not tournament.rules %}text-secondary{% endif %}">
            {% if tournament.rules %}
                {{ _('Rules file set') }}
            {% else %}
                {{ _('No rules file set') }}
            {% endif %}
        </div>
        <div class="text-start">
            {% if tournament.pairing %}
                {{ tournament.pairing }}
            {% endif %}
        </div>
        <div class="text-start">
            {% if tournament.rating %}
                {{ tournament.rating }}
            {% endif %}
        </div>
        {% if admin_tournaments_show_details %}
            <div class="text-start {% if not tournament.stored_tournament.first_board_number %}text-secondary{% endif %}">
                {{ _('First board number: %(board_number)d', board_number=tournament.first_board_number) }}
            </div>
            {#
            <div class="text-start {% if not tournament.stored_tournament.paired_bye_result %}text-secondary{% endif %}">
                {{ _('Paired bye result: %(string)s', string=paired_bye_result_options[tournament.paired_bye_result.value|string]) }}
            </div>
            #}
            <div class="text-start {% if not tournament.stored_tournament.max_byes %}text-secondary{% endif %}">
                {{ _('Maximum number of byes: %(max_byes)d', max_byes=tournament.max_byes) }}
            </div>
            <div class="text-start {% if not tournament.stored_tournament.last_rounds_no_byes %}text-secondary{% endif %}">
                {{ _('Number of final rounds in which byes are prohibited: %(last_rounds_no_byes)d', last_rounds_no_byes=tournament.last_rounds_no_byes) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block card_buttons_left %}
    <span {{ macros.tooltip_attributes('info', _('Edit the properties of the tournament.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-primary text-nowrap"
            hx-get="{{ url_for('admin-tournament-modal', action='update', event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id) }}"
            hx-target="#modal-wrapper"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-pencil-fill pe-1"></i>
            {{ _('Edit') }}
        </button>
    </span>

    {% if EXPERIMENTAL_FEATURES and tournament.pairings_generation_allowed %}
        <span {{ macros.tooltip_attributes('info', _('Generate pairings for the next round.'), 'top') }}>
            <button
                class="btn btn-sm btn-outline-primary text-nowrap"
                hx-post="{{ url_for('admin-tournament-generate-pairings', event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id) }}"
                preload
                hx-target="body"
                hx-indicator="#please-wait"
            >
                <i class="bi-shuffle pe-1"></i>
                {{ _('Pair') }}
            </button>
        </span>
    {% endif %}

    {% if EXPERIMENTAL_FEATURES %}
        <div class="dropdown d-inline">
            <button class="btn btn-sm btn-outline-primary dropdown-toggle mx-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi-download pe-1"></i>{{ _('Export') }}
            </button>
            <ul class="dropdown-menu locale">
                {% for exporter in tournament_exporters %}
                    <li
                        class="dropdown-item text-start cursor-pointer"
                        onclick="window.open('{{ exporter.download_url.format(event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id) }}', '_blank')"
                    >
                        {{ exporter.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block card_buttons_right %}
    <span {{ macros.tooltip_attributes('info', _('Print players, results, etc.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-primary text-nowrap"
            hx-get="{{ url_for('admin-print-modal', event_uniq_id=admin_event.uniq_id) }}?tournament_id={{ tournament.id }}"
            hx-target="#modal-wrapper"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi bi-printer-fill"></i>
        </button> 
    </span>  
    <span {{ macros.tooltip_attributes('info', _('Clone the tournament.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-primary text-nowrap"
            hx-get="{{ url_for('admin-tournament-modal', action='clone', event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id) }}"
            hx-target="#modal-wrapper"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-copy"></i>
        </button>
    </span>
    <span {{ macros.tooltip_attributes('info', _('Delete the tournament.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-danger text-nowrap"
            hx-get="{{ url_for('admin-tournament-modal', action='delete', event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id) }}"
            hx-target="#modal-wrapper"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-trash-fill"></i>
        </button>
    </span>
{% endblock %}
