<div class="modal-dialog modal-dialog-scrollable admin-tournament-edit-modal">
    <div class="modal-content">
        {# Required for time pickers #}
        <div tabindex="0" class="focus-honey-pot"></div>
        <div class="modal-header">
             <h2 class="modal-title">
                {% if action == 'update' %}
                    {{ _('Edit tournament') }}
                {% else %}
                   {{ _('Create tournament') }}
                {% endif %}
            </h2>
        </div>
        <div class="modal-body">
            <form
                id="modal-form"
                hx-trigger="submit, enterKeypressFromModal"
                {% if action == 'update' %}
                    hx-patch="{{ url_for(
                        'admin-tournament-update',
                        event_uniq_id=admin_event.uniq_id,
                        tournament_id=admin_tournament.id
                    ) }}"
                {% elif action == 'create' %}
                    hx-post="{{ url_for('admin-tournament-create', event_uniq_id=admin_event.uniq_id) }}"
                {% else %}
                    hx-post="{{ url_for(
                        'admin-tournament-clone',
                        event_uniq_id=admin_event.uniq_id,
                        tournament_id=cloned_tournament.id
                    ) }}"
                {% endif %}
                hx-target="body"
                hx-indicator="#please-wait"
            >
                {% set reload_schedule_script = "htmx.trigger(document.getElementById('schedule-section'), 'schedule-params-updated')" %}
                <h4>
                    {{ _('Properties') }}
                </h4>
                {# These inputs are a trick to avoid autocomplete #}
                <input type="text" style="display:none">
                <input type="password" style="display:none">
                <input type="hidden" name="redirect_to" value="{{ data['redirect_to'] }}">
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.text_input(
                            name='name',
                            label=_('Name:'),
                            placeholder=_('E.g.: Main tournament'),
                            data=data, errors=errors
                        ) }}
                    </div>

                    <div class="col-12 col-md-6">
                        {{ admin_macros.number_input(
                            name='rounds',
                            label=_('%(string)s:', string=_('Rounds')),
                            data=data, errors=errors,
                        ) }}
                        <script>
                            $('#rounds').on('change delay:0.3s', () => {{ reload_schedule_script|safe }});
                        </script>
                    </div>
                </div>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.select_input(
                            name='rating',
                            label=_('Rating:'),
                            select_options=rating_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.select_input(
                            name='player_rating_type',
                            label=_('Rating to use:'),
                            tooltip_text=_('Affects the rating that will be chosen for each player.'),
                            select_options=player_rating_type_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                <div id="estimated-ratings" class="row gy-2 gx-3">
                    <div class="col-12">
                        {{ admin_macros.switch_input(
                            name='override_unrated_rapid_blitz',
                            placeholder=_('Use the standard FIDE rating for unrated players'),
                            tooltip_text=_(
                                'For players without a rapid or blitz FIDE rating, '
                                'use instead their standard FIDE rating.'
                            ),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <script>
                        $('#rating,#player-rating-type').change(function() {
                            const fideRatingValues = ['3'];
                            {% if admin_event.player_rating_type == 3 %}
                                fideRatingValues.push('');
                            {% endif %}
                            if ($('#rating').val() !== '1' && fideRatingValues.includes($('#player-rating-type').val())) {
                                $('#estimated-ratings').show();
                            } else {
                                $('#estimated-ratings').hide();
                            }
                        });
                        triggerModalInitEvent('#rating');
                    </script>
                </div>

                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.date_range_input(
                            name='date_range',
                            label=_('%(string)s:', string=_('Dates')),
                            placeholder=admin_event.date_range_str,
                            on_date_picker_hide=reload_schedule_script,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.text_input(
                            name='location',
                            label=_('%(string)s:', string=_('Location')),
                            placeholder=admin_event.location or _('E.g.: Paris'),
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                {% include '/admin/tournaments/time_control_editor.html' %}

                <h4>
                    {{ _('Pairings') }}
                </h4>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.select_input(
                            name='pairing_system',
                            label=_('%(string)s:', string=_('Pairing system')),
                            select_options=pairing_system_options,
                            disabled=admin_tournament.started,
                            input_tooltip=(
                                _('This field can\'t be modified once the tournament has started.')
                                if admin_tournament.started else ''
                            ),
                            data=data, errors=errors
                        ) }}
                    </div>
                    {% if admin_tournament.started %}
                        <input type="hidden" name="pairing_system" value="{{ data['pairing_system'] }}" />
                    {% endif %}
                    {% for pairing_system in pairing_systems %}
                        <div
                            class="col-12 col-md-6"
                            id="{{ pairing_system.variation_container_id }}"
                        >
                            {{ admin_macros.select_input(
                                name=pairing_system.variation_field_id,
                                label=_('%(string)s:', string=_('Variation')),
                                select_options=pairing_system.variation_manager(admin_event).options(),
                                disabled=admin_tournament.started,
                                input_tooltip=(
                                    _('This field can\'t be modified once the tournament has started.')
                                    if admin_tournament.started else ''
                                ),
                                data=data, errors=errors
                            ) }}
                        </div>
                        {% if admin_tournament.started %}
                            <input type="hidden" name="{{ pairing_system.variation_field_id }}" value="{{ data[pairing_system.variation_field_id] }}" />
                        {% endif %}
                    {% endfor %}
                    <script>
                        $('#pairing-system').change(function() {
                            let elements = '';
                            {% for pairing_system in pairing_systems %}
                                elements = $('#{{ pairing_system.variation_container_id }}');
                                if ($(this).val() === '{{ pairing_system.id }}') {
                                    $('#pab-value-container').{% if pairing_system.hide_pab_value_field %}hide(){% else %}show(){% endif %};
                                    elements.show();
                                } else {
                                    elements.hide();
                                }
                            {% endfor %}
                        });
                        triggerModalInitEvent('#pairing-system');
                    </script>
                </div>
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        {{ admin_macros.number_input(
                            name='first_board_number',
                            label=_('First board number:'),
                            placeholder=sharly_chess_config.default_first_board_number,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.number_input(
                            name='max_byes',
                            label=_('Max byes:'),
                            placeholder=sharly_chess_config.default_max_byes,
                            tooltip_text=_('The maximum number of byes a player can pretend to.'),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.number_input(
                            name='last_rounds_no_byes',
                            label=_('No. final rounds without byes:'),
                            placeholder=sharly_chess_config.default_last_rounds_no_byes,
                            tooltip_text=_('The number of final rounds in which byes are not permitted.'),
                            data=data, errors=errors
                        ) }}
                    </div>

                    <div id="pab-value-container" class="col-12 col-md-6">
                        {{ admin_macros.select_input(
                            name='pab_value',
                            label=_('Value of the pairing allocated bye:'),
                            select_options=pab_value_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.number_input(
                            name='record_illegal_moves',
                            label=_('Illegal moves recording:'),
                            placeholder=sharly_chess_config.default_record_illegal_moves,
                            min=0,
                            max=3,
                            tooltip_text=_(
                                'The maximum number of illegal moves that '
                                'can be recorded per round for a player.',
                            ),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.switch_input(
                            name='three_points_for_a_win',
                            placeholder=_('Three points for a win'),
                            tooltip_text=_('Use the 3/1/0 points system instead of the standard 1/0.5/0 system.'),
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>

                {% for form_fields_template in plugin_form_fields_templates %}
                    {% include form_fields_template %}
                {% endfor %}
                <button
                    type="button"
                    class="collapse-button {% if not force_criteria_open %}collapsed{% endif %} mt-3"
                    data-bs-toggle="collapse"
                    data-bs-target="#criteria-collapse"
                    aria-expanded="false"
                >
                    <h4 class="form-check-label d-inline-flex align-items-center gap-2">
                        <i class="bi-chevron-down text-body"></i>
                        {{ _('Criteria') }}
                    </h4>
                </button>
                <div id="criteria-collapse" class="{% if not force_criteria_open %}collapse{% endif %}">
                    <div class="row">
                        {% for criterion in tournament_criteria %}
                            {% include criterion.template_name %}
                        {% endfor %}
                    </div>
                </div>
                {% include '/admin/tournaments/tournament_schedule_section.html' %}
            </form>

        </div>
        <div class="modal-footer">
            <button
                type="button"
                data-bs-dismiss="modal"
                class="btn btn-secondary text-nowrap"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            <span id="submit-button-container">
                {% if action == 'update' %}
                    <button
                        type="submit"
                        form="modal-form"
                        class="text-nowrap white btn btn-primary"
                    >
                        <i class="bi-floppy-fill pe-1"></i>
                        {{ _('Save') }}
                    </button>
                {% else %}
                    {{ admin_macros.split_submit_buttons(
                        options={
                            'create': _('Create'),
                            'add_screens': _('Create with default screens'),
                        },
                        active_option='create'
                    ) }}
                {% endif %}
            </span>
        </div>
    </div>
</div>
