{% extends '../common/card.html' %}

{% block card_header %}
    {{ admin_macros.tournament_status_icon(tournament) }} {{ tournament.name }}
{% endblock %}

{% block card_title %}
    <div class="d-flex gap-2 align-items-center justify-content-center">
        <div
            class="text-nowrap {% if not tournament.rounds %}text-secondary{% endif %}"
            {% if tournament.rounds %}
                {{ macros.tooltip_attributes('info', _('Number of players: %(num)d', num=tournament.players_by_id|length), 'top') }}
            {% endif %}
        >
            <i class="bi-people-fill pe-1"></i>
            {% if tournament.rounds %}
                {{ tournament.players_by_id|length }}
            {% else %}
                <i class="bi-question text-secondary"></i>
            {% endif %}
        </div>
        <div
            class="text-nowrap {% if not tournament.rounds %}text-secondary{% endif %}"
        >
            {{ admin_macros.tournament_status_icon(tournament) }}
            {% if tournament.rounds %}
                {{ tournament.current_round }}/{{ tournament.rounds }}
            {% else %}
                <i class="bi-question"></i>
            {% endif %}
        </div>
        {% if not tournament.record_illegal_moves %}
            {% set text=_('Illegal moves are not recorded.') %}
        {% else %}
            {% set text=ngettext('At most %(num)d illegal move is recorded.', 'At most %(num)d illegal moves are recorded.', tournament.record_illegal_moves) %}
        {% endif %}
        <div
            class="text-nowrap"
            {{ macros.tooltip_attributes(type, text, 'top') }}
        >
            {% if not tournament.record_illegal_moves %}
                <i class="bi-flag text-secondary"></i>
            {% else %}
                {% for i in range(tournament.record_illegal_moves) %}
                    <i class="bi-flag-fill"></i>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block card_text %}

    {% for block in tournament_card_blocks %}
        {% include block %}
    {% endfor %}

    <div class="d-flex flex-column gap-1">
        <div class="text-start {% if not tournament.rules %}text-secondary{% endif %}">
            {% if tournament.rules %}
                {{ _('Rules file set') }}
            {% else %}
                {{ _('No rules file set') }}
            {% endif %}
        </div>
        <div class="text-start">
            {{ tournament.rating }}
        </div>
        <div class="text-start">
            {{ _('Pairings: %(pairing_variation)s', pairing_variation=tournament.pairing_variation.name) }}
            {% with pairing_tooltip_message=tournament.pairing_variation.settings_tooltip_message(tournament) %}
                {% if pairing_tooltip_message %}
                    <i
                        class="bi-info-circle-fill ps-1"
                        {{ macros.tooltip_attributes('', pairing_tooltip_message, 'top') }}
                    ></i>
                {% endif %}
            {% endwith %}
        </div>
        {% if admin_tournaments_show_details %}
            <div class="text-start {% if not tournament.tie_breaks %}text-secondary{%endif%}">
                {% if tournament.tie_breaks %}
                    {{ _('Tie-breaks:') }}&nbsp;
                    {% for tie_break in tournament.tie_breaks %}
                        <span {{ macros.tooltip_attributes('info', tie_break.name, 'top') }}>
                            {{ tie_break.short_name }}
                        </span>
                        {% if not loop.last %}&nbsp;-&nbsp;{% endif %}
                    {% endfor %}
                {% else %}
                    {{ _('No tie-break defined') }}
                {% endif %}
            </div>
            <div class="text-start {% if not tournament.stored_tournament.first_board_number %}text-secondary{% endif %}">
                {{ _('First board number: %(board_number)d', board_number=tournament.first_board_number) }}
            </div>
            {#
            <div class="text-start {% if not tournament.stored_tournament.paired_bye_result %}text-secondary{% endif %}">
                {{ _('Paired bye result: %(string)s', string=paired_bye_result_options[tournament.paired_bye_result.value|string]) }}
            </div>
            #}
            <div class="text-start {% if tournament.stored_tournament.max_byes is none %}text-secondary{% endif %}">
                {{ _('Maximum number of byes: %(max_byes)d', max_byes=tournament.max_byes) }}
            </div>
            <div class="text-start {% if not tournament.stored_tournament.last_rounds_no_byes is none %}text-secondary{% endif %}">
                {{ _('Number of final rounds in which byes are prohibited: %(last_rounds_no_byes)d', last_rounds_no_byes=tournament.last_rounds_no_byes) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block card_buttons_left %}
    <div class="dropup">
        <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ _('Actions') }}
        </button>
        <ul class="dropdown-menu">
            {% if client.can_update_players %}
                <li class="dropdown-submenu">
                    <span
                        {{ macros.tooltip_attributes('info', _('Update the players\' information from an external data source.'), 'top') }}
                    >
                        <button class="dropdown-item d-flex justify-content-between">
                            <span><i class="bi-arrow-repeat pe-1"></i>
                            {{ _('Update players') }}</span>
                            <i class="ps-3 bi bi-caret-right-fill"></i>
                        </button>
                    </span>
                    <ul class="dropdown-menu">
                        {% include '/admin/players/players_diff.html' %}
                    </ul>
                </li>
            {% endif %}
            <li>
                <span
                    {{ macros.tooltip_attributes('info', _('Print players, results, etc.'), 'top') }}
                >
                    <button
                        class="dropdown-item text-nowrap"
                        hx-get="{{ url_for('admin-print-modal', event_uniq_id=admin_event.uniq_id) }}?tournament_id={{ tournament.id }}"
                        hx-target="body"
                        hx-indicator="#please-wait"
                        preload
                        data-bs-toggle="modal"
                        data-bs-target="#modal-wrapper"
                    >
                        <i class="bi bi-printer-fill pe-1"></i>
                        {{ _('Print') }}
                    </button>
                </span>
            </li>
            <li class="dropdown-submenu">
                <button class="dropdown-item d-flex justify-content-between" href="#">
                    <span><i class="bi-download pe-1"></i>
                    {{ _('Export') }}</span>
                    <i class="ps-3 bi bi-caret-right-fill"></i>
                </button>
                <ul class="dropdown-menu">
                    {% for exporter in tournament_exporters %}
                        <li
                            class="dropdown-item text-start cursor-pointer"
                            onclick="window.open('{{ url_for('admin-tournament-export', event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id, exporter_id=exporter.id) }}', '_blank')"
                            {{ macros.tooltip_attributes('info', exporter.tooltip, 'right') }}
                        >
                            {{ exporter.name }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <span
                    {{ macros.tooltip_attributes('info', _('May be used for per-round prize giveaways etc.'), 'top') }}
                >
                    <button
                        class="dropdown-item text-nowrap"
                        hx-get="{{ url_for('admin-random-player', event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id) }}"
                        hx-target="body"
                        hx-indicator="#please-wait"
                    >
                        <i class="bi bi-dice-3-fill pe-1"></i>
                        {{ _('Choose a player at random') }}
                    </button>
                </span>
            </li>
            {% for items_template in tournament_action_menu_items %}
                <li><hr class="dropdown-divider"></li>
                {% include items_template %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block card_buttons_right %}
    <span
        {% if client.can_update_tournaments %}
            {{ macros.tooltip_attributes('info', _('Edit the properties of the tournament.'), 'top') }}
        {% else %}
            {{ macros.tooltip_attributes('warning', _('You are not allowed to update the tournament.'), 'top') }}
        {% endif %}
    >
        <button
            class="btn btn-sm btn-outline-primary text-nowrap"
            hx-get="{{ url_for('admin-tournament-modal', action='update', event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
            {% if not client.can_update_tournaments %}
                disabled
            {% endif %}
        >
            <i class="bi-pencil-fill"></i>
        </button>
    </span>
    <span
        {% if client.can_add_tournament %}
            {{ macros.tooltip_attributes('info', _('Duplicate the tournament.'), 'top') }}
        {% else %}
            {{ macros.tooltip_attributes('warning', _('You are not allowed to create tournaments.'), 'top') }}
        {% endif %}
    >
        <button
            class="btn btn-sm btn-outline-primary text-nowrap"
            hx-get="{{ url_for('admin-tournament-modal', action='clone', event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
            {% if not client.can_add_tournament %}
                disabled
            {% endif %}
        >
            <i class="bi-copy"></i>
        </button>
    </span>
    <span
        {% if client.can_delete_tournaments %}
            {{ macros.tooltip_attributes('info', _('Delete the tournament.'), 'top') }}
        {% else %}
            {{ macros.tooltip_attributes('warning', _('You are not allowed to delete the tournament.'), 'top') }}
        {% endif %}
    >
        <button
            class="btn btn-sm {% if client.can_delete_tournaments %}btn-outline-danger{% else %}btn-outline-primary{% endif %} text-nowrap"
            hx-get="{{ url_for('admin-tournament-modal', action='delete', event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
            {% if not client.can_delete_tournaments %}
                disabled
            {% endif %}
        >
            <i class="bi-trash-fill"></i>
        </button>
    </span>
{% endblock %}
