{% extends '../common/card.html' %}

{% block card_header %}
    {{ tournament_status_icon(tournament) }} {{ tournament.name }}
{% endblock %}

{% block card_title %}
{% endblock %}

{% block card_text %}
    <div class="d-flex flex-column gap-1">
        <div class="">
            {% if not tournament.file_exists %}
                {% set text=_('The Papi file for the tournament does not exist (%(papi_file)s).', papi_file=tournament.file) %}
                {% set type='error' %}
            {% elif not tournament.rounds %}
                {% set text=_('The Papi file for the tournament exists but could not be read (%(papi_file)s).', papi_file=tournament.file) %}
                {% set type='error' %}
            {% else %}
                {% set text=_('The Papi file for the tournament was successfully read (%(papi_file)s).', papi_file=tournament.file) %}
                {% set type='info' %}
            {% endif %}
            <span
                class="me-2 text-nowrap"
                {{ tooltip_attributes(type, text, 'top') }}
            >
                {% if not tournament.file_exists or not tournament.rounds %}
                    <i class="bi-file-earmark-excel-fill text-danger pe-1"></i>
                {% else %}
                    <i class="bi-file-check-fill text-success pe-1"></i>
                {% endif %}
                {{ tournament.filename }}
            </span>
        </div>
        <div class="text-start {% if not tournament.ffe_id %}text-secondary{% endif %}">
            <img
                src="{{ url_for('static', file_path='/images/federations/ffe.png') }}"
                style="height: 1.2em"
                class="p-0"
            />
            {% if tournament.ffe_id %}
                {{ _('FFE qualification: %(ffe_id)s', ffe_id=tournament.ffe_id) }}
            {% else %}
                {{ _('No FFE qualification') }}
            {% endif %}
        </div>
         <div class="text-start {% if not tournament.chessevent_user_id or not tournament.chessevent_event_id or not tournament.chessevent_tournament_name %}text-secondary{% endif %}">
             <i class="bi-download pe-1" ></i>
             {% if tournament.chessevent_user_id and tournament.chessevent_event_id and tournament.chessevent_tournament_name %}
                 {{ _(
                     'Chessevent: %(chessevent_user_id)s / %(chessevent_event_id)s / %(chessevent_tournament_name)s',
                     chessevent_user_id=tournament.chessevent_user_id,
                     chessevent_event_id=tournament.chessevent_event_id,
                     chessevent_tournament_name=tournament.chessevent_tournament_name) }}
             {% elif not tournament.chessevent_user_id %}
                 {{ _('No ChessEvent identifier defined') }}
             {% elif not tournament.chessevent_event_id %}
                 {{ _('No ChessEvent event defined') }}
             {% else %}
                 {{ _('No ChessEvent tournament defined') }}
             {% endif %}
        </div>
        <div class="text-start">
            <span
                class="me-2 text-nowrap {% if not tournament.rounds %}text-secondary{% endif %}"
                {% if tournament.rounds %}
                    {{ tooltip_attributes('info', _('Players found in the Papi_file : %(num)d', num=tournament.players_by_id|length), 'top') }}
                {% endif %}
            >
                <i class="bi-people-fill pe-1"></i>
                {% if tournament.rounds %}
                    {{ tournament.players_by_id|length }}
                {% else %}
                    <i class="bi-question text-secondary"></i>
                {% endif %}
            </span>
            <span
                class="me-2 text-nowrap {% if not tournament.rounds %}text-secondary{% endif %}"
            >
                {{ tournament_status_icon(tournament) }}
                {% if tournament.rounds %}
                    {{ tournament.current_round }}/{{ tournament.rounds }}
                {% else %}
                    <i class="bi-question"></i>
                {% endif %}
            </span>
            {% if not tournament.record_illegal_moves %}
                {% set text=_('Illegal moves are not recorded.') %}
            {% else %}
                {% set text=ngettext('At most %(num)d illegal move is recorded.', 'At most %(num)d illegal moves are recorded.', tournament.record_illegal_moves) %}
            {% endif %}
            <span
                class="me-2 text-nowrap"
                {{ tooltip_attributes(type, text, 'top') }}
            >
                {% if not tournament.record_illegal_moves %}
                    <i class="bi-flag text-secondary"></i>
                {% else %}
                    {% for i in range(tournament.record_illegal_moves) %}
                        <i class="bi-flag-fill"></i>
                    {% endfor %}
                {% endif %}
            </span>
        </div>
        <div class="text-start {% if not tournament.rules %}text-secondary{% endif %}">
            {% if tournament.rules %}
                {{ _('Rules file set') }}
            {% else %}
                {{ _('No rules file set') }}
            {% endif %}
        </div>
        <div class="text-start">
            {% if tournament.pairing %}
                {{ tournament.pairing }}
            {% endif %}
        </div>
        <div class="text-start">
            {% if tournament.rating %}
                {{ tournament.rating }}
            {% endif %}
        </div>
        <div class="text-start">
            <i class="bi-pencil-fill pe-1"></i>
            {{ tournament.last_update_str }}
        </div>
    </div>
{% endblock %}

{% block card_buttons_left %}
    <span {{ tooltip_attributes('info', _('Edit the properties of the tournament.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-primary text-nowrap"
            hx-get="{{ url_for('admin-tournament-modal', action='update', event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id) }}"
            preload
            hx-target="body"
            hx-indicator="#please-wait"
        >
            <i class="bi-pencil-fill pe-1"></i>
            {{ _('Edit') }}
        </button>
    </span>

    {% if EXPERIMENTAL_FEATURES and tournament.pairings_generation_allowed %}
        <span {{ tooltip_attributes('info', _('Generate pairings for the next round.'), 'top') }}>
            <button
                class="btn btn-sm btn-outline-primary text-nowrap"
                hx-post="{{ url_for('admin-tournament-generate-pairings', event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id) }}"
                preload
                hx-target="body"
                hx-indicator="#please-wait"
            >
                <i class="bi-shuffle pe-1"></i>
                {{ _('Pair') }}
            </button>
        </span>
    {% endif %}

    {% if EXPERIMENTAL_FEATURES %}
        <div class="dropdown d-inline">
            <button class="btn btn-sm btn-outline-primary dropdown-toggle mx-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi-download pe-1"></i>{{ _('Export') }}
            </button>
            <ul class="dropdown-menu locale">
                <li
                    class="dropdown-item text-start cursor-pointer"
                    onclick="window.open('{{ url_for('admin-tournament-trf-export', event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id) }}?usage=RATING', '_blank')"
                >
                    {{ _('Export to TRF16 (rating)') }}
                </li>
                <li
                    class="dropdown-item text-start cursor-pointer"
                    onclick="window.open('{{ url_for('admin-tournament-trf-export', event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id) }}?usage=PAIRING', '_blank')"
                >
                    {{ _('Export to TRF(bx) (pairing)') }}
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block card_buttons_right %}
    <span {{ tooltip_attributes('info', _('Clone the tournament.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-primary text-nowrap"
            hx-get="{{ url_for('admin-tournament-modal', action='clone', event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id) }}"
            preload
            hx-target="body"
            hx-indicator="#please-wait"
        >
            <i class="bi-copy"></i>
        </button>
    </span>
    <span {{ tooltip_attributes('info', _('Delete the tournament.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-danger text-nowrap"
            hx-get="{{ url_for('admin-tournament-modal', action='delete', event_uniq_id=admin_event.uniq_id, tournament_id=tournament.id) }}"
            preload
            hx-target="body"
            hx-indicator="#please-wait"
        >
            <i class="bi-trash-fill"></i>
        </button>
    </span>
{% endblock %}
