{% extends '../../common/cards_container.html' %}

<div
    class="mb-2 align-items-center z-3"
    style="max-width: calc(var(--vw, 100vw) - var(--side-bar-width) - 2rem); position: sticky; left: 1rem;"
>
    {% call() macros.section_title() %}
        <i class="{{ event_icon_class }}"></i> {{ title }}
    {% endcall %}
</div>

{% block cards_container_cards %}
    <div class="row">
        {% if events %}
            {% for event in events %}
                {% with
                    card_url=url_for('user-event', event_uniq_id=event.uniq_id),
                    card_class=('bg-light' if event.public else 'border-danger') if admin_auth else 'bg-light',
                    card_background_url=event.background_url,
                    card_background_color=event.background_color
                %}
                    {% include 'event_card.html' %}
                {% endwith %}
            {% endfor %}
        {% else %}
            <div class="col-12 mb-3">
                no event.
                admin_auth={{ admin_auth }}
                {% if admin_auth %}
                    admin_empty_str={{ admin_empty_str }}
                {% else %}
                    empty_str{{ empty_str }}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
