{% extends '../common/card.html' %}

{% block card_header %}
    {{ event.name }}
{% endblock %}

{% block card_title %}
    {% if admin_auth %}
        {{ macros.event_visibility_icon(event, 'pe-1') }}
    {% endif %}
    {% with start_date=format_timestamp_date(event.start), stop_date=format_timestamp_date(event.stop) %}
        {% if start_date == stop_date %}
        <span class="fw-bold">
            {{ start_date }}
        </span> {{ format_timestamp_time(event.start) }}-{{ format_timestamp_time(event.start) }}
        {% else %}
            <span class="fw-bold">{{ start_date }} - {{ stop_date }}</span>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block card_text %}
    <div>{{ _('Tournaments: %(num)d', num=event.tournament_count) }}</div>
{% endblock %}
