{% extends '../common/card.html' %}

{% block card_header %}
    {{ event.name }}
{% endblock %}

{% block card_title %}
    {% if admin_auth %}
    {{ event_visibility_icon(event, 'pe-1') }}
    {% endif %}
    {% if event.formatted_start_date == event.formatted_stop_date %}
    <span class="fw-bold">{{ event.formatted_start_date }}</span> {{ event.formatted_start_time }}-{{ event.formatted_stop_time }}
    {% else %}
    <span class="fw-bold">{{ event.formatted_start_date }} - {{ event.formatted_stop_date }}</span>
    {% endif %}
{% endblock %}

{% block card_text %}
    <div>{{ _('Tournaments: %(num)d', num=event.tournaments_by_id|length) }}</div>
{% endblock %}

