<!DOCTYPE html>
{% import 'macros.j2' as macros with context %}
<html>
    <head>
        {% if not request.htmx %}
            <title>{% block title %}Sharly Chess{% endblock %}</title>
            <link rel="shortcut icon" type="image/png" href="{{ url_for('static', file_path='/images/sharly-chess.ico') }}"/>
            {# https://github.com/twbs/bootstrap/releases #}
            <link href="{{ url_for('static', file_path='/lib/bootstrap/bootstrap-' ~ sharly_chess_config.bootstrap_version ~ '-dist/css/bootstrap.min.css') }}" rel="stylesheet">
            {# https://github.com/twbs/icons/releases #}
            <link rel="stylesheet" href="{{ url_for('static', file_path='/lib/bootstrap-icons/bootstrap-icons-' ~ sharly_chess_config.bootstrap_icons_version ~ '/font/bootstrap-icons.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', file_path='/css/base.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ url_for('static', file_path='/css/user.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ url_for('static', file_path='/css/admin.css') }}" type="text/css" />
            {# https://jquery.com/download/ #}
            <script src="{{ url_for('static', file_path='/lib/jquery/jquery-' ~ sharly_chess_config.jquery_version ~ '.min.js') }}"></script>
            {# https://unpkg.com/browse/htmx.org@<htmx_version>/dist/ #}
            <meta name="htmx-config" content='{"includeIndicatorStyles": false}'>
            <script src="{{ url_for('static', file_path='/lib/htmx/htmx-' ~ sharly_chess_config.htmx_version ~ '/htmx.min.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/htmx/preload-' ~ sharly_chess_config.htmx_preload_version ~ '/preload.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/htmx/remove-me-' ~ sharly_chess_config.htmx_remove_me_version ~ '/remove-me.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/htmx/multi-swap-' ~ sharly_chess_config.htmx_multi_swap_version ~ '/multi-swap.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/htmx/sse-' ~ sharly_chess_config.htmx_sse_version ~ '/sse.js') }}"></script>
            {# https://github.com/SortableJS/Sortable #}
            <script src="{{ url_for('static', file_path='/lib/Sortable/Sortable-' ~ sharly_chess_config.sortable_version ~ '/Sortable.min.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/htmx/sortable.js') }}"></script>
            {# https://github.com/vakata/jstree #}
            <link rel="stylesheet" href="{{ url_for('static', file_path='/lib/jstree/jstree-' ~ sharly_chess_config.jstree_version ~ '/dist/themes/default/style.min.css') }}" type="text/css" />
            <script src="{{ url_for('static', file_path='/lib/jstree/jstree-' ~ sharly_chess_config.jstree_version ~ '/dist/jstree.min.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/morphdom/morphdom-' ~ sharly_chess_config.morphdom_version ~ '/dist/morphdom-umd.min.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/htmx/morphdom-swap.js') }}"></script>
            <script src="{{ url_for('static', file_path='/lib/polyglot/polyglot.js') }}"></script>
            <script>
                function setSize() {
                    {#  We store the size of the viewport, without the scrollbars, in CSS variables #}
                    {#  This is necessary since dvh/dwh is broken on Chrome #}
                    let vw = document.documentElement.clientWidth;
                    let vh = document.documentElement.clientHeight;
                    document.documentElement.style.setProperty('--vw', `${vw}px`);
                    document.documentElement.style.setProperty('--vh', `${vh}px`);

                    {#  We store the (dynamic) header height, useful for sticking things under it #}
                    let headerHeight = document.getElementById('header-wrapper')?.offsetHeight ?? 0;
                    document.documentElement.style.setProperty('--header-height', `${headerHeight}px`);
                  }

                setSize();

                window.addEventListener('resize', setSize);
                window.addEventListener('htmx:afterSettle', setSize);

                function closeTooltips () {
                    $('body .tooltip').remove();
                    $('body .tooltip-inner').remove();
                    $('body .tooltip-arrow').remove();
                }

                {# Enable Bootstrap tooltips cf https://getbootstrap.com/docs/5.3/components/tooltips/ #}
                function activateTooltips () {
                    if (typeof bootstrap !== 'undefined') {
                        tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
                        tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
                    }
                }

                {# This function is called after loading a modal and each time a bye select has changed on the record modal #}
                function updateRecordByes() {
                    {# get the maximum number of bye that can be given #}
                    max_byes = Number($('[name="max_byes"]').val());
                    if (isNaN(max_byes)) {
                        {# nothing to do #}
                        return;
                    }
                    {# count the total number of byes given, including all the rounds #}
                    byes = $('option[value="8"]:selected').length + 2 * $('option[value="10"]:selected').length;
                    {% if DEVEL_ENV %}
                        console.log('max_byes=' + max_byes + ', byes=' + byes);
                    {% endif %}
                    {# for each visible select, allow the possible options #}
                    $('select.bye.show').each(function() {
                        name = $(this).attr('name')
                        selectedValue = Number($(this).find(':selected').val());
                        if (selectedValue == 8) {
                            {# if HPB is selected, one more bye only is needed for FPB #}
                            {% if DEVEL_ENV %}
                                console.log('name=' + name + ', selectedValue=' + selectedValue + ', fpb_disabled=' + (byes + 1 > max_byes))
                            {% endif %}
                            $(this).find('option[value="10"]').prop('disabled', byes + 1 > max_byes);
                        } else if (selectedValue == 10) {
                            {# if FPB is selected, HPB is always possible #}
                            {% if DEVEL_ENV %}
                                console.log('name=' + name + ', selectedValue=' + selectedValue + ', hpb_disabled=' + false)
                            {% endif %}
                            $(this).find('option[value="8"]').prop('disabled', false);
                        } else {
                            {# one bye is needed for HPB, two for FPB #}
                            {% if DEVEL_ENV %}
                                console.log('name=' + name + ', selectedValue=' + selectedValue + ', hpb_disabled=' + (byes + 1 > max_byes) + ', fpb_disabled=' + (byes + 2 > max_byes))
                            {% endif %}
                            $(this).find('option[value="8"]').prop('disabled', byes + 1 > max_byes);
                            $(this).find('option[value="10"]').prop('disabled', byes + 2 > max_byes);
                        }
                    });
                }

                function scrollToFirstError() {
                    var errorElements = document.querySelectorAll('#modal-wrapper .is-invalid');
                    if (errorElements.length > 0) {
                        errorElements[0].scrollIntoView({
                            behavior: "smooth",
                            block: "start",
                        });
                    }
                }

                function closeModal() {
                    var myModalEl = document.getElementById('modal-wrapper');
                    var modal = bootstrap.Modal.getInstance(myModalEl);
                    if (modal) {
                        modal.hide();
                    }
                    closeTooltips();
                }

                window.addEventListener('show.bs.modal', function(event) {
                    var target = $(event.relatedTarget);
                    if (!target) return;

                    {# After a modal closes, bootstrap refocusses the element causing the tooltip to reopen.
                       We disable the tooltip until the button loses focus.  #}
                    target.one("focus", function(event) {
                        var parent = target.closest('*[data-bs-toggle="tooltip"]')
                        if (parent) {
                            parent.tooltip('disable');
                            target.one('blur mouseover', function() {
                                parent.tooltip('enable');
                                target.blur();
                                target.focus();
                            })
                        }

                    })
                });

                function modalIsClosed() {
                    return !document.getElementById('modal-wrapper').classList.contains('show');
                }

                function handleModalOpened(static) {
                    var myModalEl = document.getElementById('modal-wrapper');
                    var modal = bootstrap.Modal.getOrCreateInstance('#modal-wrapper', {});

                    // This is a hack to force the modal to be static
                    // https://github.com/twbs/bootstrap/issues/35664
                    // https://github.com/twbs/bootstrap/issues/35664#issuecomment-1028179994
                    modal._config.backdrop = static ? 'static' : true;
                    modal._config.keyboard = static ? false : true;

                    if (modalIsClosed()) {
                        {# The modal is usually opened at this point, following a user action,
                           but this allows us to force open a modal from the server. #}
                        modal.show();
                    }

                    closeTooltips();
                    activateTooltips();
                    scrollToFirstError();

                    // TODO we shouldn't do this for every modal
                    updateRecordByes();
                }

                window.addEventListener("modal_opened", function(event) {
                    handleModalOpened(false);
                });

                window.addEventListener("static_modal_opened", function(event) {
                    handleModalOpened(true);
                });

                window.addEventListener("close_modal", function(event) {
                    closeModal()
                });

                window.addEventListener("do_print", function(event) {
                    closeModal();
                    const form = document.createElement('form');
                    form.method = 'get';
                    form.action = window.location.origin +
                        '/admin/tournament-print-view/' +
                        event.detail.event_uniq_id + '/' +
                        event.detail.tournament_id + '/' +
                        event.detail.document;
                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = 'options';
                    input.value = Object.keys(event.detail.options).map(k => k + '=' + event.detail.options[k]).join('|');
                    form.appendChild(input);
                    form.target = 'PrintWindow';
                    document.body.appendChild(form);
                    form.submit();
                    document.body.removeChild(form);
                })

                window.addEventListener("download_ready", function () {
                    // Workaround for htmx not automatically doing this when redirecting
                    // https://github.com/bigskysoftware/htmx/issues/3189
                    document.getElementById("please-wait").classList.remove("htmx-request");
                });

                window.addEventListener("renumber_players_and_close_modal", function(event) {
                    var cells = document.querySelectorAll("#players-table th.index");
                    cells.forEach((cell, i) => {
                        cell.textContent = '' + (i + 1);
                    });
                    closeModal();
                });

                function debounce(callback, delay){
                    var timer;
                    return function(){
                        var args = arguments;
                        var context = this;
                        clearTimeout(timer);
                        timer = setTimeout(function(){
                            callback.apply(context, args);
                        }, delay)
                    }
                }

                function toggle_password(event, id) {
                    event.preventDefault();
                    hide = $(id).attr("type") == 'text'
                    $(id).attr('type', hide ? 'password' : 'text');
                    $(id + '-toggle-password').addClass(hide ? 'bi-eye-slash-fill' : 'bi-eye-fill');
                    $(id + '-toggle-password').removeClass(hide ? 'bi-eye-fill' : 'bi-eye-slash-fill');
                }
            </script>
        {% endif %}
    </head>
    <body
        hx-ext="multi-swap,preload,morphdom-swap"
        hx-swap="transition:true"
    >
        {% set redirect_url = '' %}
        {% if sharly_chess_config.force_edit %}
            {% if admin_auth %}
                {% if request.url.path != '/admin/config' %}
                    {% set redirect_url = '/admin/config' %}
                {% endif %}
            {% else %}
                {% if request.url.path != '/wait' %}
                    {% set redirect_url = '/wait' %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% if redirect_url %}
            <p>{{ _('Please wait…') }}</p>
            <script>
                $(location).attr('href', '{{ redirect_url }}');
            </script>
        {% else %}
            <div id="messages" class="w-50 position-fixed bottom-0 end-0 me-3" style="z-index: 100">
                <div id="refresh-message"></div>
                {% include 'messages.html' %}
            </div>
            <div
                id="scroll-wrapper"
                {# Needed for the sticky copyright footer #}
                class="d-inline-block"
            >
                <div
                    id="main-wrapper"
                    class="d-inline-block"
                    style="min-height: calc(var(--vh, 100vh) - 60px); min-width: var(--vw, 100vw);"
                >
                    <div
                        id="header-wrapper"
                        class="header-wrapper top-0 start-0 position-sticky"
                        style="width: var(--vw, 100vw); z-index: 4;"
                    >
                        {% block header %}
                            HEADER
                        {% endblock header %}
                    </div>
                    <div id="content-wrapper" class="©">
                        {% block content %}
                            BODY CONTENT
                        {% endblock content %}
                    </div>
                    <div id="footer-wrapper" class="footer-wrapper">
                        {% block footer %}
                            FOOTER
                        {% endblock footer %}
                    </div>
                </div>
                <div
                    id="copyright-wrapper"
                    class="flex-grow-1 d-flex align-items-end justify-content-center start-0 position-sticky"
                    style="width: var(--vw, 100vw);"
                >
                    {# copyright may be hidden by the macros.copyright_script_macro #}
                    <div
                        id="copyright"
                        class="copyright fst-italic text-center d-flex justify-content-center align-items-center"
                        style="height: 60px;"
                    >
                        Sharly Chess {{ sharly_chess_config.version }} - {{ sharly_chess_config.copyright }} - {{ sharly_chess_config.url }}
                    </div>
                </div>
            </div>
            <div id="please-wait-wrapper">
                <div
                    id="please-wait"
                    class="htmx-indicator position-fixed top-50 start-50 translate-middle"
                >
                    {{ macros.sharly_chess_logo() }}
                </div>
            </div>
            {# This is a div that is used as the target of html events that don't really have a target #}
            <div id="empty-div"></div>
            <div id="modal-wrapper"
                class="modal modal-blur overflow-auto"
                style="display: none"
                aria-hidden="false"
                tabindex="-1"
                hx-trigger="hidden.bs.modal"
                hx-get="{{ url_for('empty-modal') }}"
            >
                {% include 'empty_modal.html' %}
            </div>
            <script>
                closeTooltips();
                activateTooltips();
            </script>
            {{ macros.background_script(background_info) }}
            {{ macros.theme_script(theme) }}
            <script>
                $('body').css('padding-right', '0');
            </script>
        {% endif %}
    </body>
    {% if not request.htmx %}
        <script src="{{ url_for('static', file_path='/lib/bootstrap/bootstrap-' ~ sharly_chess_config.bootstrap_version ~ '-dist/js/bootstrap.bundle.min.js') }}"></script>
        <script>
            closeTooltips();
            activateTooltips();

            if (typeof bootstrap !== 'undefined') {
                // Allow the tooltip content to have a style attribute
                bootstrap.Tooltip.Default.allowList['*'].push('style')
            }
        </script>
    {% endif %}
</html>
