
{% macro section_title() %}
    <div
        class="fs-4 bg-primary pt-1 pb-1 mt-3 mb-4 text-contrast pe-4 position-relative"
        style="border-radius: 0 1000px 1000px 0; padding-left: 2rem; left: -1.5rem;"
    >
        {{ caller() }}
    </div>
{% endmacro %}

{% macro tooltip_attributes(tooltip_type, tooltip_text, tooltip_placement) %}
    data-bs-toggle="tooltip"
    data-bs-placement="{{ tooltip_placement or 'top' }}"
    data-bs-html="true"
    data-bs-custom-class="{% if tooltip_type == 'error' %}papi-web-tooltip-error{% elif tooltip_type == 'warning' %}papi-web-tooltip-warning{% else %}papi-web-tooltip-info{% endif %}"
    data-bs-title="<i class='{% if tooltip_type == 'error' %}bi-exclamation-triangle-fill{% elif tooltip_type == 'warning' %}bi-exclamation-triangle{% else %}bi-info-circle-fill{% endif %}'></i> {{ tooltip_text }}"
    hx-on::before-send="$('body .tooltip').remove(); $('body .tooltip-inner').remove(); $('body .tooltip-arrow').remove();"
{% endmacro %}

{% macro visibility_icon(object_type, public, tooltip_public_text, tooltip_private_text, class) %}
    <!-- visibility_icon() -->
    {% if public %}
        {% if object_type == 'event' %}
            {% set _tooltip_text=tooltip_public_text or _('This event is public (by default, screens are visible by the users).') %}
        {% elif object_type == 'screen' %}
            {% set _tooltip_text=tooltip_public_text or _('This screen is public (visible by the users).') %}
        {% elif object_type == 'family' %}
            {% set _tooltip_text=tooltip_public_text or _('This screen family is public (visible by the users).') %}
        {% elif object_type == 'rotator' %}
            {% set _tooltip_text=tooltip_public_text or _('This rotator is public (visible by the users).') %}
        {% else %}
            {% set _tooltip_text=tooltip_public_text or '???' %}
        {% endif %}
        {% set _icon_class='bi-eye-fill text-success' %}
    {% else %}
        {% if object_type == 'event' %}
            {% set _tooltip_text=tooltip_private_text or _('This event is private (by default, screens are not visible by the users).') %}
        {% elif object_type == 'screen' %}
            {% set _tooltip_text=tooltip_private_text or _('This screen is private (not visible by the users).') %}
        {% elif object_type == 'family' %}
            {% set _tooltip_text=tooltip_private_text or _('This screen family is private (not visible by the users).') %}
        {% elif object_type == 'rotator' %}
            {% set _tooltip_text=tooltip_private_text or _('This rotator is private (not visible by the users).') %}
        {% else %}
            {% set _tooltip_text=tooltip_private_text or '???' %}
        {% endif %}
        {% set _icon_class='bi-eye-slash-fill text-danger' %}
    {% endif %}
    <span
            class="fw-bold {{ class }}"
            {{ tooltip_attributes('info', _tooltip_text, tooltip_placement or 'top') }}
        >
        <i class="{{ _icon_class }}"></i>
    </span>
    <!-- end visibility_icon() -->
{% endmacro %}

{% macro event_visibility_icon(event, class) %}
    <!-- event_visibility_icon() -->
    {{ visibility_icon('event', event.public, '', '', class) }}
    <!-- end event_visibility_icon() -->
{% endmacro %}

{% macro screen_type_icon(screen_type, tooltip) %}
    <!-- screen_type_icon() -->
    {% if screen_type == 'boards' %}
        {% set _icon_class='bi-card-list' %}
        {% set _tooltip_text=_('Boards screens show pairings by board number.') %}
    {% elif screen_type == 'input' %}
        {% set _icon_class='bi-pencil' %}
        {% set _tooltip_text=_('Input screens show pairings by board number and allow people to enter results.') %}
    {% elif screen_type == 'players' %}
        {% set _icon_class='bi-people' %}
        {% set _tooltip_text=_('Players screens show pairings by alphabetical order.') %}
    {% elif screen_type == 'results' %}
        {% set _icon_class='bi-trophy' %}
        {% set _tooltip_text=_('Results screens show the last results (most recent first).') %}
    {% elif screen_type == 'image' %}
        {% set _icon_class='bi-image' %}
        {% set _tooltip_text=_('Image screens show an image (local or remote).') %}
    {% else %}
        {% set _icon_class='bi-question' %}
        {% set _tooltip_text='' %}
    {% endif %}
    <span
            class="fw-bold"
            {% if tooltip and _tooltip_text %}{{ tooltip_attributes('info', _tooltip_text, 'top') }}{% endif %}
        >
        <i class="{{ _icon_class }}"></i>
    </span>
    <!-- end screen_type_icon() -->
{% endmacro %}

{% macro screen_visibility_icon(screen, class) %}
    <!-- screen_visibility_icon() -->
    {{ visibility_icon('screen', screen.public, '', '', class) }}
    <!-- end screen_visibility_icon() -->
{% endmacro %}

{% macro rotator_icon() %}
    <!-- rotator_icon() -->
    <span
        class="fw-bold"
        {{ tooltip_attributes('info', _('Rotator automatically rotate between multiple screens.'), 'top') }}
    >
        <i class="bi-repeat"></i>
    </span>
    <!-- end rotator_icon() -->
{% endmacro %}

{% macro rotator_visibility_icon(rotator, class) %}
    <!-- rotator_visibility_icon() -->
    {{ visibility_icon('rotator', rotator.public, '', '', class) }}
    <!-- end rotator_visibility_icon() -->
{% endmacro %}

{% macro ffe_licence(ffe_licence, class) %}
    <!-- ffe_licence() -->
    <span
            class="player-ffe-lic ffe-lic-{{ ffe_licence.short_name }} ps-1 pe-1 {{ class }}"
    >{{ ffe_licence.short_name }}</span>
    <!-- end ffe_licence() -->
{% endmacro %}

{% macro tooltip_script() %}
    <!-- tooltip_script() -->
    <script>
        {# manually remove the tooltips when reloading #admin-content (tooltip elements are created by Bootstrap when tooltips are shown but sometimes not removed) #}
        $(document).ready(function(){
            $('body .tooltip').remove();
            $('body .tooltip-inner').remove();
            $('body .tooltip-arrow').remove();
        });
        {# Enable Bootstrap tooltips cf https://getbootstrap.com/docs/5.3/components/tooltips/ #}
        if (typeof bootstrap !== 'undefined') { {# bootstrap is not set when loading the first page #}
            tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        }
    </script>
    <!-- end tooltip_script() -->
{% endmacro %}

{% macro background_script(background_info) %}
    <!-- background_script() -->
    <!-- This is needed since it's not possible to change body attributes using HTMX -->
    <script>
        var background_info = {{ background_info | tojson }};
        var background_fingerprint = btoa(JSON.stringify(background_info));
        var body_background_fingerprint = $('body').attr('background-fingerprint');
        if (body_background_fingerprint != background_fingerprint) {
            $.ajax({
                url: '/background?color={{ background_info.color | urlencode }}&image={{ (background_info.image | replace("/", "%2f")) if background_info.image else '' }}',
                type: 'GET',
                success: function (data) {
                    $('body').css('background-image', data['url']);
                    $('body').css('background-color', data['color']);
                    $('body').attr('background-fingerprint', background_fingerprint);
                },
                error: function (jqXHR, exception) {
                    console.log('Changing background failed:'
                        + ' status_code=' + jqXHR.status +
                        ', exception=' + exception,
                        ', response=' + jqXHR.responseText
                    );
                },
            });
        }
    </script>
    <!-- end background_script() -->
{% endmacro %}

{% macro theme_script(theme) %}
    <!-- theme_script() -->
    <!-- This is needed since it's not possible to change body attributes using HTMX -->
    <script>
        var new_theme = "{{ theme }}";
        var current_theme = $('body').attr('data-bs-theme');
        if (current_theme != new_theme) {
            $('body').attr('data-bs-theme', new_theme);
        }
    </script>
    <!-- end background_script() -->
{% endmacro %}

{% macro copyright_script(show) %}
    <!-- copyright_script() -->
    <script>
        {# this macro allows us to show copyright on all pages but image screens #}
        $('#copyright').css('display', '{{ "block" if show else "none" }}');
    </script>
    <!-- end copyright_script() -->
{% endmacro %}

{% macro screen_family_visibility_icon(screen_family, class) %}
    <!-- screen_family_visibility_icon() -->
    {{ visibility_icon('family', screen_family.public, '', '', class) }}
    <!-- end screen_family_visibility_icon() -->
{% endmacro %}

{% macro screen_family_icon() %}
    <!-- screen_family_icon() -->
    <span
        class="fw-bold"
        {{ tooltip_attributes('info', _('Screen families allow to group screens together.'), 'top') }}
    >
        <i class="bi-collection"></i>
    </span>
    <!-- end screen_family_icon() -->
{% endmacro %}

{% macro screen_family_icon() %}
    <!-- screen_family_icon() -->
    <span
        class="fw-bold"
        {{ tooltip_attributes('info', _('Screen families allow to group screens together.'), 'top') }}
    >
        <i class="bi-collection"></i>
    </span>
    <!-- end screen_family_icon() -->
{% endmacro %}

{% macro screen_family_visibility_icon(screen_family, class) %}
    <!-- screen_family_visibility_icon() -->
    {{ visibility_icon('family', screen_family.public, '', '', class) }}
    <!-- end screen_family_visibility_icon() -->
{% endmacro %}

{% macro screen_family_visibility_icon(screen_family, class) %}
    <!-- screen_family_visibility_icon() -->
    {{ visibility_icon('family', screen_family.public, '', '', class) }}
    <!-- end screen_family_visibility_icon() -->
{% endmacro %}

{% macro screen_family_visibility_icon(screen_family, class) %}
    <!-- screen_family_visibility_icon() -->
    {{ visibility_icon('family', screen_family.public, '', '', class) }}
    <!-- end screen_family_visibility_icon() -->
{% endmacro %}

{% macro screen_family_visibility_icon(screen_family, class) %}
    <!-- screen_family_visibility_icon() -->
    {{ visibility_icon('family', screen_family.public, '', '', class) }}
    <!-- end screen_family_visibility_icon() -->
{% endmacro %}

{% macro screen_family_visibility_icon(screen_family, class) %}
    <!-- screen_family_visibility_icon() -->
    {{ visibility_icon('family', screen_family.public, '', '', class) }}
    <!-- end screen_family_visibility_icon() -->
{% endmacro %}

{% macro screen_family_visibility_icon(screen_family, class) %}
    <!--
{% endmacro %}