type = "board"
name = "{{ _('Number') }}"
creator = "Sharly Chess <support@sharly-chess.com>"

width = 48

[number]
text = "{% if board.table %}{{ board.table }}.{% endif %}{{ board.number }}"
font_size = 56.0
bold = true
h_align = "center"
v_align = "middle"
