<tr class="player-header">

    {% if checkin_list %}
        {{ macros.extra_column_header("checkin", extra_columns)}}
        <th class="checkin text-center"></th>
    {% elif not pairings_list %}
        {{ macros.extra_column_header("rank", extra_columns)}}
        <th class="rank text-end">
            {% if ranking or crosstable %}
                {{ _('Rk. *** RANK FOR TABLE HEADER') }}
            {% else %}
                {{ _('No. *** NB FOR TABLE HEADER') }}
            {% endif %}
        </th>
    {% endif %}
    {{ macros.extra_column_header("title", extra_columns)}}
    <th class="title text-end">&nbsp;</th>
    {{ macros.extra_column_header("name", extra_columns)}}
    <th class="name text-start">{{ _('Name *** NAME FOR TABLE HEADER') }}</th>
    {{ macros.extra_column_header("elo", extra_columns)}}
    <th class="rating text-end">
        {{ tournament.rating.print_view_header }}
    </th>
    {% if pairings_list %}
        {{ macros.extra_column_header("points", extra_columns) }}
        <th class="points text-center">&nbsp;</th>
        {{ macros.extra_column_header("board", extra_columns)}}
        <th class="plays text-end">&nbsp;</th>
        {{ macros.extra_column_header("color", extra_columns)}}
        <th class="plays text-end">&nbsp;</th>
        {{ macros.extra_column_header("title", extra_columns)}}
        <th class="title text-end">&nbsp;</th>
        {{ macros.extra_column_header("name", extra_columns)}}
        <th class="name text-start">{{ _('Name *** NAME FOR TABLE HEADER') }}</th>
        {{ macros.extra_column_header("elo", extra_columns)}}
        <th class="rating text-end">
            {{ tournament.rating.print_view_header }}
        </th>
        {{ macros.extra_column_header("points", extra_columns) }}
        <th class="points text-center">&nbsp;</th>
    {% else %}
        {{ macros.extra_column_header("category", extra_columns)}}
        <th class="category text-center">{{ _('Cat *** CATEGORY FOR TABLE HEADER') }}</th>
        {{ macros.extra_column_header("gender", extra_columns)}}
        <th class="category text-center">{{ _('Gen *** GENDER FOR TABLE HEADER') }}</th>
        {{ macros.extra_column_header("federation", extra_columns)}}
        <th class="federation text-center">{{ _('Fed *** FEDERATION FOR TABLE HEADER') }}</th>
        {% if crosstable %}
            {{ macros.extra_column_header("first-round", extra_columns)}}
            {% for round in range(1, ranking_round + 1) %}
                <th class="round text-center">{{ _('R %(round)d *** ROUND FOR TABLE HEADER', round=round) }}</th>
            {% endfor %}
        {% else %}
            {{ macros.extra_column_header("club", extra_columns)}}
            <th class="club text-start">{{ _('Club *** CLUB FOR TABLE HEADER') }}</th>
        {% endif %}
        {% if checkin_list %}
            {{ macros.extra_column_header("paid", extra_columns)}}
            <th class="category text-center">{{ _('Paid *** PAID COLUMN HEADER FOR PLAYERS') }}</th>
            {{ macros.extra_column_header("owes", extra_columns)}}
            <th class="category text-center">{{ _('Owed *** OWED COLUMN HEADER FOR PLAYERS') }}</th>
            {{ macros.extra_column_header("comments", extra_columns)}}
            <th class="category text-center">{{ _('Comments *** COMMENTS FOR TABLE HEADER') }}</th>
        {% endif %}
        {% if ranking or crosstable %}
            <th class="points text-center">
                <strong>{{ _('Pts *** POINTS FOR TABLE HEADER') }}</strong>
            </th>
            {% for tie_break in tournament.tie_breaks %}
                {% if tie_break.is_displayable %}
                    <th class="tie-break text-center">{{ tie_break.acronym }}</th>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    {{ macros.extra_column_header("end", extra_columns)}}
</tr>
