<tr id="player-{{ player.id }}" class="player-row {{ row_class }}">
    {% if checkin_list %}
        {{ macros.extra_column_header("checkin", extra_columns)}}
        <td class="checkinboard_number">☐</td>
    {% elif not pairings_list %}
        {{ macros.extra_column_data("rank", player, extra_columns)}}
        <td class="rank">
            {% if ranking or crosstable %}
                {{ player.rank }}
            {% else %}
                {{ n|length }}
            {% endif %}
        </td>
    {% endif %}
    {{ macros.extra_column_data("title", player, extra_columns)}}
    <td class="title">{{ player.title.short_name }}</td>
    {{ macros.extra_column_data("name", player, extra_columns)}}
    <td class="name{{ "fw-bold" if not pairings_list}}">{{ player.full_name }}</td>
    {{ macros.extra_column_data("elo", player, extra_columns)}}
    <td class="rating text-{{ "start" if pairings_list else "end"}}">{{ player.rating_str }}</td>
    {% if pairings_list %}
        {{ macros.extra_column_data("points", player, extra_columns)}}
        <td class="points">[{{player.points_str}}]</td>
        {{ macros.extra_column_data("board", player, extra_columns)}}
        {% with opponent_id=player.pairings[pairings_round].opponent_id %}
            {% if not opponent_id %}
                <td colspan="5" class="playsboard_number fw-bold">{{ _('Pairing Allocated Bye')}}<td>
                {{ macros.extra_column_data("title", player, extra_columns) }}
                {{ macros.extra_column_data("name", player, extra_columns) }}
                {{ macros.extra_column_data("elo", player, extra_columns) }}
                {{ macros.extra_column_data("points", player, extra_columns) }}
            {% else %}
                {% set opponent=tournament.players_by_id[opponent_id] %}
                {% set color=player.color %}
                <td class="board_number fw-bold">{{ _('Plays %(board)d *** BOARD STRING FOR PAIRINGS PRINT', board=player.board_number) }}
                {{ macros.extra_column_data("color", player, extra_columns) }}
                <td class="colorboard_number fw-bold">{{ _('%(color)s *** COLOR FOR PAIRINGS PRINT', color=color)}}
                {{ macros.extra_column_data("title", opponent, extra_columns)}}
                <td class="title">{{ opponent.title.short_name }}</td>
                {{ macros.extra_column_data("name", opponent, extra_columns)}}
                <td class="name">{{ opponent.full_name }}</td>
                {{ macros.extra_column_data("elo", opponent, extra_columns)}}
                <td class="rating">{{ opponent.rating_str }}</td>
                {{ macros.extra_column_data("points", opponent, extra_columns)}}
                <td class="points">[{{opponent.points_str}}]</td>
            {% endif %}
        {% endwith %}
    {% else %}
        {{ macros.extra_column_data("category", player, extra_columns)}}
        <td class="category board_number">{{ player.category.short_name }}</td>
        {{ macros.extra_column_data("gender", player, extra_columns)}}
        <td class="gender board_number">{{ player.gender.short_name }}</td>
        {{ macros.extra_column_data("federation", player, extra_columns)}}
        <td class="federationboard_number">{{ player.federation }}</td>
        {% if crosstable %}
            {{ macros.extra_column_data("first-round", player, extra_columns)}}
            {% for crosstable_string in (player.crosstable_strings)[:ranking_round] %}
                <td class="roundboard_number">{{ crosstable_string }}</td>
            {% endfor %}
        {% else %}
            {{ macros.extra_column_data("club", player, extra_columns)}}
            <td class="club">{{ player.club }}</td>
        {% endif %}
        {{ macros.extra_column_header("tournament", extra_columns)}}
        {% if multiple_tournaments %}
            <td class="tournament ">{{ player.tournament.name }}</td>
        {% endif %}
        {% if checkin_list %}
            {{ macros.extra_column_header("paid", extra_columns)}}
            <td class="paymentboard_number">{{ player.paid }}</td>
            {{ macros.extra_column_header("owes", extra_columns)}}
            <td class="paymentboard_number">{{ player.owed }}</td>
            {{ macros.extra_column_header("comments", extra_columns)}}
            <td class="commentsboard_number">{{ player.comment or '' }}</td>
        {% endif %}
        {% if ranking or crosstable %}
            <td class="pointsboard_number fw-bold">{{ player.points_str }}</td>
            {% for tie_break_value in player.tie_break_values %}
                <td class="tie-breakboard_number">
                    {{ tie_break_value }}
                </td>
            {% endfor %}
        {% endif %}
    {% endif %}
    {{ macros.extra_column_data("end", extra_columns)}}
</tr>
