{% from 'macros.j2' import event_visibility_icon %}
<div class="row mb-2">
    <div class="col-auto fs-3 fw-bold">
        {{ event_visibility_icon(admin_event, '') }}
        {{ admin_event.name }}
    </div>
    <div class="col text-end fs-3">
        <button
                class="btn btn-primary text-nowrap ms-1"
                hx-get="{{ url_for('admin-event-modal', action='update', event_uniq_id=admin_event.uniq_id) }}"
                preload
                hx-target="body"
                hx-indicator="#please-wait">
            <i class="bi-pencil-fill"></i>
            {{ _('Edit') }}
        </button>
        <button
                class="btn btn-primary text-nowrap ms-1"
                hx-get="{{ url_for('admin-event-modal', action='clone', event_uniq_id=admin_event.uniq_id) }}"
                preload
                hx-target="body"
                hx-indicator="#please-wait">
            <i class="bi-copy"></i>
            {{ _('Clone') }}
        </button>
        <button
                class="btn btn-danger text-nowrap ms-1"
                hx-get="{{ url_for('admin-event-modal', action='delete', event_uniq_id=admin_event.uniq_id) }}"
                preload
                hx-target="body"
                hx-indicator="#please-wait">
            <i class="bi-trash-fill"></i>
            {{ _('Delete') }}
        </button>
    </div>
</div>

<table class="table border-black w-auto bg-light mx-auto justify-content-center">
    <thead class="table-dark position-sticky top-0 z-2">
        <tr>
            <th scope="col" class="text-nowrap" colspan="2">{{ _('Customization') }}</th>
            <th scope="col" class=""></th>
       </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" class="text-nowrap">{{ _('Unique id') }}</th>
            <td class="text-nowrap">{{ admin_event.uniq_id }}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">{{ _('Start') }}</th>
            <td class="">{{ admin_event.formatted_start_date_time }}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">{{ _('End') }}</th>
            <td class="">{{ admin_event.formatted_stop_date_time }}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">{{ _('Visibility') }}</th>
            <td class="">
                {{ event_visibility_icon(admin_event, '') }}
                {{ _('Public event') if admin_event.public else _('Private event') }}
            </td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">{{ _('Default directory of the Papi files') }}</th>
            <td class="">
                {{ admin_event.path }}
                {% if not admin_event.stored_event.path %}
                    <span class="fst-italic">
                        {{ _('(by default)') }}
                    </span>
                {% endif %}
            </td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">{{ _('Background image and color') }}</th>
            <td class="text-nowrap">
                <div style="width: 160px; height: 90px; background-image: url('{{ admin_event.background_url }}'); background-color: {{ admin_event.background_color }}; background-repeat: no-repeat; background-size: contain; background-position: center center;">
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">{{ _('Password to enter results') }}</th>
            <td class="text-nowrap">
                {% if admin_event.update_password %}
                    ********
                {% else %}
                    <span class="fst-italic">
                        {{ _('No password required') }}
                    </span>
                {% endif %}
            </td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">{{ _('Maximum number of illegal moves') }}</th>
            <td class="text-nowrap">
                {% if admin_event.record_illegal_moves %}
                    {{ admin_event.record_illegal_moves }}
                {% else %}
                        {{ _('No recording') }}
                {% endif %}
                {% if admin_event.stored_event.record_illegal_moves is none %}
                    <span class="fst-italic">
                        {{ _('(by default)') }}
                    </span>
                {% endif %}
            </td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">{{ _('Rules') }}</th>
            <td class="text-nowrap">
                {% if admin_event.rules %}
                    {{ admin_event.rules }}
                {% else %}
                    <span class="fst-italic">
                        {{ _('No rules file set') }}
                    </span>
                {% endif %}
            </td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">{{ _('Default timer configuration') }}</th>
            <td class="text-nowrap">
                <div style="background-color: {{ admin_event.timer_colors[1] }}" class="px-2">{{ _('%(minutes)d minutes before', minutes=admin_event.timer_delays[1]) }}</div>
                <div style="background-color: {{ admin_event.timer_colors[2] }}" class="px-2">{{ _('%(minutes)d minutes before', minutes=admin_event.timer_delays[2]) }}</div>
                <div style="background-color: {{ admin_event.timer_colors[3] }}" class="px-2">{{ _('%(minutes)d minutes after', minutes=admin_event.timer_delays[3]) }}</div>
            </td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">{{ _('Alert message') }}</th>
            <td class="">
                <div
                        class="px-2 alert-message event-alert-message"
                        style="background-color: {{ admin_event.message_background_color }}; color: {{ admin_event.message_color }}"
                >
                    {% if admin_event.message_text %}
                        {{ admin_event.message_text }}
                    {% else %}
                        <span class="fst-italic">
                            {{ _('No alert message') }}
                        </span>
                    {% endif %}
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">{{ _('Last update') }}</th>
            <td class="text-nowrap">{{ admin_event.last_update_str }}</td>
            <td></td>
        </tr>
    </tbody>
</table>
