<div class="modal-dialog modal-dialog-centered admin-player-edit-modal d-block w-90 mw-100">
    <form
            {% if action == 'create' %}
                hx-post="{{ url_for('admin-player-create', event_uniq_id=admin_event.uniq_id) }}"
            {% elif action == 'update' %}
                hx-patch="{{ url_for('admin-player-' ~ action, event_uniq_id=admin_event.uniq_id, player_id=admin_player.id) }}"
            {% elif action == 'delete' %}
                hx-delete="{{ url_for('admin-player-' ~ action, event_uniq_id=admin_event.uniq_id, player_id=admin_player.id) }}"
            {% else %}
                hx-get="{{ url_for('unknown-action-' ~ action) }}"
            {% endif %}
            hx-target="body"
            hx-indicator="#please-wait">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    {% if action == 'create' %}
                        {{ _('Player creation') }}
                    {% elif action == 'update' %}
                        {{ _('Edition of player [%(last_name)s %(first_name)s]', last_name=admin_player.last_name, first_name=admin_player.first_name) }}
                    {% elif action == 'delete' %}
                        {{ _('Deletion of player [%(last_name)s %(first_name)s]', last_name=admin_player.last_name, first_name=admin_player.first_name) }}
                    {% else %}
                        ?
                    {% endif %}
                </h2>
            </div>
            <div class="modal-body">
                {% if action == 'delete' %}
                    <h3 class="text-danger">
                        {{ _('Warning: the deletion of a player is permanent!') }}
                    </h3>
                {% endif %}
                <h3>
                    {{ _('Identity') }}
                </h3>
                <div class="row">
                    <div class="col-3">
                        {% with id='last-name', name='last_name' %}
                            <label for="{{ id }}" class="form-label">{{ _('Last name:') }}</label>
                            <input
                                    name="{{ name }}"
                                    type="text" id="{{ id }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error"
                                    placeholder="{{ _('E.g.: DOE') }}"
                                    value="{{ data[name] }}"
                                    {% if action == 'delete' %}disabled{% endif %}
                            />
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('The player\'s last name.') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-3">
                        {% with id='first-name', name='first_name' %}
                            <label for="{{ id }}" class="form-label">{{ _('First name:') }}</label>
                            <input
                                    name="{{ name }}"
                                    type="text" id="{{ id }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error"
                                    placeholder="{{ _('E.g.: John') }}"
                                    value="{{ data[name] }}"
                                    {% if action == 'delete' %}disabled{% endif %}
                            />
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('The player\'s first name.') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-3">
                        {% with id='date-of-birth', name='date_of_birth' %}
                            <label for="{{ id }}" class="form-label">{{ _('Date of birth:') }}</label>
                            <input
                                    name="{{ name }}"
                                    type="date" id="{{ id }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error"
                                    value="{{ data[name] }}"
                                    {% if action == 'delete' %}disabled{% endif %}
                            />
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('The player\'s birth date.') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-3">
                        {% with id='gender', name='gender' %}
                            <label for="{{ id }}" class="form-label">{{ _('Gender:') }}</label>
                            <select
                                    name="{{ name }}"
                                    id="{{ id }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error"
                                    {% if action == 'delete' %}disabled{% endif %}
                            >
                                {% for value, text in gender_options.items() %}
                                    <option value="{{ value }}" {% if value == data[name] %}selected{%endif %}>{{ text }}</option>
                                {% endfor %}
                            </select>
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('The player\'s gender.') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <h3>
                    {{ _('FIDE ratings, title and fédération') }}
                </h3>
                <div class="row">
                    {% for tournament_rating, tournament_rating_strings in tournament_ratings_strings.items() %}
                        <div class="col-2">
                            {%
                                with
                                    id='rating-' ~ tournament_rating.value,
                                    name='rating_' ~ tournament_rating.value,
                                    name2='rating_type_' ~ tournament_rating.value
                            %}
                                <label for="{{ id }}" class="form-label d-block">{{ tournament_rating_strings['label'] }}</label>
                                <input
                                        name="{{ name }}"
                                        type="number" id="{{ id }}"
                                        class="form-control d-inline w-49 {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                        aria-describedby="{{ id }}-help {{ id }}-error"
                                        value="{{ data[name] }}"
                                        {% if action == 'delete' %}disabled{% endif %}
                                />
                                <select
                                        name="{{ name2 }}"
                                        class="form-control d-inline w-49 {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                        {% if action == 'delete' %}disabled{% endif %}
                                >
                                    {% for value, text in rating_type_options.items() %}
                                        <option value="{{ value }}" {% if value == data[name2] %}selected{%endif %} {% if not value %}class="fst-italic"{% endif %}>
                                            {{ text }}
                                        </option>
                                    {% endfor %}
                                </select>
                                {% if action != 'delete' %}
                                    <div id="{{ id }}-help" class="form-text">
                                        {{ tournament_rating_strings['help'] }}
                                    </div>
                                {% endif %}
                                {% if name in errors %}
                                    <div id="{{ id }}-error" class="form-text invalid-feedback">
                                        {{ errors[name] }}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    {% endfor %}
                    <div class="col-2">
                        {% with id='title', name='title' %}
                            <label for="{{ id }}" class="form-label d-block">{{ _('FIDE Title:') }}</label>
                            <select
                                    name="{{ name }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    {% if action == 'delete' %}disabled{% endif %}
                            >
                                {% for value, text in title_options.items() %}
                                    <option value="{{ value }}" {% if value == data[name] %}selected{%endif %}>
                                        {{ text }}
                                    </option>
                                {% endfor %}
                            </select>
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('The player\'s FIDE title.') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-2">
                        {% with id='federation', name='federation' %}
                            <label for="{{ id }}" class="form-label d-block">{{ _('Federation:') }}</label>
                            <select
                                    name="{{ name }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    {% if action == 'delete' %}
                                        disabled
                                    {% else %}
                                        data-dynamic-select
                                    {% endif %}
                            >
                                {% for federation_id, federation_name in papi_web_config.federations.items() %}
                                    <option
                                            value="{{ federation_id }}"
                                            {% if federation_id == data[name] %}selected{%endif %}
                                            data-img="{{ url_for('static', file_path='/images/federations/' ~ federation_id ~ '.svg') }}"
                                    >
                                        {{ federation_id }} - {{ federation_name }}
                                    </option>
                                {% endfor %}
                            </select>
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('The player\'s federation.') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-2">
                        {% with id='fide-id', name='fide_id' %}
                            <label for="{{ id }}" class="form-label">{{ _('FIDE ID:') }}</label>
                            <input
                                    name="{{ name }}"
                                    type="number" id="{{ id }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error"
                                    value="{{ data[name] }}"
                                    disabled
                            />
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('The player\'s FIDE ID (do not change).') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                <div>
                <h3>
                    {{ _('French Chess Federation') }}
                </h3>
                <div class="row">
                    <div class="col-2">
                        {% with id='league', name='league' %}
                            <label for="{{ id }}" class="form-label d-block">{{ _('League:') }}</label>
                            <select
                                    name="{{ name }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    {% if action == 'delete' %}disabled{% endif %}
                            >
                                {% for value, text in papi_web_config.ffe_leagues.items() %}
                                    <option value="{{ value }}" {% if value == data[name] %}selected{%endif %}>
                                        {% if value %}{{ value }} - {{ text }}{%endif %}
                                    </option>
                                {% endfor %}
                            </select>
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('The player\'s league.') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-4">
                        {% with id='club', name='club' %}
                            <label for="{{ id }}" class="form-label">{{ _('Club:') }}</label>
                            <input
                                    name="{{ name }}"
                                    type="text" id="{{ id }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error"
                                    placeholder="{{ _('E.g.: My favourite club!') }}"
                                    value="{{ data[name] }}"
                                    {% if action == 'delete' %}disabled{% endif %}
                            />
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('The player\'s club.') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-2">
                        {% with id='ffe-licence', name='ffe_licence' %}
                            <label for="{{ id }}" class="form-label d-block">{{ _('Licence:') }}</label>
                            <select
                                    name="{{ name }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    {% if action == 'delete' %}disabled{% endif %}
                            >
                                {% for value, text in licence_options.items() %}
                                    <option value="{{ value }}" {% if value == data[name] %}selected{%endif %}>
                                        {{ text }}
                                    </option>
                                {% endfor %}
                            </select>
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('The player\'s licence.') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-2">
                        {% with id='ffe-licence-number', name='ffe_licence_number' %}
                            <label for="{{ id }}" class="form-label">{{ _('Licence number:') }}</label>
                            <input
                                    name="{{ name }}"
                                    type="text" id="{{ id }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error"
                                    placeholder="{{ _('E.g.: %(string)s', string='R08943') }}"
                                    value="{{ data[name] }}"
                                    {% if action == 'delete' %}disabled{% endif %}
                            />
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('The player\'s licence number.') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-2">
                        {% with id='ffe-id', name='ffe_id' %}
                            <label for="{{ id }}" class="form-label">{{ _('FFE Uniq ID:') }}</label>
                            <input
                                    name="{{ name }}"
                                    type="number" id="{{ id }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error"
                                    value="{{ data[name] }}"
                                    disabled
                            />
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('The player\'s Uniq ID for the French federation (do not change).') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                <div>
                <h3>
                    {{ _('Contact and registration') }}
                </h3>
                <div class="row">
                    <div class="col-3">
                        {% with id='mail', name='mail' %}
                            <label for="{{ id }}" class="form-label d-block">{{ _('Email:') }}</label>
                            <input
                                    name="{{ name }}"
                                    type="text" id="{{ id }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error"
                                    value="{{ data[name] }}"
                                    {% if action == 'delete' %}disabled{% endif %}
                            />
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('The player\'s email.') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-2">
                        {% with id='phone', name='phone' %}
                            <label for="{{ id }}" class="form-label d-block">{{ _('Phone number:') }}</label>
                            <input
                                    name="{{ name }}"
                                    type="text" id="{{ id }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error"
                                    value="{{ data[name] }}"
                                    {% if action == 'delete' %}disabled{% endif %}
                            />
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('The player\'s phone number.') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-3">
                        {% with id='comment', name='comment' %}
                            <label for="{{ id }}" class="form-label d-block">{{ _('Comment:') }}</label>
                            <input
                                    name="{{ name }}"
                                    type="tel" id="{{ id }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error"
                                    value="{{ data[name] }}"
                                    {% if action == 'delete' %}disabled{% endif %}
                            />
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('Any comment on the player (comments are visible only by the arbiters).') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-2">
                        {% with id='owed', name='owed' %}
                            <label for="{{ id }}" class="form-label d-block">{{ _('Owed:') }}</label>
                            <input
                                    name="{{ name }}"
                                    type="number" id="{{ id }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error"
                                    value="{{ data[name] }}"
                                    {% if action == 'delete' %}disabled{% endif %}
                            />
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('The price the player pays to register.') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-2">
                        {% with id='paid', name='paid' %}
                            <label for="{{ id }}" class="form-label d-block">{{ _('Paid:') }}</label>
                            <input
                                    name="{{ name }}"
                                    type="number" id="{{ id }}"
                                    class="form-control {% if name in errors or action == 'delete' %}is-invalid{% else %}is-valid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error"
                                    value="{{ data[name] }}"
                                    {% if action == 'delete' %}disabled{% endif %}
                            />
                            {% if action != 'delete' %}
                                <div id="{{ id }}-help" class="form-text">
                                    {{ _('The price the player already paid.') }}
                                </div>
                            {% endif %}
                            {% if name in errors %}
                                <div id="{{ id }}-error" class="form-text invalid-feedback">
                                    {{ errors[name] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="modal-footer d-block">
                <div class="row">
                    <div class="col col-6 text-start">
                        <button
                                type="submit"
                                class="text-nowrap white btn {% if action == 'delete' %}btn-danger{% else %}btn-primary{% endif %}"
                                xdata-bs-dismiss="modal"
                        >
                            <i class="bi-floppy-fill"></i>
                            {% if action == 'create' %}
                                {{ _('Create') }}
                            {% elif action == 'update' %}
                                {{ _('Update') }}
                            {% elif action == 'delete' %}
                                {{ _('Delete') }}
                            {% else %}
                                ?
                            {% endif %}
                        </button>
                    </div>
                    <div class="col col-6 text-end">
                        <button
                                class="btn btn-secondary text-nowrap"
                                hx-get="{{ url_for('admin-event-tab', event_uniq_id=admin_event.uniq_id, admin_event_tab='players') }}"
                                preload
                                hx-target="body"
                                hx-trigger="click, keyup[key=='Escape'] from:body"
                                hx-indicator="#please-wait"
                        >
                            <i class="bi-x-circle-fill"></i>
                            {{ _('Cancel') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    (new bootstrap.Modal(document.getElementById('modal-wrapper'))).show();
    document.querySelectorAll('[data-dynamic-select]').forEach(select => new DynamicSelect(select));
</script>
