{% extends 'common/base.html' %}

{% block content %}
    <div id="home-content" class="content home-content mt-5">
        <div style="max-width: 550px; margin: auto;">
            <div class="d-grid gap-2 col-auto mx-auto">
                <h1 class="text-center">{{ _('Welcome to Sharly Chess!') }}</h1>
                <div
                    class="row justify-content-md-center"
                >
                    <div class="dropdown col-12 text-center">
                        <button class="btn btn-secondary dropdown-toggle mx-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-translate pe-1"></i>
                            {{ _('Language') }}
                        </button>
                        <ul class="dropdown-menu locale">
                            {% for l, l_info in locale_infos.items() %}
                                <li
                                    class="
                                        dropdown-item
                                        text-start
                                        {% if l == locale %}fw-bold{% else %}cursor-pointer{% endif %}
                                        "
                                    {% if l != locale %}
                                        hx-get="{{ url_for('index') }}"
                                        hx-vals='{"locale": "{{ l }}"}'
                                        preload
                                        hx-target="body"
                                        hx-indicator="#please-wait"
                                        hx-trigger="click, keyup[key=='Enter']"
                                        tabindex="0"
                                    {% endif %}
                                    {{ macros.tooltip_attributes('info', l_info.name, 'right') }}
                                >
                                    <img
                                        src="{{l_info.flag_url}}"
                                        alt="{{l_info.name}}"
                                        class="locale-flag"
                                    />
                                    {{ l_info.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if sharly_chess_config.lan_url %}
                    <h4 class="text-center mt-4">
                        {{ _('Connect your devices to the Sharly Chess server:') }}
                        <br/>
                        <a href="{{ sharly_chess_config.lan_url }}" target="_blank">{{ sharly_chess_config.lan_url }}</a>
                        (<a
                            href=""
                            role="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#qr_code"
                            aria-expanded="false"
                            aria-controls="qr_code"
                        >{{ _('QR code') }}</a>)
                    </h4>
                    <div class="collapse text-center" id="qr_code">
                        <img
                                src="{{ url_for('qrcode-lan-url') }}?time={{ now }}"
                                alt="{{ _('Sharly Chess server URL') }}"
                                class="py-2"
                                style="width: 100px"
                                {{ macros.tooltip_attributes('info', _('Connect your devices (computers, tablets, smartphones) to the Sharly Chess server by scanning this QR code (click below to get a printable version).'), 'right') }}
                        />
                        <br/>
                        <a
                                href="{{ url_for('qrcode-lan-url') }}?logo=&time={{ now }}"
                                target="_blank"
                        />({{ _('printable version') }})</a>
                    </div>
                {% endif %}
                <div
                    class="mt-4"
                    {% if admin_auth %}
                        {{ macros.tooltip_attributes('info', _('The arbiter interface allows the management of the events.'), 'right') }}
                    {% else %}
                        {{ macros.tooltip_attributes('error', _('Access to the arbiter interface is not allowed from this client.'), 'right') }}
                    {% endif %}
                >
                    <button
                        id="index-admin-button"
                        hx-get="{{ url_for('admin') }}"
                        preload
                        hx-target="body"
                        hx-push-url="true"
                        hx-indicator="#please-wait"
                        class="btn btn-danger btn-lg p-1 w-100"
                        {% if not admin_auth %}
                            disabled
                        {% endif %}
                    >
                        {{ _('Arbiter interface') }}
                    </button>
                </div>
                <div
                    class="mt-2"
                    {{ macros.tooltip_attributes('info', _('Click here to access the screens that you have created.'), 'right') }}
                >
                    <button
                        hx-get="{{ url_for('user') }}"
                        preload
                        hx-target="body"
                        hx-indicator="#please-wait"
                        hx-push-url="true"
                        class="btn btn-outline-primary btn-lg p-1 w-100"
                    >
                        {{ _('Your Screens') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
