{% extends 'common/base.html' %}

{% block header %}
{% endblock header %}
{% block content %}
    <div id="home-content" class="content home-content mt-5">
        <div style="max-width: 500px; margin: auto;">
            <div class="d-grid gap-2 col-auto mx-auto">
                <h1 class="text-center">{{ _('Welcome to Sharly Chess!') }}</h1>
                <div
                    class="row justify-content-md-center"
                >
                    <div class="dropdown col-12 text-center">
                        <button class="btn btn-secondary dropdown-toggle mx-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-translate pe-1"></i>
                            {{ _('Language') }}
                        </button>
                        <ul class="dropdown-menu locale">
                            {% for l, l_info in locale_infos.items() %}
                                <li
                                    class="
                                        dropdown-item
                                        text-start
                                        {% if l == locale %}fw-bold{% else %}cursor-pointer{% endif %}
                                        "
                                    {% if l != locale %}
                                        hx-get="{{ url_for('index') }}"
                                        hx-vals='{"locale": "{{ l }}"}'
                                        preload
                                        hx-target="body"
                                        hx-indicator="#please-wait"
                                        hx-trigger="click, keyup[key=='Enter']"
                                        tabindex="0"
                                    {% endif %}
                                    {{ macros.tooltip_attributes('info', l_info.name, 'right') }}
                                >
                                    <img
                                        src="{{l_info.flag_url}}"
                                        alt="{{l_info.name}}"
                                        class="locale-flag"
                                    />
                                    {{ l_info.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <table class="table table-responsive table-sm border-black w-auto bg-light">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" colspan="2">{{ _('Web access') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                {{ _('From the Sharly Chess server') }}
                            </th>
                            <td>
                                <a href="{{ sharly_chess_config.local_url }}" target="_blank">{{ sharly_chess_config.local_url }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                {{ _('From the local network (LAN/WAN)') }}
                            </th>
                            <td>
                                {% if sharly_chess_config.lan_url %}
                                    <a href="{{ sharly_chess_config.lan_url }}" target="_blank">{{ sharly_chess_config.lan_url }}</a>
                                {% else %}
                                    <span class="fst-italic">-</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div
                    {{ macros.tooltip_attributes('info', _('Click here to access the public screens of the events.'), 'right') }}
                >
                    <button
                        hx-get="{{ url_for('user') }}"
                        preload
                        hx-target="body"
                        hx-indicator="#please-wait"
                        hx-push-url="true"
                        class="btn btn-outline-primary btn-lg p-4 w-100"
                    >
                        {{ _('Events (public access)') }}
                    </button>
                </div>
                <div
                    {% if admin_auth %}
                        {{ macros.tooltip_attributes('info', _('The arbiter interface allows the management of the events.'), 'right') }}
                    {% else %}
                        {{ macros.tooltip_attributes('error', _('Access to the arbiter interface is not allowed from this client.'), 'right') }}
                    {% endif %}
                >
                    <button
                        id="index-admin-button"
                        hx-get="{{ url_for('admin') }}"
                        preload
                        hx-target="body"
                        hx-push-url="true"
                        hx-indicator="#please-wait"
                        class="btn btn-danger btn-lg p-1 w-100"
                        {% if not admin_auth %}
                            disabled
                        {% endif %}
                    >
                        {{ _('Arbiter interface (private access)') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
