{% from 'macros.j2' import tooltip_attributes, tooltip_script, background_script %}

<span class="dropdown">
    <button class="btn btn-secondary dropdown-toggle ms-1 ps-1 py-0 mt-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi-translate"></i>
    </button>
    <ul class="dropdown-menu locale">
        {% for l, l_info in locale_infos.items() %}
            <li
                class="text-center"
                {% if l != locale %}
                    hx-get="{{ url }}"
                    hx-vals='{"locale": "{{ l }}"}'
                    preload
                    hx-target="body"
                    hx-indicator="#please-wait"
                {% endif %}
                {{ tooltip_attributes('info', l_info.name, 'left') }}
            >
                <a
                        class="dropdown-item {% if l == locale %}fw-bold{% else %}cursor-pointer{% endif %}"
                        href="#">
                    <img
                        src="{{l_info.flag_url}}"
                        alt="{{l_info.name}}"
                        class="locale-flag"
                    />
                </a>
            </li>
        {% endfor %}
    </ul>
</span>
