{% macro tooltip_attributes(tooltip_type, tooltip_text, tooltip_placement) %}
    data-bs-toggle="tooltip"
    data-bs-placement="{{ tooltip_placement or 'top' }}"
    data-bs-html="true"
    data-bs-custom-class="{% if tooltip_type == 'error' %}papi-web-tooltip-error{% elif tooltip_type == 'warning' %}papi-web-tooltip-warning{% else %}papi-web-tooltip-info{% endif %}"
    data-bs-title="<i class='{% if tooltip_type == 'error' %}bi-exclamation-triangle-fill{% elif tooltip_type == 'warning' %}bi-exclamation-triangle{% else %}bi-info-circle-fill{% endif %}'></i> {{ tooltip_text }}"
{% endmacro %}

{% macro visibility_icon(object_type, public, tooltip_public_text, tooltip_private_text, class) %}
    <!-- visibility_icon() -->
    {% if public %}
        {% if object_type == 'event' %}
            {% set _tooltip_text=tooltip_public_text or _('This event is public (by default, screens are visible by the users).') %}
        {% elif object_type == 'screen' %}
            {% set _tooltip_text=tooltip_public_text or _('This screen is public (visible by the users).') %}
        {% elif object_type == 'family' %}
            {% set _tooltip_text=tooltip_public_text or _('This screen family is public (visible by the users).') %}
        {% elif object_type == 'rotator' %}
            {% set _tooltip_text=tooltip_public_text or _('This rotator is public (visible by the users).') %}
        {% else %}
            {% set _tooltip_text=tooltip_public_text or '???' %}
        {% endif %}
        {% set _icon_class='bi-unlock-fill text-success' %}
    {% else %}
        {% if object_type == 'event' %}
            {% set _tooltip_text=tooltip_private_text or _('This event is private (by default, screens are not visible by the users).') %}
        {% elif object_type == 'screen' %}
            {% set _tooltip_text=tooltip_private_text or _('This screen is private (not visible by the users).') %}
        {% elif object_type == 'family' %}
            {% set _tooltip_text=tooltip_private_text or _('This screen family is private (not visible by the users).') %}
        {% elif object_type == 'rotator' %}
            {% set _tooltip_text=tooltip_private_text or _('This rotator is private (not visible by the users).') %}
        {% else %}
            {% set _tooltip_text=tooltip_private_text or '???' %}
        {% endif %}
        {% set _icon_class='bi-lock-fill text-danger' %}
    {% endif %}
    <span
            class="fw-bold {{ class }}"
            {{ tooltip_attributes('info', _tooltip_text, tooltip_placement or 'top') }}
        >
        <i class="{{ _icon_class }}"></i>
    </span>
    <!-- end visibility_icon() -->
{% endmacro %}

{% macro event_visibility_icon(event, class) %}
    <!-- event_visibility_icon() -->
    {{ visibility_icon('event', event.public, '', '', class) }}
    <!-- end event_visibility_icon() -->
{% endmacro %}

{% macro screen_visibility_icon(screen, class) %}
    <!-- screen_visibility_icon() -->
    {{ visibility_icon('screen', screen.public, '', '', class) }}
    <!-- end screen_visibility_icon() -->
{% endmacro %}

{% macro family_visibility_icon(family, class) %}
    <!-- family_visibility_icon() -->
    {{ visibility_icon('family', family.public, '', '', class) }}
    <!-- end family_visibility_icon() -->
{% endmacro %}

{% macro rotator_visibility_icon(rotator, class) %}
    <!-- rotator_visibility_icon() -->
    {{ visibility_icon('rotator', rotator.public, '', '', class) }}
    <!-- end rotator_visibility_icon() -->
{% endmacro %}

{% macro tournament_status_icon(tournament, class) %}
    <!-- tournament_status_icon() -->
    {% if not tournament.rounds %}
        {% set _icon_class='bi-exclamation-triangle-fill text-danger' %}
        {% set _tooltip_text='' %}
    {% elif not tournament.started %}
        {% set _icon_class='bi-pause-fill' %}
        {% set _tooltip_text=_('The tournament is not started yet.') %}
    {% elif tournament.playing %}
        {% set _icon_class='bi-caret-right-square-fill' %}
        {% set _tooltip_text=_('Round %(round)d is running.', round=tournament.current_round) %}
    {% elif not tournament.finished %}
        {% set _icon_class='bi-pause-fill' %}
        {% set _tooltip_text=_('Round #%(round)d is finished.', round=tournament.current_round) %}
    {% else %}
        {% set _icon_class='bi-check-circle-fill text-success' %}
        {% set _tooltip_text=_('The tournament is finished.') %}
    {% endif %}
    <span
            class="fw-bold {{ class }}"
            {% if _tooltip_text %}{{ tooltip_attributes('info', _tooltip_text, 'top') }}{% endif %}
        >
        <i class="{{ _icon_class }}"></i>
    </span>
    <!-- end tournament_status_icon() -->
{% endmacro %}

{% macro screen_type_icon(screen_type, tooltip) %}
    <!-- screen_type_icon() -->
    {% if screen_type == 'boards' %}
        {% set _icon_class='bi-card-list' %}
        {% set _tooltip_text=_('Boards screens show pairings by board number.') %}
    {% elif screen_type == 'input' %}
        {% set _icon_class='bi-pencil-fill' %}
        {% set _tooltip_text=_('Input screens show pairings by board number and allow people to enter results.') %}
    {% elif screen_type == 'players' %}
        {% set _icon_class='bi-people-fill' %}
        {% set _tooltip_text=_('Players screens show pairings by alphabetical order.') %}
    {% elif screen_type == 'results' %}
        {% set _icon_class='bi-trophy-fill' %}
        {% set _tooltip_text=_('Results screens show the last results (most recent first).') %}
    {% elif screen_type == 'image' %}
        {% set _icon_class='bi-image' %}
        {% set _tooltip_text=_('Image screens show an image (local or remote).') %}
    {% else %}
        {% set _icon_class='bi-question' %}
        {% set _tooltip_text='' %}
    {% endif %}
    <span
            class="fw-bold"
            {% if tooltip and _tooltip_text %}{{ tooltip_attributes('info', _tooltip_text, 'top') }}{% endif %}
        >
        <i class="{{ _icon_class }}"></i>
    </span>
    <!-- end screen_type_icon() -->
{% endmacro %}

{% macro rotator_icon() %}
    <!-- rotator_icon() -->
    <span
            class="fw-bold"
            {{ tooltip_attributes('info', _('Rotator automatically rotate between multiple screens.'), 'top') }}
        >
        <i class="bi-repeat"></i>
    </span>
    <!-- end rotator_icon() -->
{% endmacro %}

{% macro ffe_licence(ffe_licence, class) %}
    <!-- ffe_licence() -->
    <span
            class="player-ffe-lic ffe-lic-{{ ffe_licence.short_name }} ps-1 pe-1 {{ class }}"
    >{{ ffe_licence.short_name }}</span>
    <!-- end ffe_licence() -->
{% endmacro %}

{% macro player_history(player) %}
    <!-- player_history() -->
    {% for pairing in player.pairings.values() %}
        {% if pairing.forfeit %}
            {% set _text='f' %}
            {% set _class='text-secondary' %}
        {% elif pairing.not_paired %}
            {% set _text='' %}
            {% set _class='text-secondary' %}
        {% elif pairing.playing %}
            {% set _text='&nbsp;' %}
            {% set _class='bg-white border border-dark text-dark' if pairing.color == 'W' else 'bg-dark border border-white text-white' %}
        {% elif pairing.exempt %}
            {% set _text='x' %}
            {% set _class='text-secondary' %}
        {% elif pairing.loss %}
            {% set _text='-' %}
            {% set _class='bg-white border border-dark text-dark' if pairing.color == 'W' else 'bg-dark border border-white text-white' %}
        {% elif pairing.draw %}
            {% set _text='=' %}
            {% set _class='bg-white border border-dark text-dark' if pairing.color == 'W' else 'bg-dark border border-white text-white' %}
        {% elif pairing.gain %}
            {% set _text='+' %}
            {% set _class='bg-white border border-dark text-dark' if pairing.color == 'W' else 'bg-dark border border-white text-white' %}
        {% elif pairing.half_point_bye %}
            {% set _text='=' %}
            {% set _class='text-secondary' %}
        {% elif pairing.full_point_bye %}
            {% set _text='+' %}
            {% set _class='text-secondary' %}
        {% elif pairing.forfeit_loss or pairing.double_forfeit %}
            {% set _text='<' %}
            {% set _class='text-secondary' %}
        {% elif pairing.forfeit_gain %}
            {% set _text='>' %}
            {% set _class='text-secondary' %}
        {% else %}
            {% set _text='?' %}
            {% set _class='bg-danger text-white' %}
        {% endif %}
        <span
                class="player-history text-center p-0 m-0  {{ _class }}"
                {% if tooltip_placement %}
                    {{ tooltip_attributes(_tooltip_level, _tooltip_text, tooltip_placement) }}
                {% endif %}
                style="display: inline-block; width: 1em"
        >
            {{ _text|safe }}
        </span>
    {% endfor %}
    <!-- end player_history() -->
{% endmacro %}

{% macro admin_players_sort_link(url, icon, sort, admin_players_sort) %}
    <!-- admin_players_sort_link() -->
    {% if sort == 'alpha' %}
        {% set _tooltip_text=_('Sort the players by name.') %}
    {% elif sort == 'rating_desc' %}
        {% set _tooltip_text=_('Sort the players by rating (most rated first).') %}
    {% elif sort == 'rating_asc' %}
        {% set _tooltip_text=_('Sort the players by rating (less rated first).') %}
    {% elif sort == 'origin' %}
        {% set _tooltip_text=_('Sort the players by origin (federation, league, club).') %}
    {% elif sort == 'yob_desc' %}
        {% set _tooltip_text=_('Sort the players by year of birth (youngest first).') %}
    {% elif sort == 'yob_asc' %}
        {% set _tooltip_text=_('Sort the players by year of birth (oldest first).') %}
    {% elif sort == 'category_desc' %}
        {% set _tooltip_text=_('Sort the players by category (oldest first).') %}
    {% elif sort == 'category_asc' %}
        {% set _tooltip_text=_('Sort the players by category (youngest first).') %}
    {% elif sort == 'tournament' %}
        {% set _tooltip_text=_('Sort the players by tournament.') %}
    {% else %}
        {% set _tooltip_text='Unknown sort [%(sort)s]'|format(sort=sort) %}
    {% endif %}
    <i
            class="{{ icon }} {% if admin_players_sort != sort %}cursor-pointer{% else %}text-primary{%endif %}"
            {% if admin_players_sort != sort %}
                hx-get="{{ url }}"
                hx-vals='{"admin_players_sort": "{{ sort }}"}'
                preload
                hx-target="body"
                hx-indicator="#please-wait"
            {% endif %}
            {{ tooltip_attributes('info', _tooltip_text, 'top') }}
    ></i>
    <!-- end admin_players_sort_link() -->
{% endmacro %}

{% macro gender_icon(gender) %}
    <!-- gender_icon() -->
    {% if gender.value == 0 %}
        {% set _icon_class='-' %}
    {% elif gender.value == 1 %}
        {% set _icon_class='bi-person-standing-dress' %}
    {% elif gender.value == 2 %}
        {% set _icon_class='bi-person-standing' %}
    {% else %}
        {% set _icon_class='bi-question' %}
    {% endif %}
    {% if _icon_class %}<i class="{{ _icon_class }}"></i>{% endif %}
    <!-- end gender_icon() -->
{% endmacro %}

{% macro tooltip_script() %}
    <!-- tooltip_script() -->
    <script>
        {# manually remove the tooltips when reloading #admin-content (tooltip elements are created by Bootstrap when tooltips are shown but sometimes not removed) #}
        $(document).ready(function(){
            $('body .tooltip').remove();
            $('body .tooltip-inner').remove();
            $('body .tooltip-arrow').remove();
        });
        {# Enable Bootstrap tooltips cf https://getbootstrap.com/docs/5.3/components/tooltips/ #}
        if (typeof bootstrap !== 'undefined') { {# bootstrap is not set when loading the first page #}
            tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        }
    </script>
    <!-- end tooltip_script() -->
{% endmacro %}

{% macro background_script(background_info) %}
    <!-- background_script() -->
    <script>
        var background_info = {{ background_info | tojson }};
        var background_fingerprint = btoa(JSON.stringify(background_info));
        var body_background_fingerprint = $('body').attr('background-fingerprint');
        if (body_background_fingerprint != background_fingerprint) {
            $.ajax({
                url: '/background?color={{ background_info.color | urlencode }}&image={{ (background_info.image | replace("/", "%2f")) if background_info.image else '' }}',
                type: 'GET',
                success: function (data) {
                    $('body').css('background-image', data['url']);
                    $('body').css('background-color', data['color']);
                    $('body').attr('background-fingerprint', background_fingerprint);
                },
                error: function (jqXHR, exception) {
                    console.log('Changing background failed:'
                        + ' status_code=' + jqXHR.status +
                        ', exception=' + exception,
                        ', response=' + jqXHR.responseText
                    );
                },
            });
        }
    </script>
    <!-- end background_script() -->
{% endmacro %}

{% macro copyright_script(show) %}
    <!-- copyright_script() -->
    <script>
        {# this macro allows us to show copyright on all pages but image screens #}
        $('#copyright').css('display', '{{ "block" if show else "none" }}');
    </script>
    <!-- end copyright_script() -->
{% endmacro %}
