{% with tournament=screen_set.tournament %}
    <div
            class="players-screen-set"
    >
        <h2 class="set-title text-center">
            {% if tournament.current_round %}
                {{ screen_set.name_for_players }}
            {% else %}
                {{ _('%(set_name)s (round %(round)d)', set_name=screen_set.name_for_players, round=tournament.current_round) }}
            {% endif %}
        </h2>
        <div class="row screen-set-row mx-0 w-100">
            {% for players in screen_set.players_by_name_lists %}
                <div class="col screen-set-col {% if loop.first %}ps-0{% endif %} {% if loop.last %}pe-0{% endif %}">
                    <table class="table table-striped table-sm bg-light">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" class="player w-50 text-nowrap text-start">{% if tournament.current_round %}{{ _('Player Elo [Pts]') }}{% else %}{{ _('Player Elo') }}{% endif %}</th>
                                <th scope="col" class="pairing text-nowrap text-start">{{ _('Board & color') }}</th>
                                <th scope="col" class="opponent w-50 text-nowrap text-start">{% if tournament.current_round %}{{ _('Opponent Elo [Pts]') }}{% else %}{{ _('Opponent Elo') }}{% endif %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for player in players %}
                            {% if tournament.current_round %}
                                {% with pairing=player.pairings[tournament.current_round] %}
                                {% with opponent_id=pairing.opponent_id, opponent_papi_id=pairing.opponent_papi_id %}
                                    <tr class="player-row {% if not opponent_papi_id or opponent_papi_id == 1 %}not-paired fs-italic{% else %}paired fw-bold{% endif %}">
                                        <td  class="player bg-transparent text-nowrap {% if opponent_papi_id and opponent_papi_id != 1 %}{% if player.color == 'W' %}white{%else %}black{%endif %}{%endif %}">
                                            {% if player.title.short_name %}{{ player.title.short_name }}&nbsp;{% endif %}{{ player.last_name }} {{ player.first_name }} {{ player.rating }}{{ player.rating_type }} [{{ player.vpoints_str }}]
                                        </td>
                                        {% if not opponent_papi_id %}
                                            <td colspan="2" class="bg-transparent text-nowrap">{{ player.not_paired_str }}</td>
                                        {% elif opponent_papi_id == 1 %}
                                            <td colspan="2" class="bg-transparent text-nowrap">{{ player.exempt_str }}</td>
                                        {% else %}
                                            {% with opponent=tournament.players_by_id[opponent_id] %}
                                                <td class="pairing bg-transparent text-nowrap {% if player.color == 'W' %}white{%else %}black{%endif %}">{{ _('Board #%(board_number)d with %(color)s', board_number=player.board_number, color=player.color_str) }}</td>
                                                <td class="opponent bg-transparent text-nowrap {% if player.color == 'W' %}white{%else %}black{%endif %}">{{ _('vs') }} {% if opponent.title.short_name %}{{ opponent.title.short_name }}&nbsp;{% endif %}{{ opponent.last_name }} {{ opponent.first_name }} {{ opponent.rating }}{{ opponent.rating_type }} [{{ opponent.vpoints_str }}]</td>
                                            {% endwith %}
                                        {% endif %}
                                    </tr>
                                {% endwith %}
                                {% endwith %}
                            {% else %}
                                <tr class="player-row not-paired fs-italic">
                                    <td class="player bg-transparent">
                                        <i class="
                                            {% if player.check_in %}
                                                bi-check-square-fill player-check-out
                                            {% else %}
                                                bi-square player-check-in
                                            {% endif %}
                                            player-{{ tournament.id }}-{{ player.id }}"></i>
                                        {% if player.title.short_name %}{{ player.title.short_name }}&nbsp;{% endif %}{{ player.last_name }} {{ player.first_name }} {{ player.rating }}{{ player.rating_type }}
                                    </td>
                                    <td colspan="2" class="bg-transparent"><span class="fst-italic">{{ player.not_paired_str }}</span></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endwith %}
