{% extends 'common/base.html' %}

{% block header %}
{% endblock header %}
{% block content %}
    <div id="wait-content" class="content wait-content mt-5">
        <div style="max-width: 500px; margin: auto;">
            <div class="d-grid gap-2 col-auto mx-auto">
                <h1 class="text-center">{{ _('Welcome to Papi-web!') }}</h1>
                <h3 class="text-center">{{ _('Please wait until the application settings have been set on the server.') }}</h3>
                <div
                    class="refresher wait-refresher"
                    hx-get="{{ url_for('index') }}"
                    hx-target="body"
                    hx-trigger="every 10s queue:none"
                    hx-indicator="#please-wait"
                ></div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
