{% extends '../common/card.html' %}

{% block card_header %}
    {{ macros.client_controller_visibility_icon(client_controller, 'pe-1') }}{{ client_controller.name }}
{% endblock %}

{% block card_title %}
    {{ client_controller.uniq_id }}
{% endblock %}
{% block card_text %}
    {% with object_type=client_controller.assigned_type, uniq_id=client_controller.assigned_object.uniq_id %}
        {% if uniq_id and object_type == "screen" %}
            {{ _('Currently displaying screen:') }} <b>{{ uniq_id }}</b>
        {% elif uniq_id and object_type == "rotator" %}
            {{ _('Currently displaying rotator:') }} <b>{{ uniq_id }}</b>
        {% else %}
            {{ _('No screens are currently assigned to this client controller.') }}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block card_buttons_left %}
    <span {{ macros.tooltip_attributes('info', _('Edit the properties of the client controller.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-primary"
            hx-get="{{ url_for('admin-client-controller-modal', action='update', event_uniq_id=admin_event.uniq_id, client_controller_id=client_controller.id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-pencil-fill pe-1"></i>
            {{ _('Edit') }}
        </button>
    </span>
{% endblock %}

{% block card_buttons_right %}
    <span {{ macros.tooltip_attributes('info', _('Delete the client controller.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-danger"
            hx-get="{{ url_for('admin-client-controller-modal', action='delete', event_uniq_id=admin_event.uniq_id, client_controller_id=client_controller.id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-trash-fill"></i>
        </button>
    </span>
{% endblock %}
