{% extends '../../common/cards_container.html' %}

{% block cards_container_title %}
    {{ macros.event_visibility_icon(admin_event, 'pe-1') }}
    {{ admin_event.name }} - {{ _('Client Controllers') }}
{% endblock %}

{% block cards_container_right_buttons %}
    <span
        {{ macros.tooltip_attributes(
            'info',
            _('Add a client controller to the event.'),
            'top')
        }}
    >
        <button
            class="btn btn-primary text-nowrap ms-1"
            hx-get="{{ url_for('admin-client-controller-create-modal', event_uniq_id=admin_event.uniq_id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-plus-square-fill pe-1"></i>
            {{ _('Create a client controller') }}
        </button>
    </span>
{% endblock %}

{% block cards_container_cards %}
    <div class="row">
        {% if admin_event.client_controllers_sorted_by_uniq_id %}
            {% for client_controller in admin_event.client_controllers_sorted_by_uniq_id %}
                {% include 'client_controller_card.html' %}
            {% endfor %}
        {% else %}
           <div class="mx-auto" style="max-width: 500px;">
                <h5 class="mt-2 my-5 text-center">
                    {{ _('No client controllers') }}
                </h5>
                <p>
                    {{ _('Client controllers allow you to control screens at your event from your main computer.') }}
                </p>
                <p>
                    {{ _('Create as many controllers as you need, then on your other devices choose to display a client controller ' +
                    ' rather than a specific screen, family or rotator.') }}
                </p>
                <p>
                    {{ _('From your main computer find the screen or rotator you want to display, and sent it to controller ' +
                    'using the button with this icon:') }}
                    <i class="bi bi-display ps-2"></i>
                </p>
                <p>
                    {{ _('Any number of devices can be controlled by the same client controller.') }}
                </p>
                <p>
                    {{ _('Create a client controller now to get started.') }}
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
