{% extends '../../common/base.html' %}

{% from 'macros.j2' import
    family_visibility_icon,
    tournament_status_icon,
    player_history,
    admin_players_sort_link,
    gender_icon,
    text_input, password_input, number_input, color_input, select_input, switch_input, datetime_input, date_input, time_input
%}

{% block header %}
    <div
        id="admin-header"
        class="header admin-header border-bottom"
        style="background-color: var(--bs-body-bg);"
    >
        <div hx-ext="bs-tabs" class="bs-tabs mx-3 py-2">
            <nav class="d-flex align-items-center gap-2">
                <!-- block admin_header_back_button -->
                {% block admin_header_back_button %}
                    ADMIN_HEADER_BACK_BUTTON
                {% endblock admin_header_back_button %}
                <!-- end block admin_header_back_button -->
                <div
                    class="nav nav-underline flex-grow-1"
                    style="--bs-nav-underline-gap: 0.5rem;"
                    id="nav-tab"
                    role="tablist"
                >
                    <!-- block admin_header_nav -->
                    {% block admin_header_nav %}
                        ADMIN_HEADER_NAV
                    {% endblock admin_header_nav %}
                    <!-- end block admin_header_nav -->
                </div>
            </nav> 
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div id="admin-content" class="content admin-content tab-content mx-2 p-3">
        <!-- block admin_content -->
        {% block admin_content %}
            ADMIN_CONTENT
        {% endblock admin_content %}
        <!-- end block admin_content -->
    </div>
{% endblock content %}

{% block modal %}
    <!-- block admin_modal -->
    {% block admin_modal %}
        ADMIN_MODAL
    {% endblock admin_modal %}
    <!-- end block admin_modal -->
{% endblock modal %}

{% block footer %}
{% endblock footer %}
