{% extends '../../common/base.html' %}
{% import '/common/macros.j2' as macros with context %}
{% import 'macros.j2' as admin_macros with context %}

{% block head_extra %}
{% endblock head_extra %}

{% block sse %}
hx-ext="sse" sse-connect="/sse" sse-close="server_shutdown"
{% endblock sse %}

{% block sidebar %}
    <nav class="admin bs-tabs d-flex flex-column gap-2 align-items-start py-3 px-0" style="min-height: var(--vh, 100vh);">
        <!-- block admin_header_back_button -->
        {% block admin_header_back_button %}
            ADMIN_HEADER_BACK_BUTTON
        {% endblock admin_header_back_button %}
        <!-- end block admin_header_back_button -->
        <div
            class="nav d-flex flex-column flex-grow-1 w-gap-1 column-gap-3 align-items-start w-100"
            id="nav-tab"
            role="tablist"
        >
            <!-- block admin_nav -->
            {% block admin_nav %}
                ADMIN_HEADER_NAV
            {% endblock admin_nav %}
            <!-- end block admin_nav -->
        </div>
    </nav>
{% endblock sidebar %}

{% block content %}
    <div id="admin-content" class="content admin-content tab-content">
        <!-- block admin_content -->
        {% block admin_content %}
            ADMIN_CONTENT
        {% endblock admin_content %}
        <!-- end block admin_content -->
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
