<div class="col-12 col-lg-6 col-xl-4 mb-3 d-flex align-items-stretch {{ grid_class}}">
    <div
        class="card {% if card_url %}btn{% endif %} p-1 w-100 {{ card_class }}"
        {% if card_url %}
            hx-get="{{ card_url }}"
            preload
            hx-target="body"
            hx-push-url="true"
            hx-indicator="#please-wait"
            hx-trigger="click, keyup[key=='Enter'], keyup[key==' ']"
            tabindex="0"
        {% endif %}
    >
        <div class="card-header text-center fs-5 text-primary">
            {% block card_header %}
                CARD_HEADER
            {% endblock %}
        </div>
        <div
            class="card-body px-2 py-3 d-flex flex-column gap-3"
        >
            <div class="card-title text-center fw-bold">
                {%- block card_title -%}
                    CARD_TITLE
                {%- endblock -%}
            </div>
            <div class="card-text mb-auto text-start">
                {% block card_text %}
                    CARD_TEXT
                {% endblock %}
            </div>
            <div class="d-flex flex-wrap card-buttons mt-auto align-self-start w-100 gap-3">
                <div class="flex-grow-1 d-flex gap-2">
                    {% block card_buttons_left %}
                        CARD_BUTTON_LEFT
                    {% endblock %}
                </div>
                <div class="d-flex gap-2 ms-auto">
                    {% block card_buttons_right %}
                        CARD_BUTTON_RIGHT
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
