{% extends '/common/alert.html' %}

{% block type %}warning{% endblock %}

{% block alert_content %}
    <div class="align-self-center"><i class="bi bi-exclamation-triangle-fill"></i></div>
    <div class="flex-grow-1 align-self-center">
        {% if reason == "result" %}
            {{ _('New results are in, refresh your browser') }}
        {% elif reason == "checkin" %}
            {{ _('New checkins are in, refresh your browser') }}
        {% endif %}
    </div>
    <div class="align-self-center">
        <button
            type="button"
            class="btn btn-sm btn-outline-dark"
            hx-get="{{ url }}"
            hx-target="body"
            hx-indicator="#please-wait"
        >
            {{ _('Refresh')}}
        </button>
    </div>
{% endblock %}
