<div>
    <div id="search-criteria-collapse" class="collapse filter-collapsable-container my-2 p-2">
        <h4 class="form-check-label d-inline-flex align-items-center gap-2">
            {{ _('Search filters') }}
        </h4>
        <form id="filter-form" class="row gy-2 gx-3">
            {% for search_filter in search_filters %}
                {% with filter = search_filters[search_filter] %}
                    <div class="col-12 col-md-6">
                        {% include filter.template_name %}
                    </div>
                {% endwith %}
            {% endfor %}
        </form>
    </div>
</div>

<style>
.filter-collapsable-container {
    border: 3px solid gray;
    border-radius: 15px;
    background: #444;
}
</style>
