<span class="sidebar-tooltip" {{ macros.tooltip_attributes('info', _('Settings'), 'right') }}>
    <button
        class="nav-link text-start me-1 position-relative align-items-center"
        hx-get="{{ url_for('admin-config-modal') }}"
        hx-trigger="click{% if sharly_chess_config.force_edit %}, load{% endif %}"
        hx-target="body"
        hx-indicator="#please-wait"
        data-bs-toggle="modal"
        data-bs-target="#modal-wrapper"
    >
        <div class="d-block">
            <i class="bi bi-sliders"></i>
            <span class="pe-2 expanded-only">
                {{ _('Settings') }}
            </span>
        </div>
    </button>
</span>
