<div
    class="modal-dialog modal-dialog-scrollable"
    style="--bs-modal-width: fit-content; min-width: min(90vw, 350px);"
>
    <div class="modal-content" data-player-id="{{ admin_player.id }}">
        {% set tournament = admin_player.single_tournament %}
        {% set status = admin_player.single_tournament_player.check_in_status %}
        <div class="modal-header">
            <div class="fs-5">
                {{ _(
                    'Mark [%(player)s] as "%(status)s"?',
                    player=admin_player.full_name,
                    status=_('Absent') if admin_player.check_in else _('Present'),
                ) if status in (4, 5) else _(
                    'Return [%(player)s] to the tournament?',
                    player=admin_player.full_name
                ) if status == 0 else _(
                    'Cancel "%(bye)s" at round #%(round)s for [%(player)s]?',
                    bye=status.name,
                    round=tournament.current_round + 1,
                    player=admin_player.full_name,
                ) }}
            </div>
        </div>
        <form
            id="modal-form"
            hx-patch="{{ url_for(
                'check-in-player-action',
                event_uniq_id=admin_event.uniq_id,
                player_id=admin_player.id,
            ) }}"
        >
            {% if status in (4, 5) %}
                <div class="modal-body">
                    {{ admin_macros.checkbox_input(
                        name='set_unsafe_check_in',
                        placeholder=_('Ignore this confirmation next time'),
                    ) }}
                    <span id="unsafe-warning" class="text-danger mt-1" style="display: none; font-size: 95%">
                        {% with message=_(
                            'This confirmation may prevent missclicks leading to '
                            'wrongfully paired players. It is recommended not to '
                            'disable it outside of check-in periods.'
                        ), type='warning', alert_classes='mb-0' %}
                            {% include '/common/form_alert_block.html' %}
                        {% endwith %}
                    </span>
                    <script>
                        $('#set-unsafe-check-in').change(function () {
                            $('#unsafe-warning').width($('.modal-body').width());
                            $('#unsafe-warning').css('display', this.checked?'block':'none');
                        });
                    </script>
                </div>
            {% endif %}
        </form>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('No') }}
            </button>
                <button
                    type="submit"
                    form="modal-form"
                    class="text-nowrap white btn btn-primary"
                    onclick="refreshMessagesIgnored += 1"
                >
                    <i class="bi-check-circle-fill pe-1"></i>
                    {{ _('Yes') }}
                </button>
            </form>
        </div>
    </div>
</div>
