<div class="modal-dialog modal-dialog-scrollable admin-close-check-in-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {{ _('Close check-in for tournament [%(tournament)s]', tournament=admin_tournament.name) }}
            </h2>
        </div>
        <div class="modal-body">
            {% set num_players = admin_tournament.players_by_check_in_status[false]|length %}
            {% set info = ngettext('%(num)d player did not check-in', '%(num)d players did not check-in', num_players) %}
            {% set max_players_before_collapse = 5 %}
            <div class="row gy-2 gx-3">
                <div class="col-12">
                    {% if admin_tournament.players_by_check_in_status[false] %}
                        {% if num_players > max_players_before_collapse %}
                            <button
                                type="button"
                                class="collapse-button collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#not-checked-in-players"
                            >
                                <span
                                    class="form-check-label d-inline-flex align-items-center gap-2"
                                >
                                    <i class="bi bi-chevron-down"></i>
                                    {{ info }}
                                </span>
                            </button>
                        {% else %}
                            <p>{{ _('%(string)s: %(value)s', string=info, value='') }}</p>
                        {% endif %}

                        <div class="{% if num_players > max_players_before_collapse %}collapse{% endif %}" id="not-checked-in-players">
                            <ul>
                                {% for player in admin_tournament.players_by_check_in_status[false] %}
                                    <li>{{ player.full_name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <p>{{ _('All the players intended to play the coming round did check-in.') }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <form
            id="modal-form"
            hx-patch="{{ url_for('admin-tournament-close-check-in', event_uniq_id=admin_event.uniq_id, tournament_id=admin_tournament.id) }}"
            hx-target="body"
            hx-indicator="#please-wait"
        >
            {% if num_players %}
                <div class="modal-footer justify-content-start">
                    <div class="vstack gap-2 flex-shrink-1">
                        <p class="mb-2">{{ _('For players who have not checked-in:') }}</p>
                        {% if admin_tournament.pairing_system.allow_bye_definition %}
                            <div>
                                <input type="radio" class="me-2" name="action" value="zpb-tournament">
                                {{ _('Assign a zero-point bye <b>for the rest of the tournament</b>') }}
                            </div>
                            <div>
                                <input type="radio" class="me-2" name="action" value="zpb-next-round">
                                {{ _('Assign a zero-point bye <b>for the next round</b>') }}
                            </div>
                        {% elif not admin_tournament.has_pairings %}
                            <div>
                                <input type="radio" class="me-2" name="action" value="delete">
                                {{ _('<b>Delete</b> from the tournament') }}
                            </div>
                        {% endif %}
                        <div>
                            <input type="radio" class="me-2" name="action" value="noop">
                            {{ _('Do nothing (players will be eligible for pairing)') }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            <button
                id="submit-btn"
                form="modal-form"
                type="submit"
                class="text-nowrap white btn btn-primary"
                {% if num_players %}disabled{% endif %}
            >
                {{ _('Close check-in') }}
            </button>
        </div>
    </div>
</div>

<script>
    $('input[name="action"]').on('change', function() {
        $('#submit-btn').prop('disabled', false);
    });

    requestRefresh();
</script>
