<form
    class="d-inline-block"
    action="{{ url_for('admin-download-event-players', event_uniq_id=admin_event.uniq_id) }}"
    target="_blank"
    hx-indicator="#please-wait"
>
    <span class="dropdown-center" >
        <button class="btn btn-outline-primary dropdown-toggle text-nowrap ms-1" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            <span
                {{ macros.tooltip_attributes('info', _('Download the players.'), 'top') }}
            >
                <i class="bi-person-vcard"></i>
                <i class="bi-download"></i>
            </span>
        </button>
        <ul class="dropdown-menu players-download-players p-0">
            {% with name='player_ids' %}
                {# this input is always checked with an empty value (ignored) to be sure to get a list parameter. #}
                <input type="hidden" name="{{ name }}" value="0" />
                <li class="dropdown-item title text-nowrap no-hover">
                    <div class="row">
                        <div class="col text-start">
                            <input
                                type="checkbox"
                                onclick="$('input.{{ name }}').prop('checked', this.checked)" {# TODO instead of relying on the class, use the name #}
                            />
                        </div>
                        <div class="col text-end">
                            {% for format, tooltip_text in {
                                'vcf': _('Download the vCards of the selected players (VCF format). Warning: players without phone or email won\'t be included.'),
                                'csv': _('Download the information of the selected players (CSV format).'),
                                'ods': _('Download the information of the selected players (ODS format).'),
                                'xlsx': _('Download the information of the selected players (XLSX format).'),
                            }.items() %}
                                <span
                                    {{ macros.tooltip_attributes('top', tooltip_text, 'top') }}
                                >
                                    <button type="submit" name="download_format" value="{{ format }}" class="btn py-0" data-bs-dismiss="modal" >
                                        <i class="bi-download"></i>
                                        {{ format | upper }}
                                    </button>
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                <li class="dropdown-divider m-0"></li>
                {% for player in admin_event.players_sorted_by_name %}
                    <li class="dropdown-item d-flex gap-1 align-items-center">
                        <input
                            type="checkbox"
                            id="{{ name }}-{{ loop.index }}"
                            name="{{ name }}"
                            value="{{ player.id }}"
                            class="{{ name }} {{ name }}_{{ column }}"
                        />
                        <label
                            for="{{ name }}-{{ loop.index }}"
                            class="form-label w-100 my-0 p-0 text-start"
                        >
                            <img
                                class="player-federation-flag ms-1 ps-1 pe-1"
                                src="{{ url_for('static', file_path='/images/federations/' ~ player.federation ~ '.svg') }}"
                                {{ macros.tooltip_attributes('info', player.federation, 'left') }}
                            />
                            {{ player.last_name }}
                            {{ player.first_name }}
                            {% if player.mail %}/ {{ player.mail }}{% endif %}
                            {% if player.phone %}/ {{ player.phone }}{% endif %}
                            {% if player.club %}/ {{ player.club }}{% endif %}
                        </label>
                    </li>
                {% endfor %}
            {% endwith %}
        </ul>
    </span>
</form>
