<form class="d-inline-block" hx-get="{{ url }}" hx-target="body" hx-indicator="#please-wait" >
    {{ _('Tournament *** TOURNAMENT COLUMN HEADER FOR PLAYERS') }}
    {{ admin_players_sort_link(url, 'bi-sort-alpha-down', 'tournament', admin_players_sort) }}
    <span class="dropdown-center" >
        <button
                class="btn text-dark m-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside"
        ><i
                class="bi-funnel {% if admin_players_filter_tournaments|length not in [0, (admin_event.players_tournaments|length)] %}text-danger{% endif %}"
                {{ tooltip_attributes('info', _('Filter the tournaments.'), 'top') }}
        ></i></button>
        <ul class="dropdown-menu players-filter-tournament p-0">
            {% with name='admin_players_filter_tournaments' %}
                {# this input is always checked with an empty value (ignored) to be sure to get a list parameter. #}
                <input type="hidden" name="{{ name }}" value="0" checked />
                <li class="dropdown-item title text-nowrap">
                    <input
                        type="checkbox"
                        {% if admin_players_filter_tournaments|length == admin_event.tournaments_by_id|length %}checked{% endif %}
                        onclick="$('input.{{ name }}').prop('checked', this.checked)" {# TODO instead of relying on the class, use the name #}
                    />
                    <button type="submit" class="btn w-100 text-end py-0" data-bs-dismiss="modal" >
                        <i class="bi-check-lg pe-1"></i>
                        {{ _('OK') }}
                    </button>
                </li>
                <li class="dropdown-divider m-0"></li>
                {% for tournament in admin_event.tournaments_sorted_by_uniq_id %}
                    <li class="dropdown-item d-flex align-items-center gap-2">
                        <input
                            type="checkbox"
                            id="{{ name }}-{{ loop.index }}"
                            name="{{ name }}"
                            value="{{ tournament.id }}"
                            {% if tournament.id in admin_players_filter_tournaments %}checked{% endif %}
                            class="{{ name }}"
                        />
                        <label for="{{ name }}-{{ loop.index }}" class="form-label w-100 my-0">
                            {{ tournament.uniq_id }} ({{ tournament.players_by_id|length }})
                        </label>
                    </li>
                {% endfor %}
            {% endwith %}
        </ul>
    </span>
</form>
