<form
    class="d-inline-block"
    hx-get="{{ url_for('admin-event-players-columns', event_uniq_id=admin_event.uniq_id) }}"
    hx-target="body"
    hx-indicator="#please-wait"
>
    <span class="dropdown-center" >
        <button
            class="btn btn-outline-primary dropdown-toggle text-nowrap"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-bs-auto-close="outside"
        >
            <span
                {{ macros.tooltip_attributes('info', _('Choose the columns displayed.'), 'top') }}
            >
                <i class="bi-layout-three-columns pe-1"></i>
                {{ _('Columns') }}
            </span>
        </button>
        <ul class="dropdown-menu table-dropdown-menu p-0">
            {% set name = 'column_ids' %}
            {# this input is always checked with an empty value (ignored) to be sure to get a list parameter. #}
            <input type="hidden" name="{{ name }}" value="" />
            <li class="dropdown-item title text-nowrap">
                <input
                    type="checkbox"
                    {% if enabled_columns|length == visible_columns|length %}checked{% endif %}
                    onclick="$('input.hideable-columns').prop('checked', this.checked)"
                />
                <button type="submit" class="btn w-100 text-end py-0" data-bs-dismiss="modal" >
                    <i class="bi-check-lg pe-1"></i>
                    {{ _('OK') }}
                </button>
            </li>
            <li class="dropdown-divider m-0"></li>
            {% for column in enabled_columns %}
                <li class="dropdown-item text-nowrap d-inline-flex align-items-center gap-2">
                    <input
                        type="checkbox"
                        id="{{ name }}-{{ loop.index }}"
                        name="{{ name }}"
                        value="{{ column.id }}"
                        {% if column.is_visible %}checked{% endif %}
                        {% if not column.is_hideable %}disabled{% endif %}
                        class="{% if column.is_hideable %}hideable-columns{% endif %}"
                    />
                    <label for="{{ name }}-{{ loop.index }}" class="form-label w-100 my-0">
                        {{ column.name }}
                    </label>
                </li>
            {% endfor %}
        </ul>
    </span>
</form>
