{% import '/common/macros.j2' as macros with context %}

<div class="modal-dialog modal-dialog-scrollable admin-players-update-modal" style="max-width: 90%;">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {% if admin_tournament %}
                    {{ _('Import players to tournament [%(tournament)s]', tournament=admin_tournament.name) }}
                {% else %}
                    {{ _('Import players to event [%(event)s]', event=admin_event.name) }}
                {% endif %}
            </h2>
        </div>
        <div class="modal-body">
            {% set selected_rows = row_count - import_errors_by_index|length %}
            {% if overwrite_players and admin_tournament and admin_tournament.tournament_players %}
                <h4 class="text-danger">
                    {{ _(
                        'Warning: the %(player_count)d players in the tournament will be deleted.',
                        player_count=admin_tournament.tournament_players|length,
                    ) }}
                </h4>
            {% endif %}
            <div class="d-flex">
                {% if unknown_column_ids %}
                    <h5 class="text-warning">
                        {{ ngettext(
                            '%(num)d unknown column (ignored)',
                            '%(num)d unknown columns (ignored)',
                            unknown_column_ids|length
                        ) }}
                        <i
                            class="bi-info-circle-fill ps-1 text-body"
                            style="font-size: 90%"
                            {{ macros.tooltip_attributes('', build_list_tooltip(unknown_column_ids), 'right') }}
                        ></i>
                    </h5>
                {% endif %}
                <div class="flex-grow-1"></div>
                <div class="form-check form-switch d-inline-block pe-3">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        onclick="$('.valid-row').toggle(this.checked)"
                        checked
                    />
                    <label class="form-check-label"> {{ _('Valid rows') }}</label>
                </div>
                <div class="form-check form-switch d-inline-block pe-3">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        onclick="$('.invalid-row').toggle(this.checked);
                            $('#duplicated-switch').prop('checked', this.checked);
                            $('#duplicated-switch').attr('disabled', !this.checked);"
                        checked
                    />
                    <label class="form-check-label"> {{ _('Invalid rows') }}</label>
                </div>
                {% if not overwrite_players and admin_tournament and admin_tournament.tournament_players %}
                    <div class="form-check form-switch d-inline-block pe-3">
                        <input
                            id="duplicated-switch"
                            class="form-check-input"
                            type="checkbox"
                            onclick="$('.duplicated-row').toggle(this.checked)"
                            checked
                        />
                        <label class="form-check-label"> {{ _('Existing players') }}</label>
                        <i
                            class="bi-info-circle-fill ps-1"
                            {{ macros.tooltip_attributes('', _(
                                'Show the rows of players already existing in '
                                'the tournament and the duplicated rows. '
                            )) }}
                        ></i>
                    </div>
                {% endif %}
            </div>

            <form
                id="modal-form"
                hx-trigger="submit, enterKeypressFromModal"
                hx-post="{{ url_for(
                    'import-players',
                    event_uniq_id=admin_event.uniq_id,
                    tournament_id=admin_tournament.id,
                ) if admin_tournament else url_for(
                    'import-players',
                    event_uniq_id=admin_event.uniq_id,
                ) }}"
                hx-target="body"
                hx-indicator="#please-wait"
            >
                <input name="file_path" value="{{ file_path }}" type="hidden"/>
                <input name="overwrite_players" value="{{ 'on' if overwrite_players else 'off' }}" type="hidden"/>
                {% if data_source %}
                    <input name="data_source" value="{{ data_source.id }}" type="hidden"/>
                {% endif %}
                <table class="table prominent table-striped table-sm table-hover w-100 bg-light mx-auto justify-content-center">
                    <thead class="modal-table-sticky-header">
                        <tr>
                            <th class="text-nowrap text-start">
                                <input
                                    type="checkbox"
                                    class="form-check-input blue-checkbox"
                                    onclick="
                                        $('.row-index-checkbox').prop('checked', this.checked);
                                        $('.row-index-checkbox').trigger('change');"
                                    checked
                                />
                                <span id="checked-player-count">{{ selected_rows }}</span>/{{ row_count }}
                            </th>
                            {% if data_source %}
                                <th class="text-nowrap text-start">
                                    {{ identifier_column.id }}
                                </th>
                                <th class="text-nowrap text-start">
                                    {{ _('Imported player') }}
                                </th>
                            {% endif %}
                            {% for column in used_columns %}
                                <th class="text-nowrap text-start">
                                    {{ column.id }}
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for index in range(row_count) %}
                            {% set has_error = index in import_errors_by_index %}
                            {% set is_duplicated = index in duplicated_indexes %}
                            {% set data_source_player = data_source_players_by_index[index] %}
                            <tr class="{% if has_error %}invalid-row{% else %}valid-row{% endif %}{% if is_duplicated %} duplicated-row{% endif %}">
                                <td>
                                    <span class="d-flex">
                                        {% if has_error %}
                                            <i
                                                class="bi-exclamation-triangle-fill text-danger"
                                                {{ macros.tooltip_attributes(
                                                    'warning', _('This row contains errors that prevent it from being imported.')
                                                ) }}
                                            ></i>
                                        {% else %}
                                            <input
                                                class="form-check-input blue-checkbox row-index-checkbox ps-1"
                                                type="checkbox"
                                                name="row_indexes"
                                                value="{{ index }}"
                                                checked
                                            />
                                        {% endif %}
                                        <div class="flex-grow-1"></div>
                                        <span class="pe-3">{{ index + 1 }}</span>
                                    </span>
                                </td>
                                {% if data_source %}
                                    {% set error_message = import_errors_by_index[index].get(identifier_column.id, '') if has_error else '' %}
                                    <td
                                        class="text-nowrap text-start mw-15em
                                            {% if has_error %}text-secondary{% endif %}
                                            {% if error_message %}error-cell{% endif %}"
                                        {% if error_message %}
                                            {{ macros.tooltip_attributes('warning', error_message) }}
                                        {% endif %}
                                    >
                                        {{ content_by_column_id[identifier_column.id][index] }}
                                    </td>
                                    <td class="text-nowrap text-start">
                                        {% if data_source_player %}
                                            {% with player = data_source_player, no_identifier = true %}
                                                {% include data_source.player_search_result_template %}
                                            {% endwith %}
                                        {% endif %}
                                    </td>
                                {% endif %}
                                {% for column in used_columns %}
                                    {% set value = content_by_column_id[column.id][index] %}
                                    {% set error_message = import_errors_by_index[index].get(column.id, '') if has_error else '' %}
                                    {% set warning_message = (
                                        _('Value does not match the one from the data source.')
                                        if data_source_player and not column.check_data_source_value_match(value, data_source_player)
                                        else ''
                                    ) %}
                                    <td
                                        class="text-nowrap text-start text-ellipsis mw-15em
                                            {% if column.is_informative %}informative-cell{% endif %}
                                            {% if has_error or column.is_informative %}text-secondary{% endif %}
                                            {% if error_message %}error-cell{% endif %}
                                            {% if warning_message %}warning-cell{% endif %}"
                                        {% if error_message %}
                                            {{ macros.tooltip_attributes('warning', error_message) }}
                                        {% elif warning_message %}
                                            {{ macros.tooltip_attributes('', warning_message) }}
                                        {% endif %}
                                    >
                                        {{ value }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            <script>
                $('.row-index-checkbox').change(function () {
                    var playerCount = $('.row-index-checkbox:checked').length;
                    $('#import-players-button').prop('disabled', playerCount == 0);
                    $('#checked-player-count').html(playerCount);
                    const rowCells = $(this).closest('tr').find('td:not(.informative-cell)');
                    if (this.checked) {
                        rowCells.removeClass('text-secondary');
                    } else {
                        rowCells.addClass('text-secondary');
                    }
                });
            </script>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            <button
                id="import-players-button"
                type="submit"
                form="modal-form"
                class="text-nowrap white btn btn-primary"
                {% if not selected_rows %}disabled{% endif %}
            >
                <i class="bi-download pe-1"></i>
                {{ _('Import') }}
            </button>
        </div>
    </div>
</div>
