{% import '/admin/common/warning_macros.j2' as warning_macros with context %}
<div id="player-modal" class="modal-dialog modal-dialog-scrollable admin-player-edit-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {% if action == 'create' %}
                    {{ _('Create player') }}
                {% elif action == 'update' %}
                    {{ _('Edit player') }}
                {% elif action == 'replace' %}
                    {{ _('Replace player [%(player)s]', player=admin_player.full_name) }}
                {% endif %}
            </h2>
        </div>
        <div class="modal-body">
            {% if 'alert' in errors %}
                {% with type='error', message=errors['alert'] %}
                    {% include '/common/alert.html' %}
                {% endwith %}
            {% endif %}
            {% if action in ['create', 'replace'] %}
                {% if previous_player %}
                    {% if warning_message %}
                        {% with type='warning', auto_remove=true, message=warning_message %}
                            {% include '/common/alert.html' %}
                        {% endwith %}
                    {% else %}
                        {% with type='success', auto_remove=true, message=_(
                            'Player [%(player)s] has been created.',
                            player=previous_player.full_name
                        )  %}
                            {% include '/common/alert.html' %}
                        {% endwith %}
                    {% endif %}
                {% endif %}
                <h4>
                    {{ pgettext('player search section title', 'Search') }}
                </h4>
                {% with usage = 'player' %}
                    {% include '/admin/common/search_filter_form.html' %}
                    {% include '/admin/common/player_search.html' %}
                {% endwith %}
            {% endif %}
            <form
                id="modal-form"
                hx-trigger="submit, enterKeypressFromModal"
                {% if action == 'create' %}
                    hx-post="{{ url_for('admin-player-create', event_uniq_id=admin_event.uniq_id) }}"
                {% elif action == 'update' %}
                    hx-patch="{{ url_for('admin-player-update', event_uniq_id=admin_event.uniq_id, player_id=admin_player.id) }}"
                {% elif action == 'replace' %}
                    hx-patch="{{ url_for('admin-player-replace', event_uniq_id=admin_event.uniq_id, player_id=admin_player.id) }}"
                {% else %}
                    hx-get="{{ url_for('unknown-action-' ~ action) }}"
                {% endif %}
                hx-target="body"
                hx-indicator="#please-wait"
            >
                {% if regeneration %}
                    <div class="alert alert-warning d-flex">
                        {{ warning_macros.level_icon(3) }}
                        <div>
                            <p class="mb-1">
                                {{ _(
                                    'Saving this player changes the order of the pairing numbers, '
                                    'from which rounds have already been paired. This breaches the '
                                    'integrity of the pairings, and will be logged in the TRF:'
                                ) }}
                            </p>
                            <p class="mb-1 font-monospace">{{ regeneration }}</p>
                            <p class="mb-0">{{ _('Save again to confirm.') }}</p>
                        </div>
                    </div>
                    <input type="hidden" name="regeneration_confirmed" value="on">
                {% endif %}
                <h4>
                    {{ _('Identity') }}
                </h4>
                <input type="hidden" name="redirect_to" value="{{ data['redirect_to'] }}">
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6 col-xl-6">
                        {{ admin_macros.text_input(
                            name='last_name',
                            label=_('Name:'),
                            placeholder=_('E.g.: DOE'),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6 col-xl-6">
                        {{ admin_macros.text_input(
                            name='first_name',
                            label=_('First name:'),
                            placeholder=_('E.g.: John'),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.date_input(
                            name='date_of_birth',
                            label=_('Date of birth:'),
                            tooltip_text=_(
                                'Only the year of birth is required for most tournaments. '
                                'it is therefore recommanded to only ask for your players\' '
                                'year of birth in order to respect their privacy.'
                            ),
                            placeholder=_('YYYY or {date_format}').format(
                                date_format=sharly_chess_config.date_formatter.name
                            ),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.select_input(
                            name='gender',
                            label=_('Gender:'),
                            select_options=gender_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.text_input(
                            name='mail',
                            label=_('Email:'),
                            placeholder=_('E.g.: john.doe@chess.com'),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.text_input(
                            name='phone',
                            label=_('Phone number:'),
                            data=data, errors=errors
                        ) }}
                        {# TODO add an example depending on the federation placeholder=_('E.g.: %(phone_number)s', phone_number=admin_event.phone_number_example), #}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.text_input(
                            name='club',
                            label=_('Club:'),
                            placeholder=_('E.g.: My favourite club!'),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ admin_macros.select_input(
                            name='federation',
                            label=_('Federation:'),
                            select_options=federation_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                {% for template in plugin_templates_by_section['identity'] %}
                    {% include template %}
                {% endfor %}
                {% set is_woman = data['gender'] == woman_gender_value %}
                <div class="row gy-2 gx-3 mt-0">
                    <div id="fide-id-col" class="{{ 'col-12' if is_woman else 'col-12 col-sm-6' }}">
                        {{ admin_macros.number_input(
                            name='fide_id',
                            label=_('FIDE ID:'),
                            disabled=action == 'update' or data['fide_id'] != '',
                            input_tooltip=_(
                                'Replace the player to update this field.'
                            ) if action == 'update' or data['fide_id'] != '' else '',
                            min=1,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div id="title-col" class="{{ 'col-6' if is_woman else 'col-12 col-sm-6' }}">
                        {{ admin_macros.select_input(
                            name='title',
                            label=_('FIDE Title:'),
                            select_options=title_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div id="women-title-col" class="{{ 'col-6' if is_woman else 'col-6 d-none' }}">
                        {{ admin_macros.select_input(
                            name='women_title',
                            label=_("Women's Title:"),
                            select_options=women_title_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                <script>
                    (function () {
                        var $gender = $('select[name="gender"]');
                        function updateWomenTitleLayout() {
                            var isWoman = $gender.val() === {{ woman_gender_value | tojson }};
                            $('#fide-id-col').attr('class', isWoman ? 'col-12' : 'col-12 col-sm-6');
                            $('#title-col').attr('class', isWoman ? 'col-6' : 'col-12 col-sm-6');
                            if (isWoman) {
                                $('#women-title-col').attr('class', 'col-6');
                            } else {
                                $('#women-title-col').attr('class', 'col-6 d-none');
                                $('select[name="women_title"]').val('');
                            }
                        }
                        $gender.on('change', updateWomenTitleLayout);
                    })();
                </script>
                <div class="row gy-2 gx-3 mt-0">
                    {% if national_data_source %}
                        <div class="col-12 col-md-6">
                            {{ admin_macros.text_input(
                                name='national_id',
                                label=national_data_source.national_id_form_label,
                                placeholder=(
                                    _('E.g.: %(string)s', string=national_data_source.national_id_form_placeholder)
                                    if national_data_source.national_id_form_placeholder else ''
                                ),
                                disabled=action == 'update' or data['national_source'] != '',
                                input_tooltip=_(
                                    'Replace the player to update this field.'
                                ) if action == 'update' or data['national_source'] != '' else '',
                                data=data, errors=errors
                            ) }}
                        </div>
                    {% else %}
                        <input type="hidden" name="national_id" value="{{ data['national_id'] or '' }}">
                    {% endif %}
                    <input type="hidden" name="national_source" value="{{ data['national_source'] or '' }}">
                    {% for template in plugin_templates_by_section['national'] %}
                        {% include template %}
                    {% endfor %}
                </div>

                {% if is_team_event %}
                    <h4>{{ _('Team') }}</h4>
                    <div class="row gy-2 gx-3">
                        <div class="col-12">
                            {{ admin_macros.select_input(
                                name='team_id',
                                label=_('Team:'),
                                select_options=team_options,
                                disabled=team_locked,
                                input_tooltip=_(
                                    'This player has already been paired; '
                                    'their team cannot be changed.'
                                ) if team_locked else '',
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>
                {% else %}
                    <h4>
                        {{ _('Tournament') }}
                    </h4>
                    <div class="row gy-2 gx-3 align-items-center">
                        <div class="col-12">
                            {{ admin_macros.select_input(
                                name='tournament_id',
                                label=_('Tournament:'),
                                select_options=tournament_options,
                                disabled=admin_player.has_real_pairings,
                                input_tooltip=(
                                    _('The player has already been paired, removing them from the tournament is impossible.')
                                    if admin_player.has_real_pairings else ''
                                ),
                                data=data, errors=errors
                            ) }}
                            {% if admin_player.has_real_pairings %}
                                <input type="hidden" name="tournament_id" value="{{ data['tournament_id'] }}" />
                            {% endif %}
                        </div>

                        <div class="col-12 col-sm-6">
                            {{ admin_macros.number_input(
                                name='fixed',
                                label=_('Fixed board:'),
                                tooltip_text=_('The board number the player will always be assigned to (use it for disabled people).'),
                                min=1,
                                data=data, errors=errors
                            ) }}
                        </div>

                        <div class="col-12 col-sm-6">
                            {{ admin_macros.switch_input(
                                name='byes_allowed',
                                placeholder=_('Eligible for byes'),
                                tooltip_text=_('When disabled, no Half-Point Bye can be assigned to the player.'),
                                disabled=byes_locked,
                                input_tooltip=(
                                    _('The player has already been assigned a bye.')
                                    if byes_locked else ''
                                ),
                                data=data, errors=errors
                            ) }}
                        </div>
                    </div>
                {% endif %}
                <div class="row gy-2 gx-3 mt-0">
                    <div class="col-12 col-sm-6 col-lg-3">
                        {{ admin_macros.number_input(
                            name='owed',
                            label=_('Owed:'),
                            step=0.01,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        {{ admin_macros.number_input(
                            name='paid',
                            label=_('Paid:'),
                            step=0.01,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-lg-6">
                        {{ admin_macros.text_input(
                            name='comment',
                            label=_('Comment:'),
                            data=data, errors=errors
                        ) }}
                    </div>

                </div>

                <h4>
                    {{ _('Ratings') }}
                    {% if current_period %}
                        <small class="text-muted">
                            {{ _('Period %(index)d', index=current_period.index + 1) }}
                            · {{ current_period.rounds_str }}
                        </small>
                    {% endif %}
                </h4>
                {% if is_team_event %}
                    {% set _rating_context_key = team_tournament_ids.get(data['team_id'] or '', '') %}
                {% else %}
                    {% set _rating_context_key = data['tournament_id'] or '' %}
                {% endif %}
                {% set _rating_context = rating_contexts.get(_rating_context_key, rating_contexts['']) %}
                <input type="hidden" name="ratings" value="{{ data['ratings'] }}">
                <div class="row gy-2 gx-3">
                    <div class="col-12 col-md-6">
                        <label class="form-check-label d-block pb-1" for="tournament-rating">
                            {{ _('Tournament rating') }}
                            (<span id="rating-cadence">{{ _rating_context['cadence'] }}</span>):
                        </label>
                        <div class="d-flex align-items-center gap-2">
                            <input
                                name="tournament_rating"
                                type="number"
                                id="tournament-rating"
                                data-testid="tournament-rating"
                                class="form-control d-inline {% if 'tournament_rating' in errors %}is-invalid{% endif %}"
                                aria-describedby="tournament-rating-description tournament-rating-error"
                                placeholder="{{ _rating_context['placeholder'] }}"
                                value="{{ data['tournament_rating'] }}"
                            />
                            <div id="rating-suffix" class="text-nowrap">{{ _rating_context['suffix'] }}</div>
                        </div>
                        {% if 'tournament_rating' in errors %}
                            <div id="tournament-rating-error" class="form-text invalid-feedback" style="display: block">
                                {{ errors['tournament_rating'] }}
                            </div>
                        {% endif %}
                        <div id="tournament-rating-description" class="form-text">{{ _rating_context['description'] }}</div>
                        <div id="rating-choices-container" class="form-text mt-2 {% if not _rating_context['choices'] %}d-none{% endif %}">
                            {{ _('Rating chosen:') }}
                            <div id="rating-choices" class="ps-2">
                                {% for choice in _rating_context['choices'] %}
                                    <div class="d-flex align-items-baseline gap-2 mb-2">
                                        <input
                                            class="form-check-input rating-choice flex-shrink-0"
                                            style="margin: 0; position: relative; top: 0.14em"
                                            type="radio"
                                            name="rating_pin"
                                            id="rating-pin-{{ loop.index }}"
                                            value="{{ choice['key'] }}"
                                            {% if choice['key'] == (data['rating_pin'] or '') %}checked{% endif %}
                                        />
                                        <label class="form-check-label" for="rating-pin-{{ loop.index }}">{{ choice['label'] }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-check-label d-block pb-1">{{ _('Official FIDE rating:') }}</label>
                        <div class="d-flex align-items-center gap-2">
                            <div id="official-rating" class="form-control-plaintext flex-grow-1">{{ _rating_context['official'] }}</div>
                            <div
                                id="rating-k-container"
                                class="d-flex align-items-center gap-2 flex-shrink-0 {% if not _rating_context['has_official'] %}d-none{% endif %}"
                            >
                                <div
                                    {{ macros.tooltip_attributes('info', _(
                                        'The FIDE coefficient (k) of the player. '
                                        'When left empty, the coefficient shown is estimated '
                                        'from the rating and the age of the player.'
                                    )) }}
                                >
                                    {{ pgettext('FIDE rating coefficient', 'K') }}
                                </div>
                                <input
                                    name="rating_k"
                                    type="number"
                                    id="rating-k"
                                    data-testid="rating-k"
                                    class="form-control d-inline {% if 'rating_k' in errors %}is-invalid{% endif %}"
                                    style="max-width: 4.5rem"
                                    aria-describedby="rating-k-error"
                                    placeholder="{{ _rating_context['k_placeholder'] }}"
                                    min="{{ min_k_factor }}"
                                    max="{{ max_k_factor }}"
                                    value="{{ data['rating_k'] }}"
                                    {% if not _rating_context['has_official'] %}disabled{% endif %}
                                />
                            </div>
                        </div>
                        {% if 'rating_k' in errors %}
                            <div id="rating-k-error" class="form-text invalid-feedback" style="display: block">
                                {{ errors['rating_k'] }}
                            </div>
                        {% endif %}
                    </div>
                    <script>
                        (() => {
                            const ratingContexts = {{ rating_contexts|tojson }};
                            const teamTournamentIds = {{ team_tournament_ids|tojson }};
                            function showRatingContext() {
                                const key = $('#team-id').length
                                    ? (teamTournamentIds[$('#team-id').val()] || '')
                                    : ($('#tournament-id').val() || '');
                                const context = ratingContexts[key] || ratingContexts[''];
                                $('#rating-cadence').text(context.cadence);
                                $('#tournament-rating').val(context.value).attr('placeholder', context.placeholder);
                                $('#rating-suffix').html(context.suffix);
                                $('#tournament-rating-description').text(context.description);
                                $('#rating-choices').empty().append(
                                    context.choices.map((choice, index) => $('<div class="d-flex align-items-baseline gap-2 mb-2">').append(
                                        $('<input class="form-check-input rating-choice flex-shrink-0" style="margin: 0; position: relative; top: 0.14em" type="radio" name="rating_pin">')
                                            .attr('id', `rating-pin-${index + 1}`)
                                            .val(choice.key)
                                            .prop('checked', choice.key === context.pinned),
                                        $('<label class="form-check-label">')
                                            .attr('for', `rating-pin-${index + 1}`)
                                            .html(choice.label),
                                    ))
                                );
                                $('#rating-choices-container').toggleClass('d-none', !context.choices.length);
                                currentChoices = context.choices;
                                $('#official-rating').html(context.official);
                                $('#rating-k-container').toggleClass('d-none', !context.has_official);
                                $('#rating-k')
                                    .val(context.k)
                                    .attr('placeholder', context.k_placeholder)
                                    .prop('disabled', !context.has_official);
                            }
                            let currentChoices = {{ _rating_context['choices']|tojson }};
                            $('#tournament-id, #team-id').on('change', showRatingContext);
                            $('#rating-choices').on('change', '.rating-choice', function () {
                                const choice = currentChoices.find((choice) => choice.key === this.value);
                                if (choice) {
                                    $('#tournament-rating').val(choice.value);
                                    $('#rating-suffix').html(choice.suffix);
                                    $('#tournament-rating-description').text(choice.description);
                                }
                            });
                        })();
                    </script>
                </div>
                {% if earlier_period_ratings %}
                    <button
                        type="button"
                        class="collapse-button collapsed mt-2"
                        data-bs-toggle="collapse"
                        data-bs-target="#earlier-period-ratings"
                        aria-expanded="false"
                    >
                        <span class="d-inline-flex align-items-center gap-2">
                            <i class="bi-chevron-down text-body"></i>
                            {{ _('Ratings of the earlier periods') }}
                        </span>
                    </button>
                    <div id="earlier-period-ratings" class="collapse">
                        <table class="table table-sm mb-0">
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for tournament_rating_strings in tournament_ratings_strings.values() %}
                                        <th class="fw-normal">{{ tournament_rating_strings['label'] }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for period, ratings in earlier_period_ratings %}
                                    <tr>
                                        <td class="text-nowrap">
                                            {{ _('Period %(index)d', index=period.index + 1) }}
                                            · {{ period.rounds_str }}
                                            {% if period.dates_str %}
                                                <span class="text-muted">· {{ period.dates_str }}</span>
                                            {% endif %}
                                        </td>
                                        {% for tournament_rating in tournament_ratings_strings %}
                                            <td>
                                                {{ ratings[tournament_rating] }}
                                                {% if ratings[tournament_rating].k_factor %}
                                                    <span class="text-muted">
                                                        ({{ pgettext('FIDE rating coefficient', 'K') }}{{ ratings[tournament_rating].k_factor }})
                                                    </span>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </form>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            <span id="submit-button-container">
                {% if action == 'create' %}
                    {{ admin_macros.create_with_add_other_split_buttons(add_other_active) }}
                {% else %}
                    <button
                        type="submit"
                        form="modal-form"
                        class="text-nowrap white btn btn-primary"
                    >
                        <i class="bi-floppy-fill pe-1"></i>
                        {{ _('Save') }}
                    </button>
                {% endif %}
            </span>
        </div>
    </div>
</div>

{% if previous_player %}
    <script>requestRefresh()</script>
{% endif %}
