<div class="dropdown d-inline">
    <span {{ macros.tooltip_attributes('info', _('Update the players\' information from an external data source.'), 'top') }}>
        <button class="btn {% if compact %}btn-sm{% endif %} btn-outline-primary dropdown-toggle mx-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-arrow-repeat pe-1"></i>
            {% if not compact %}
                {{ _('Update players') }}
            {% endif %}
        </button>
        <ul class="dropdown-menu locale">
            {% for player_updater in player_updaters %}
                <li
                    class="dropdown-item text-start cursor-pointer"
                    hx-get="{{ url_for('admin-event-players-diff-modal', event_uniq_id=admin_event.uniq_id, player_updater_id=player_updater.id) }}"
                    {% if tournament_id %}
                        hx-vals='{"tournament_id": "{{ tournament_id }}"}'
                    {% endif %}
                    hx-target="#modal-wrapper"
                    hx-indicator="#please-wait"
                    preload
                    data-bs-toggle="modal"
                    data-bs-target="#modal-wrapper"
                >
                    {{ player_updater.name }}
                </li>
            {% endfor %}
        </ul>
    </span>
</div>
