<div id="player-modal" class="modal-dialog modal-dialog-scrollable modal-dialog-centered admin-player-edit-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {% if action == 'create' %}
                    {{ _('Player creation') }}
                {% elif action == 'update' %}
                    {{ _('Edition of player [%(first_name)s %(last_name)s]', last_name=admin_player.last_name, first_name=admin_player.first_name) }}
                {% elif action == 'delete' %}
                    {{ _('Deletion of player [%(first_name)s %(last_name)s]', last_name=admin_player.last_name, first_name=admin_player.first_name) }}
                {% else %}
                    ?
                {% endif %}
            </h2>
        </div>
        <div class="modal-body">
            <form
                id="modal-form"
                {% if action == 'create' %}
                    hx-post="{{ url_for('admin-player-create', event_uniq_id=admin_event.uniq_id) }}"
                {% elif action == 'update' %}
                    hx-patch="{{ url_for('admin-player-update', event_uniq_id=admin_event.uniq_id, player_id=admin_player.id) }}"
                {% elif action == 'delete' %}
                    hx-delete="{{ url_for('admin-player-delete', event_uniq_id=admin_event.uniq_id, player_id=admin_player.id) }}"
                {% else %}
                    hx-get="{{ url_for('unknown-action-' ~ action) }}"
                {% endif %}
                hx-target="body"
                hx-indicator="#please-wait"
            >
                {% if action == 'delete' %}
                    <h4 class="text-danger">
                        {{ _('Warning: the deletion of a player is permanent!') }}
                    </h4>
                {% endif %}

                {% if action == 'create' %}
                    <h4>
                        {{ _('Search') }}
                    </h4>
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <span class="dropdown">
                                {{ admin_macros.text_input(
                                    name='search_fide',
                                    label=_('FIDE database:'),
                                    help_text=_('Search the FIDE database for names, FIDE ID, federation...')
                                        if fide_search_available else
                                        _('The FIDE database is not installed. Use the database button on the right of the navigation bar to install databases.'),
                                    placeholder=_('E.g.: john doe'),
                                    disabled=not fide_search_available,
                                    hx_get=url_for('search-fide', event_uniq_id=admin_event.uniq_id) if fide_search_available else '',
                                    hx_trigger='keyup changed delay:0.2s',
                                    hx_target='#fide-search-results',
                                    with_indicator=true,
                                    dropdown_id='fide-search-results' if fide_search_available else ''
                                ) }}
                            </span>
                        </div>
                        {% for search_template in plugin_search_templates %}
                            <div class="col-12 col-md-6 mb-">
                                {% include search_template %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <h4>
                    {{ _('Identity') }}
                </h4>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                        {{ admin_macros.text_input(
                            name='last_name',
                            label=_('Name:'),
                            placeholder=_('E.g.: DOE'),
                            help_text=_('The player\'s last name.') if action != 'delete' else '',
                            disabled=action == 'delete',
                            error=action == 'delete',
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                        {{ admin_macros.text_input(
                            name='first_name',
                            label=_('First name:'),
                            placeholder=_('E.g.: John'),
                            help_text=_('The player\'s first name.') if action != 'delete' else '',
                            disabled=action == 'delete',
                            error=action == 'delete',
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-2 mb-3">
                        {{ admin_macros.date_input(
                            name='date_of_birth',
                            label=_('Date of birth:'),
                            help_text=_('The player\'s birth date.') if action != 'delete' else '',
                            disabled=action == 'delete',
                            error=action == 'delete',
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-2 mb-3">
                        {{ admin_macros.select_input(
                            name='gender',
                            label=_('Gender:'),
                            help_text=_('The player\'s gender.') if action != 'delete' else '',
                            select_options=gender_options,
                            disabled=action == 'delete',
                            error=action == 'delete',
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        {{ admin_macros.text_input(
                            name='club',
                            label=_('Club:'),
                            placeholder=_('E.g.: My favourite club!'),
                            help_text=_('The player\'s club.') if action != 'delete' else '',
                            disabled=action == 'delete',
                            error=action == 'delete',
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>

                <h4 class="mt-3">
                    {{ _('Tournament') }}
                </h4>
                <div class="row">
                    <div class="col-12 col-sm-8 mb-3">
                        <span
                            {% if admin_player.has_real_pairings %}
                                {{ macros.tooltip_attributes(
                                    'info',
                                    _(
                                        'The player has already been paired, '
                                        'removing them from the tournament is impossible.'
                                    ), 'top')
                                }}
                            {% endif %}
                        >
                            {{ admin_macros.select_input(
                                name='tournament_id',
                                label=_('Tournament:'),
                                help_text=_('The player\'s tournament.') if action != 'delete' else '',
                                select_options=tournament_options,
                                disabled=action == 'delete' or admin_player.has_real_pairings,
                                error=action == 'delete',
                                data=data, errors=errors
                            ) }}
                            {% if admin_player.has_real_pairings %}
                                <input type="hidden" name="tournament_id" value="{{ data['tournament_id'] }}" />
                            {% endif %}
                        </span>
                    </div>

                    <div class="col-12 col-sm-4 mb-3">
                        {{ admin_macros.number_input(
                            name='fixed',
                            label=_('Fixed board:'),
                            help_text=_('The board number the player will always be assigned to (use it for disabled people).') if action != 'delete' else '',
                            disabled=action == 'delete',
                            error=action == 'delete',
                            min=1,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>

                <h4>
                    {{ _('Ratings') }}
                </h4>
                <div class="row">
                    {% for tournament_rating, tournament_rating_strings in tournament_ratings_strings.items() %}
                        <div class="col-12 col-sm-4 mb-3">
                            {# can not use *_input() here because of a specific pattern for rating type/value #}
                            {%
                                with
                                    name='rating_' ~ tournament_rating.value,
                                    id=name|replace('_', '-'),
                                    name2='rating_type_' ~ tournament_rating.value
                            %}
                                <label for="{{ id }}" class="form-check-label d-block pb-1">{{ tournament_rating_strings['label'] }}</label>
                                <input
                                    name="{{ name }}"
                                    type="number" id="{{ id }}"
                                    class="form-control d-inline {% if name in errors or action == 'delete' %}is-invalid{% endif %}"
                                    aria-describedby="{{ id }}-help {{ id }}-error"
                                    value="{{ data[name] }}"
                                    {% if action == 'delete' %}disabled{% endif %}
                                />
                                <select
                                    name="{{ name2 }}"
                                    class="mt-2 form-control d-inline {% if name in errors or action == 'delete' %}is-invalid{% endif %}"
                                    {% if action == 'delete' %}disabled{% endif %}
                                >
                                    {% for value, text in rating_type_options.items() %}
                                        <option value="{{ value }}" {% if value == data[name2] %}selected{%endif %} {% if not value %}class="fst-italic"{% endif %}>
                                            {{ text }}
                                        </option>
                                    {% endfor %}
                                </select>
                                {% if action != 'delete' %}
                                    <div id="{{ id }}-help" class="form-text">
                                        {{ tournament_rating_strings['help'] }}
                                    </div>
                                {% endif %}
                                {% if name in errors %}
                                    <div id="{{ id }}-error" class="form-text invalid-feedback">
                                        {{ errors[name] }}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    {% endfor %}
                </div>

                <h4>
                    {{ _('FIDE') }}
                </h4>
                <div class="row">
                    <div class="col-12 col-sm-4 mb-3">
                        {{ admin_macros.number_input(
                            name='fide_id',
                            label=_('FIDE ID:'),
                            help_text=_('The player\'s FIDE ID (do not change).') if action != 'delete' else '',
                            disabled=true,
                            error=action == 'delete',
                            min=1,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-sm-4 mb-3">
                        {{ admin_macros.select_input(
                            name='title',
                            label=_('FIDE Title:'),
                            help_text=_('The player\'s FIDE title.') if action != 'delete' else '',
                            select_options=title_options,
                            disabled=action == 'delete',
                            error=action == 'delete',
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-sm-4 mb-3">
                        {{ admin_macros.select_input(
                            name='federation',
                            label=_('Federation:'),
                            help_text=_('The player\'s federation.'),
                            select_options=federation_options,
                            disabled=action == 'delete',
                            error=action == 'delete',
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>

                {% for form_fields_template in plugin_form_fields_templates %}
                    {% include form_fields_template %}
                {% endfor %}

                <h4 class="mt-3">
                    {{ _('Contact and registration') }}
                </h4>
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        {{ admin_macros.text_input(
                            name='mail',
                            label=_('Email:'),
                            placeholder=_('E.g.: john.doe@chess.com'),
                            help_text=_('The player\'s email.') if action != 'delete' else '',
                            disabled=action == 'delete',
                            error=action == 'delete',
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        {{ admin_macros.text_input(
                            name='phone',
                            label=_('Phone number:'),
                            help_text=_('The player\'s phone number.') if action != 'delete' else '',
                            disabled=action == 'delete',
                            error=action == 'delete',
                            data=data, errors=errors
                        ) }}
                        {# TODO add an example depending on the federation placeholder=_('E.g.: %(phone_number)s', phone_number=admin_event.phone_number_example), #}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3 mb-3">
                        {{ admin_macros.number_input(
                            name='owed',
                            label=_('Owed:'),
                            help_text=_('The price the player pays to register.') if action != 'delete' else '',
                            disabled=action == 'delete',
                            error=action == 'delete',
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-3">
                        {{ admin_macros.number_input(
                            name='paid',
                            label=_('Paid:'),
                            help_text=_('The price the player already paid.') if action != 'delete' else '',
                            disabled=action == 'delete',
                            error=action == 'delete',
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        {{ admin_macros.text_input(
                            name='comment',
                            label=_('Comment:'),
                            help_text=_('Any comment on the player (comments are visible only by the arbiters).') if action != 'delete' else '',
                            disabled=action == 'delete',
                            error=action == 'delete',
                            data=data, errors=errors
                        ) }}
                    </div>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            <button
                type="submit"
                form="modal-form"
                class="text-nowrap white btn {% if action == 'delete' %}btn-danger{% else %}btn-primary{% endif %}"
            >
                <i class="bi-floppy-fill pe-1"></i>
                {% if action == 'create' %}
                    {{ _('Add') }}
                {% elif action == 'update' %}
                    {{ _('Save') }}
                {% elif action == 'delete' %}
                    {{ _('Delete') }}
                {% else %}
                    ?
                {% endif %}
            </button>
        </div>
    </div>
</div>
