{% for data_source in data_sources %}
    <li
        {% if data_source.is_available %}
            class="dropdown-item text-start cursor-pointer"
            hx-get="{{ url_for(
                'admin-event-players-diff-modal',
                event_uniq_id=admin_event.uniq_id,
                data_source_id=data_source.id
            ) }}"
            {% if tournament %}
                hx-vals='{"tournament_id": "{{ tournament.id }}"}'
            {% endif %}
            hx-target="body"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        {% else %}
            class="dropdown-item text-start text-secondary"
            {{ macros.tooltip_attributes(
                'warning',
                _(
                    'This data source in unavailable '
                    '(for more details: Menu > Data sources).'
                ),
                'right'
            ) }}
        {% endif %}
    >
        {{ data_source.name }}
    </li>
{% endfor %}
