{% for player_updater_id, player_updater_name in player_updater_options.items() %}
    <li
        class="dropdown-item text-start cursor-pointer"
        hx-get="{{ url_for('admin-event-players-diff-modal', event_uniq_id=admin_event.uniq_id, player_updater_id=player_updater_id) }}"
        {% if tournament %}
            hx-vals='{"tournament_id": "{{ tournament.id }}"}'
        {% endif %}
        hx-target="body"
        hx-indicator="#please-wait"
        preload
        data-bs-toggle="modal"
        data-bs-target="#modal-wrapper"
    >
        {{ player_updater_name }}
    </li>
{% endfor %}
