{% import '/common/macros.j2' as macros with context %}

{% set player_updated_class='' %}
{% set player_unchanged_class='text-secondary' %}
{% set field_updated_class='text-warning fw-bold' %}
{% set field_unchanged_class='' %}
<div id="player-diff-modal" class="modal-dialog modal-dialog-scrollable admin-players-update-modal" style="max-width: 90%;">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {% if admin_tournament and admin_event.tournaments_by_id|length > 1 %}
                    {{ _('Players update for tournament [%(tournament)s]', tournament=admin_tournament.name) }}
                {% else %}
                    {{ _('Players update') }}
                {% endif %}
            </h2>
        </div>
        <div class="modal-body">
            <h4>
                {{ _('Data source: %(data_source)s', data_source=data_source.name) }}
            </h4>
            {% with message, is_warning = data_source.info_or_warning_message %}
                {% if message %}
                    <h6 class="{% if is_warning %}text-danger{% endif %}">
                        {{ message }}
                    </h6>
                {% endif %}
            {% endwith %}
            <form
                id="modal-form"
                hx-trigger="submit, enterKeypressFromModal"
                hx-patch="{{ url_for(
                    'admin-event-players-update',
                    event_uniq_id=admin_event.uniq_id,
                    data_source_id=data_source.id,
                    tab=tab,
                ) }}"
                {% if admin_tournament %}
                    hx-vals='{"tournament_id": "{{ admin_tournament.id }}"}'
                {% endif %}
                hx-target="body"
                hx-indicator="#please-wait"
            >
                <div class="row gy-2 gx-3">
                    <div class="col-6">
                        <p>
                            {% if update_enabled %}
                                {{ _('Select the players and the data to update:') }}
                            {% else %}
                                {{ _('No updates found.') }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-6 text-end">
                        <div class="form-check form-switch d-inline-block pe-3">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                onclick="$('tr.player-unchanged').toggle(this.checked)"
                                {% if not update_enabled %}checked{% endif %}
                            />
                            {{ _('Show unmodified players') }}
                        </div>
                    </div>
                </div>
                {% set show_tournament=not admin_tournament and admin_event.tournaments_by_id|length > 1 %}
                <table
                    id="player-matches-table"
                    class="table prominent table-striped table-sm table-hover w-100 bg-light mx-auto justify-content-center"
                >
                    <thead class="modal-table-sticky-header">
                        <tr>
                            {% if update_enabled %}
                                <th scope="col" class="text-nowrap text-center">
                                    <input
                                        class="form-check-input blue-checkbox"
                                        type="checkbox"
                                        onclick="
                                            $('input.player-id-checkbox').prop('checked', this.checked);
                                            $('#update-players-button').prop('disabled', $('input.player-id-checkbox:checked').length == 0);
                                        "
                                        checked
                                    />
                                </th>
                            {% endif %}
                            {% for field in fields %}
                                <th scope="col" class="text-nowrap text-start">
                                    {% if update_enabled and field.id in updated_field_ids %}
                                        <input
                                            type="checkbox"
                                            class="form-check-input blue-checkbox field-id-checkbox"
                                            name="field_ids"
                                            value="{{ field.id }}"
                                            checked
                                        />
                                    {% endif %}
                                    {{ field.name }}
                                </th>
                            {% endfor %}
                            {% if show_tournament %}
                                <th scope="col" class="text-nowrap text-start">
                                    {{ _('Tournament') }}
                                </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody id="player-matches-table-body">
                        {% for comparator in player_comparators %}
                            {% set player=comparator.player %}
                            {% set diff_field_ids=comparator.diff_field_ids %}
                            {% set player_updated=diff_field_ids|length > 0 %}
                            {% if player_updated %}
                                {% set match_player=comparator.match_player %}
                                {% set player_class=player_updated_class %}
                            {% else %}
                                {% set match_player=player %}
                                {% set player_class=player_unchanged_class %}
                            {% endif %}
                            <tr
                                class="{% if player_updated %}player-updated{% else %}player-unchanged{% endif %}"
                                style="{% if update_enabled and not player_updated %}display: none{% endif %}"
                            >
                                {% if update_enabled %}
                                    <td scope="col" class="text-nowrap text-center {{ player_class }}">
                                        {% if player_updated %}
                                            <input
                                                type="checkbox"
                                                name="player_ids"
                                                value="{{ player.id }}"
                                                checked
                                                onclick="
                                                    $('#update-players-button').prop('disabled', $('input.player-id-checkbox:checked').length == 0);
                                                "
                                                class="form-check-input blue-checkbox player-id-checkbox"
                                            />
                                        {% endif %}
                                    </td>
                                {% endif %}
                                {% for field in fields %}
                                    {% set field_updated=field.id in diff_field_ids %}
                                    {% set field_class=field_updated_class if field_updated else field_unchanged_class %}
                                    <td
                                        scope="col"
                                        class="text-nowrap {{ field.cell_classes }} {{ player_class }} {{ field_class }}"
                                        {% if field_updated %}
                                            {{ macros.tooltip_attributes('info', field.updated_tooltip_message(player, match_player), 'top') }}
                                        {% endif %}
                                    >
                                        {% if field.cell_template %}
                                            {% include field.cell_template %}
                                        {% else %}
                                            {{ field.get_cell_content(player, match_player) }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                {% if show_tournament %}
                                    <td class="text-nowrap text-start {{ player_class }}">
                                        {% set _t = player.optional_single_tournament %}
                                        {{ _t.name if _t else '' }}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            <button
                id="update-players-button"
                type="submit"
                form="modal-form"
                class="text-nowrap white btn btn-primary"
                {% if not update_enabled %}disabled{% endif %}
            >
                <i class="bi-floppy-fill pe-1"></i>
                {{ _('Save') }}
            </button>
        </div>
    </div>
</div>
