{% import '/common/macros.j2' as macros with context %}

<div class="modal-dialog modal-dialog-scrollable admin-players-update-modal" style="max-width: 90%;">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {{ _('Import players to tournament [%(tournament)s]', tournament=admin_tournament.name) }}
            </h2>
        </div>
        <div class="modal-body">
            {% set selected_rows = row_count - import_errors_by_index|length %}
            {% if overwrite_players %}
                <h4 class="text-danger">
                    {{ _(
                        'Warning: the %(player_count)d players in the tournament will be deleted.',
                        player_count=admin_tournament.tournament_players|length,
                    ) }}
                </h4>
            {% endif %}
            <div class="d-flex">
                {% if unknown_column_ids %}
                    <h5 class="text-warning">
                        {{ ngettext(
                            '%(num)d unknown column (ignored)',
                            '%(num)d unknown columns (ignored)',
                            unknown_column_ids|length
                        ) }}
                        <i
                            class="bi-info-circle-fill ps-1 text-body"
                            style="font-size: 90%"
                            {{ macros.tooltip_attributes('', build_list_tooltip(unknown_column_ids), 'right') }}
                        ></i>
                    </h5>
                {% endif %}
                <div class="flex-grow-1"></div>
                <div class="form-check form-switch d-inline-block pe-3">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        onclick="$('.error-row').toggle(this.checked)"
                        checked
                    />
                    <label class="form-check-label"> {{ _('Show invalid rows') }}</label>
                </div>
            </div>

            <form
                id="modal-form"
                hx-post="{{ url_for(
                    'import-players',
                    event_uniq_id=admin_event.uniq_id,
                    tournament_id=admin_tournament.id,
                ) }}"
                hx-target="body"
                hx-indicator="#please-wait"
            >
                <input name="file_path" value="{{ file_path }}" type="hidden"/>
                <input name="overwrite_players" value="{{ 'on' if overwrite_players else 'off' }}" type="hidden"/>
                <table class="table prominent table-striped table-sm table-hover w-100 bg-light mx-auto justify-content-center">
                    <thead class="modal-table-sticky-header">
                        <tr>
                            <th class="text-nowrap text-center">
                                <input
                                    type="checkbox"
                                    onclick="
                                        $('.row-index-checkbox').prop('checked', this.checked);
                                        $('.row-index-checkbox').first().trigger('change');"
                                    checked
                                />
                                <span id="checked-player-count">{{ selected_rows }}</span>/{{ row_count }}
                            </th>
                            {% for column in used_columns %}
                                <th class="text-nowrap text-start">
                                    {{ column.id }}
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for index in range(row_count) %}
                            {% set has_error = index in import_errors_by_index %}
                            <tr class="{% if has_error %}error-row{% endif %}">
                                <td>
                                    {% if not has_error %}
                                        <input
                                            class="row-index-checkbox ps-1"
                                            type="checkbox"
                                            name="row_indexes"
                                            value="{{ index }}"
                                            checked
                                        />
                                    {% endif %}
                                </td>
                                {% for column in used_columns %}
                                    {% set error_message = import_errors_by_index[index].get(column.id, '') if has_error else '' %}
                                    <td
                                        class="text-nowrap text-start mw-15em
                                            {% if has_error %}text-secondary{% endif %}
                                            {% if error_message %}error-cell{% endif %}"
                                        {% if error_message %}
                                            {{ macros.tooltip_attributes('warning', error_message) }}
                                        {% endif %}
                                    >
                                        {{ content_by_column_id[column.id][index] }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            <script>
                $('.row-index-checkbox').change(function () {
                    var playerCount = $('.row-index-checkbox:checked').length;
                    $('#import-players-button').prop('disabled', playerCount == 0);
                    $('#checked-player-count').html(playerCount);
                });
            </script>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            <button
                id="import-players-button"
                type="submit"
                form="modal-form"
                class="text-nowrap white btn btn-primary"
                {% if not selected_rows %}disabled{% endif %}
            >
                <i class="bi-download pe-1"></i>
                {{ _('Import') }}
            </button>
        </div>
    </div>
</div>
