{% with url=url_for('admin-event-players-tab', event_uniq_id=admin_event.uniq_id) %}
    {{ macros.refresh_listener(
        hx_get=url,
    ) }}

    <div
        hx-get="{{ url_for('admin-players-needs-refresh-message', event_uniq_id=admin_event.uniq_id, reason="result") }}"
        hx-trigger="sse:new-user-results/{{ admin_event.uniq_id }}"
        hx-target="#refresh-message"
        hx-swap="innerHTML"
    >
    </div>
        <div
        hx-get="{{ url_for('admin-players-needs-refresh-message', event_uniq_id=admin_event.uniq_id, reason="checkin") }}"
        hx-trigger="sse:new-checkins/{{ admin_event.uniq_id }}"
        hx-target="#refresh-message"
        hx-swap="innerHTML"
    >
    </div>

    <div
        class="d-flex mb-2 align-items-center flex-wrap gap-1 z-3"
        style="max-width: calc(var(--vw, 100vw) - 2rem); position: sticky; left: 1rem;"
    >
        {% call() macros.section_title() %}
            {{ _('Players') }}{{ macros.doc_icon('players', '') }}
        {% endcall %}
        <div class="flex-grow-1"></div>
        <div class="d-flex gap-2 ms-auto flex-wrap justify-content-end">
            {% with compact=false, tournament=none %}
                {% include 'players_diff.html' %}
            {% endwith %}
            {% if admin_event.players_sorted_by_name %}
                {% include 'download_players.html' %}
            {% endif %}
            {% if admin_event.not_finished_tournaments_with_file_sorted_by_uniq_id %}
                {% include 'check_in_tournaments.html' %}
            {% endif %}
            {% include 'filter_columns.html' %}
            <span
                {% if admin_event.not_finished_tournaments_with_file_sorted_by_uniq_id %}
                    {{ macros.tooltip_attributes('info', _('Add a player to the event.'), 'top') }}
                {% elif admin_event.tournaments_with_file_sorted_by_uniq_id %}
                    {{ macros.tooltip_attributes('warning', _('Tournaments are finished, you can not add players any longer.'), 'top') }}
                {% elif admin_event.tournaments_by_id %}
                    {{ macros.tooltip_attributes('warning', _('No Papi file for the tournaments of the event, players can not be added.'), 'top') }}
                {% else %}
                    {{ macros.tooltip_attributes('warning', _('Add a tournament before adding players.'), 'top') }}
                {% endif %}
            >
                <button
                    class="btn btn-primary text-nowrap"
                    hx-get="{{ url_for('admin-player-create-modal', event_uniq_id=admin_event.uniq_id) }}"
                    hx-target="body"
                    hx-indicator="#please-wait"
                    preload
                    data-bs-toggle="modal"
                    data-bs-target="#modal-wrapper"
                    {% if not admin_event.not_finished_tournaments_with_file_sorted_by_uniq_id %}
                        disabled
                    {% endif %}
                >
                    <i class="bi-plus-square pe-1"></i>
                    {{ _('Add player') }}
                </button>
            </span>
        </div>
    </div>

    <section class="pt-1 pb-1">
        <table
            id="players-table"
            class="table prominent table-striped table-sm table-hover w-100 bg-light mx-auto justify-content-center"
        >
            {% include '/admin/players/table_head.html' %}
            {% include '/admin/players/table_players_page.html' %}
            <tbody>
                <tr id="players-table-empty-row">
                    {% if not admin_players %}
                        <td colspan="100%">
                            {{ _('No players.') }}
                        </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </section>
{% endwith %}
