{% with url=url_for('admin-event-tab', event_uniq_id=admin_event.uniq_id, admin_event_tab='players') %}
    <div
        class="d-flex mb-2 align-items-center flex-wrap gap-1 z-3"
        style="max-width: calc(var(--vw, 100vw) - 4rem); position: sticky; left: 1.5rem;"
    >
        {% call() macros.section_title() %}
            {{ macros.event_visibility_icon(admin_event, 'pe-1') }}
            {{ admin_event.name }} - {{ _('Players') }}
        {% endcall %}
        
        <div class="flex-grow-1"></div>
        <div class="d-flex gap-1 ms-auto">
            {% if admin_event.players_sorted_by_name %}
                {% include 'download_players.html' %}
            {% endif %}
            {% if admin_event.not_finished_tournaments_with_file_sorted_by_uniq_id %}
                {% include 'check_in_tournaments.html' %}
            {% endif %}
            {% include 'filter_columns.html' %}
            <span {{ macros.tooltip_attributes('info', _('Refresh this page.'), 'top') }}>
                <button
                    class="btn btn-outline-primary text-nowrap ms-1"
                    hx-get="{{ url }}"
                    preload
                    hx-target="body"
                    hx-indicator="#please-wait"
                >
                    <i class="bi-arrow-clockwise"></i>
                </button>
            </span>
            <span
                {% if admin_event.not_finished_tournaments_with_file_sorted_by_uniq_id %}
                    {{ macros.tooltip_attributes('info', _('Add a player to the event.'), 'top') }}
                {% elif admin_event.tournaments_with_file_sorted_by_uniq_id %}
                    {{ macros.tooltip_attributes('warning', _('Tournaments are finished, you can not add players any longer.'), 'top') }}
                {% elif admin_event.tournaments_by_id %}
                    {{ macros.tooltip_attributes('warning', _('No Papi file for the tournaments of the event, players can not be added.'), 'top') }}
                {% else %}
                    {{ macros.tooltip_attributes('warning', _('Add a tournament before adding players.'), 'top') }}
                {% endif %}
            >
                <button
                    class="btn btn-primary text-nowrap ms-1"
                    hx-get="{{ url_for('admin-player-create-modal', event_uniq_id=admin_event.uniq_id) }}"
                    hx-target="#modal-wrapper"
                    hx-indicator="#please-wait"
                    preload
                    data-bs-toggle="modal"
                    data-bs-target="#modal-wrapper"
                    {% if not admin_event.not_finished_tournaments_with_file_sorted_by_uniq_id %}
                        disabled
                    {% endif %}
                >
                    <i class="bi-plus-square pe-1"></i>
                    {{ _('Create a player') }}
                </button>
            </span>
        </div>
    </div>

    <section class="pt-1 pb-1">
        <table
            id="players-table"
            class="table prominent table-striped table-sm table-hover w-100 bg-light mx-auto justify-content-center"
        >
            <thead
                id="players-table-header"
                class="position-sticky z-2"
                style="top: var(--header-height);"
            >
                <tr>
                    <th scope="col" colspan="2" class="text-nowrap text-start w-1">
                        <div class="d-flex align-items-center">
                            <i
                                class="bi-arrow-clockwise btn text-dark py-0 ps-0 pe-1 m-0"
                                hx-get="{{ url }}"
                                hx-target="body"
                                hx-indicator="#please-wait"
                                {{ macros.tooltip_attributes('info', _('Refresh this page.'), 'top') }}
                            ></i>
                            <span id="players-table-counters" class="px-0">
                                {{ admin_players|length }}/{{admin_event.players_number}}
                            </span>
                            <i
                                class="bi-x-circle btn text-dark py-0 ps-1 pe-0 m-0"
                                hx-get="{{ url }}"
                                hx-vals='{"admin_players_clear_filters": "1"}'
                                hx-target="body"
                                hx-indicator="#please-wait"
                                {{ macros.tooltip_attributes('info', _('Clear all the filters.'), 'top') }}
                            ></i>
                        </div>
                    </th>
                    <th scope="col" class="text-nowrap">
                        {# Players' title #}
                    </th>
                    <th
                        scope="col"
                        class="text-nowrap position-sticky start-0 z-2 px-3"
                        style="border-right: 2px solid var(--bs-body-bg);"
                    >
                        <div class="d-flex align-items-center gap-1">
                            {{ _('Name *** NAME COLUMN HEADER FOR PLAYERS') }}
                            {{ admin_macros.admin_players_sort_link(url, 'bi-sort-alpha-down', 'alpha', admin_players_sort) }}
                            <input
                                type="text"
                                name="admin_players_filter_name"
                                class="admin-players-filter-name py-0 px-1"
                                hx-get="{{ url }}"
                                hx-swap="multi:#players-table-body,#players-table-counters"
                                hx-trigger="keyup changed delay:0.2s"
                                hx-indicator="#please-wait"
                                value="{{ admin_players_filter_name }}"
                            />
                            <i
                                class="bi-x-circle btn text-dark p-0 m-0"
                                hx-get="{{ url }}"
                                hx-vals='{"admin_players_filter_name": ""}'
                                hx-target="body"
                                hx-indicator="#please-wait"
                            ></i>
                        </div>
                    </th>
                    {% if 'check_in' in admin_players_filter_columns %}
                        <th scope="col" class="text-nowrap text-center">
                            <div class="d-flex align-items-center">
                                <i class="bi-circle"></i>
                                <i class="bi-check-circle pe-1"></i>
                                {% include 'filter_check_ins.html' %}
                            </div>
                        </th>
                    {% endif %}
                    <th scope="col" class="text-nowrap text-center">
                        <div class="d-flex align-items-center gap-1">
                            {{ _('Elo *** ELO COLUMN HEADER FOR PLAYERS') }}
                            {{ admin_macros.admin_players_sort_link(url, 'bi-sort-numeric-down-alt', 'rating_desc', admin_players_sort) }}
                            {{ admin_macros.admin_players_sort_link(url, 'bi-sort-numeric-down', 'rating_asc', admin_players_sort) }}
                        </div>
                    </th>
                    {% if 'federation' in admin_players_filter_columns or 'league' in admin_players_filter_columns or 'club' in admin_players_filter_columns %}
                        <th scope="col" class="text-nowrap text-start" colspan="{{
                            (1 if 'federation' in admin_players_filter_columns else 0) + (1 if 'league' in admin_players_filter_columns else 0) + (1 if 'club' in admin_players_filter_columns else 0)
                        }}">
                            <div class="d-flex align-items-center gap-1">
                                {{ _('Origin *** ORIGIN COLUMN HEADER FOR PLAYERS') }}
                                {% if admin_players_clubs|length > 1 %}
                                    {{ admin_macros.admin_players_sort_link(url, 'bi-sort-alpha-down', 'origin', admin_players_sort) }}
                                {% endif %}
                                {% if admin_players_federations|length > 1 %}
                                    {% include 'filter_federations.html' %}
                                {% endif %}
                                {% if admin_players_leagues|length > 1 %}
                                    {% include 'filter_leagues.html' %}
                                {% endif %}
                                {% if admin_players_clubs|length > 1 %}
                                    {% include 'filter_clubs.html' %}
                                {% endif %}
                                <input
                                    type="text"
                                    name="admin_players_filter_origin"
                                    class="admin-players-filter-origin py-0 px-1"
                                    hx-get="{{ url }}"
                                    hx-swap="multi:#players-table-body,#players-table-counters"
                                    hx-trigger="keyup changed delay:0.2s"
                                    preload
                                    hx-indicator="#please-wait"
                                    value="{{ admin_players_filter_origin }}"
                                />
                                <i
                                    class="bi-x-circle btn text-dark p-0 m-0"
                                    hx-get="{{ url }}"
                                    hx-vals='{"admin_players_filter_origin": ""}'
                                    hx-target="body"
                                    hx-indicator="#please-wait"
                                ></i>
                            </div>
                        </th>
                    {% endif %}
                    {% if 'yob' in admin_players_filter_columns %}
                        <th scope="col" class="text-nowrap text-center">
                            <div class="d-flex align-items-center">
                                {{ _('YOB *** YEAR-OF-BIRTH COLUMN HEADER FOR PLAYERS') }}
                                {% if admin_players_yobs|length > 1 %}
                                    {{ admin_macros.admin_players_sort_link(url, 'bi-sort-numeric-down-alt', 'yob_desc', admin_players_sort) }}
                                    {{ admin_macros.admin_players_sort_link(url, 'bi-sort-numeric-down', 'yob_asc', admin_players_sort) }}
                                {% endif %}
                            </div>
                        </th>
                    {% endif %}
                    {% if 'category' in admin_players_filter_columns %}
                        <th scope="col" class="text-nowrap text-center">
                            <div class="d-flex align-items-center">
                                {{ _('Cat *** CATEGORY COLUMN HEADER FOR PLAYERS') }}
                                {% if admin_players_categories|length > 1 %}
                                    {{ admin_macros.admin_players_sort_link(url, 'bi-sort-numeric-down-alt', 'category_desc', admin_players_sort) }}
                                    {{ admin_macros.admin_players_sort_link(url, 'bi-sort-numeric-down', 'category_asc', admin_players_sort) }}
                                {% endif %}
                                {% include 'filter_categories.html' %}
                            </div>
                        </th>
                    {% endif %}
                    {% if 'mail' in admin_players_filter_columns %}
                        <th scope="col" class="text-nowrap text-start w-1">
                            <div class="d-flex align-items-center">
                                <i class="bi-envelope-check" {{ macros.tooltip_attributes('info', _('The mail addresses.'), 'top') }} ></i>
                            </div>
                        </th>
                    {% endif %}
                    {% if 'phone' in admin_players_filter_columns %}
                        <th scope="col" class="text-nowrap text-start w-1">
                            <div class="d-flex align-items-center">
                                <i class="bi-telephone" {{ macros.tooltip_attributes('info', _('The phone numbers.'), 'top') }} ></i>
                            </div>
                        </th>
                    {% endif %}
                    {% if 'gender' in admin_players_filter_columns %}
                        <th scope="col" class="text-nowrap text-center">
                            <div class="d-flex align-items-center">
                                <i class="bi-person-standing-dress"></i>
                                <i class="bi-person-standing pe-1"></i>
                                {%- include 'filter_genders.html' %}
                            </div>
                        </th>
                    {% endif %}
                    {% if 'fixed' in admin_players_filter_columns %}
                        <th scope="col" class="text-nowrap text-center">
                            <div class="d-flex align-items-center">
                                {# https://www.svgrepo.com/svg/50760/disabled?edit=true #}
                                <img
                                    src="{{ url_for('static', file_path='/images/disabled-black.svg') }}"
                                    style="height: 1rem"
                                    class="p-0"
                                />
                            </div>
                        </th>
                    {% endif %}
                    {% if 'fide' in admin_players_filter_columns %}
                        <th scope="col" class="text-nowrap text-center w-1">
                            <div class="d-flex align-items-center">
                                {{ _('FIDE *** FIDE COLUMN HEADER FOR PLAYERS') }}
                            </div>
                        </th>
                    {% endif %}
                    {% if 'ffe' in admin_players_filter_columns %}
                        <th scope="col" class="text-nowrap text-center w-1">
                            <div class="d-flex align-items-center">
                                {{ _('FFE *** FFE COLUMN HEADER FOR PLAYERS') }}
                                {% include 'filter_ffe_licences.html' %}
                            </div>
                        </th>
                    {% endif %}
                    {% if 'owed_paid' in admin_players_filter_columns %}
                        <th scope="col" class="text-nowrap text-end"><div class="d-flex align-items-center">{{ _('Owed *** OWED COLUMN HEADER FOR PLAYERS') }}</div></th>
                        <th scope="col" class="text-nowrap text-end"><div class="d-flex align-items-center">{{ _('Paid *** PAID COLUMN HEADER FOR PLAYERS') }}</div></th>
                    {% endif %}
                    {% if 'tournament' in admin_players_filter_columns and admin_event.tournaments_by_id|length > 1 %}
                        <th scope="col" class="text-nowrap text-center">
                            <div class="d-flex align-items-center">
                                {% include 'filter_tournaments.html' %}
                            </div>
                        </th>
                    {% endif %}
                    {% if 'comment' in admin_players_filter_columns %}
                        <th scope="col" class="text-nowrap">
                            <div class="d-flex align-items-center">
                                <i class="bi-chat"></i>
                            </div>
                        </th>
                    {% endif %}
                    {% if 'history' in admin_players_filter_columns %}
                        <th scope="col" class="text-nowrap">
                            <div class="d-flex align-items-center">
                                <i class="bi-0-square"></i>
                                <i class="bi-1-square-fill"></i>
                            </div>
                        </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="players-table-body">
                {% if admin_players %}
                    {% for player in admin_players.values() %}
                        <tr id="player-{{ player.id }}">
                            <td class="text-nowrap text-start w-1">
                                <span class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle mx-0 px-1 py-0" type="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" >
                                        <i class="bi-three-dots"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-start players-player-actions p-0" >
                                        <li
                                            class="dropdown-item btn text-start"
                                            hx-get="{{ url_for('admin-player-modal', action='update', event_uniq_id=admin_event.uniq_id, player_id=player.id) }}"
                                            hx-target="#modal-wrapper"
                                            hx-indicator="#please-wait"
                                            preload
                                            data-bs-toggle="modal"
                                            data-bs-target="#modal-wrapper"
                                            hx-trigger="click, keyup[key=='Enter']"
                                            tabindex="0"
                                            {{ macros.tooltip_attributes('info', _('Edit the player\'s properties.'), 'left') }}
                                        >
                                            <i class="bi-pencil-fill pe-1"></i>{{ _('Edit') }}
                                        </li>
                                        <li
                                            class="dropdown-item btn text-start"
                                            hx-get="{{ url_for('admin-history-modal', action='history', event_uniq_id=admin_event.uniq_id, player_id=player.id) }}"
                                            hx-target="#modal-wrapper"
                                            hx-indicator="#please-wait"
                                            preload
                                            data-bs-toggle="modal"
                                            data-bs-target="#modal-wrapper"
                                            hx-trigger="click, keyup[key=='Enter']"
                                            tabindex="0"
                                            {{ macros.tooltip_attributes('info', _('Edit the player\'s history.'), 'left') }}
                                        >
                                            <i class="bi-0-square"></i><i class="bi-1-square-fill"></i>
                                            {{ _('History') }}
                                        </li>
                                        {% if not player.has_real_pairings %}
                                            <li
                                                class="dropdown-item btn text-start text-danger {% if player.has_real_pairings %}disabled{% endif %}"
                                                hx-get="{{ url_for('admin-player-modal', action='delete', event_uniq_id=admin_event.uniq_id, player_id=player.id) }}"
                                                hx-on::before-request="$('#player-{{ player.id }} td').addClass('text-secondary');"
                                                hx-target="#modal-wrapper"
                                                hx-indicator="#please-wait"
                                                preload
                                                data-bs-toggle="modal"
                                                data-bs-target="#modal-wrapper"
                                                hx-trigger="click, keyup[key=='Enter']"

                                                tabindex="0"
                                                {{ macros.tooltip_attributes('info', _('Remove the player from the event.'), 'left') }}
                                            >
                                                <i class="bi-trash-fill pe-1"></i>{{ _('Delete') }}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </span>
                            </td>
                            <th scope="row" class="text-nowrap text-end w-1">
                                {{ loop.index }}
                            </th>
                            <td class="text-end">
                                {{ player.title.short_name }}
                            </td>
                            <td
                                class="text-nowrap position-sticky start-0 px-3"
                                style="border-right: 2px solid #454748;"
                            >
                                {{ player.last_name }} {{ player.first_name }}
                            </td>
                            {% if 'check_in' in admin_players_filter_columns %}
                                <td class="text-nowrap text-center">
                                    <i
                                        {% if player.tournament.finished %}
                                            class="bi-ban text-secondary"
                                            {{ macros.tooltip_attributes('warning', _('Tournament [%(tournament_uniq_id)s] is finished.', tournament_uniq_id=player.tournament.uniq_id), 'right') }}
                                        {% elif player.tournament.playing %}
                                            class="bi-ban text-secondary"
                                            {{ macros.tooltip_attributes('warning', _('Tournament [%(tournament_uniq_id)s] is playing.', tournament_uniq_id=player.tournament.uniq_id), 'right') }}
                                        {% elif not player.tournament.check_in_open %}
                                            class="bi-ban text-secondary"
                                            {{ macros.tooltip_attributes('warning', _('Check-in is closed for tournament [%(tournament_uniq_id)s].', tournament_uniq_id=player.tournament.uniq_id), 'right') }}
                                        {% elif not player.can_check_in_out %}
                                            class="bi-ban text-secondary"
                                            {{ macros.tooltip_attributes('warning', _('Player [%(last_name)s %(first_name)s] is forfeit for the next round in tournament [%(tournament_uniq_id)s].', last_name=player.last_name, first_name=player.first_name, tournament_uniq_id=player.tournament.uniq_id), 'right') }}
                                        {% else %}
                                            {% if player.check_in %}
                                                class="bi-check-circle-fill text-success cursor-pointer"
                                                {{ macros.tooltip_attributes('info', _('Click to check-out the player.'), 'right') }}
                                                hx-patch="{{ url_for('admin-player-check-out', event_uniq_id=admin_event.uniq_id, player_id=player.id) }}"
                                            {% else %}
                                                class="bi-circle-fill text-warning cursor-pointer"
                                                {{ macros.tooltip_attributes('info', _('Click to check-in the player.'), 'right') }}
                                                hx-patch="{{ url_for('admin-player-check-in', event_uniq_id=admin_event.uniq_id, player_id=player.id) }}"
                                            {% endif %}
                                            hx-on::before-request="$('#player-{{ player.id }} td').addClass('text-secondary');"
                                            hx-swap="multi:#players-table-header,#player-{{ player.id }}:outerHTML"
                                            hx-indicator="#please-wait"
                                        {% endif %}
                                    ></i>
                                </td>
                            {% endif %}
                            <td class="text-nowrap text-center">
                                {{ player.rating }}{{ player.rating_type }}
                            </td>
                            {% if 'federation' in admin_players_filter_columns %}
                                <td class="text-nowrap text-start w-1">
                                    <span class="">
                                        <img
                                            class="player-federation-flag pe-1"
                                            src="{{ url_for('static', file_path='/images/federations/' ~ player.federation ~ '.svg') }}"
                                            {{ macros.tooltip_attributes('info', player.federation, 'left') }}
                                        />
                                    </span>
                                </td>
                            {% endif %}
                            {% if 'league' in admin_players_filter_columns %}
                                <td class="text-nowrap text-start w-1">
                                    {{ player.league }}
                                </td>
                            {% endif %}
                            {% if 'club' in admin_players_filter_columns %}
                                <td class="text-nowrap text-start w-1" style="max-width: 15em; overflow: hidden; text-overflow: ellipsis;">
                                    {{ player.club }}
                                </td>
                            {% endif %}
                            {% if 'yob' in admin_players_filter_columns %}
                                <td class="text-nowrap text-center">
                                    {{ player.year_of_birth }}
                                </td>
                            {% endif %}
                            {% if 'category' in admin_players_filter_columns %}
                                <td class="text-nowrap text-center">
                                    {{ player.category.short_name }}
                                </td>
                            {% endif %}
                            {% if 'mail' in admin_players_filter_columns %}
                                <td class="text-nowrap">
                                    <i
                                        class="{% if player.mail %}bi-envelope-check text-body cursor-pointer{% else %}bi-envelope text-secondary{% endif %}"
                                        {% if player.mail %}
                                            {{ macros.tooltip_attributes('info', _('Mail: %(mail)s (click to copy to the clipboard).', mail=player.mail), 'right') }}
                                        {% else %}
                                            {{ macros.tooltip_attributes('warning', _('No mail defined.'), 'right') }}
                                        {% endif %}
                                        onclick="navigator.clipboard.writeText('{{ player.mail }}')"
                                    ></i>
                                </td>
                            {% endif %}
                            {% if 'phone' in admin_players_filter_columns %}
                                <td class="text-nowrap">
                                    <i
                                        class="bi-telephone {% if player.phone %}text-body cursor-pointer{% else %}text-secondary{% endif %}"
                                        {% if player.phone %}
                                            {{ macros.tooltip_attributes('info', _('Phone: %(phone)s (click to copy to the clipboard).', phone=player.phone), 'right') }}
                                        {% else %}
                                            {{ macros.tooltip_attributes('warning', _('No phone defined.'), 'right') }}
                                        {% endif %}
                                        onclick="navigator.clipboard.writeText('{{ player.phone }}')"
                                    ></i>
                                </td>
                            {% endif %}
                            {% if 'gender' in admin_players_filter_columns %}
                                <td class="text-nowrap text-center">
                                    {{ admin_macros.gender_icon(player.gender) }}
                                    {{ player.gender.short_name }}
                                </td>
                            {% endif %}
                            {% if 'fixed' in admin_players_filter_columns %}
                                <td class="text-nowrap text-center">
                                    {% if player.fixed %}{{ player.fixed }}{% endif %}
                                </td>
                            {% endif %}
                            {% if 'fide' in admin_players_filter_columns %}
                                <td class="text-nowrap text-center w-1">
                                    <img
                                        src="{{ url_for('static', file_path='/images/fide-light.svg') }}"
                                        style="height: 1.2em"
                                        class="p-0 {% if player.fide_id %}cursor-pointer{% else %}fide-id-none{% endif %}"
                                        {% if player.fide_id %}
                                            {{ macros.tooltip_attributes('info', _('FIDE ID: %(fide_id)s (click to copy to the clipboard).', fide_id=player.fide_id), 'left') }}
                                            onclick="navigator.clipboard.writeText('{{ player.fide_id }}')"
                                        {% else %}
                                            {{ macros.tooltip_attributes('warning', _('No FIDE ID.'), 'left') }}
                                        {% endif %}
                                    />
                                </td>
                            {% endif %}
                            {% if 'ffe' in admin_players_filter_columns %}
                                <td class="text-nowrap text-center w-1">
                                    <span
                                        {% if player.ffe_licence.value == 0 %}
                                            {{ macros.tooltip_attributes('error', player.ffe_licence.name, 'right') }}
                                        {% elif player.ffe_licence.value == 1 %}
                                            {{ macros.tooltip_attributes('warning', _('FFE licence: %(ffe_licence_number)s (expired).', ffe_licence_number=player.ffe_licence_number), 'right') }}
                                            class="cursor-pointer"
                                            onclick="navigator.clipboard.writeText('{{ player.ffe_licence_number }}')"
                                        {% elif player.ffe_licence.value in [2, 3] %}
                                            {{ macros.tooltip_attributes('info', _('FFE licence: %(ffe_licence_number)s (click to copy to the clipboard).', ffe_licence_number=player.ffe_licence_number), 'right') }}
                                            class="cursor-pointer"
                                            onclick="navigator.clipboard.writeText('{{ player.ffe_licence_number }}')"
                                        {% else %}
                                            {{ macros.tooltip_attributes('error', _('Unknown FFE Licence type [%(ffe_licence)s].', ffe_licence=player.ffe_licence), 'right') }}
                                        {% endif %}
                                    >
                                        {{ macros.ffe_licence(player.ffe_licence) }}
                                    </span>
                                </td>
                            {% endif %}
                            {% if 'owed_paid' in admin_players_filter_columns %}
                                <td class="text-nowrap text-end">
                                    {{ player.owed }}
                                </td>
                                <td class="text-nowrap text-end">
                                    {{ player.paid }}
                                </td>
                            {% endif %}
                            {% if 'tournament' in admin_players_filter_columns and admin_event.tournaments_by_id|length > 1 %}
                                <td class="text-nowrap text-start">
                                    {% if player.has_real_pairings or admin_event.not_finished_tournaments_with_file_sorted_by_uniq_id|length == 1 %}
                                        {{ admin_event.tournaments_by_id[player.tournament_id].uniq_id }}
                                    {% else %}
                                        <span class="dropdown">
                                            <button
                                                class="btn btn-secondary dropdown-toggle mx-0 px-2 py-0 w-100 d-inline-flex align-items-center justify-content-between"
                                                type="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false"
                                            >
                                                {{ admin_event.tournaments_by_id[player.tournament_id].uniq_id }}
                                            </button>
                                            <ul class="dropdown-menu players-set-player-tournament p-0" {{ macros.tooltip_attributes('info', _('Change the player\'s tournament.'), 'left') }} >
                                                {% for tournament in admin_event.tournaments_sorted_by_uniq_id %}
                                                    {% if tournament.file_exists %}
                                                        {% set enable=player.tournament_id != tournament.id %}
                                                        <li
                                                            class="dropdown-item btn {% if not enable %}disabled{% endif %} text-start"
                                                            {% if enable %}
                                                                hx-patch="{{ url_for('admin-player-move', event_uniq_id=admin_event.uniq_id, player_id=player.id, tournament_id=tournament.id) }}"
                                                                hx-on::before-request="$('#player-{{ player.id }} td').addClass('text-secondary');"
                                                                hx-swap="multi:#players-table:outerHTML,#messages:afterbegin"
                                                                hx-indicator="#please-wait"
                                                            {% else %}
                                                                disabled
                                                            {% endif %}
                                                        >
                                                            {{ tournament.uniq_id }}
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </span>
                                    {% endif %}
                                </td>
                            {% endif %}
                            {% if 'comment' in admin_players_filter_columns %}
                                <td class="text-nowrap">
                                    {{ player.comment }}
                                </td>
                            {% endif %}
                            {% if 'history' in admin_players_filter_columns %}
                                <td class="text-nowrap">
                                    {{ admin_macros.player_history(player) }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    {# return empty rows for when an update removes the player from the players' table #}
                    {% for player_id in admin_event.players_by_id %}
                        {% if player_id not in admin_players %}
                            <tr id="player-{{ player_id }}">
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        {% set columns =
                            4
                            + admin_players_filter_columns|length
                            + (1 if ('tournament' in admin_players_filter_columns or admin_event.tournaments_by_id|length > 1) else 0)
                            + (1 if ('owed_paid' in admin_players_filter_columns) else 0)
                        %}
                        <td colspan="{{ columns }}">
                            {{ _('No players.') }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </section>
{% endwith %}
