<tr
    id="player-{{ player.id }}"
    {% if swap_oob %}
        hx-swap-oob="outerHTML:#player-{{ old_player_id or player.id}}"
    {% endif %}
>
    <td class="text-nowrap text-start w-1 ps-2">
        {% set can_update = client.can_update_players %}
        {% set can_update_history=client.can_update_players_history(player.tournament.id) %}
        {% set can_delete=client.can_delete_players and not player.has_real_pairings %}
        {% if can_update or can_update_history or can_delete %}
            <span class="dropdown">
                <button class="btn btn-secondary dropdown-toggle mx-0 px-1 py-0" type="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" >
                    <i class="bi-three-dots"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-start players-player-actions p-0" >
                    {% if can_update %}
                        <li
                            class="dropdown-item btn text-start"
                            hx-get="{{ url_for('admin-player-modal', action='update', event_uniq_id=admin_event.uniq_id, player_id=player.id) }}"
                            hx-target="body"
                            hx-indicator="#please-wait"
                            preload
                            data-bs-toggle="modal"
                            data-bs-target="#modal-wrapper"
                            hx-trigger="click, keyup[key=='Enter']"
                            tabindex="0"
                            {{ macros.tooltip_attributes('info', _('Edit the player\'s properties.'), 'left') }}
                        >
                            <i class="bi-pencil-fill pe-1"></i>
                            {{ _('Edit') }}
                        </li>
                    {% endif %}
                    {% if can_update_history %}
                        <li
                            class="dropdown-item btn text-start"
                            hx-get="{{ url_for('admin-record-modal', event_uniq_id=admin_event.uniq_id, player_id=player.id) }}"
                            hx-target="body"
                            hx-indicator="#please-wait"
                            preload
                            data-bs-toggle="modal"
                            data-bs-target="#modal-wrapper"
                            hx-trigger="click, keyup[key=='Enter']"
                            tabindex="0"
                            {{ macros.tooltip_attributes('info', _('Edit the player\'s tournament record.'), 'left') }}
                        >
                            <i class="bi-0-square"></i><i class="bi-1-square-fill"></i>
                            {{ _('Record') }}
                        </li>
                    {% endif %}
                    {% if can_delete %}
                        <li
                            class="dropdown-item btn text-start text-danger {% if player.has_real_pairings %}disabled{% endif %}"
                            hx-get="{{ url_for('admin-player-modal', action='delete', event_uniq_id=admin_event.uniq_id, player_id=player.id) }}"
                            hx-on::before-request="$('#player-{{ player.id }} td').addClass('text-secondary');"
                            hx-target="body"
                            hx-indicator="#please-wait"
                            preload
                            data-bs-toggle="modal"
                            data-bs-target="#modal-wrapper"
                            hx-trigger="click, keyup[key=='Enter']"
                            tabindex="0"
                            {{ macros.tooltip_attributes('info', _('Remove the player from the event.'), 'left') }}
                        >
                            <i class="bi-trash-fill pe-1"></i>
                            {{ _('Delete') }}
                        </li>
                    {% endif %}
                </ul>
            </span>
        {% endif %}
    </td>
    <th scope="row" class="text-nowrap text-end w-1 index">
        {{ index }}
    </th>
    {{ admin_macros.extra_admin_column_cell("title", player, admin_players_extra_columns)}}
    <td class="text-end">
        {{ player.title.short_name }}
    </td>
    {{ admin_macros.extra_admin_column_cell("name", player, admin_players_extra_columns)}}
    <td
        class="text-nowrap position-sticky px-3"
        style="border-right: 2px solid #454748; left: var(--side-bar-width);"
    >
        {{ player.full_name }}
    </td>
    {{ admin_macros.extra_admin_column_cell("check-in", player, admin_players_extra_columns)}}
    {% if 'check_in' in admin_players_filter_columns %}
        <td class="text-nowrap text-center">
            {% set can_check_in=client.can_check_in_players(player.tournament.id) %}
            <i
                data-testid="check-in-cell"
                {% if player.tournament.finished %}
                    class="bi-ban text-secondary"
                    {{ macros.tooltip_attributes('warning', _('Tournament [%(tournament_uniq_id)s] is finished.', tournament_uniq_id=player.tournament.uniq_id), 'right') }}
                {% elif player.tournament.playing %}
                    class="bi-ban text-secondary"
                    {{ macros.tooltip_attributes('warning', _('Tournament [%(tournament_uniq_id)s] is playing.', tournament_uniq_id=player.tournament.uniq_id), 'right') }}
                {% elif not player.tournament.check_in_open %}
                    class="bi-ban text-secondary"
                    {{ macros.tooltip_attributes('warning', _('Check-in is closed for tournament [%(tournament_uniq_id)s].', tournament_uniq_id=player.tournament.uniq_id), 'right') }}
                {% elif not player.can_check_in_out %}
                    class="bi-ban text-secondary"
                    {{ macros.tooltip_attributes('warning', _('Player [%(player)s] is absent for the next round in tournament [%(tournament_uniq_id)s].', player=player.full_name, tournament_uniq_id=player.tournament.uniq_id), 'right') }}
                {% else %}
                    {% if can_check_in %}
                        {% if player.check_in %}
                            class="bi-check-circle-fill text-success cursor-pointer"
                            {{ macros.tooltip_attributes('info', _('Click to check-out the player.'), 'right') }}
                            hx-patch="{{ url_for('admin-player-check-out', event_uniq_id=admin_event.uniq_id, player_id=player.id) }}"
                        {% else %}
                            class="bi-circle-fill text-warning cursor-pointer"
                            {{ macros.tooltip_attributes('info', _('Click to check-in the player.'), 'right') }}
                            hx-patch="{{ url_for('admin-player-check-in', event_uniq_id=admin_event.uniq_id, player_id=player.id) }}"
                        {% endif %}
                        hx-on::before-request="$('#player-{{ player.id }} td').addClass('text-secondary');"
                        hx-swap="multi:#players-table-header,#player-{{ player.id }}:outerHTML,#players-table-empty-row:outerHTML"
                        hx-indicator="#please-wait"
                    {% else %}
                        {% if player.check_in %}
                            class="bi-check-circle-fill text-success"
                            {{ macros.tooltip_attributes('warning', _('You are not allowed to check-out the player.'), 'right') }}
                        {% else %}
                            class="bi-circle-fill text-warning"
                            {{ macros.tooltip_attributes('info', _('Click to check-in the player.'), 'right') }}
                        {% endif %}
                    {% endif %}
                {% endif %}
            ></i>
        </td>
    {% endif %}
    {{ admin_macros.extra_admin_column_cell("elo", player, admin_players_extra_columns)}}
    <td class="text-nowrap text-center">
        {{ player.rating_str }}
    </td>
    {{ admin_macros.extra_admin_column_cell("federation", player, admin_players_extra_columns)}}
    {% if 'federation' in admin_players_filter_columns %}
        <td class="text-nowrap text-center w-1">
            <span class="">
                <img
                    class="player-federation-flag pe-1"
                    src="{{ macros.federation_flag_url(player.federation) }}"
                    {{ macros.tooltip_attributes('info', player.federation, 'left') }}
                />
            </span>
        </td>
    {% endif %}
    {{ admin_macros.extra_admin_column_cell("club", player, admin_players_extra_columns)}}
    {% if 'club' in admin_players_filter_columns %}
        <td class="text-nowrap text-start w-1" style="max-width: 15em; overflow: hidden; text-overflow: ellipsis;">
            {{ player.club }}
        </td>
    {% endif %}
    {{ admin_macros.extra_admin_column_cell("yob", player, admin_players_extra_columns)}}
    {% if 'yob' in admin_players_filter_columns %}
        <td class="text-nowrap text-center">
            {{ player.year_of_birth if player.year_of_birth else '' }}
        </td>
    {% endif %}
    {{ admin_macros.extra_admin_column_cell("category", player, admin_players_extra_columns)}}
    {% if 'category' in admin_players_filter_columns %}
        <td class="text-nowrap text-center">
            {{ player.category.short_name }}
        </td>
    {% endif %}
    {{ admin_macros.extra_admin_column_cell("mail", player, admin_players_extra_columns)}}
    {% if 'mail' in admin_players_filter_columns %}
        <td class="text-nowrap">
            <i
                class="{% if player.mail %}bi-envelope-check text-body cursor-pointer{% else %}bi-envelope text-secondary{% endif %}"
                {% if player.mail %}
                    {{ macros.tooltip_attributes('info', _('Mail: %(mail)s (click to copy to the clipboard).', mail=player.mail), 'right') }}
                {% else %}
                    {{ macros.tooltip_attributes('warning', _('No mail defined.'), 'right') }}
                {% endif %}
                onclick="navigator.clipboard.writeText('{{ player.mail }}')"
            ></i>
        </td>
    {% endif %}
    {{ admin_macros.extra_admin_column_cell("phone", player, admin_players_extra_columns)}}
    {% if 'phone' in admin_players_filter_columns %}
        <td class="text-nowrap">
            <i
                class="bi-telephone {% if player.phone %}text-body cursor-pointer{% else %}text-secondary{% endif %}"
                {% if player.phone %}
                    {{ macros.tooltip_attributes('info', _('Phone: %(phone)s (click to copy to the clipboard).', phone=player.phone), 'right') }}
                {% else %}
                    {{ macros.tooltip_attributes('warning', _('No phone defined.'), 'right') }}
                {% endif %}
                onclick="navigator.clipboard.writeText('{{ player.phone }}')"
            ></i>
        </td>
    {% endif %}
    {{ admin_macros.extra_admin_column_cell("gender", player, admin_players_extra_columns)}}
    {% if 'gender' in admin_players_filter_columns %}
        <td class="text-nowrap text-center">
            {{ admin_macros.gender_icon(player.gender) }}
            {{ player.gender.short_name }}
        </td>
    {% endif %}
    {{ admin_macros.extra_admin_column_cell("fixed", player, admin_players_extra_columns)}}
    {% if 'fixed' in admin_players_filter_columns %}
        <td class="text-nowrap text-center">
            {% if player.fixed %}{{ player.fixed }}{% endif %}
        </td>
    {% endif %}
    {{ admin_macros.extra_admin_column_cell("fide", player, admin_players_extra_columns)}}
    {% if 'fide' in admin_players_filter_columns %}
        <td class="text-nowrap text-center w-1">
            <img
                src="{{ url_for('static', file_path='/images/fide-light.svg') }}?version={{ sharly_chess_config.version }}"
                style="height: 1.2em"
                class="p-0 {% if player.fide_id %}cursor-pointer{% else %}fide-id-none{% endif %}"
                {% if player.fide_id %}
                    {{ macros.tooltip_attributes('info', _('FIDE ID: %(fide_id)s (click to copy to the clipboard).', fide_id=player.fide_id), 'left') }}
                    onclick="navigator.clipboard.writeText('{{ player.fide_id }}')"
                {% else %}
                    {{ macros.tooltip_attributes('warning', _('No FIDE ID.'), 'left') }}
                {% endif %}
            />
        </td>
    {% endif %}
    {{ admin_macros.extra_admin_column_cell("owed", player, admin_players_extra_columns)}}
    {% if 'owed_paid' in admin_players_filter_columns %}
        <td class="text-nowrap text-end">
            {{ player.owed }}
        </td>
        <td class="text-nowrap text-end">
            {{ player.paid }}
        </td>
    {% endif %}
    {{ admin_macros.extra_admin_column_cell("tournament", player, admin_players_extra_columns)}}
    {% if 'tournament' in admin_players_filter_columns and admin_event.tournaments_by_id|length > 1 %}
        <td class="text-nowrap text-start">
            {% if player.has_real_pairings or player_addable_tournaments|length <= 1 %}
                {{ admin_event.tournaments_by_id[player.tournament.id].uniq_id }}
            {% else %}
                <span class="dropdown">
                    <button
                        class="btn btn-secondary dropdown-toggle mx-0 px-2 py-0 w-100 d-inline-flex align-items-center justify-content-between"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        {{ admin_event.tournaments_by_id[player.tournament.id].uniq_id }}
                    </button>
                    <ul
                        class="dropdown-menu players-set-player-tournament p-0"
                        {{ macros.tooltip_attributes('info', _('Change the player\'s tournament.'), 'left') }}
                    >
                        {% for tournament in player_addable_tournaments %}
                            {% set enable=player.tournament.id != tournament.id %}
                            <li
                                class="dropdown-item btn {% if not enable %}disabled{% endif %} text-start"
                                {% if enable %}
                                    hx-patch="{{ url_for('admin-player-move', event_uniq_id=admin_event.uniq_id, player_id=player.id, tournament_id=tournament.id) }}"
                                    hx-on::before-request="$('#player-{{ player.id }} td').addClass('text-secondary');"
                                    hx-swap="multi:#players-table:outerHTML,#messages:afterbegin"
                                    hx-indicator="#please-wait"
                                {% else %}
                                    disabled
                                {% endif %}
                            >
                                {{ tournament.uniq_id }}
                            </li>
                        {% endfor %}
                    </ul>
                </span>
            {% endif %}
        </td>
    {% endif %}
    {{ admin_macros.extra_admin_column_cell("comment", player, admin_players_extra_columns)}}
    {% if 'comment' in admin_players_filter_columns %}
        <td class="text-nowrap">
            {{ player.comment }}
        </td>
    {% endif %}
    {{ admin_macros.extra_admin_column_cell("record", player, admin_players_extra_columns)}}
    {% if 'record' in admin_players_filter_columns %}
        <td class="pe-2">
            {{ admin_macros.player_record(player) }}
        </td>
    {% endif %}
    {{ admin_macros.extra_admin_column_cell("end", player, admin_players_extra_columns)}}
</tr>
