{% extends '../common/card.html' %}

{% block card_header %}
    {% if client.can_manage_screens %}
        {{ macros.display_controller_visibility_icon(display_controller, 'pe-1') }}
    {% endif %}
    {{ display_controller.name }}
{% endblock %}

{% block card_title %}
{% endblock %}

{% block card_text %}
    <span class="{% if not display_controller.assigned_object%}text-secondary{% endif %}">
        {{ display_controller.assigned_description or _('Neither screen nor rotator currently assigned') }}
    </span>
{% endblock %}

{% block card_buttons_left %}
    {% if client.can_manage_screens %}
        {% if display_controller.assigned_object %}
            <span {{ macros.tooltip_attributes('info', _('Go to the display controller.'), 'top') }}>
                <a
                    class="btn btn-sm btn-outline-primary"
                    href="{{ url_for('user-display-controller', event_uniq_id=admin_event.uniq_id, display_controller_id=display_controller.id) }}"
                    target="_blank"
                >
                    <i class="bi bi-eye"></i>
                </a>
            </span>
        {% endif %}
        <div class="dropdown d-inline" {{ macros.tooltip_attributes('info', _('Assign a screen to the controller.'), 'top') }}>
            <button
                class="btn btn-sm btn-outline-primary dropdown-toggle mx-auto" type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                <i class="bi bi-box-arrow-in-right"></i>
            </button>
            <ul class="dropdown-menu">
                {% for basic_screen in sorted_screens %}
                    {% if loop.changed(basic_screen.type) %}
                        <li><h6 class="dropdown-header">{{ basic_screen.type_str }}</h6></li>
                    {% endif %}
                    <li>
                        <button
                            class="dropdown-item text-start cursor-pointer"
                            hx-patch="{{ url_for('admin-display-controller-assign', event_uniq_id=admin_event.uniq_id, display_controller_id=display_controller.id, type="screen", object_uniq_id=basic_screen.uniq_id) }}"
                            hx-indicator="#please-wait"
                        >
                            {{ macros.screen_type_icon(basic_screen.type) }}
                            <b>{{ basic_screen.name }}</b>
                        </button>
                    </li>
                {% endfor %}
                {% if admin_event.sorted_rotators|length > 0 and sorted_screens|length > 0 %}
                   <li><hr class="dropdown-divider"></li>
                {% endif %}
                {% for rotator in admin_event.sorted_rotators %}
                    <li>
                        <button
                            class="dropdown-item text-start cursor-pointer"
                            hx-patch="{{ url_for('admin-display-controller-assign', event_uniq_id=admin_event.uniq_id, display_controller_id=display_controller.id, type="rotator", object_uniq_id=rotator.name) }}"
                            hx-indicator="#please-wait"
                        >
                            {{ macros.rotator_icon() }}
                            <b>{{ rotator.name }}</b>
                        </button>
                    </li>
                {% endfor %}

            </ul>
        </div>
        {% if display_controller.assigned_object %}
            <span {{ macros.tooltip_attributes('info', _('Remove the screen from the display controller.'), 'top') }}>
                <button
                    class="btn btn-sm btn-outline-primary"
                    hx-patch="{{ url_for('admin-display-controller-clear', event_uniq_id=admin_event.uniq_id, display_controller_id=display_controller.id) }}"
                    hx-target="body"
                    hx-indicator="#please-wait"
                >
                    <i class="bi bi-x-lg"></i>
                </button>
            </span>
        {% endif %}
    {% endif %}
{% endblock %}

{% block card_buttons_right %}
    {% if client.can_manage_screens %}
        <span {{ macros.tooltip_attributes('info', _('Edit the properties of the display controller.'), 'top') }}>
            <button
                class="btn btn-sm btn-outline-primary"
                hx-get="{{ url_for('admin-display-controller-modal', action='update', event_uniq_id=admin_event.uniq_id, display_controller_id=display_controller.id) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                data-bs-toggle="modal"
                data-bs-target="#modal-wrapper"
            >
                <i class="bi-pencil-fill"></i>
            </button>
        </span>
        <span {{ macros.tooltip_attributes('info', _('Delete the display controller.'), 'top') }}>
            <button
                class="btn btn-sm btn-outline-danger"
                hx-get="{{ url_for('admin-display-controller-modal', action='delete', event_uniq_id=admin_event.uniq_id, display_controller_id=display_controller.id) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                data-bs-toggle="modal"
                data-bs-target="#modal-wrapper"
            >
                <i class="bi-trash-fill"></i>
            </button>
        </span>
    {% endif %}
{% endblock %}
