{% import '/common/macros.j2' as macros with context %}
{% import '/admin/common/macros.j2' as admin_macros with context %}

<h3 id="uniq-id-field" class="modal-title">
    <span class="pe-1">
        {{ _('Editing of display controller [%(display_controller_uniq_id)s]', display_controller_uniq_id=admin_display_controller.uniq_id) }}
    </span>
    <span
        {{ macros.tooltip_attributes(
            'info', _('Edit the unique ID of the display controller.'), 'right'
        ) }}
    >
        <button
            id="uniq-id-update-button"
            data-testid="uniq-id-update-button"
            type="button"
            class="btn btn-sm text-primary text-nowrap"
        >
            <i class="bi-pencil"></i>
        </button>
    </span>
</h3>
<div
    id="uniq-id-update-form-container"
    class="mt-1 mb-1 col-12 col-md-6"
    style="display: none"
>
    {{ admin_macros.uniq_id_form(
        current_uniq_id=admin_display_controller.uniq_id,
        existing_uniq_ids=display_controller_uniq_ids,
        placeholder=_('E.g.: %(string)s', string=_('my-display-controller')),
        patch_url=url_for(
            'admin-display-controller-uniq-id-update',
            event_uniq_id=admin_event.uniq_id,
            display_controller_id=admin_display_controller.id
        ),
    ) }}
</div>
<script>
    {% set id = 'uniq-id-update' %}
    $('#{{ id }}-button').click(() => {
        $('#{{ id }}-form-container').css('display', '');
        $('#uniq-id-field').css('display', 'none');
    });
    $('#{{ id }}-cancel-button').click(() => {
        $('#{{ id }}-form-container').css('display', 'none');
        $('#uniq-id-field').css('display', '');
    });
</script>
