<div
    class="modal-dialog modal-dialog-scrollable"
    style="--bs-modal-width: min(90vw, 450px);"
>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {{ _('Prize Brackets') }}
                <i
                    class="bi-info-circle-fill ps-1"
                    style="font-size: 70%"
                    {{ macros.tooltip_attributes(
                        '', _('Each player can only be awarded one prize per bracket.'), 'right')
                    }}
                ></i>
            </h2>
        </div>
        <div class="modal-body">
            <h4 class="mb-3">
                {{ _('%(string)s:', string=_('Tournament')) }}
                {{ admin_tournament.name }}
            </h4>
            <div class="d-flex flex-column gap-2">
                {% if not admin_tournament.prize_groups %}
                    <div class="text-danger">{{ _('No prize brackets.') }}</div>
                {% endif %}
                {% for prize_group in admin_tournament.sorted_prize_groups %}
                    {% set base_id = 'prize-group-' ~ prize_group.id|string %}
                    <div id="{{ base_id }}-row" class="border border-secondary">
                        <div class="prize-group-row p-2 d-flex align-items-start gap-4">
                            <div class="flex-grow-1">
                                <div>{{ prize_group.name }}</div>
                                <div class="d-flex gap-3 mt-1" style="font-size: 0.85em;">
                                    {% if prize_group.total_monetary_value %}
                                        <span class="text-secondary">
                                            {{ _('Monetary:') }}
                                            {{ prize_group.format_total_monetary_value(prize_currency) }}
                                        </span>
                                    {% endif %}
                                    {% if prize_group.total_non_monetary_value %}
                                        <span class="text-secondary">
                                            {{ _('Non-monetary:') }}
                                            {{ prize_group.format_total_non_monetary_value(prize_currency) }}
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="flex-shrink-0 d-flex gap-2 align-items-center">
                                <button
                                    id="{{ base_id }}-update-button"
                                    class="btn btn-sm btn-outline-primary text-nowrap"
                                    {{ macros.tooltip_attributes('info', _('Edit'), 'top') }}
                                >
                                    <i class="bi-pencil-fill"></i>
                                </button>
                                <button
                                    class="btn btn-sm btn-outline-danger text-nowrap"
                                    hx-get="{{ url_for(
                                        'admin-prize-group-delete-modal',
                                        event_uniq_id=admin_event.uniq_id,
                                        tournament_id=admin_tournament.id,
                                        prize_group_id=prize_group.id,
                                    ) }}"
                                    hx-target="body"
                                    hx-indicator="#please-wait"
                                    data-bs-target="#modal-wrapper"
                                    {{ macros.tooltip_attributes('info', _('Delete'), 'top') }}
                                >
                                    <i class="bi-trash-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% set form_id = base_id ~ '-update' %}
                    <div
                        id="{{ base_id }}-form-container"
                        class="mt-1 mb-1"
                        style="display: none"
                    >
                        {{ admin_macros.inline_text_form(
                            form_id,
                            name='name',
                            placeholder=_('E.g.: %(string)s', string=_('My group')),
                            value=prize_group.name,
                            patch_url=url_for(
                                'admin-prize-group-update',
                                event_uniq_id=admin_event.uniq_id,
                                tournament_id=admin_tournament.id,
                                prize_group_id=prize_group.id
                            )
                        ) }}
                    </div>

                    <script>
                        $('#{{ form_id }}-input').on('input', function() {
                            let error = "";
                            const value = $(this).val();
                            if (value === '') {
                                error = "{{ _('A value is expected.') }}";
                            } else if (value != "{{ prize_group.name }}" && {{ prize_group_names|tojson }}.includes(value)) {
                                error = "{{ _('This name is already used.') }}";
                            }
                            $('#{{ form_id }}-submit-button').prop('disabled', error !== "");
                            const tooltipElement = document.getElementById('{{ form_id }}-submit-button-container');
                            const tooltip = bootstrap.Tooltip.getInstance(tooltipElement);
                            tooltip.setContent({ '.tooltip-inner': error || "{{ _('Validate') }}" });
                            tooltip.update();
                        });
                        $('#{{ form_id }}-button').click(() => {
                            $('.inline-form-cancel-button').trigger('click');
                            $('#{{ base_id }}-form-container').css('display', '');
                            $('#{{ base_id }}-row').css('display', 'none');
                        });
                        $('#{{ form_id }}-cancel-button').click(() => {
                            $('#{{ base_id }}-form-container').css('display', 'none');
                            $('#{{ base_id }}-row').css('display', '');
                        });
                    </script>
                {% endfor %}
            </div>
            {% if admin_tournament.prize_groups %}
                <div class="border-top mt-3 pt-2 d-flex gap-4 align-items-center">
                    <span class="fw-semibold">{{ _('Tournament total:') }}</span>
                    {% if admin_tournament.total_monetary_prize_value %}
                        <span class="text-secondary">
                            {{ _('Monetary:') }}
                            {{ admin_tournament.format_total_monetary_prize_value(prize_currency) }}
                        </span>
                    {% endif %}
                    {% if admin_tournament.total_non_monetary_prize_value %}
                        <span class="text-secondary">
                            {{ _('Non-monetary:') }}
                            {{ admin_tournament.format_total_non_monetary_prize_value(prize_currency) }}
                        </span>
                    {% endif %}
                    {% if not admin_tournament.total_monetary_prize_value and not admin_tournament.total_non_monetary_prize_value %}
                        <span class="text-secondary">{{ _('No prizes defined') }}</span>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="modal-footer">
            <div class="flex-grow-1"></div>
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Close') }}
            </button>
            <form
                hx-post="{{ url_for(
                    'admin-prize-group-create',
                    event_uniq_id=admin_event.uniq_id,
                    tournament_id=admin_tournament.id,
                ) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                data-bs-target="#modal-wrapper"
            >
                <button
                    class="btn btn-primary text-nowrap"
                    type="submit"
                    {{ macros.tooltip_attributes('info', _('Add a group to the list.'), 'top') }}
                >
                    <i class="bi-plus-square-fill pe-1"></i>
                    {{ _('Add') }}
                </button>
            </form>

        </div>
    </div>
</div>

<script>requestRefresh()</script>
