<div
    class="modal-dialog modal-dialog-scrollable"
    style="--bs-modal-width: min(90vw, 450px);"
>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {% if action == 'update' %}
                    {{ _('Edit prize') }}
                {% else %}
                     {{ _('Create prize') }}
                {% endif %}
            </h2>
        </div>
        <div class="modal-body">
            <h4 class="mb-3">
                {{ _('%(string)s:', string=_('Category')) }}
                {{ admin_prize_category.name }}
            </h4>
            {% if previous_prize_count %}
                {% with type='success', message=ngettext(
                    '%(num)d prize successfully created!',
                    '%(num)d prizes successfully created!',
                    previous_prize_count,
                ) %}
                    {% include '/common/alert.html' %}
                {% endwith %}
            {% endif %}

            <form
                id="modal-form"
                hx-trigger="submit, enterKeypressFromModal"
                hx-target="body"
                hx-indicator="#please-wait"
                {% if action == 'update' %}
                    hx-patch="{{ url_for(
                        'admin-prize-update',
                        event_uniq_id=admin_event.uniq_id,
                        tournament_id=admin_tournament.id,
                        prize_group_id=admin_prize_group.id,
                        prize_category_id=admin_prize_category.id,
                        prize_id=admin_prize.id,
                    ) }}"
                {% else %}
                    hx-post="{{ url_for(
                        'admin-prize-create',
                        event_uniq_id=admin_event.uniq_id,
                        tournament_id=admin_tournament.id,
                        prize_group_id=admin_prize_group.id,
                        prize_category_id=admin_prize_category.id,
                    ) }}"
                {% endif %}
            >
                <div class="row gy-2 gx-3">
                    <div class="col-12">
                        {{ admin_macros.select_input(
                            name='type',
                            label=_('%(string)s:', string=_('Type')),
                            select_options=type_options,
                            tooltip_select=true,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="col-12">
                        {% if action == 'create' %}
                            {{ admin_macros.text_input(
                                name='values',
                                label=_('%(string)s:', string=_('Values')),
                                placeholder=_('E.g.: %(string)s', string='1000 500,5 333.33'),
                                tooltip_text=_('Space-separated list of numbers. One prize is created per value in the list.'),
                                data=data, errors=errors
                            ) }}
                        {% else %}
                            {{ admin_macros.number_input(
                                name='value',
                                label=_('%(string)s:', string=_('Value')),
                                step=0.01,
                                data=data, errors=errors
                            ) }}
                        {% endif %}
                    </div>
                    <div id="description-container" class="col-12">
                        {{ admin_macros.text_input(
                            name='description',
                            label=_('Description'),
                            placeholder=_('E.g.: %(string)s', string=_('Trophy, medal')),
                            data=data, errors=errors
                        ) }}
                    </div>
                    <script>
                        $('#type').change(function () {
                            const type = $(this).val();
                            var showDesc = true;
                            {% for type in prize_types %}
                                if (type === `{{ type.id }}`) {
                                    showDesc = {% if type.has_description %}true{% else %}false{% endif %};
                                    $('#description').prop('disabled', !showDesc);
                                    $('#description-container').css('display', showDesc ? '' : 'none');
                                    $('#description-label').html(
                                        `{{ _('%(string)s:', string=type.description_label) }}`
                                    )
                                }
                            {% endfor %}
                        });
                        triggerModalInitEvent('#type');
                    </script>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                {% if admin_prize_category.prizes %}
                    hx-get="{{ url_for(
                        'admin-prizes-modal',
                        event_uniq_id=admin_event.uniq_id,
                        tournament_id=admin_tournament.id,
                        prize_group_id=admin_prize_group.id,
                        prize_category_id=admin_prize_category.id,
                    ) }}"
                    hx-target="body"
                    hx-indicator="#please-wait"
                    data-bs-target="#modal-wrapper"
                {% else %}
                    data-bs-dismiss="modal"
                {% endif %}
            >
                <i class="bi-arrow-left-circle-fill pe-1"></i>
                {{ _('Back') }}
            </button>
            {% if action == 'update' %}
                <button
                    type="submit"
                    form="modal-form"
                    class="text-nowrap white btn btn-primary"
                >
                    <i class="bi bi-floppy-fill pe-1"></i>
                    {{ _('Save') }}
                </button>
            {% else %}
                {{ admin_macros.create_with_add_other_split_buttons(add_other_active) }}
            {% endif %}
        </div>
    </div>
</div>

<script>requestRefresh()</script>
