<div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
    style="--bs-modal-width: min(90vw, 400px);"
>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {% if action == 'update' %}
                    {{ _('Prize edition') }}
                {% else %}
                     {{ _('Prize creation') }}
                {% endif %}
            </h2>
        </div>
        <div class="modal-body">
            {% if previous_prize %}
                {% with type='success', auto_remove=true, message=_(
                    'Prize [%(prize)s] successfully created!',
                    prize=previous_prize.name
                ) %}
                    {% include '/common/alert.html' %}
                {% endwith %}
            {% endif %}
            <form
                id="modal-form"
                hx-target="body"
                hx-indicator="#please-wait"
                {% if action == 'update' %}
                    hx-patch="{{ url_for(
                        'admin-prize-update',
                        event_uniq_id=admin_event.uniq_id,
                        tournament_id=admin_tournament.id,
                        prize_group_id=admin_prize_group.id,
                        prize_category_id=admin_prize_category.id,
                        prize_id=admin_prize.id,
                    ) }}"
                {% else %}
                    hx-post="{{ url_for(
                        'admin-prize-create',
                        event_uniq_id=admin_event.uniq_id,
                        tournament_id=admin_tournament.id,
                        prize_group_id=admin_prize_group.id,
                        prize_category_id=admin_prize_category.id,
                    ) }}"
                {% endif %}
            >
                <div
                    class="row mb-3"
                    {% if admin_prize_category.are_prizes_shared %}
                        {{ macros.tooltip_attributes(
                            'info', _('Prizes of categories with prize sharing can only be monetary.'), 'top'
                        ) }}
                    {% endif %}
                >
                    {{ admin_macros.switch_input(
                        name='is_monetary',
                        label=_('%(string)s:', string=_('Type')),
                        placeholder=_('Define as monetary'),
                        help_text=_('The type of reward of the prize (monetary/non-monetary).'),
                        disabled=admin_prize_category.are_prizes_shared,
                        data=data, errors=errors
                    ) }}
                    {% if admin_prize_category.are_prizes_shared %}
                        <input name="is_monetary" type="hidden" value="on">
                    {% endif %}
                </div>
                <div class="row mb-3">
                    {{ admin_macros.number_input(
                        name='value',
                        label=_('%(string)s:', string=_('Value')),
                        help_text=_('For non-monetary prizes, the value is used for reward priority.'),
                        step=0.01,
                        data=data, errors=errors
                    ) }}
                </div>
                <div
                    id="description-container"
                    class="row"
                    {{ macros.tooltip_attributes(
                        'info', _('Descriptions can only be defined for non-monetary prizes.'), 'top'
                    ) }}
                >
                    {{ admin_macros.text_input(
                        name='description',
                        label=_('%(string)s:', string=_('Description')),
                        placeholder=_('E.g.: %(string)s', string=_('Trophy')),
                        help_text=_('The description of the prize.'),
                        data=data, errors=errors
                    ) }}
                </div>
                <input id="add-other" name="add_other" type="hidden" value="off">
                <script>
                    $('#is-monetary').on('change', (event) => {
                        const tooltip = new bootstrap.Tooltip(
                            document.getElementById('description-container')
                        );
                        const description = document.getElementById('description');
                        if (event.target.checked) {
                            description.disabled = true;
                            tooltip.enable();
                        } else {
                            description.disabled = false;
                            tooltip.disable();
                        }
                    });
                    setTimeout(() => $('#is-monetary').trigger('change'), 50);
                </script>
            </form>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                hx-get="{{ url_for(
                    'admin-prizes-modal',
                    event_uniq_id=admin_event.uniq_id,
                    tournament_id=admin_tournament.id,
                    prize_group_id=admin_prize_group.id,
                    prize_category_id=admin_prize_category.id,
                ) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                preload
                data-bs-target="#modal-wrapper"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            <button
                type="submit"
                form="modal-form"
                class="text-nowrap white btn btn-primary"
            >
                <i class="bi-floppy-fill pe-1"></i>
                {% if action == 'update' %}
                    {{ _('Save') }}
                {% else %}
                    {{ _('Create') }}
                {% endif %}
            </button>
            {% if action == 'create' %}
                <button
                    id="next-button"
                    type="submit"
                    form="modal-form"
                    class="text-nowrap white btn btn-primary"
                    {{ macros.tooltip_attributes('info', _('Create this prize then add another one.'), 'top') }}
                >
                    <i class="bi bi-arrow-right-circle-fill pe-1"></i>
                    {{ _('Next') }}
                </button>
                <script>
                    $('#next-button').click(() => $('#add-other').prop('value', 'on'));
                </script>
            {% endif %}
        </div>
    </div>
</div>
