<div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
    style="--bs-modal-width: min(90vw, 400px);"
>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {{ _('Prize groups') }}
            </h2>
        </div>
        <div class="modal-body">
            <h4 class="mb-3">
                {{ _('%(string)s:', string=_('Tournament')) }}
                {{ admin_tournament.name }}
            </h4>
            <div class="d-flex flex-column gap-2">
                {% if not admin_tournament.prize_groups %}
                    <div class="text-danger">{{ _('No prize groups.') }}</div>
                {% endif %}
                {% for prize_group in admin_tournament.sorted_prize_groups %}
                    {% set base_id = 'prize-group-' ~ prize_group.id|string %}
                    <div id="{{ base_id }}-row" class="border border-secondary">
                        <div class="prize-group-row p-2 d-flex align-items-start gap-4">
                            <div class="flex-grow-1">
                                {{ prize_group.name }}
                            </div>
                            <div class="flex-shrink-0 d-flex gap-2 align-items-center">
                                <button
                                    id="{{ base_id }}-update-button"
                                    class="btn btn-sm btn-outline-primary text-nowrap"
                                    {{ macros.tooltip_attributes('info', _('Edit'), 'top') }}
                                >
                                    <i class="bi-pencil-fill"></i>
                                </button>
                                <button
                                    class="btn btn-sm btn-outline-danger text-nowrap"
                                    hx-get="{{ url_for(
                                        'admin-prize-group-delete-modal',
                                        event_uniq_id=admin_event.uniq_id,
                                        tournament_id=admin_tournament.id,
                                        prize_group_id=prize_group.id,
                                    ) }}"
                                    preload
                                    hx-target="body"
                                    hx-indicator="#please-wait"
                                    data-bs-target="#modal-wrapper"
                                    {{ macros.tooltip_attributes('info', _('Delete'), 'top') }}
                                >
                                    <i class="bi-trash-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div
                        id="{{ base_id }}-form-container"
                        class="mt-1 mb-1"
                        style="display: none"
                    >
                        {{ admin_macros.inline_text_form(
                            base_id ~ '-update',
                            name='name',
                            placeholder=_('E.g.: %(string)s', string=_('My group')),
                            value=prize_group.name,
                            patch_url=url_for(
                                'admin-prize-group-update',
                                event_uniq_id=admin_event.uniq_id,
                                tournament_id=admin_tournament.id,
                                prize_group_id=prize_group.id
                            ),
                        ) }}
                    </div>

                    <script>
                        $('#{{ base_id }}-update-button').click(() => {
                            $('.inline-form-cancel-button').trigger('click');
                            $('#{{ base_id }}-form-container').css('display', '');
                            $('#{{ base_id }}-row').css('display', 'none');
                        });
                        $('#{{ base_id }}-update-cancel-button').click(() => {
                            $('#{{ base_id }}-form-container').css('display', 'none');
                            $('#{{ base_id }}-row').css('display', '');
                        });
                    </script>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <div class="flex-grow-1"></div>
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                data-bs-dismiss="modal"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Close') }}
            </button>
            <form
                hx-post="{{ url_for(
                    'admin-prize-group-create',
                    event_uniq_id=admin_event.uniq_id,
                    tournament_id=admin_tournament.id,
                ) }}"
                preload
                hx-target="body"
                hx-indicator="#please-wait"
                data-bs-target="#modal-wrapper"
            >
                <button
                    class="btn btn-primary text-nowrap"
                    type="submit"
                    {{ macros.tooltip_attributes('info', _('Add a group to the list.'), 'top') }}
                >
                    <i class="bi-plus-square-fill pe-1"></i>
                    {{ _('Add') }}
                </button>
            </form>

        </div>
    </div>
</div>

<script>
    // We need to reload the page when the modal is hidden, because the groups might have changed.
    $(document).one('hide.bs.modal', function(e) {
        e.preventDefault();
        document.body.dispatchEvent(new CustomEvent('request_refresh'));
    });
</script>
