<div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
    style="--bs-modal-width: min(90vw, 400px);"
>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {% if action == 'update' %}
                    {{ _('Category edition') }}
                {% else %}
                     {{ _('Category creation') }}
                {% endif %}
            </h2>
        </div>
        <div class="modal-body">
            {% if previous_category %}
                {% with type='success', auto_remove=true, message=_(
                    'Category [%(category)s] successfully created!',
                    category=previous_category.name
                ) %}
                    {% include '/common/alert.html' %}
                {% endwith %}
            {% endif %}
            <form
                id="modal-form"
                {% if action == 'update' %}
                    hx-patch="{{ url_for(
                        'admin-prize-category-update',
                        event_uniq_id=admin_event.uniq_id,
                        tournament_id=admin_tournament.id,
                        prize_group_id=admin_prize_group.id,
                        prize_category_id=admin_prize_category.id,
                    ) }}"
                {% else %}
                    hx-post="{{ url_for(
                        'admin-prize-category-create',
                        event_uniq_id=admin_event.uniq_id,
                        tournament_id=admin_tournament.id,
                        prize_group_id=admin_prize_group.id,
                    ) }}"
                {% endif %}
                hx-target="body"
                hx-indicator="#please-wait"
            >
                {% set other_main_category=(
                    admin_tournament.has_main_prize_category and
                    (not admin_prize_category or not admin_prize_category.is_main)
                ) %}
                {% set has_criteria=admin_prize_category and admin_prize_category.criteria %}
                <div class="row mb-3">
                    {{ admin_macros.text_input(
                        name='name',
                        label=_('Name:'),
                        placeholder=_('E.g.: %(string)s', string=_('My category')),
                        help_text='',
                        data=data, errors=errors
                    ) }}
                </div>
                <div class="d-flex mb-3">
                    <span
                        class="fit-content"
                        {% if other_main_category or has_criteria %}
                            {{ macros.tooltip_attributes(
                                'info',
                                _('There can only be one main category per tournament.')
                                if other_main_category else
                                _('The main category can\'t have criteria.'),
                                'top'
                            ) }}
                        {% endif %}
                    >
                        {{ admin_macros.switch_input(
                            name='is_main',
                            label='',
                            placeholder=_('Define as main category'),
                            help_text='',
                            disabled=other_main_category or has_criteria,
                            data=data, errors=errors
                        ) }}
                    </span>
                    <i
                        class="bi bi-info-circle-fill"
                        {{ macros.tooltip_attributes(
                            'info', _('The main category is open to all the players.'), 'top'
                        ) }}
                    ></i>
                </div>
                <div class="d-flex">
                    <span
                        id="share-prizes-container"
                        {{ macros.tooltip_attributes(
                            'info',
                            _('The category contains non-monetary prizes which can not be shared.')
                            if admin_prize_category and admin_prize_category.has_non_monetary_prizes else
                            _('Prizes can only be shared for the main category.'),
                            'top'
                        ) }}
                    >
                        {{ admin_macros.switch_input(
                            name='share_prizes',
                            label='',
                            placeholder=_('Share the prizes'),
                            help_text='',
                            data=data, errors=errors
                        ) }}
                    </span>
                    <i
                        class="bi bi-info-circle-fill"
                        {{ macros.tooltip_attributes(
                            'info',
                            _(
                                'When two or more players with the same points '
                                'are eligible for prizes, share their prizes.'
                            ),
                            'top'
                        ) }}
                    ></i>
                </div>
                <div
                    id="prize-sharing-container"
                    class="mt-3"
                    {% if data['share_prizes'] != 'on' %}
                        style="display: none"
                    {% endif %}
                >
                    <div class="row">
                        {{ admin_macros.select_input(
                            name='prize_sharing',
                            label=_('%(string)s:', string=_('Prize sharing')),
                            help_text=_(
                                'The way to share the prizes between '
                                'players with the same points.'
                            ),
                            select_options=prize_sharing_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                    <div class="row">
                        {{ admin_macros.number_input(
                            name='sharing_threshold',
                            label=_('%(string)s:', string=_('Sharing threshold')),
                            help_text=_(
                                'The minimum value of a shared prize in this category '
                                '(by default: no threshold).'
                            ),
                            step=0.01,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                <script>
                    $('#is-main').on('change', (event) => {
                        const tooltip = new bootstrap.Tooltip(
                            document.getElementById('share-prizes-container')
                        );
                        const isMain = event.target.checked;
                        const sharePrizes = document.getElementById('share-prizes');
                        sharePrizes.disabled = !isMain;
                        if (isMain) {
                            tooltip.disable();
                        } else {
                            sharePrizes.checked = false;
                            $(sharePrizes).trigger('change');
                            tooltip.enable();
                        }
                     });
                    $('#share-prizes').on('change', (event) => {
                        $('#prize-sharing-container').css(
                            'display', event.target.checked ? 'block' : 'none'
                        );
                     });
                    setTimeout(() => $('#is-main').trigger('change'), 50);
                </script>
            </form>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                data-bs-dismiss="modal"
                class="btn btn-secondary text-nowrap"
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            {% if action == 'update' %}
                <button
                    type="submit"
                    form="modal-form"
                    class="text-nowrap white btn btn-primary"
                >
                    <i class="bi bi-floppy-fill pe-1"></i>
                    {{ _('Save') }}
                </button>
            {% else %}
                {{ admin_macros.create_with_add_other_split_buttons(add_other_active) }}
            {% endif %}
        </div>
    </div>
</div>

<script>
    // We need to reload the page when the modal is hidden, because the categories might have changed.
    $(document).one('hide.bs.modal', function(e) {
        e.preventDefault();
        document.body.dispatchEvent(new CustomEvent('request_refresh'));
    });
</script>
