<div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
    style="--bs-modal-width: min(90vw, 400px);"
>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {% if action == 'update' %}
                    {{ _('Prize criterion edition') }}
                {% else %}
                     {{ _('Prize criterion creation') }}
                {% endif %}
            </h2>
        </div>
        <div class="modal-body">
            <form
                id="modal-form"
                hx-target="body"
                hx-indicator="#please-wait"
                {% if action == 'update' %}
                    hx-patch="{{ url_for(
                        'admin-prize-criterion-update',
                        event_uniq_id=admin_event.uniq_id,
                        tournament_id=admin_tournament.id,
                        prize_group_id=admin_prize_group.id,
                        prize_category_id=admin_prize_category.id,
                        prize_criterion_id=admin_prize_criterion.id,
                    ) }}"
                {% else %}
                    hx-post="{{ url_for(
                        'admin-prize-criterion-create',
                        event_uniq_id=admin_event.uniq_id,
                        tournament_id=admin_tournament.id,
                        prize_group_id=admin_prize_group.id,
                        prize_category_id=admin_prize_category.id,
                    ) }}"
                {% endif %}
            >
                <div class="row">
                    <div class="col-12 mb-3">
                        {{ admin_macros.select_input(
                            name='type',
                            label=_('%(string)s:', string=_('Type')),
                            help_text=_('The type of criterion used to filter the players.'),
                            select_options=player_filter_select_options,
                            data=data, errors=errors
                        ) }}
                    </div>
                </div>
                {% for option in player_filter_options %}
                    <div class="row" id="{{ option.container_id }}">
                        {% include option.template_name %}
                    </div>
                {% endfor %}
                <script>
                    $('#type').change(function() {
                        const type_containers = {{ containers_by_type|tojson }}[$(this).val()];
                        let container_id = '';
                        {% for option in player_filter_options %}
                            container_id = '{{ option.container_id }}';
                            $('#' + container_id).css(
                                'display', type_containers.includes(container_id) ? 'block' : 'none'
                            );
                        {% endfor %}
                    });
                    setTimeout(() => $('#type').trigger('change'), 50);
                </script>
            </form>
        </div>

        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary text-nowrap"
                hx-get="{{ url_for(
                    'admin-prize-criteria-modal',
                    event_uniq_id=admin_event.uniq_id,
                    tournament_id=admin_tournament.id,
                    prize_group_id=admin_prize_group.id,
                    prize_category_id=admin_prize_category.id,
                ) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                preload
            >
                <i class="bi-x-circle-fill pe-1"></i>
                {{ _('Cancel') }}
            </button>
            <button
                type="submit"
                form="modal-form"
                class="text-nowrap white btn btn-primary"
            >
                <i class="bi bi-printer-fill pe-1"></i>
                {% if action == 'update' %}
                    {{ _('Save') }}
                {% else %}
                    {{ _('Create') }}
                {% endif %}
            </button>
        </div>
    </div>
</div>
