{% extends '../common/card.html' %}

{% block card_header %}
    <input type='hidden' name='item' value='{{ prize_category.id }}'/>
    <div class="d-flex align-items-center">
        <div>
            {% if not prize_category.is_main %}
                <i class="bi-arrows-move invisible"></i>
            {% endif %}
        </div>
        <div class="flex-grow-1">
            {% if prize_category.is_main %}
                <i
                    {{ macros.tooltip_attributes('info', _('Main category'), 'top') }}
                    class="bi-star-fill pe-1"
                ></i>
            {% endif %}
            {{ prize_category.name }}
        </div>
        <div>
            {% if not prize_category.is_main %}
                <i class="bi-arrows-move"></i>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block card_title %}
    {% set player_count=prize_category.players|length %}
    {% set prize_count=prize_category.prizes|length %}
    <div class="d-flex gap-2 align-items-center justify-content-center">
        <div
            class="text-nowrap"
            {{ macros.tooltip_attributes('info', _('Number of players'), 'top') }}
        >
            <i class="bi-people-fill pe-1"></i>
            {{ player_count }}
        </div>
        <div
            class="text-nowrap"
            {{ macros.tooltip_attributes('info', _('Number of prizes'), 'top') }}
        >
            <i class="bi-trophy-fill pe-1"></i>
            {{ prize_count }}
        </div>
        {% if not prize_category.is_main and not prize_category.criteria %}
            {% set warning=_('No criteria defined.') %}
        {% elif player_count < prize_count %}
            {% set warning=_('With less players than prizes, some prizes will not be attributed.') %}
        {% elif player_count == 0 %}
            {% set warning=_('No players matching the criteria.') %}
        {% elif prize_count == 0 %}
            {% set warning=_('No prizes defined.') %}
        {% elif player_count <= prize_count + 1 %}
            {% set warning=_(
                'Having a close amount of players and prizes '
                'represents a risk for a prize not to be attributed.'
            ) %}
        {% endif %}
        {% if warning %}
            <i
                class="bi-exclamation-triangle-fill text-warning"
                {{ macros.tooltip_attributes('info', warning, 'top') }}
            ></i>
        {% endif %}
    </div>
{% endblock %}

{% block card_text %}
    <div class="d-flex flex-column gap-1">
        <div class="text-start">
            {{ _('%(string)s:', string=_('Criteria')) }}&nbsp;
            {% if prize_category.is_main %}
                {{ _('All the players') }}
            {% elif prize_category.criteria %}
                {{ prize_category.criteria_string }}
            {% else %}
                <span class="text-secondary">
                    <i>{{ _('Undefined **** PLURAL') }}</i>
                </span>
            {% endif %}
        </div>
        <div class="text-start">
            {{ _('%(string)s:', string=_('Total prize value')) }}&nbsp;
            {{ prize_category.total_prize_value_str }}
        </div>
        <div class="text-start">{{ prize_category.shared_prizes_str }}</div>
    </div>
{% endblock %}

{% block card_buttons_left %}
    <span
        {{ macros.tooltip_attributes(
            'info', _('Define the prizes of the category.'), 'top'
        ) }}
    >
        <button
            class="btn btn-sm btn-outline-primary"
            hx-get="{{ url_for(
                'admin-prizes-modal'
                if prize_category.prizes else
                'admin-prize-create-modal',
                event_uniq_id=admin_event.uniq_id,
                tournament_id=admin_tournament.id,
                prize_group_id=admin_prize_group.id,
                prize_category_id=prize_category.id,
            ) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-collection-fill pe-1"></i>
            {{ _('Prizes') }}
        </button>
    </span>
    <span
        {{ macros.tooltip_attributes(
            'info',
            _('No criteria for the main category.')
            if prize_category.is_main else
            _('Define the criteria for players to belong to this category.'),
            'top'
        ) }}
    >
        <button
            class="btn btn-sm btn-outline-primary"
            hx-get="{{ url_for(
                'admin-prize-criteria-modal'
                if prize_category.criteria else
                'admin-prize-criterion-create-modal',
                event_uniq_id=admin_event.uniq_id,
                tournament_id=admin_tournament.id,
                prize_group_id=admin_prize_group.id,
                prize_category_id=prize_category.id,
            ) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
            {% if prize_category.is_main %}
                disabled
            {% endif %}
        >
            <i class="bi-filter pe-1"></i>
            {{ _('Criteria') }}
        </button>
    </span>
{% endblock %}

{% block card_buttons_right %}
    <span
        {{ macros.tooltip_attributes('info', _('Edit the properties of the category.'), 'top') }}
    >
        <button
            class="btn btn-sm btn-outline-primary"
            hx-get="{{ url_for(
                'admin-prize-category-update-modal',
                event_uniq_id=admin_event.uniq_id,
                tournament_id=admin_tournament.id,
                prize_group_id=admin_prize_group.id,
                prize_category_id=prize_category.id,
            ) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
            preload
        >
            <i class="bi-pencil-fill"></i>
        </button>
    </span>
    <form
        hx-post="{{ url_for(
            'admin-prize-category-duplicate',
            event_uniq_id=admin_event.uniq_id,
            tournament_id=admin_tournament.id,
            prize_group_id=admin_prize_group.id,
            prize_category_id=prize_category.id,
        ) }}"
        hx-target="body"
        hx-indicator="#please-wait"
        {{ macros.tooltip_attributes(
            'info',
            _('There can only be one main category.')
            if prize_category.is_main else
            _('Duplicate the category and its criteria and prizes.'),
            'top'
        ) }}
    >
        <button
            type="submit"
            class="btn btn-sm btn-outline-primary"
            {% if prize_category.is_main %}
                disabled
            {% endif %}
        >
            <i class="bi-copy"></i>
        </button>
    </form>
    <span {{ macros.tooltip_attributes('info', _('Delete the category.'), 'top') }}>
        <button
            class="btn btn-sm btn-outline-danger"
            hx-get="{{ url_for(
                'admin-prize-category-delete-modal',
                event_uniq_id=admin_event.uniq_id,
                tournament_id=admin_tournament.id,
                prize_group_id=admin_prize_group.id,
                prize_category_id=prize_category.id,
            ) }}"
            hx-target="body"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            <i class="bi-trash-fill"></i>
        </button>
    </span>
{% endblock %}
