{% extends '../../common/base.html' %}

{% block header %}
    <div
        id="user-header"
        class="header user-header border-bottom border-dark"
        style="background-color: var(--pw-nav-bg);"
    >
        <div hx-ext="bs-tabs" class="bs-tabs mx-3 py-2">
            <nav class="d-flex align-items-center gap-4">
                 <!-- block user_header_back_button -->
                {% block user_header_back_button %}
                    USER_HEADER_BACK_BUTTON
                {% endblock user_header_back_button %}
                <!-- end block user_header_back_button -->
                <div
                    class="nav nav-underline flex-grow-1 d-flex row-gap-1 column-gap-3"
                    style="--bs-nav-underline-gap: 0.5rem;"
                    id="nav-tab"
                    role="tablist"
                >
                    <!-- block user_header_nav -->
                    {% block user_header_nav %}
                        USER_HEADER_NAV
                    {% endblock user_header_nav %}
                    <!-- end block user_header_nav -->
                </div>
                {% with url=(
                        url_for('user-event-tab', event_uniq_id=user_event.uniq_id, user_event_tab=user_event_tab)
                        if user_event_tab else
                        url_for('user-event', event_uniq_id=user_event.uniq_id)
                    ) if user_event else (
                        url_for('user-tab', user_tab=user_tab)
                        if user_tab else
                        url_for('user')
                    ) %}
                    {% include '/common/locale_dropdown.html' %}
                {% endwith %}
            </nav>
        </div>
        {{ macros.copyright_script(show=true) }}
    </div>
    <!-- block user_header_refresher -->
    {% block user_header_refresher %}
        USER_HEADER_REFRESHER
    {% endblock user_header_refresher %}
    <!-- end block user_header_refresher -->
{% endblock header %}

{% block content %}
    <div id="user-content" class="content user-content tab-content mx-2 p-3">
        <!-- block user_content -->
        {% block user_content %}
            USER_CONTENT
        {% endblock user_content %}
        <!-- end block user_content -->
   </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

