<form class="d-inline-block" hx-get="{{ url }}" hx-target="body" hx-indicator="#please-wait" >
    <span class="dropdown-center" >
        <button
                class="btn btn-dark m-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside"
        ><i
                class="bi-funnel {% if admin_players_filter_leagues|length not in [0, (admin_players_leagues|length)] %}text-primary{% endif %}"
                {{ tooltip_attributes('info', _('Filter the leagues.'), 'top') }}
        ></i></button>
        <ul class="dropdown-menu players-filter-league p-0">
            {% with name='admin_players_filter_leagues' %}
                {# this input is always checked with an empty value (ignored) to be sure to get a list parameter. #}
                <input type="hidden" name="{{ name }}" value="" />
                <li class="dropdown-item title text-nowrap">
                    <input
                        type="checkbox"
                        {% if admin_players_filter_leagues|length == admin_players_leagues|length %}checked{% endif %}
                        onclick="$('input.{{ name }}').prop('checked', this.checked)" {# TODO instead of relying on the class, use the name #}
                    />
                    <button type="submit" class="btn w-100 text-end py-0" data-bs-dismiss="modal" >
                        <i class="bi-check-lg"></i>
                        {{ _('OK') }}
                    </button>
                </li>
                <li class="dropdown-divider m-0"></li>
                {% for league_tuple in admin_players_leagues %}
                    <li class="dropdown-item text-nowrap">
                        <input
                            type="checkbox"
                            id="{{ name }}-{{ loop.index }}"
                            name="{{ name }}"
                            value="{{ league_tuple.to_query_param }}"
                            {% if league_tuple in admin_players_filter_leagues %}checked{% endif %}
                            class="{{ name }}"
                        />
                        <label for="{{ name }}-{{ loop.index }}" class="form-label w-100 my-0">
                            <span class="player-federation_flag">
                                <img
                                        class="player-federation-flag ms-1 ps-1 pe-1"
                                        src="{{ url_for('static', file_path='/images/federations/' ~ league_tuple.federation ~ '.svg') }}"
                                />
                            </span>
                            {{ league_tuple.league }} ({{ admin_event.league_counts[league_tuple] }})
                        </label>
                    </li>
                {% endfor %}
            {% endwith %}
        </ul>
    </span>
</form>
