{% if admin_players_licences|length > 1 %}
    <form class="d-inline-block" hx-get="{{ url }}" hx-target="body" hx-indicator="#please-wait" >
        <span class="dropdown-center" >
            <button
                class="btn btn-dark m-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside"
            ><i
                    class="bi-funnel {% if admin_players_filter_licences|length not in [0, (admin_players_licences|length)] %}text-primary{% endif %}"
                    {{ tooltip_attributes('info', _('Filter the licences.'), 'top') }}
            ></i></button>
            <ul class="dropdown-menu licence p-0">
                {% with name='admin_players_filter_licences' %}
                    {# this input is always checked with an empty value (ignored) to be sure to get a list parameter. #}
                    <input type="hidden" name="{{ name }}" value="-1" checked />
                    <li class="dropdown-item text-nowrap">
                        <input
                            type="checkbox"
                            {% if admin_players_filter_licences|length == admin_players_licences|length %}checked{% endif %}
                            onclick="$('input.{{ name }}').prop('checked', this.checked)" {# TODO instead of relying on the class, use the name #}
                        />
                        <button type="submit" class="btn w-100 text-end py-0" data-bs-dismiss="modal" >
                            <i class="bi-check-lg"></i>
                            {{ _('OK') }}
                        </button>
                    </li>
                    <li class="dropdown-divider m-0"></li>
                    {% for licence in admin_players_licences %}
                        <li class="dropdown-item text-nowrap">
                            <input
                                type="checkbox"
                                id="{{ name }}-{{ loop.index }}"
                                name="{{ name }}"
                                value="{{ licence.value }}"
                                {% if licence in admin_players_filter_licences %}checked{% endif %}
                                class="{{ name }}"
                            />
                            <label for="{{ name }}-{{ loop.index }}" class="form-label w-100 my-0">
                                {{ ffe_licence(licence) }} ({{ admin_event.ffe_licence_counts[licence] }})
                            </label>
                        </li>
                    {% endfor %}
                {% endwith %}
            </ul>
        </span>
    </form>
{% endif %}
