{% import '/common/macros.j2' as macros with context %}
{% import '/admin/common/macros.j2' as admin_macros with context %}

{% include '/admin/pairings/round_controls.html' %}
<div id="messages" hx-swap-oob="beforeend">
    {% include '/common/messages.html' %}
</div>
{% if board.stored_board.team_board_id %}
    {% with team_board=admin_tournament.team_boards_by_id[board.stored_board.team_board_id], lineup_team_board=admin_tournament.team_boards_by_id[board.stored_board.team_board_id], swap_oob=True %}
        <template>
            {% include '/admin/pairings/team_block_row.html' %}
        </template>
        <template>
            {% include '/admin/pairings/team_block_header.html' %}
        </template>
    {% endwith %}
{% else %}
    {% with swap_oob=True %}
        <template>
            {% include '/admin/pairings/pairing_row.html' %}
        </template>
    {% endwith %}
{% endif %}
{% with swap_oob=True %}
    <template>
        {% include '/admin/pairings/pairing_table_header.html' %}
    </template>
{% endwith %}
{% with swap_oob=True %}
    <template>
        {% include admin_tournament.pairing_system.pairing_buttons_template %}
    </template>
{% endwith %}
