<tr
    id="pairing-row-{{ board.id }}"
    class="pairing-row {{ row_class }} {{ extra_row_class }}"
    data-board-id="{{ board.id }}"
    data-player-id="{{ wp.id }}"
    {% if swap_oob %}
        hx-swap-oob="true"
    {% endif %}
>
    <td class="text-center">{{ board.number }}</td>
    <td class="text-center">{{ wp.vpoints_str }}</td>
    {% if admin_tournament.print_real_points %}
        <td class="text-start">[{{ wp.points_str }}]</td>
    {% endif %}
    <td>{{ wp.full_name }} ({{ wp.rating_str }})</td>
    <td class="text-center" style="width: 3rem;">
        <span
            {% if not client.can_enter_results_by_tournament_id[admin_tournament.id] %}
                {{ macros.tooltip_attributes('warning', _('You are not allowed to enter results.'), 'top') }}
                {% set allowed=false %}
            {% elif board.result_str and not client.can_update_results_by_tournament_id[admin_tournament.id] %}
                {{ macros.tooltip_attributes('warning', _('You are not allowed to update results.'), 'top') }}
                {% set allowed=false %}
            {% else %}
                {% set allowed=true %}
            {% endif %}
        >
            <button
                class="btn btn-sm btn-outline-primary"
                style="width: 3rem;"
                {% if not_allowed or ('MANUAL_UNPAIRING' not in existing_actions and board.exempt) %}
                    disabled
                {% else %}
                    hx-get="{{ url_for('admin-event-pairing-modal', event_uniq_id=admin_event.uniq_id, tournament_id=admin_tournament.id, round=admin_round, board_id=board.id) }}"
                    hx-trigger="click"
                    hx-target="body"
                    hx-indicator="#please-wait"
                    preload
                    data-bs-toggle="modal"
                    data-bs-target="#modal-wrapper"
                {% endif %}
            >
                {% if board.result_str %}{{ board.result_str }}{% else %}-{% endif %}
            </button>
        </span>
    </td>
    {% if bp %}
        <td>{{ bp.full_name }} ({{ bp.rating_str }})</td>
        {% if admin_tournament.print_real_points %}
            <td class="text-end">[{{ bp.points_str }}]</td>
        {% endif %}
        <td class="text-center">{{ bp.vpoints_str }}</td>

    {% else %}
        {% set first_pab_round = wp.first_pab_round %}
        <td>
            {% if first_pab_round and first_pab_round < admin_round %}
                <span class="text-danger">
                    {{ _('EXEMPT (already received at round #%(round)d)', round=first_pab_round) }}
                </span>
            {% else %}
                {{ _('EXEMPT') }}
            {% endif %}
        </td>
        <td></td>
        {% if admin_tournament.print_real_points %}<td></td>{% endif %}
    {% endif %}
</tr>
