<tr
    id="pairing-row-{{ board.number }}"
    class="pairing-row {{ row_class }} {{ extra_row_class }}"
    data-board-id="{{ board.number }}"
    data-player-id="{{ wp.id }}"
    {% if swap_oob %}
        hx-swap-oob="true"
    {% endif %}
>
    <td class="text-center">{{ board.number }}</td>
    <td class="text-center">{{ wp.vpoints_str }}</td>
    <td>{{ wp.last_name }} {{ wp.first_name }} ({{ wp.get_rating(admin_tournament.rating) }})</td>
    <td class="text-center" style="width: 3rem;">
        <button
            class="btn btn-sm btn-outline-primary"
            style="width: 3rem;"
            hx-get="{{ url_for('admin-event-pairing-modal', event_uniq_id=admin_event.uniq_id, tournament_id=admin_tournament.id, round=admin_round, board_id=board.id) }}"
            hx-trigger="click"
            hx-target="body"
            hx-indicator="#please-wait"
            preload
            data-bs-toggle="modal"
            data-bs-target="#modal-wrapper"
        >
            {% if board.result_str %}{{ board.result_str }}{% else %}-{% endif %}
        </button>
    </td>
    {% if bp %}
        <td>{{ bp.last_name }} {{ bp.first_name }} ({{ bp.get_rating(admin_tournament.rating) }})</td>
        <td class="text-center">{{ bp.vpoints_str }}</td>
    {% else %}
        <td>{{ _('EXEMPT') }}</td>
        <td class="text-center"></td>
    {% endif %}
</tr>
