<span
    id="pairing-buttons"
    class="d-flex gap-2"
    {% if swap_oob %}
        hx-swap-oob="true"
    {% endif %}
>
    {% if not admin_tournament.has_pairings %}
        {% if EXPERIMENTAL_FEATURES %}
            <div
                {{ macros.tooltip_attributes(
                    'info',
                    pairings_generation_disabled_message or
                    _('Generate pairings for all the rounds of the tournament.'),
                    'top',
                ) }}
            >
                <button
                    class="btn btn-outline-primary text-nowrap"
                    hx-get="{{ url_for('admin-pairings-settings-modal', event_uniq_id=admin_event.uniq_id, tournament_id=admin_tournament.id, round=admin_round) }}"
                    hx-trigger="click"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-wrapper"
                    preload
                    hx-target="body"
                    hx-indicator="#please-wait"
                    {% if pairings_generation_disabled_message %}
                        disabled
                    {% endif %}
                >
                    <i class="bi-shuffle pe-1"></i>
                    {{ _('Pair tournament') }}
                </button>
            </div>
        {% else %}
            <div class="text-warning text-center fst-italic lh-sm" style="width: 180px; font-size: 0.9rem;">
                {{ _('Please use Papi to generate pairings.') }}
            </div>
        {% endif %}
    {% endif %}

    {% if admin_tournament.has_pairings and not admin_tournament.has_results %}
        <div {{ macros.tooltip_attributes('info', _('Unpair all the rounds the tournament.'), 'top') }}>
            <button
                class="btn btn-outline-primary text-nowrap"
                hx-post="{{ url_for('admin-pairings-unpair-tournament', event_uniq_id=admin_event.uniq_id, tournament_id=admin_tournament.id) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                preload
            >
                {{ _('Unpair tournament') }}
            </button>
        </div>
    {% endif %}

    {% if round_status == 'CURRENT' and not admin_tournament.playing and not admin_tournament.finished %}
        <div {{ macros.tooltip_attributes('info', _('Mark this round as over and define the next one as the current round.'), 'top') }}>
            <button
                class="btn btn-outline-primary text-nowrap"
                hx-put="{{ url_for('admin-tournament-set-current-round', event_uniq_id=admin_event.uniq_id, tournament_id=admin_tournament.id, current_round=admin_round + 1) }}"
                hx-target="body"
                hx-indicator="#please-wait"
                preload
            >
                {{ _('End round') }}
            </button>
        </div>
    {% endif %}
</span>
