<span
    id="pairing-buttons"
    class="d-flex gap-2"
    {% if swap_oob %}
        hx-swap-oob="true"
    {% endif %}
>
    {% if not admin_tournament.has_pairings %}
        <div
            {% if not client.can_use_pairing_engine(admin_tournament.id) %}
                {{ macros.tooltip_attributes('warning', _('You are not allowed to generate the pairings.'), 'top') }}
            {% elif pairings_generation_disabled_message %}
                {{ macros.tooltip_attributes('warning', pairings_generation_disabled_message, 'top') }}
            {% else %}
                {{ macros.tooltip_attributes('info', _('Generate pairings for all the rounds of the tournament.'), 'top') }}
            {% endif %}
        >
            <button
                class="btn btn-outline-primary text-nowrap"
                {% if
                    not client.can_use_pairing_engine(admin_tournament.id)
                    or
                    pairings_generation_disabled_message
                %}
                    disabled
                {% else %}
                    hx-get="{{ url_for(
                        'pairings-settings-modal' if skip_ratings_warning else 'pairings-ratings-warning-modal',
                        event_uniq_id=admin_event.uniq_id,
                        tournament_id=admin_tournament.id,
                        round=admin_round
                    ) }}"
                    hx-trigger="click"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-wrapper"
                    hx-target="body"
                    hx-indicator="#please-wait"
                {% endif %}
            >
                <i class="bi-shuffle pe-1"></i>
                {{ _('Pair tournament') }}
            </button>
        </div>
    {% endif %}

    {% if admin_tournament.has_pairings and not admin_tournament.has_results %}
        <div
            {% if not client.can_unpair_round(admin_tournament.id) %}
                {{ macros.tooltip_attributes('warning', _('You are not allowed to unpair rounds.'), 'top') }}
            {% else %}
                {{ macros.tooltip_attributes('info', _('Unpair all the rounds of the tournament.'), 'top') }}
            {% endif %}
        >
            <button
                class="btn btn-outline-primary text-nowrap"
                {% if not client.can_unpair_round(admin_tournament.id) %}
                    disabled
                {% else %}
                    hx-post="{{ url_for('admin-pairings-unpair-tournament', event_uniq_id=admin_event.uniq_id, tournament_id=admin_tournament.id) }}"
                    hx-target="body"
                    hx-indicator="#please-wait"
                {% endif %}
            >
                {{ _('Unpair tournament') }}
            </button>
        </div>
    {% endif %}

    {% if round_status == 'CURRENT' and not admin_tournament.playing and not admin_tournament.finished %}
        <div
            {% if not client.can_set_current_round(admin_tournament.id) %}
                {{ macros.tooltip_attributes('warning', _('You are not allowed to set the current round.'), 'top') }}
            {% else %}
                {{ macros.tooltip_attributes('info', _('Mark this round as over and define the next one as the current round.'), 'top') }}
            {% endif %}
        >
            <button
                class="btn btn-outline-primary text-nowrap"
                {% if not client.can_set_current_round(admin_tournament.id) %}
                    disabled
                {% else %}
                    hx-put="{{ url_for('admin-tournament-set-current-round', event_uniq_id=admin_event.uniq_id, tournament_id=admin_tournament.id, current_round=admin_round + 1) }}"
                    hx-target="body"
                    hx-indicator="#please-wait"
                {% endif %}
            >
                {{ _('End round') }}
            </button>
        </div>
    {% endif %}
</span>
