{% import '/common/macros.j2' as macros %}

<div style="--bs-modal-width: min(90vw, 600px);">
    <div class="modal-dialog modal-dialog-centered pairing-modal">
        <div class="modal-content bg-secondary-subtle">
            <div class="modal-header">
                <div class="modal-title fs-4 fw-bold">{{ _('Protected pairings editing') }}</div>
            </div>
            <div class="modal-body">
                {% if required_mode == 'FIDE_INCOMPATIBLE' and not admin_tournament.finished %}
                    <h5 class="text-danger">
                        {{ _('Warning: you are trying to execute an operation forbidden by the FIDE rules.') }}
                    </h5>
                {% endif %}
                <h6>
                    {{
                        _('Consulted round: %(round)d', round=admin_round) ~ ' - ' ~
                        _('Current round: %(round)d', round=admin_tournament.current_round)
                    }}
                </h6>

                <p>
                    {{ _(
                        'The FIDE rules stipulate that only the pairings of the round '
                        '<b>prior</b> to the current one may be modified. Changes to '
                        'pairings previous to this should be made at the <b>end</b> of '
                        'the tournament, <b>after</b> the rankings have been published, '
                        'and solely for the computation of the FIDE ratings.'
                    ) }}
                </p>
                <h6>
                    {{ _('Do you want to allow pairings editing for this round?') }}
                </h6>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary text-nowrap" data-bs-dismiss="modal">
                    <i class="bi-x-circle-fill pe-1"></i>
                    {{ _('Cancel') }}
                </button>
                <button
                    class="btn btn-primary text-nowrap"
                    hx-post="{{ url_for('admin-pairings-update-safety-mode', event_uniq_id=admin_event.uniq_id, tournament_id=admin_tournament.id, round=admin_round, mode=required_mode) }}"
                    hx-target="body"
                    hx-indicator="#please-wait"
                >
                    <i class="bi-check-circle-fill pe-1"></i>
                    {{ _('Allow') }}
                </button>
            </div>
        </div>
    </div>
</div>
