<div
    class="d-flex mb-2 align-items-center flex-wrap gap-3 z-3"
    style="max-width: calc(var(--vw, 100vw) - 4rem); position: sticky; left: 1.5rem;"
>
    {% call() macros.section_title() %}
        {{ macros.event_visibility_icon(admin_event, 'pe-1') }}
        {{ admin_event.name }} - {{ _('Pairings') }}
    {% endcall %}
    <div class="flex-grow-1"></div>
    {% if admin_tournament %}
        {% include '/admin/pairings/round_controls.html' %}
    {% endif %}
</div>

{% if admin_tournament %}
    <section class="pt-1 pb-1">
        <div class="d-flex gap-2 justify-content-end mb-2">
            {% if admin_tournament.check_in_open %}
                <button
                    class="btn btn-outline-primary text-nowrap"
                    hx-get="{{ url_for('admin-tournament-close-check-in-modal', event_uniq_id=admin_event.uniq_id, tournament_id=admin_tournament.id) }}"
                    hx-trigger="click"
                    hx-target="body"
                    hx-indicator="#please-wait"
                    preload
                    data-bs-toggle="modal"
                    data-bs-target="#modal-wrapper"
                    {{ macros.tooltip_attributes('info', _('Pairings disabled while check-in is open.'), 'top') }}
                >
                    {{ _('Close check in') }}
                </button>
            {% endif %}

            {% if EXPERIMENTAL_FEATURES %}
                <div
                    {{ macros.tooltip_attributes(
                        'info',
                        _('Pairings disabled while check-in is open.')
                        if admin_tournament.check_in_open
                        else _('Pairings generation unavailable for this round.')
                        if not pairings_generation_allowed
                        else _('Pairings already generated.')
                        if admin_boards
                        else _('Generate pairings for this round.'),
                        'top',
                    ) }}
                >
                    <button
                        class="btn btn-outline-primary text-nowrap"
                        hx-post="{{ url_for('admin-tournament-generate-pairings', event_uniq_id=admin_event.uniq_id, tournament_id=admin_tournament.id, round=admin_round) }}"
                        preload
                        hx-target="body"
                        hx-indicator="#please-wait"
                        {% if not pairings_generation_allowed or admin_boards %}
                            disabled
                        {% endif %}
                    >
                        <i class="bi-shuffle pe-1"></i>
                        {{ _('Pair') }}
                    </button>
                </div>
            {% elif not admin_boards and pairings_generation_allowed %}
                <div class="text-warning text-center fst-italic lh-sm" style="width: 140px; font-size: 0.9rem;">
                    {{ _('Please use Papi to generate pairings.') }}
                </div>
            {% endif %}
            {% if admin_boards and admin_round == admin_tournament.current_round %}
                <div {{ macros.tooltip_attributes('info', _('Unpair all the boards of this round.'), 'top') }}>
                    <button
                        class="btn btn-outline-primary text-nowrap"
                        hx-get="{{ url_for('admin-pairings-unpair-modal', event_uniq_id=admin_event.uniq_id, tournament_id=admin_tournament.id, round=admin_round) }}"
                        hx-trigger="click"
                        hx-target="body"
                        hx-indicator="#please-wait"
                        preload
                        data-bs-toggle="modal"
                        data-bs-target="#modal-wrapper"
                    >
                        {{ _('Unpair') }}
                    </button>
                </div>
            {% endif %}
            <div class="dropdown d-inline">
                <button class="btn btn-outline-primary dropdown-toggle mx-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi-gear pe-1"></i>{{ _('Options') }}
                </button>
                <div class="dropdown-menu dropdown-menu-right text-nowrap">
                    {% with id='admin-events-show-details', name='admin_pairings_show_without_results', wo_results=admin_pairings_show_without_results %}
                        <div
                            class="form-check form-switch d-inline-block align-items-center mx-2"
                        >
                            <input
                                hx-get="{{ url_for('admin-event-pairings-tab', event_uniq_id=admin_event.uniq_id) }}"
                                hx-vals='{"{{ name }}": "{% if wo_results %}false{% else %}true{% endif %}"}'
                                hx-include="[name='tournament_id'], [name='round']"
                                hx-target="body"
                                hx-indicator="#please-wait"
                                class="form-check-input"
                                type="checkbox"
                                id="{{ id }}"
                                {% if wo_results %}checked{% endif %}
                            />
                            <label for="{{ id }}" class="form-check-label">{{ _('Hide pairings with results') }}</label>
                        </div>
                    {% endwith %}
                    <div class="dropdown-divider"></div>
                    <h6 class="mx-2">
                        {{ _('Keyboard shortcuts') }}
                        <i
                            class="bi-info-circle-fill ps-1"
                            {{ macros.tooltip_attributes(
                                '',
                                '<div class="text-start">' ~ _('0: No result') ~ '</div>' ~
                                '<div class="text-start">' ~ _('1: White wins') ~ '</div>' ~
                                '<div class="text-start">' ~ _('2: Black wins') ~ '</div>' ~
                                '<div class="text-start">' ~ _('3: Draw') ~ '</div>' ~
                                '<div class="text-start">' ~ _('Up/Down: Navigation') ~ '</div>',
                                'bottom',
                            ) }}
                        ></i>
                    </h6>
                    <div class="mx-3">
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="hotkey-mode"
                                id="hotkey-input"
                                {% if admin_round == admin_tournament.current_round %}
                                    checked
                                {% else %}
                                    disabled
                                {% endif %}
                            >
                            <label
                                class="form-check-label"
                                for="hotkey-input"
                                {{ macros.tooltip_attributes(
                                    'info',
                                    _('Shortcuts set the result of the selected row to the inputted result.')
                                    if admin_round == admin_tournament.current_round else
                                    _('Input mode is only available for the current round.'),
                                    'top',
                                ) }}
                            >
                                {{ _('Input') }}
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="hotkey-mode"
                                id="hotkey-validate"
                                {% if admin_round != admin_tournament.current_round %}
                                    checked
                                {% endif %}
                            >
                            <label
                                class="form-check-label"
                                for="hotkey-validate"
                                {{ macros.tooltip_attributes(
                                    'info', _('Shortcuts check if the inputted result and the result of the selected row are a match.'), 'top',
                                ) }}
                            >
                                {{ _('Validation') }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% set has_unpaired = admin_unpaired|length > 0 or admin_forfeit_players|length > 0 %}
            {% if has_unpaired %}
                <div class="col-12 col-md-3 mb-3">
                    {% if admin_unpaired|length > 0 %}
                        {% with title=_('Unpaired'), unpaired=admin_unpaired %}
                            {% include '/admin/pairings/unpaired_table.html' %}
                        {% endwith %}
                    {% endif %}

                    {% if admin_forfeit_players|length > 0 %}
                    {% with title=_('bye-players'), unpaired=admin_forfeit_players %}
                            {% include '/admin/pairings/unpaired_table.html' %}
                        {% endwith %}
                    {% endif %}
                </div>
            {% endif %}

            <div class="col-12 {{ 'col-md-9' if has_unpaired else 'col-md-12' }} mb-3">
                <table
                    id="pairings-table"
                    class="table prominent table-striped table-sm table-hover w-100 bg-light"
                    hx-put="{{ url_for('admin-event-set-result-hotkey', event_uniq_id=admin_event.uniq_id, tournament_id=admin_tournament.id, round=admin_round) }}"
                    hx-trigger="{% for digit in range(0, 4) %}keydown[code=='Digit{{ digit }}'] from:body, keydown[code=='Numpad{{ digit }}'] from:body{%if not loop.last %},{% endif %}{% endfor %}"
                    hx-vals="js:{key: event.code, board_id: pairing_board_id || 0, validate_result: document.querySelector('input[name=\'hotkey-mode\']:checked').id == 'hotkey-validate'}"
                    hx-target="body"
                    hx-swap="outerHTML"
                    hx-indicator="#please-wait"
                    hx-sync="body:queue all"
                    hx-on:highlight_board="highlight_board(event.detail.board_id, false)"
                    hx-on:highlight_board_with_warning="highlight_board(event.detail.board_id, true)"
                >
                    <thead
                        id="players-table-header"
                        class="position-sticky z-2"
                        style="top: var(--header-height);"
                    >
                        <tr>
                            <th>{{ _('Board') }}</th>
                            <th>{{ _('Points') }}</th>
                            <th>{{ _('White') }}</th>
                            <th class="text-center">{{ _('Result') }}</th>
                            <th>{{ _('Black') }}</th>
                            <th>{{ _('Points') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for board in admin_filtered_boards %}
                            {% with wp=board.white_player, bp=board.black_player %}
                                {% include '/admin/pairings/pairing_row.html' %}
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% else %}
    {{ _('No pairings.') }}
{% endif%}

<script>
    var pairing_board_id = null;

    function scrollToTargetAdjusted(element) {
        var headerHeight = parseFloat(window.getComputedStyle(element).getPropertyValue('--header-height'));
        var tableHeaderHeight = $('#players-table-header').height();
        var scrollTop = $(window).scrollTop();
        var rect = element.getBoundingClientRect();
        const elementTop = rect.top + scrollTop;
        const elementBottom = rect.bottom + scrollTop;
        var viewportTop = scrollTop + headerHeight + tableHeaderHeight;
        var viewportBottom = scrollTop + $(window).height();

        // Test if the element is fully visible on the screen
        if (elementTop < viewportTop) {
            window.scrollTo({
                top: elementTop - headerHeight - tableHeaderHeight,
                behavior: "smooth"
            });
        } else if (elementBottom > (viewportBottom)) {
            element.scrollIntoView({ behavior: "smooth", block: "end" });
        }
    }

    function highlight_board(board_id, with_warning) {
        $("tr.highlight").removeClass("highlight");
        $("tr.highlight-warning").removeClass("highlight-warning");
        if (board_id) {
            $(`[data-board-id="${board_id}"]`).addClass("highlight" + (with_warning ? " highlight-warning" : ""));
            pairing_board_id = board_id;
            scrollToTargetAdjusted($(`[data-board-id="${board_id}"]`)[0]);
        } else {
            pairing_board_id = null;
        }
    }

    function rowClickHandler(e) {
        var $this = $(this);
        highlight_board($this.parent().data("board-id"), false);
    };

   function keydownHandler(e) {
        if ((e.key === "ArrowUp" || e.key === "ArrowDown") && pairing_board_id) {
            e.preventDefault();

            var $row = $('tr[data-board-id="' + pairing_board_id + '"]');
            if (!$row.length) {
                return;
            }
            var $next_row = $row.next();
            var $prev_row = $row.prev();

            // Highlight the next/previous row
            if (e.key === "ArrowUp" && $prev_row.length) {
                highlight_board($prev_row.data("board-id"), false);
            } else if (e.key === "ArrowDown" && $next_row.length) {
                highlight_board($next_row.data("board-id"), false);
            }
        }
    };

    function swapHandler(e) {
        if (e.detail.elt.tagName === "BODY") {
            $(document).off("keydown", keydownHandler);
            $(document).off("htmx:afterSwap", swapHandler);
        }
    }

    $("tr.pairing-row > td").on("click", rowClickHandler);
    $(document).on("keydown", keydownHandler);
    $(document).on('htmx:afterSwap', swapHandler);

</script>
