{% if unpaired_players %}
    <table
        id="{{ table_id }}"
        class="table prominent table-striped table-sm w-100 bg-light {% if safety_mode != 'SAFE' %}table-danger-header{% endif %}"
    >
        <thead
            id="{{ table_id }}-header"
            class="position-sticky z-2"
            style="top: var(--header-height);"
        >
            <tr>
                <th colspan="{% if admin_tournament.pairing_system.show_unpaired_player_modal %}3{% else %}2{% endif %}">
                    {{ title }} ({{ unpaired_players|length }})
                </th>
            </tr>
        </thead>
        <tbody>
            {% for tournament_player in unpaired_players %}
                {% set status=tournament_player.check_in_status_for_round(admin_round) %}
                <tr id="player-{{ tournament_player.id }}" class="player-row" data-player-id="{{ tournament_player.id }}">
                    <td>
                        <div class="d-flex align-items-center gap-2">
                            {% include '/admin/player_link.html' %}
                        </div>
                    </td>

                    <td class="text-end">{{ tournament_player.rating_str }}</td>
                    {% if admin_tournament.pairing_system.show_unpaired_player_modal %}
                        <td class="text-end">
                            <span
                                {{ macros.tooltip_attributes(
                                    '',
                                    '<div class="fw-bold">' ~ (status.name if status != 5 else _('Present and unpaired')) ~ '</div>'
                                    '<div class="fst-italic" style="font-size:80%">' ~ _('Click to edit') ~ '</div>',
                                    'right'
                                ) }}
                            >
                                <i
                                    class="{{ status.icon_classes }} cursor-pointer"
                                    hx-get="{{ url_for(
                                        'pairings-unpaired-player-modal',
                                        event_uniq_id=admin_event.uniq_id,
                                        tournament_id=admin_tournament.id,
                                        round=admin_round,
                                        player_id=tournament_player.id,
                                    ) }}"
                                    hx-target="body"
                                    hx-indicator="#please-wait"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal-wrapper"
                                ></i>
                            </span>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
