{% import '/common/macros.j2' as macros with context %}

{% set can_set_zpb = client.can_set_zero_point_bye(admin_tournament.id) %}
{% with
    no_bye_possible = admin_round > tournament_player.tournament.rounds - tournament_player.tournament.last_rounds_no_byes,
    pairing = tournament_player.pairings[admin_round]
%}
    <div style="--bs-modal-width: min(90vw, 400px);" class="modal-dialog pairing-modal">
        <div class="modal-content bg-secondary-subtle">
            <div class="modal-header d-flex flex-column mb-1">
                <h2 class="modal-title fs-4 fw-bold">
                    {{ tournament_player.full_name }}
                </h2>
                <div>
                    {{ _('Round #%(round)d', round=admin_round) }}
                </div>
            </div>
            <div class="modal-body">
                {% set check_in_status = tournament_player.check_in_status_for_round(admin_round) %}
                <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                    {% if check_in_status == 0 %}
                        <span
                            class="w-100"
                            {% if admin_tournament.is_last_round %}
                                {{ macros.tooltip_attributes('', _(
                                    'It is not possible to return players on the last round.'
                                ), 'right') }}
                            {% elif not can_set_zpb %}
                                {{ macros.tooltip_attributes('', _(
                                    'You are not allowed to return players.'
                                ), 'right') }}
                            {% endif %}
                        >
                            <button
                                class="btn btn-outline-primary w-100"
                                hx-patch="{{ url_for(
                                    'pairings-player-return-to-tournament',
                                    event_uniq_id=admin_event.uniq_id,
                                    tournament_id=admin_tournament.id,
                                    round=admin_round,
                                    player_id=tournament_player.id,

                                ) }}"
                                hx-target="body"
                                hx-indicator="#please-wait"
                                {% if not can_set_zpb or admin_tournament.is_last_round %}disabled{% endif %}
                            >
                                {{ _('Return to tournament') }}
                            </button>
                        </span>
                    {% else %}
                        {% set action = 'BYE_UPDATE' %}
                        <button
                            class="btn btn-outline-primary w-100"
                            hx-patch="{{ url_for(
                                'pairings-player-check-in-out',
                                event_uniq_id=admin_event.uniq_id,
                                tournament_id=admin_tournament.id,
                                round=admin_round,
                                player_id=tournament_player.id,
                            ) }}"
                            hx-target="body"
                            hx-indicator="#please-wait"
                        >
                            {{ _(
                                'Mark as "%(status)s" ',
                                status=_('Absent') if tournament_player.check_in else _('Present')
                            ) }}
                        </button>
                        {% if check_in_status not in (4, 5) %}
                            {% set action_route = url_for(
                                'pairings-cancel-player-bye',
                                event_uniq_id=admin_event.uniq_id,
                                tournament_id=admin_tournament.id,
                                round=admin_round,
                                player_id=tournament_player.id,
                            ) %}
                            <span
                                class="w-100"
                                {% if not can_set_zpb %}
                                    {{ macros.tooltip_attributes('', _(
                                        'You are not allowed to cancel byes.'
                                    ), 'right') }}
                                {% endif %}
                            >
                                <button
                                    class="btn btn-outline-primary w-100"
                                    hx-target="body"
                                    hx-indicator="#please-wait"
                                    {% if not can_set_zpb %}disabled{% endif %}
                                    {% if action in allowed_actions %}
                                        hx-patch="{{ action_route }}"
                                    {% else %}
                                        hx-get="{{ url_for(
                                            'admin-pairings-safety-mode-modal',
                                            event_uniq_id=admin_event.uniq_id,
                                            tournament_id=admin_tournament.id,
                                            round=admin_round,
                                            action=action,
                                            redirect_method='PATCH',
                                            redirect_route=action_route,
                                        ) }}"
                                    {% endif %}
                                >
                                    {% set bye = check_in_status.name %}
                                    {{ _('Cancel "%(bye)s" ', bye=bye) }}
                                </button>
                            </span>
                        {% endif %}
                        {% if not pairing.zero_point_bye %}
                            {% set action_route = url_for(
                                'pairings-set-player-zpb',
                                event_uniq_id=admin_event.uniq_id,
                                tournament_id=admin_tournament.id,
                                round=admin_round,
                                player_id=tournament_player.id,
                            ) %}
                            <span
                                class="w-100"
                                {% if not can_set_zpb %}
                                    {{ macros.tooltip_attributes('warning', _('You are not allowed to set Zero-Point Byes.'), 'right') }}
                                {% endif %}
                            >
                                <button
                                    class="btn btn-outline-primary w-100"
                                    {% if not can_set_zpb %}
                                        disabled
                                    {% else %}
                                        {% if action in allowed_actions %}
                                            hx-patch="{{ action_route }}"
                                        {% else %}
                                            hx-get="{{ url_for(
                                                'admin-pairings-safety-mode-modal',
                                                event_uniq_id=admin_event.uniq_id,
                                                tournament_id=admin_tournament.id,
                                                round=admin_round,
                                                action=action,
                                                redirect_method='PATCH',
                                                redirect_route=action_route,
                                            ) }}"
                                        {% endif %}
                                        hx-target="body"
                                        hx-indicator="#please-wait"
                                    {% endif %}
                                >
                                    {{ _('Zero-Point Bye') }}
                                </button>
                            </span>
                        {% endif %}
                        {% if not pairing.half_point_bye %}
                            <span
                                class="w-100"
                                {% if not client.can_set_half_point_bye(admin_tournament.id) %}
                                    {{ macros.tooltip_attributes('warning', _('You are not allowed to set Half-Point Byes.'), 'right') }}
                                {% elif no_bye_possible %}
                                    {{ macros.tooltip_attributes('info', _('Impossible to set a bye in the last %(rounds)d rounds of the tournament', rounds=tournament_player.tournament.last_rounds_no_byes), 'top') }}
                                {% elif not hpb_possible %}
                                    {{ macros.tooltip_attributes('info', _('Bye limit (%(limit)d) is already reached for this tournament.', limit=tournament_player.tournament.max_byes), 'top') }}
                                {% endif %}
                            >
                                {% set action_route = url_for(
                                    'pairings-set-player-hpb',
                                    event_uniq_id=admin_event.uniq_id,
                                    tournament_id=admin_tournament.id,
                                    round=admin_round,
                                    player_id=tournament_player.id,
                                ) %}
                                <button
                                    class="btn btn-outline-primary w-100"
                                    {% if (
                                        not client.can_set_half_point_bye(admin_tournament.id)
                                        or no_bye_possible
                                        or not hpb_possible
                                    ) %}
                                        disabled
                                    {% else %}
                                        {% if action in allowed_actions %}
                                            hx-patch="{{ action_route }}"
                                        {% else %}
                                            hx-get="{{ url_for(
                                                'admin-pairings-safety-mode-modal',
                                                event_uniq_id=admin_event.uniq_id,
                                                tournament_id=admin_tournament.id,
                                                round=admin_round,
                                                action=action,
                                                redirect_method='PATCH',
                                                redirect_route=action_route,
                                            ) }}"
                                        {% endif %}
                                        hx-target="body"
                                        hx-indicator="#please-wait"
                                    {% endif %}
                                >
                                    {{ _('Half-Point Bye') }}
                                </button>
                            </span>
                        {% endif %}
                        {% set action = 'MANUAL_PAIRING' %}
                        {% set action_route = url_for(
                            'admin-pairings-pair-player',
                            event_uniq_id=admin_event.uniq_id,
                            tournament_id=admin_tournament.id,
                            round=admin_round,
                            player_id=tournament_player.id,
                        ) %}
                        {% if action in existing_actions %}
                            {% set can_manually_pair = client.can_manually_pair_players(admin_tournament.id) %}
                            <span
                                class="w-100"
                                {% if not can_manually_pair %}
                                    {{ macros.tooltip_attributes('warning', _('You are not allowed to pair players.'), 'right') }}
                                {% endif %}
                            >
                                <button
                                    class="btn btn-outline-primary w-100 {% if exempt_tournament_player %}d-flex flex-column align-items-center gap-1{% endif %}"
                                    {% if not can_manually_pair %}
                                        disabled
                                    {% else %}
                                        {% if action in allowed_actions %}
                                            hx-patch="{{ action_route }}"
                                        {% else %}
                                            hx-get="{{ url_for(
                                                'admin-pairings-safety-mode-modal',
                                                event_uniq_id=admin_event.uniq_id,
                                                tournament_id=admin_tournament.id,
                                                round=admin_round,
                                                action=action,
                                                redirect_method='PATCH',
                                                redirect_route=action_route,
                                            ) }}"
                                        {% endif %}
                                        hx-target="body"
                                        hx-indicator="#please-wait"
                                    {% endif %}
                                >
                                    {% if exempt_tournament_player %}
                                        {{ _('Pair as BLACK') }}
                                        <div>
                                            {{ _('vs %(player)s', player=exempt_tournament_player.full_name) }}
                                        </div>
                                        <div class="text-danger italic" style="font-size: 0.9rem;">
                                            {% set round_played_against = tournament_player.round_played_against(exempt_tournament_player.id) %}
                                            {% if round_played_against %}
                                                {{ _('Encounter already happened at round #%(round)d', round=round_played_against) }}
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        {{ _('Pair as WHITE') }}
                                    {% endif %}
                                </button>
                            </span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary text-nowrap"
                    data-bs-dismiss="modal"
                >
                    <i class="bi-x-circle-fill"></i>
                    {{ _('Cancel') }}
                </button>
            </div>
        </div>
    </div>
{% endwith %}
